Hola,

<p>Gracias por apuntarse a The Spain Report. Haga clic en este enlace para confirmar su dirección de correo y elegir una contraseña:</p>

<p><%= link_to "Haga clic aquí para confirmar su correo", confirm_email_user_url(@user.confirm_token) %></p>

<p>
    Últimos Episodios del Podcast:
    <ul>
        <% @latestpodcasts.each do |a| %>
            <li><%= link_to a.headline, a %></li>
        <% end %>
    </ul>
    
    Últimos Artículos:
    <ul>
        <% @latestfree.each do |a| %>
            <li><%= link_to a.headline, a %></li>
        <% end %>
    </ul>
    
    Últimos Verdad y Periodismo:
    <ul>
        <% @latesttruth.each do |a| %>
            <li><%= link_to a.headline, a %></li>
        <% end %>
    </ul>
    
    Últimos Sólo Mecenas:
    <ul>
        <% @latestpatrons.each do |a| %>
            <li><%= link_to a.headline, a %></li>
        <% end %>
    </ul>
</p>

<p>
    ***************<br />
    <%= @frame.cta_reader_to_patron %>: <%= link_to @frame.cta_reader_to_patron_link, @subscribe %><br />
    ***************
</p>

<p>Si no ha solicitado este correo, puede ignorarlo.</p>

<p>Saludos cordiales,</p>

<p>
    Matthew Bennett
    <br />
    The Spain Report
</p>