<%= render "articles/admintop" %>

<table>
	<thead>
		<tr>
			<th>Name</th>
			<th colspan="2"></th>
		</tr>
	</thead>

	<tbody>
		<% @statuses.each do |s| %>
			<tr>
				<td style="border: 1 px solid #000; background-color: #<%= s.colorbackground %>; color: #<%= s.colortext %>;"><%= s.name %></td>
				<td><%= link_to 'Edit', edit_status_path(s) %></td>
				<td><%= link_to 'Destroy', s, method: :delete, data: { confirm: 'Are you sure?' } %></td>
			</tr>
		<% end %>
	</tbody>
</table>

</div>