<% case @language when 1
	page_title = "Invoice: "
	h1_title = "Invoice"
	
	date_title = "Invoice date"
	number_title = "Invoice number"
	
	from_title = "From"
	from_id_title = "Tax ID"
	
	
when 2 
	page_title = "Factura: "
	h1_title = "Factura"
	
	date_title = "Fecha de factura"
	number_title = "Nº de factura"
	
	from_title = "De"
	from_id_title = "NIF"
end %>


<% title page_title + @invoice.invoice_number + ", Matthew Bennett" %>

<%= render "layouts/logo_account" %>

<h1 class="font-header font-header-normal line-120 font-upper"><%= h1_title %></h1>

<div class="margin-bottom-5">
	<div class="float-left font-bold"><%= number_title %>: </div>
	<div class="float-left margin-left-5"><%= @invoice.invoice_number %></div>
	<div class="clear"></div>
</div>

<div class="margin-bottom-10">
	<div class="float-left font-bold"><%= date_title %>: </div>
	<div class="float-left margin-left-5"><%= (@invoice.created_at).strftime("%d/%m/%Y") %></div>
	<div class="clear"></div>
</div>

<hr />

<div class="margin-bottom-5">
	<div class="float-left font-bold"><%= from_title %>: </div>
	<div class="float-left margin-left-5">
			<%= @invoice.invoice_from_name %>
			<br />
			<%= @invoice.invoice_from_address %>
	</div>
	<div class="clear"></div>
</div>
<div class="margin-bottom-10">
	<div class="float-left font-bold"><%= from_id_title %>: </div>
	<div class="float-left margin-left-5"><%= @invoice.invoice_from_tax_id %></div>
	<div class="clear"></div>
</div>

<hr />

<div class="margin-bottom-5">
	<div class="float-left font-bold">
		<% case @language when 1 %>To:
		<% when 2 %>Para:
		<% end %>
	</div>
	<div class="float-left margin-left-5">
			<%= @invoice.invoice_customer_name %><br />
			<%= @invoice.invoice_customer_address %>
	</div>
	<div class="clear"></div>
</div>
<div class="margin-bottom-5">
	<div class="float-left font-bold">
		<% case @language when 1 %>Custopmer tax ID:
		<% when 2 %>NIF del cliente:
		<% end %>
	</div>
	<div class="float-left margin-left-5"><%= @invoice.invoice_customer_tax_id %></div>
	<div class="clear"></div>
</div>
<div class="margin-bottom-5">
	<div class="float-left font-bold">
		<% case @language when 1 %>Account ID:
		<% when 2 %>Nº de cuenta:
		<% end %>
	</div>
	<div class="float-left margin-left-5"><%= @invoice.account_id %></div>
	<div class="clear"></div>
</div>
<div class="margin-bottom-10">
	<div class="float-left font-bold">
		<% case @language when 1 %>Email:
		<% when 2 %>Correo electrónico:
		<% end %>
	</div>
	<div class="float-left margin-left-5">
		<% @invoice.account.users.bosses.each do |u| %>
            <%= u.email %>
          <% end %>
		</div>
	<div class="clear"></div>
</div>

<hr />

<div class="margin-bottom-5">
	<strong>
		<% case @language when 1 %>Concept:
		<% when 2 %>Concepto:
		<% end %>
	</strong>
	<%= @invoice.invoice_concept %>
</div>

<div class="margin-bottom-5">
	<strong>
		<% case @language when 1 %>Subscription ID:
		<% when 2 %>Nº de suscripción:
		<% end %>
	</strong>
		<%= @invoice.subscription_id %>
</div>

<div class="margin-bottom-5">
	<div class="float-left font-bold">
		<% case @language when 1 %>Base:
		<% when 2 %>Base:
		<% end %>
	</div>
	<div class="float-left margin-left-5"><%= number_to_currency((@invoice.plan_amount.to_f/100.to_f), unit: "€") %></div>
	<div class="clear"></div>
</div>

<div class="margin-bottom-5">
	<div class="float-left font-bold">
		<% case @language when 1 %>VAT:
		<% when 2 %>IVA:
		<% end %>
	</div>
	<div class="float-left margin-left-5"><%= number_to_percentage((@invoice.tax_percent.to_f*100), precision: 1) %></div>
	<div class="clear"></div>
</div>

<div class="margin-bottom-5">
	<div class="float-left font-bold">
		<% case @language when 1 %>VAT:
		<% when 2 %>IVA:
		<% end %>
	</div>
	<div class="float-left margin-left-5"><%= number_to_currency((@invoice.tax_amount.to_f/100.to_f), unit: "€") %></div>
	<div class="clear"></div>
</div>

<div class="margin-bottom-5">
	<div class="float-left font-bold">
		<% case @language when 1 %>Total:
		<% when 2 %>Total:
		<% end %>
	</div>
	<div class="float-left margin-left-5"><%= number_to_currency((@invoice.total_amount.to_f/100.to_f), unit: "€") %></div>
	<div class="clear"></div>
</div>

<hr />

<div class="margin-bottom-5">
	<div class="float-left font-bold">
		<% case @language when 1 %>Invoice status:
		<% when 2 %>Estado de la factura:
		<% end %>
	</div>
	<div class="float-left margin-left-5">
		<% case @invoice.invoice_status when true %>Paid
		<% when false %>Problem with payment
		<% end %>
	</div>
	<div class="clear"></div>
</div>
<div class="margin-bottom-10">
	<div class="float-left font-bold">
		<% case @language when 1 %>Payment Nº:
		<% when 2 %>Nº de pago:
		<% end %>
	</div>
	<div class="float-left margin-left-5">
		<% @invoice.payments.each do |p| %>
			<%= p.id %><br />
		<% end %>
			
	</div>
	<div class="clear"></div>
</div>

<hr />

<div class="margin-bottom-10">
	<div class="float-left font-bold">
		<% case @language when 1 %>Thanks!
		<% when 2 %>¡Gracias!
		<% end %>
	</div>
	<div class="float-left margin-left-5">
		<% case @language when 1 %>Your support really does make independent journalism possible.
		<% when 2 %>Su apoyo hace que este periodismo independiente sea posible.
		<% end %>
	</div>
	<div class="clear"></div>
</div>

</div>