<% case @language when 1
	page_title = "Invoice: "
	h1_title = "Invoice"
	
	date_title = "Invoice date"
	number_title = "Invoice number"
	type_title = "Invoice type"
	type_full = "Full"
	type_simple = "Simple/receipt"
	type_correction = "Correction"
	operation_title = "Invoice operation"
	operation_payment = "Payment"
	operation_exchange = "Exchange"
	operation_refund = "Refund"
	operation_error = "Error correction"
	
	from_title = "From"
	from_id_title = "Tax ID"
	
	for_title = "For"
	for_id_title = "Customer Tax ID"
	
	email = "Email"
	account = "Account"
	concept = "Concept"
	subscription = "Subscription"
	
	vat_rate = "VAT"
	vat_amount = "VAT"
	total_amount = "Total"
	
	payment_number = "Payment"
	payment_reference = "Reference"
	payment_status = "Status"
	payment_status_paid = "Paid"
	payment_status_refund = "Refunded"
	payment_status_problem = "Problem"
	
	thanks_support = "Thanks! Your support really does make this independent journalism possible."
when 2 
	page_title = "Factura: "
	h1_title = "Factura"
	
	date_title = "Fecha de factura"
	number_title = "Nº de factura"
	type_title = "Tipo de factura"
	type_full = "Completa"
	type_simple = "Simplificada/recibo"
	type_correction = "Rectificativa"
	operation_title = "Operación de factura"
	operation_payment = "Pago"
	operation_exchange = "Canje"
	operation_refund = "Abono"
	operation_error = "Subsanar error"
	
	from_title = "De"
	from_id_title = "NIF"
	
	for_title = "Para"
	for_id_title = "NIF cliente"
	
	email = "Correo"
	account = "Cuenta"
	concept = "Concepto"
	subscription = "Suscripción"
	
	vat_rate = "IVA"
	vat_amount = "IVA"
	total_amount = "Total"
	
	payment_number = "Pago"
	payment_reference = "Referencia"
	payment_status = "Estado"
	payment_status_paid = "Pagado"
	payment_status_refund = "Abonado"
	payment_status_problem = "Problema"
	
	thanks_support = "¡Gracias! Su apoyo hace que este periodismo independiente sea posible."

end %>


<% title page_title + @invoice.invoice_number + ", Matthew Bennett" %>

<%= render "layouts/logo_account" %>

<h1 class="font-header font-header-normal line-120 font-upper"><%= h1_title %></h1>


<%# INVOICE DETAILS, TYPE... %>
<div class="margin-bottom-5">
	<div class="float-left font-bold"><%= number_title %>: </div>
	<div class="float-left margin-left-5"><%= @invoice.invoice_number %></div>
	<div class="clear"></div>
</div>

<div class="margin-bottom-5">
	<div class="float-left font-bold"><%= date_title %>: </div>
	<div class="float-left margin-left-5"><%= (@invoice.created_at).strftime("%d/%m/%Y") %></div>
	<div class="clear"></div>
</div>

<div class="margin-bottom-5">
	<div class="float-left font-bold"><%= type_title %>: </div>
	<div class="float-left margin-left-5">
		<span class="label font-main-small invoice-<%= @invoice.invoice_type %>">
			<% case @invoice.invoice_type when "full" %><%= type_full %>
			<% when "simple" %><%= type_simple %>
			<% when "correction" %><%= type_correction %>
			<% end %>
		</span>
	</div>
	<div class="clear"></div>
</div>

<div class="margin-bottom-10">
	<div class="float-left font-bold"><%= operation_title %>: </div>
	<div class="float-left margin-left-5">
		<span class="label font-main-small invoice-<%= @invoice.invoice_operation %>">
		<% case @invoice.invoice_operation when "payment" %><%= operation_payment %>
		<% when "exchange" %><%= operation_exchange %>
		<% when "refund" %><%= operation_refund %>
		<% when "error" %><%= operation_error %>
		<% end %>
		</span>
	</div>
	<div class="clear"></div>
</div>

<hr />

<%# FROM... %>
<div class="margin-bottom-5">
	<div class="float-left font-bold"><%= from_title %>: </div>
	<div class="float-left margin-left-5">
			<%= @invoice.invoice_from_name %>
			<br />
			<%= @invoice.invoice_from_address %>
	</div>
	<div class="clear"></div>
</div>
<div class="margin-bottom-10">
	<div class="float-left font-bold"><%= from_id_title %>: </div>
	<div class="float-left margin-left-5"><%= @invoice.invoice_from_tax_id %></div>
	<div class="clear"></div>
</div>

<hr />

<%# FOR... %>
<% if @invoice.invoice_type == "full" %>
	<div class="margin-bottom-5">
		<div class="float-left font-bold"><%= for_title %>: </div>
		<div class="float-left margin-left-5">
				<%= @invoice.invoice_customer_name %><br />
				<%= @invoice.invoice_customer_address %>
		</div>
		<div class="clear"></div>
	</div>
	<div class="margin-bottom-5">
		<div class="float-left font-bold"><%= for_id_title %>: </div>
		<div class="float-left margin-left-5"><%= @invoice.invoice_customer_tax_id %></div>
		<div class="clear"></div>
	</div>
<% else end %>

<div class="margin-bottom-5">
	<div class="float-left font-bold"><%= email %>:</div>
	<div class="float-left margin-left-5"><%= @invoice.account.user.email %></div>
	<div class="clear"></div>
</div>

<div class="margin-bottom-5">
	<div class="float-left font-bold"><%= account %>:</div>
	<div class="float-left margin-left-5"><%= @invoice.account_id %></div>
	<div class="clear"></div>
</div>

<hr />

<div class="margin-bottom-5">
	<div class="float-left font-bold"><%= concept %>:</div>
	<div class="float-left margin-left-5"><%= @invoice.invoice_concept %></div>
	<div class="clear"></div>
</div>

<div class="margin-bottom-5">
	<div class="float-left font-bold"><%= subscription %>:</div>
	<div class="float-left margin-left-5"><%= @invoice.subscription_id %></div>
	<div class="clear"></div>
</div>

<% if @invoice.invoice_type == "full" %>
	<div class="margin-bottom-5">
		<div class="float-left font-bold">Base:</div>
		<div class="float-left margin-left-5"><%= number_to_currency((@invoice.plan_amount.to_f/100.to_f), unit: "€") %></div>
		<div class="clear"></div>
	</div>
<% else end %>

<div class="margin-bottom-5">
	<div class="float-left font-bold"><%= vat_rate %>:</div>
	<div class="float-left margin-left-5"><%= number_to_percentage((@invoice.tax_percent.to_f*100), precision: 1) %></div>
	<div class="clear"></div>
</div>

<% if @invoice.invoice_type == "full" %>
	<div class="margin-bottom-5">
		<div class="float-left font-bold"><%= vat_amount %>:</div>
		<div class="float-left margin-left-5"><%= number_to_currency((@invoice.tax_amount.to_f/100.to_f), unit: "€") %></div>
		<div class="clear"></div>
	</div>
<% else end %>

<div class="margin-bottom-5">
	<div class="float-left font-bold"><%= total_amount %>:</div>
	<div class="float-left margin-left-5"><%= number_to_currency((@invoice.total_amount.to_f/100.to_f), unit: "€") %></div>
	<div class="clear"></div>
</div>

<hr />

<div class="margin-bottom-5">
	<div class="float-left font-bold"><%= payment_number %>:</div>
	<div class="float-left margin-left-5">
		<%= link_to @invoice.payment.id, fix_problem_payment_url(@invoice.payment.external_payment_id) unless @invoice.payment.nil? %>
	</div>
	<div class="clear"></div>
</div>
<div class="margin-bottom-5">
	<div class="float-left font-bold"><%= payment_reference %>:</div>
	<div class="float-left margin-left-5">
		<%= @invoice.payment.external_payment_id unless @invoice.payment.nil? %>
	</div>
	<div class="clear"></div>
</div>
<div class="margin-bottom-5">
	<div class="float-left font-bold"><%= payment_status %>:</div>
	<div class="float-left margin-left-5">
		<% unless @invoice.payment.nil? %>
			<% case @invoice.payment.status when "paid" %><span class="label font-main-tiny invoice-payment"><%= payment_status_paid %></span>
			<% when "refunded" %><span class="label font-main-tiny invoice-refund"><%= payment_status_refund %></span>
			<% when "problem" %><span class="label font-main-tiny invoice-refund"><%= payment_status_problem %></span>
			<% end %>
		<% end %>
	</div>
	<div class="clear"></div>
</div>

<hr />

<div class="margin-bottom-10"><%= thanks_support %></div>

</div>