<%= render "articles/admintop" %>

<p>
  <strong>Tax percent:</strong>
  <%= @invoice.tax_percent %>
</p>

<p>
  <strong>Plan amount:</strong>
  <%= @invoice.plan_amount %>
</p>

<p>
  <strong>Tax amount:</strong>
  <%= @invoice.tax_amount %>
</p>

<p>
  <strong>Total amount:</strong>
  <%= @invoice.total_amount %>
</p>

<p>
  <strong>Account:</strong>
  <%= @invoice.account_id %>
</p>

<p>
  <strong>Subscription:</strong>
  <%= @invoice.subscription_id %>
</p>

</div>