<div class="content-wide font-admin">
	
	<div class="margin-bottom-10 no-print">
		<%= link_to "Site", root_path %>
		| <%= link_to "Notes / Photo Essay", new_tweet_path %>
		| <%= link_to "Article", new_article_path %>
		|| <% if current_user %>
			<%= current_user.email %>
		| <%= link_to 'I am a patron', edit_user_path(current_user) %>
		| <%= link_to 'Logout', users_logout_path %>
		<br />
		<%= link_to "Tweets", tweets_path %>
		<%= link_to "Articles", articles_path %>
		<%= link_to "Uploads", uploads_path %>
		|| <%= link_to "Plans", plans_path %>
		| <%= link_to "Frames", frames_path %>
		|| <%= link_to "Patrons", users_path %>
		| <%= link_to "Accounts", accounts_path %>
		| <%= link_to "Subscriptions", subscriptions_path %>
		| <%= link_to "Invoices", invoices_path %>
		| <%= link_to "Payments", payments_path %>
		|| <%= link_to "Types", types_path %>
		| <%= link_to "Languages", languages_path %>
		| <%= link_to "Statuses", statuses_path %>
		| <%= link_to "Countries", countries_path %>
		<% else %>
		<% end %>
	</div>
	
	<h1 class="font-header font-header-small font-upper line-115 no-print">
		<% if controller_name == "tweets" %>
			Quick / Thread / Photo Essay
		<% elsif controller_name == "articles" %>
			Value energy objects
		<% elsif controller_name == "uploads" %>
			Uploads
		<% elsif controller_name == "frames" %>
			Frames
		<% elsif controller_name == "types" %>
			Types
		<% elsif controller_name == "languages" %>
			Languages
		<% elsif controller_name == "statuses" %>
			Statuses
		<% elsif controller_name == "visits" %>
			Visits
		<% elsif controller_name == "accounts" %>
			Accounts
		<% elsif controller_name == "users" %>
			Patrons
		<% elsif controller_name == "plans" %>
			Plans
		<% elsif controller_name == "countries" %>
			Countries
		<% elsif controller_name == "subscriptions" %>
			Subscriptions
		<% elsif controller_name == "payments" %>
			Payments
		<% elsif controller_name == "invoices" %>
			Invoices
		<% end %>
	</h1>
	
	<div class="margin-bottom-20 no-print">
		<% if action_name == "index" %>
			<% if controller_name == "tweets" %>
				<%= link_to 'New tweet', new_tweet_path %>
			<% elsif controller_name == "articles" %>
				<%= link_to 'New article', new_article_path %>
			<% elsif controller_name == "uploads" %>
				
			<% elsif controller_name == "frames" %>
				<%= link_to 'New frame', new_frame_path %>
			<% elsif controller_name == "types" %>
				<%= link_to 'New type', new_type_path %>
			<% elsif controller_name == "languages" %>
				<%= link_to 'New language', new_language_path %>
			<% elsif controller_name == "statuses" %>
				<%= link_to 'New status', new_status_path %>
			<% elsif controller_name == "accounts" || "users" %>
				<%= render "users/admin_search_add_modify_users" %>
			<% elsif controller_name == "plans" %>
				<%= link_to 'New plan', new_plan_path %>
			<% elsif controller_name == "countries" %>
				<%= link_to 'New country', new_country_path %>
			<% else end %>
		<% else end %>
	</div>