<div class="content-wide font-admin">
	<div class="margin-bottom-10">
		<%= link_to "Tweet", new_tweet_path %>
		|| <%= link_to "Article", new_article_path %>
		<br />
		<%= link_to "Tweets", tweets_path %>
		<%= link_to "Articles", articles_path %>
		<%= link_to "Uploads", uploads_path %>
		<%= link_to "Campaigns", campaigns_path %>
		<%= link_to "Types", types_path %>
		<%= link_to "Languages", languages_path %>
		<%= link_to "Statuses", statuses_path %>
		| <%= link_to "Visits", visits_path %>
		| <%= link_to "Readers", users_path %>
		<%= link_to "Plans", plans_path %>
		| <% if current_user %>
			<%= current_user.email %>
		| <%= link_to 'My Account', edit_user_path(current_user) %>
		| <%= link_to 'Logout', users_logout_path %>
		<% else %>
		<% end %>
	</div>
	<h1 class="font-header font-header-small font-upper line-115">
		<% if controller_name == "tweets" %>
			Tweets, Threads
		<% elsif controller_name == "articles" %>
			Articles, Updates, Translations
		<% elsif controller_name == "uploads" %>
			Uploads
		<% elsif controller_name == "campaigns" %>
			Campaigns
		<% elsif controller_name == "types" %>
			Types
		<% elsif controller_name == "languages" %>
			Languages
		<% elsif controller_name == "statuses" %>
			Statuses
		<% elsif controller_name == "visits" %>
			Visits
		<% elsif controller_name == "users" %>
			Readers
		<% elsif controller_name == "plans" %>
			Plans
		<% end %>
	</h1>
	<div class="margin-bottom-20">
		<% if action_name == "new" %>
			New 
		<% elsif action_name == "edit" %>
			Editing
		<% end %>
		
		<% if ["edit","new"].include?(action_name) %>
			<% if controller_name == "tweets" %>
				tweet…
			<% elsif controller_name == "articles" %>
				article…
			<% elsif controller_name == "uploads" %>
				upload…
			<% elsif controller_name == "campaigns" %>
				campaign…
			<% elsif controller_name == "types" %>
				type…
			<% elsif controller_name == "languages" %>
				language…
			<% elsif controller_name == "statuses" %>
				status…
			<% elsif controller_name == "visits" %>
				
			<% elsif controller_name == "users" %>
				reader…
			<% elsif controller_name == "plans" %>
				plan…
			<% end %>
		<% end %>
	</div>
	<div class="margin-bottom-20">
		<% if action_name == "index" %>
			<% if controller_name == "tweets" %>
				<%= link_to 'New tweet', new_tweet_path %>
			<% elsif controller_name == "articles" %>
				<%= link_to 'New article', new_article_path %>
			<% elsif controller_name == "uploads" %>
				
			<% elsif controller_name == "campaigns" %>
				<%= link_to 'New campaign', new_campaign_path %>
			<% elsif controller_name == "types" %>
				<%= link_to 'New type', new_type_path %>
			<% elsif controller_name == "languages" %>
				<%= link_to 'New language', new_language_path %>
			<% elsif controller_name == "statuses" %>
				<%= link_to 'New status', new_status_path %>
			<% elsif controller_name == "visits" %>
				
			<% elsif controller_name == "users" %>
				<%= form_with url: 'editor_creates_new_user' do |f| %>
					<div class="margin-bottom-10">
						<%= f.text_area :email, :class => "width-48 padding-10 font-main font-main-normal", :style => "min-height: 60px;", placeholder: "Add new users here…" %>
					</div>
					<div class="margin-bottom-10">
				   	Emails: <%= f.select :emails, options_for_select([["Articles & Latest News", "1"], ["Articles only", "2"], ["Announcements only", "3"], ["No email at all", "3"]]) %>
				  	</div>
					<div class="margin-bottom-10">
						Email language: <%= f.select :emaillanguage, options_for_select([["English", "1"], ["Spanish", "2"], ["English & Spanish", "3"]]) %>
					</div>
					<div class="margin-bottom-10">
						Site language: <%= f.select :sitelanguage, options_for_select([["English", "1"], ["Spanish", "2"]]) %>
					</div>
					<div class="margin-bottom-10">
			    		Role: <%= f.select :role, options_for_select([["Editor", "1"], ["Patron", "2"], ["Reader", "3"]]) %> <%= f.submit %>
			    		<hr />
			  		</div>
				<% end %>
			<% elsif controller_name == "plans" %>
				<%= link_to 'New plan', new_plan_path %>
			<% end %>
		<% end %>
	</div>