<div class="content-wide font-admin">
	<div class="margin-bottom-10">
		<%= link_to "Site", root_path %>
		| <%= link_to "Tweet", new_tweet_path %>
		| <%= link_to "Article", new_article_path %>
		|| <% if current_user %>
			<%= current_user.email %>
		| <%= link_to 'I am a patron', edit_user_path(current_user) %>
		| <%= link_to 'Logout', users_logout_path %>
		<br />
		<%= link_to "Tweets", tweets_path %>
		<%= link_to "Articles", articles_path %>
		<%= link_to "Uploads", uploads_path %>
		|| <%= link_to "Patrons", users_path %>
		| <%= link_to "Accounts", accounts_path %>
		| <%= link_to "Frames", frames_path %>
		| <%= link_to "Plans", plans_path %>
		| <%= link_to "Subscriptions", subscriptions_path %>
		| <%= link_to "Invoices", invoices_path %>
		| <%= link_to "Payments", payments_path %>
		|| <%= link_to "Types", types_path %>
		| <%= link_to "Languages", languages_path %>
		| <%= link_to "Statuses", statuses_path %>
		| <%= link_to "Countries", countries_path %>
		<% else %>
		<% end %>
	</div>
	<h1 class="font-header font-header-small font-upper line-115">
		<% if controller_name == "tweets" %>
			Tweets, Threads
		<% elsif controller_name == "articles" %>
			Articles, Updates, Translations
		<% elsif controller_name == "uploads" %>
			Uploads
		<% elsif controller_name == "frames" %>
			Frames
		<% elsif controller_name == "types" %>
			Types
		<% elsif controller_name == "languages" %>
			Languages
		<% elsif controller_name == "statuses" %>
			Statuses
		<% elsif controller_name == "visits" %>
			Visits
		<% elsif controller_name == "accounts" %>
			Accounts
		<% elsif controller_name == "users" %>
			Patrons
		<% elsif controller_name == "plans" %>
			Plans
		<% elsif controller_name == "countries" %>
			Countries
		<% elsif controller_name == "subscriptions" %>
			Subscriptions
		<% elsif controller_name == "payments" %>
			Payments
		<% elsif controller_name == "invoices" %>
			Invoices
		<% end %>
	</h1>
	

	
	<div class="margin-bottom-20">
		<% if action_name == "index" %>
			<% if controller_name == "tweets" %>
				<%= link_to 'New tweet', new_tweet_path %>
			<% elsif controller_name == "articles" %>
				<%= link_to 'New article', new_article_path %>
			<% elsif controller_name == "uploads" %>
				
			<% elsif controller_name == "frames" %>
				<%= link_to 'New frame', new_frame_path %>
			<% elsif controller_name == "types" %>
				<%= link_to 'New type', new_type_path %>
			<% elsif controller_name == "languages" %>
				<%= link_to 'New language', new_language_path %>
			<% elsif controller_name == "statuses" %>
				<%= link_to 'New status', new_status_path %>
			<% elsif controller_name == "accounts" || "users" %>
				<%= form_tag(users_path, :method => "get", id: "search-form") do %>
					<div style="float:left;">
						<%= text_field_tag :search, params[:search], :size => 50, placeholder: "Search users..." %>
					</div>
					<div style="float:left; margin-left: 10px;">
						<%= submit_tag "Search" %>
					</div>
					<div class="clear"></div>
				<% end %>
				
				<hr>				
				
				<%= form_with(url: 'editor_modifies_accounts', local: true) do |f| %>
					<div class="margin-bottom-10">
						<%= f.text_area :email, :class => "width-48 padding-10 font-main font-main-normal", :style => "min-height: 60px;", placeholder: "Add or modify users and accounts here…" %>
					</div>
					<div class="margin-bottom-10">
				   	Account Status: <%= f.select :account_status, options_for_select([["Free Reader", "4"], ["Patron - up-to-date", "1"], ["Patron - payment declined", "2"], ["Patron - cancelled", "3"]]), {include_blank: true} %>
				   </div>
				   <div class="margin-bottom-10">
				   	Conversation status: <%= f.select :conversation_status, options_for_select([["Everybody happy", "1"], ["Decline message sent", "2"], ["Cancel follow-up sent", "3"], ["In conversation", "3"], ["Stop - not interested", "5"]]), {include_blank: true} %>
				   </div>
				   <hr />
				   <div class="margin-bottom-10">
				   	Emails: <%= f.select :emails, options_for_select([["Articles & Latest News", "1"], ["Articles only", "2"], ["Announcements only", "3"], ["No email at all", "3"]]), {include_blank: true} %>
				  	</div>
					<div class="margin-bottom-10">
						Email language: <%= f.select :emaillanguage, options_for_select([["English", "1"], ["Spanish", "2"], ["English & Spanish", "3"]]), {include_blank: true} %>
					</div>
					<div class="margin-bottom-10">
						Site language: <%= f.select :sitelanguage, options_for_select([["English", "1"], ["Spanish", "2"]]), {include_blank: true} %>
					</div>
					<div class="margin-bottom-10">
			    		User status: <%= f.select :user_status, options_for_select([["Patron - Account Owner", "2"], ["Patron - Account Reader", "4"], ["Reader", "3"]]), {include_blank: true} %> | <%= f.submit %>
			  		</div>
			  		<hr />

				<% end %>
			<% elsif controller_name == "plans" %>
				<%= link_to 'New plan', new_plan_path %>
			<% elsif controller_name == "countries" %>
				<%= link_to 'New country', new_country_path %>
			<% end %>
		<% end %>
	</div>