<%= form_with(model: article, local: true) do |f| %>

	<% if article.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

			<ul>
			<% article.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
			</ul>
		</div>
	<% end %>
	
	<div class="margin-bottom-10 right">
		Breaking <%= f.check_box :is_free %>
		Top <%= f.check_box :topstory %>
		<%= f.collection_select :type_id, @types.where(language_id: @article.language_id || 1), :id, :name, {:selected => @article.type_id ? @article.type_id : 1}, {:style => "width: 100px;"} %>
		<strong>Update of?</strong> <%= f.collection_select :main_id, @mains, :id, :headline, {include_blank: true, :selected => @article.main_id}, {:style => "width: 200px;"} %>
		<strong>Belongs to:</strong> <%= f.collection_select :story_id, @stories, :id, :headline, {include_blank: true, :selected => @article.story_id}, {:style => "width: 200px;"} %>
		<%= f.text_field :created_at %>
	</div>
	<div class="margin-bottom-10 right">
		<strong>Language:</strong> <%= f.collection_select :language_id, @languages, :id, :name, {:selected => @article.language_id ? @article.language_id : 1} %>
		<strong>Translation of:</strong> <%= f.collection_select :original_id, @nottranslations, :id, :headline, {include_blank: true, :selected => @article.original_id}, {:style => "width: 200px;"} %>
		<strong>Campaign:</strong> <%= f.collection_select :campaign_id, @campaigns.where(language_id: @article.language_id || 1), :id, :name, {:selected => @article.campaign_id ? @article.campaign_id : 1} %>
		<%= f.collection_select :status_id, @statuses, :id, :name, {:selected => @article.status_id ? @article.status_id : 1} %>
		<%= f.submit %>
		<%= link_to 'Go', @article %>
	</div>

	<div class="margin-bottom-10">
		<%= f.text_field :headline, :class => "width-98 padding-5 font-header font-header-small font-upper", placeholder: "Headline…" %>
	</div>

	<div class="margin-bottom-10">
		<%= f.text_field :lede, :class => "width-98 padding-5 font-main font-main-normal font-italic", placeholder: "Lede…" %>
	</div>
	
	<div class="margin-bottom-10">
		<div class="float-left" style="width:75%">
			<%= f.text_field :audio, :class => "width-98 padding-5", placeholder: "Audio file…" %>
		</div>
		<div class="float-left" style="width:20%">
			<%= f.text_field :audioteaser, :class => "width-98 padding-5", placeholder: "Audio teaser…" %>
		</div>
	<div class="clear"></div>
	</div>
	
	<div class="margin-bottom-10">
		<%= f.text_field :image, :class => "width-98 padding-5", placeholder: "Main image file…" %>
	</div>
	
	<div class="margin-bottom-10">
		<% if @article.original.blank? %>
			<%= f.text_area :body, :class => "width-98 padding-10 font-main font-main-normal", :style => "min-height: 600px;", placeholder: "Article text…" %>
		<% else %>
			<div class="width-100">
			<div class="width-48 float-left padding-10">
				<%= markdown(@article.original.body) %>
			</div>
			<div class="width-48 float-left">
				<%= f.text_area :body, :class => "width-100 padding-10 font-main font-main-normal", :style => "min-height: 600px;" %>
			</div>
			</div>
		<% end %>
	</div><div class="clear"></div>
<% end %>