<%= form_with(model: article, local: true) do |f| %>

	<% if article.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

			<ul>
			<% article.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
			</ul>
		</div>
	<% end %>

	<div class="padding-5 margin-bottom-10 align-right" style="background-color:#<%= @article.status.colorbackground unless @article.status.nil? %>; color: #<%= @article.status.colortext unless @article.status.nil? %>;">
		<%= f.collection_select :language_id, @languages, :id, :name, {:selected => @article.language_id ? @article.language_id : 1} %>
		<%= f.collection_select :type_id, @types.where(language_id: @article.language_id || 1), :id, :name, {:selected => @article.type_id ? @article.type_id : 1}, {:style => "width: 160px;"} %>
		<%= f.text_field :created_at %>
		<%= f.collection_select :status_id, @statuses, :id, :name, {:selected => @article.status_id ? @article.status_id : 1} %>
		<%= f.select :email_to, options_for_select([["None", "none"], ["Test to M", "test"], ["E-Mail Alert", "alert"]]) %>
		<%= f.submit %>
		<%= link_to 'Go', @article %>
	</div>
	
	<div class="margin-bottom-10 align-right">
		<strong>Main report:</strong> <%= f.collection_select :main_id, @mains.where(language_id: @article.language_id || 1), :id, :headline, {include_blank: true, :selected => @article.main_id}, {:style => "width: 190px;"} %>
		<strong>Translation of:</strong> <%= f.collection_select :original_id, @translationof, :id, :headline, {include_blank: true, :selected => @article.original_id}, {:style => "width: 190px;"} %>
		<strong>Frame:</strong> <%= f.collection_select :frame_id, @frames.where(language_id: @article.language_id || 1), :id, :emotional_quest_action, {include_blank: true, :selected => @article.frame_id}, {:style => "width: 190px;"}  %>
	</div>
	
	<h3>Headlines, Lede, Images, Article</h3>
		<% if @article.original.blank? %>
		
			<div class="margin-bottom-10">
				<%= f.text_field :headline, :class => "width-98 padding-5 font-header font-header-small line-100", placeholder: "Headline…" %>
			</div>
			<div class="margin-bottom-10">
				<%= f.text_field :short_headline, :class => "width-40 padding-5 font-header font-header-small line-100", placeholder: "Short headline…" %>
			</div>
			<div class="margin-bottom-10">
				<%= f.text_field :lede, :class => "width-98 padding-5 font-main font-main-normal font-italic", placeholder: "Lede…" %>
			</div>
	
		<% else %>
			<div class="width-100">
				<div class="width-48 float-left">
					<div class="margin-bottom-5 padding-top-10 padding-bottom-10 line-115 font-header font-header-small line-100" style="min-height: 50px;">
						<%= @article.original.headline %>
					</div>
					<div class="margin-bottom-5 padding-top-10 padding-bottom-10 line-115 font-header font-header-small line-100" style="min-height: 50px;">
						<%= @article.original.short_headline %>
					</div>
					<div class="margin-bottom-5 padding-top-10 padding-bottom-10 font-main font-main-lede font-italic">
						<%= @article.original.lede %>
					</div>
				</div>
				<div class="width-48 float-left padding-left-20">	
					
					<div class="margin-bottom-5">
						<%= f.text_area :headline, :class => "width-98 padding-10 line-115 font-header font-header-small line-100", :style => "min-height: 50px;", placeholder: "Headline…" %>
					</div>
					<div class="margin-bottom-5">
						<%= f.text_field :short_headline, :class => "width-98 padding-10 font-header font-header-small line-100", placeholder: "Short headline…" %>
					</div>
					<div class="margin-bottom-5">
						<%= f.text_area :lede, :class => "width-98 padding-10 font-main font-main-lede font-italic", :style => "min-height: 50px;", placeholder: "Lede…" %>
					</div>
					
				</div>
				<div class="clear"></div>
			</div>
		<% end %>
		
		
	<div class="background-color-yellow padding-10 margin-bottom-10">
		<% if @article.original.blank? %>
			<div class="margin-bottom-5">
				Video: <%= f.text_field :video, :class => "width-20 padding-5", placeholder: "Video ID…" %>
			</div>
			<div class="margin-bottom-5">
				Main (existing): <%= f.collection_select :upload_id, @uploads, :id, :data_short_name, {include_blank: true, :selected => @article.upload_id}, {:style => "width: 190px;"} %>
			</div>
			<div class="margin-bottom-5">
				Main (new): <%= f.file_field :image_main  %>
			</div>
			<div class="">
				High (new): <%= f.file_field :image_high  %>
			</div>
		<% else %>
			<div class="width-100">
				<div class="width-48 float-left">
					<div class="margin-bottom-5">
						<strong>Video:</strong> <%= @article.original.video %>
					</div>
					<div class="margin-bottom-5">
						<strong>Image:</strong> <%= File.basename(Upload.find(@article.original.upload_id).data) unless @article.original.upload_id.nil? %>
					</div>
				</div>
				<div class="width-48 float-left padding-left-20">
					<div class="margin-bottom-5">
						Video: <%= f.text_field :video, :class => "width-20 padding-5", placeholder: "Video ID…" %>
					</div>
					<div class="margin-bottom-5">
						Main (existing): <%= f.collection_select :upload_id, @uploads, :id, :data_short_name, {include_blank: true, :selected => @article.upload_id}, {:style => "width: 190px;"} %>
					</div>
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
			</div>
		<% end %>
	</div>
	
	
	<h3>Podcast Episode</h3>
		<% if @article.original.blank? %>
			<div class="margin-bottom-10">
				<div class="margin-bottom-10">
					<div class="margin-bottom-10">
						<div class="margin-bottom-5">
							.aac: <%= f.collection_select :audio_aac_id, @audios_aac, :id, :data_short_name, {include_blank: true, :selected => @article.audio_aac_id}, {:style => "width: 190px;"} %>
						</div>
						<div class="clear"></div>
					</div>
					<div class="margin-bottom-10">
						<div class="margin-bottom-5">
							.mp3: <%= f.collection_select :audio_mp3_id, @audios_mp3, :id, :data_short_name, {include_blank: true, :selected => @article.audio_mp3_id}, {:style => "width: 190px;"} %>
						</div>
						<div class="clear"></div>
					</div>
					<div class="margin-bottom-10">
						<div class="float-left margin-right-20" style="width:4%">
							<%= f.number_field :audio_file_duration, :class => "width-98 padding-5", placeholder: "Dur…" %>
						</div>
						<div class="float-left margin-right-20" style="width:3%">
							<%= f.number_field :audio_file_episode, :class => "width-98 padding-5", placeholder: "Ep. nº" %>
						</div>
						<div class="clear"></div>
					</div>
				</div>
				<div class="margin-bottom-10">
					<%= f.text_area :audio_episode_notes, :class => "width-98 padding-10 font-main font-main-normal", :style => "min-height: 100px;", placeholder: "Podcast episode notes…" %>
				</div>
			</div>
		<% else %>
			<div class="width-100">
			<div class="width-48 float-left padding-10">
				<div class="margin-bottom-5">
					<strong>.aac:</strong> <%= File.basename(Upload.find(@article.original.audio_aac_id).data) unless @article.original.audio_aac_id.nil? %>
				</div>
				<div class="margin-bottom-5">
					<strong>.mp3:</strong> <%= File.basename(Upload.find(@article.original.audio_mp3_id).data) unless @article.original.audio_mp3_id.nil? %>
				</div>
				<div class="margin-bottom-5">
					<strong>Duration:</strong> <%= @article.original.audio_file_duration %>
				</div>
				<div class="margin-bottom-5">
					<strong>Episode:</strong> <%= @article.original.audio_file_episode %>
				</div>
				<div class="margin-bottom-5">
					<strong>Episode Notes:</strong><br />
					<%= markdown(@article.original.audio_episode_notes) unless @article.original.audio_episode_notes.nil? %>
				</div>
			</div>
			<div class="width-48 float-left">
				<div class="margin-bottom-5">
					.aac: <%= f.collection_select :audio_aac_id, @audios_aac, :id, :data_short_name, {include_blank: true, :selected => @article.audio_aac_id}, {:style => "width: 190px;"} %>
				</div>
				<div class="margin-bottom-5">
					<div class="margin-bottom-5">
						.mp3: <%= f.collection_select :audio_mp3_id, @audios_mp3, :id, :data_short_name, {include_blank: true, :selected => @article.audio_mp3_id}, {:style => "width: 190px;"} %>
					</div>
					<div class="clear"></div>
				</div>
				<div class="margin-bottom-5 width-100 margin-right-20">
					<%= f.number_field :audio_file_duration, :class => "width-98 padding-5", placeholder: "Dur…" %>
				</div>
				<div class="margin-bottom-5 width-100 margin-right-20">
					<%= f.number_field :audio_file_episode, :class => "width-98 padding-5", placeholder: "Ep. nº" %>
				</div>
				<div class="margin-bottom-5">
					<%= f.text_area :audio_episode_notes, :class => "width-98 padding-10 font-main font-main-normal", :style => "min-height: 220px;", placeholder: "Podcast episode notes…" %>
				</div>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
		<% end %>
		
		
		<h3><span class="label background-color-patrons font-color-white">patrons only column</span> / free article / sales post</h3>
		<div class="margin-bottom-10">
			<% if @article.original.blank? %>
				<%= f.text_area :body, :class => "width-98 padding-10 font-main font-main-normal", :style => "min-height: 450px;", placeholder: "Article text…" %>
			<% else %>
				<div class="width-100">
					<div class="width-48 float-left padding-10">
						<%= markdown(@article.original.body) %>
					</div>
					<div class="width-48 float-left">
						<%= f.text_area :body, :class => "width-100 padding-10 font-main font-main-normal", :style => "min-height: 800px;" %>
					</div>
					<div class="clear"></div>
				</div>
			<% end %>
		</div>
	
		<h3>Patrons: extra videos</h3>
		<div class="alert-warning padding-10 margin-top-10">	
			<% if @article.original.blank? %>
				<div class="margin-bottom-5">
					<%= f.text_field :extras_video_title, :class => "width-30 padding-5 font-header font-header-tiny", placeholder: "Extra videos title…" %>
				</div>
				<div class="margin-bottom-10 width-100 margin-right-20">
					<%= f.text_area :extras_video_intro, :class => "width-98 padding-10 font-main font-main-normal", :style => "min-height: 100px;", placeholder: "Extra video headline…" %>
				</div>
				
				<div class="width-100">
					<%= f.text_area :extras_videos, :class => "width-98 padding-10 font-main font-main-normal", :style => "min-height: 500px;", placeholder: "Extra video intro…" %>
				</div>
			<% else %>
				<div class="width-100">
					<div class="width-48 float-left padding-left-10 padding-right-10">
						<div class="margin-bottom-20">
							<h3><%= @article.original.extras_video_title %></h3>
						</div>
						<div class="margin-top-25 margin-bottom-50 width-100">
							<p><%= @article.original.extras_video_intro %></p>
						</div>
						<div class="width-100">
							<%= markdown(@article.original.extras_videos) unless @article.original.extras_videos.nil? %>
						</div>
					</div>
					<div class="width-48 float-left padding-10">
						<div class="margin-bottom-5">
							<%= f.text_field :extras_video_title, :class => "width-80 padding-5 font-header font-header-tiny", placeholder: "Extra videos title…" %>
						</div>
						<div class="margin-bottom-10 width-100 margin-right-20">
							<%= f.text_area :extras_video_intro, :class => "width-98 padding-10 font-main font-main-normal", :style => "min-height: 130px;", placeholder: "Extra video intro.…" %>
						</div>
						
						<div class="width-100">
							<%= f.text_area :extras_videos, :class => "width-98 padding-10 font-main font-main-normal", :style => "min-height: 620px;", placeholder: "Extra video intro…" %>
						</div>
					</div>
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
			<% end %>
		</div>
		
		<h3>Patrons: extra audios</h3>
		<div class="alert-warning padding-10 margin-top-10">
			<% if @article.original.blank? %>
				<div class="margin-bottom-10 width-100 margin-right-20">
					<%= f.text_field :extras_audio_title, :class => "width-30 padding-5 font-header font-header-tiny", placeholder: "Extra audios title…" %>
				</div>
				<div class="width-100">
					<%= f.text_area :extras_audio_intro, :class => "width-98 padding-10 font-main font-main-normal", :style => "min-height: 100px;", placeholder: "Extra audios intro…" %>
				</div>
				<div class="width-100">
					<%= f.text_area :extras_audios, :class => "width-98 padding-10 font-main font-main-normal", :style => "min-height: 500px;", placeholder: "Extra audios..." %>
				</div>
			<% else %>
				<div class="width-100">
					<div class="width-48 float-left padding-left-10 padding-right-10">
						<div class="margin-bottom-20">
							<h3><%= @article.original.extras_audio_title %></h3>
						</div>
						<div class="margin-top-25 margin-bottom-50 width-100">
							<p><%= @article.original.extras_audio_intro %></p>
						</div>
							<%= markdown(@article.original.extras_audios) unless @article.original.extras_audios.nil? %>
						</div>
					</div>
					<div class="width-48 float-left padding-10">
						<div class="margin-bottom-5">
							<%= f.text_field :extras_audio_title, :class => "width-80 padding-5 font-header font-header-tiny", placeholder: "Extras audios title…" %>
						</div>
						<div class="margin-bottom-10 width-100 margin-right-20">
							<%= f.text_area :extras_audio_intro, :class => "width-98 padding-10 font-main font-main-normal", :style => "min-height: 130px;", placeholder: "Extras audios intro.…" %>
						</div>
						
						<div class="width-100">
							<%= f.text_area :extras_audios, :class => "width-98 padding-10 font-main font-main-normal", :style => "min-height: 620px;", placeholder: "Extra audios…" %>
						</div>
						<div class="clear"></div>
					</div>
					<div class="clear"></div>
				</div>
			<% end %>
		</div>	
		
		
		
	</div>	
</div>
<div class="clear"></div>
	
<% end %>