<% if @article.extras_audios.present? %>
	<% arr = @article.extras_audios.rstrip.split("\r\n\r\n") %>
	
	<% arr[0..-1].each do |chunk| %>
		<% bit1, bit2, bit3, bit4, bit5 = chunk.split("\r\n", 5) %>
			
		<p><strong><%= bit3 %></strong></p>
					
		<p><em><%= bit4 %></em></p>
		
		<p><%= bit5 %></p>
		
		<p>
			<% case @language when 1 %><%= link_to "Listen to audio here", article_url(@article) %>
			<% when 2 %><%= link_to "Escuche el audio aquí", article_url(@article) %>
			<% end %>
		</p>
		
	<% end %>

<% else end %>