<% if @article.extras_videos.present? %>
	<% arr = @article.extras_videos.rstrip.split("\r\n\r\n") %>
	
	<% first = arr[0] %>
	<% bit1, bit2, bit3, bit4 = first.split("\r\n", 4) %>
	
	<div class="patrons-extra-bit">
		<h3><%= bit2 %></h3>
		
		<p class="margin-bottom-0 font-main-small font-italic"><%= bit3 %></p>
		
		<div class="video-wrapper">
			<% if current_user.nil? %>
				<%= content_tag(:iframe, nil, frameborder: 0, src: "https://player.vimeo.com/video/#{bit1}?quality=720p&controls=false") %>
			<% elsif @can_read_level_5 %>
				<%= content_tag(:iframe, nil, frameborder: 0, src: "https://player.vimeo.com/video/#{bit1}?quality=720p&controls=true", allowfullscreen: true) %>
			<% else %>
				<%= content_tag(:iframe, nil, frameborder: 0, src: "https://player.vimeo.com/video/#{bit1}?quality=720p&controls=false") %>
			<% end %>
		</div>
		
		<p><%= bit4 %></p>
	</div>
	
	
	<% if arr.length > 1 %>
		<% second = arr[1] %>
		<% bit1, bit2, bit3, bit4 = second.split("\r\n", 4) unless second.nil? %>
		
		<div class="patrons-extra-bit">
			<h3><%= bit2 %></h3>
			
			<p class="margin-bottom-0 font-main-small font-italic"><%= bit3 %></p>
			
			<div class="video-wrapper">
				<% if current_user.nil? %>
					<%= content_tag(:iframe, nil, frameborder: 0, src: "https://player.vimeo.com/video/#{bit1}?quality=720p&controls=false") %>
				<% elsif @can_read_level_10 %>
					<%= content_tag(:iframe, nil, frameborder: 0, src: "https://player.vimeo.com/video/#{bit1}?quality=720p&controls=true", allowfullscreen: true) %>
				<% else %>
					<%= content_tag(:iframe, nil, frameborder: 0, src: "https://player.vimeo.com/video/#{bit1}?quality=720p&controls=false") %>
				<% end %>
			</div>
			
			<p><%= bit4 %></p>
		</div>
	<% end %>
	
	
	
	<% if arr.length > 2 %>
		<% arr[2..-1].each do |chunk| %>
			<% bit1, bit2, bit3, bit4 = chunk.split("\r\n", 4) %>
				
			<div class="patrons-extra-bit">
				<h3><%= bit2 %></h3>
				
				<p class="margin-bottom-0 font-main-small font-italic"><%= bit3 %></p>
				
				<div class="video-wrapper">
					<% if current_user.nil? %>
						<%= content_tag(:iframe, nil, frameborder: 0, src: "https://player.vimeo.com/video/#{bit1}?quality=720p&controls=false") %>
					<% elsif @can_read_level_25 %>
						<%= content_tag(:iframe, nil, frameborder: 0, src: "https://player.vimeo.com/video/#{bit1}?quality=720p&controls=true", allowfullscreen: true) %>
					<% else %>
						<%= content_tag(:iframe, nil, frameborder: 0, src: "https://player.vimeo.com/video/#{bit1}?quality=720p&controls=false") %>
					<% end %>
				</div>
				
				<p><%= bit4 %></p>
			</div>
		<% end %>
	<% end %>
	
	
	
	
	<% if @cannot_read_1 || @patron_5 || @patron_10 %>
		<div class="buy-border-top padding-top-20">
			<p class="font-main-small">
				<% case @language when 1 %>Patrons contributing...
				<% when 2 %>Los mecenas que contribuyen...
				<% end %>
			</p>
			
			<ul class="margin-left-0 font-main-small">

				<% if @cannot_read_1 %>
					<li>
						<% case @language when 1 %>...€5/month can watch <strong>one</strong> extra video/report
						<% when 2 %>...5 euros/mes pueden ver <strong>un</strong> vídeo adicional/reportaje
						<% end %>
					</li>
					<li>
						<% case @language when 1 %>...€10/month can watch <strong>two</strong> extra videos/report
						<% when 2 %>...10 euros/mes pueden ver <strong>dos</strong> vídeos adicionales/reportaje
						<% end %>
					</li>
					<li>
						<% case @language when 1 %>...€25/month can watch <strong>all</strong> extra videos/report
						<% when 2 %>...25 euros/mes pueden ver <strong>todos</strong> los vídeos adicionales/reportaje
						<% end %>
					</li>
				<% end %>
		
				<% if @patron_5 %>
					<li>
						<% case @language when 1 %>...€10/month can watch <strong>two</strong> extra videos/report
						<% when 2 %>...10 euros/mes pueden ver <strong>dos</strong> vídeos adicionales/reportaje
						<% end %>
					</li>
					<li>
						<% case @language when 1 %>...€25/month can watch <strong>all</strong> extra videos/report
						<% when 2 %>...25 euros/mes pueden ver <strong>todos</strong> los vídeos adicionales/reportaje
						<% end %>
					</li>
				<% end %>
	
				<% if @patron_10 %>
					<li>
						<% case @language when 1 %>...€25/month can watch <strong>all</strong> extra videos/report
						<% when 2 %>...25 euros/mes pueden ver <strong>todos</strong> los vídeos adicionales/reportaje
						<% end %>
					</li>
				<% end %>	
		
			</ul>
		</div>
	<% end %>

<% else end %>