<div id="patrons" class="alert-warning padding-20 margin-top-20">
	<div>
		<div class="float-left margin-right-5">
			<span class="label background-color-patrons font-main-tiny font-bold font-color-white">
				<% if controller_name == "articles" && action_name == "show" && (@article.extras_notes.present? || @article.extras_audio_file.present?) %>
					<% case @language when 1 %>MORE FOR PATRONS
					<% when 2 %>MÁS PARA MECENAS
					<% end %>
				<% else %>
					<% case @language when 1 %>PATRONS ONLY
					<% when 2 %>SÓLO MECENAS
					<% end %>
				<% end %>
			</span>
		</div>
		
		<% if controller_name == "articles" && action_name == "show" %>
			<% if current_user.nil? %>
			<% elsif @status == 3 && @can_read == true %>
				<div class="margin-right-5 float-left mobile-bottom-10">
		    		<span class="label background-color-green font-main-tiny font-bold font-color-white">
		    			<% case @article.language_id when 1 %>45 DAYS FREE
		    			<% when 2 %>45 DÍAS GRATIS
		    			<% end %>
		    		</span>
		    	</div>
	    	<% else end %>
    	<% end %>
	
		<div class="float-left">
			<% if controller_name == "articles" && action_name == "show" && (@article.extras_notes.present? || @article.extras_audio_file.present?) %>
				<%= @frame.access_more_for_patrons %>
			<% else %>
				<%= @frame.access_patrons_only %>
			<% end %>
		</div>
		<div class="clear"></div>
	</div>
	
	
	<% if controller_name == "home" %>
		<ul class="margin-top-20 margin-bottom-20">
			<% if @patrons.any?; @patrons.each do |article| %>
				<%= render "articles/index_articles_list_link", {article: article} %>
			<% end end %>
		</ul>
	<% elsif controller_name == "articles" && action_name == "show" %>
		<%= render 'articles/patrons_article_logic' %>
	<% else %>
	<% end %>
	
	
	<%= render 'layouts/log_in_logic' %>
</div>