<div id="patrons" class="patrons-border patrons-background padding-20 margin-top-20 margin-bottom-20">
	<div>
		<%# DISPLAY PATRONS LABEL %>
		<div class="float-left margin-right-5">
			<span class="label patrons-label font-main-tiny font-bold">
				<% if controller_name == "articles" && action_name == "show" && (@article.extras_audio_title.present? || @article.extras_video_title.present? || ["Photos", "fotos"].include?(@article.type.name))  %>
					<% case @language when 1 %>MORE FOR PATRONS
					<% when 2 %>MÁS PARA MECENAS
					<% end %>
				<% else %>
					<% case @language when 1 %>PATRONS ONLY
					<% when 2 %>SÓLO MECENAS
					<% end %>
				<% end %>
			</span>
		</div>
		
		<%# DISPLAY 45-DAY FREE TRIAL LABEL FOR LOGGED-IN READERS %>
		<% if current_user.nil? %>
		
		<% elsif @status == 3 && @can_read_date > Time.now %>
			<div class="margin-right-5 float-left mobile-bottom-10">
	    		<span class="label background-color-green font-main-tiny font-bold font-color-white">
	    			<% case @language when 1 %>45 DAYS FREE
	    			<% when 2 %>45 DÍAS GRATIS
	    			<% end %>
	    		</span>
	    	</div>
    	<% else end %>
		
		<%# DISPLAY EXTRAS TEASER NEXT TO LABELS... %>	
		<div class="float-left">
			<% if controller_name == "articles" && action_name == "show" && (@article.extras_audio_title.present? || @article.extras_video_title.present?) %>
				<%= @frame.access_more_for_patrons %>
			<% else %>
				<%= @frame.access_patrons_only %>
			<% end %>
		</div>
		<div class="clear"></div>

		<%# DISPLAY HOME-PAGE MINI LIST OR EXTRA ARTICLE CONTENT %>
		<% if controller_name == "home" %>
			<ul class="margin-top-20 margin-bottom-20">
				<% if @patrons.any?; @patrons.each do |article| %>
					<%= render "articles/index_articles_list_link", {article: article} %>
				<% end end %>
			</ul>
			
			<%= render 'users/log_in_logic' %>
		<% elsif controller_name == "articles" && action_name == "show" %>
			<h3>
			<% if @article.extras_video_title.present? %>
				<% case @article.language_id when 1 %>More Video:
				<% when 2 %>Más Vídeo:
				<% end %>
				<%= @article.extras_video_title %>
			<% elsif @article.extras_audio_title.present? %>
				<% case @article.language_id when 1 %>More Audio:
				<% when 2 %>Más Audio:
				<% end %>
				<%= @article.extras_audio_title %>
			<% elsif ["Photos", "fotos"].include?(@article.type.name) %>
				<% case @article.language_id when 1 %>More photos:
				<% when 2 %>Más para mecenas:
				<% end %>
				<%= @article.short_headline %>
			<% elsif ["Patrons only", "Sólo mecenas"].include?(@article.type.name) %>
				<% case @article.language_id when 1 %>Patrons only:
				<% when 2 %>Sólo mecenas:
				<% end %>
				<%= @article.short_headline %>
			<% else end %>
			</h3>		
		
			<% if @article.extras_video_title.present? %>
				<p><%= @article.extras_video_intro %></p>
			<% elsif @article.extras_audio_title.present? %>
				<p><%= @article.extras_audio_intro %></p>
			<% elsif ["Photos", "fotos"].include?(@article.type.name) %>
			
			<% elsif ["Patrons only", "Sólo mecenas"].include?(@article.type.name) %>
			
			<% else end %>
			
			<%= render 'users/log_in_logic' %>
			<%= render "articles/patrons_only_video", article: @article %>
			<%= render "articles/patrons_only_audio", article: @article %>
			<%= render "articles/patrons_only_photos", article: @article %>
			<%= render "articles/patrons_only_column", article: @article %>
			
			<div class="clear"></div>
			
			
		<% else %>
		<% end %>
	</div>
</div>