<% if @article.extras_videos.present? %>
	
	<% arr = @article.extras_videos.rstrip.split("\r\n\r\n") %>
	
	<% arr[0..-1].each do |chunk| %>
		<% bit1, bit2, bit3, bit4 = chunk.split("\r\n", 4) %>
			
			<p><strong><%= bit2 %></strong></p>
			
			<p><em><%= bit3 %></em></p>
			
			<p><%= bit4 %></p>
			
			<p>
				<% case @language when 1 %><%= link_to "Watch video here", article_url(@article) %>
				<% when 2 %><%= link_to "Mire el vídeo aquí", article_url(@article) %>
				<% end %>
			</p>
		</div>
	<% end %>

<% else end %>