<% if @article.extras_videos.present? %>
	<% arr = @article.extras_videos.rstrip.split("\r\n\r\n") %>
	
	<% first = arr[0] %>
	<% bit1, bit2, bit3, bit4 = first.split("\r\n", 4) %>
	
	<% if !(@status == 2 && @level >= 5) %>
		<div class="alert-notice padding-10">
			- XXXX PATRONS > 10 CAN WATCH UP TO TWO EXTRA VIDEOS<BR />
			- XXXX PATRONS > 25 CAN WATCH ALL EXTRA VIDEOS
		</div>
		<% end %>
	
	<div class="patrons-extra-bit">
		<h3><%= bit2 %></h3>
		
		<p class="margin-bottom-0 font-main-small font-italic"><%= bit3 %></p>
		
		<div class="video-wrapper">
			<% if current_user.nil? %>
				<%= content_tag(:iframe, nil, frameborder: 0, src: "https://player.vimeo.com/video/#{bit1}?quality=720p&controls=false") %>
			<% elsif @status == 3 && @can_read_date > Time.now || @status == 2 && @level >= 5 || @status == 1 %>
				<%= content_tag(:iframe, nil, frameborder: 0, src: "https://player.vimeo.com/video/#{bit1}?quality=720p&controls=true", allowfullscreen: true) %>
			<% else %>
				<%= content_tag(:iframe, nil, frameborder: 0, src: "https://player.vimeo.com/video/#{bit1}?quality=720p&controls=false") %>
			<% end %>
		</div>
		
		<p><%= bit4 %></p>
	</div>
	
	<% if arr.length > 1 %>
		<% if @status == 2 && @level < 10 %>
		<div class="alert-notice padding-10">
			- XXXX PATRONS > 10 CAN WATCH UP TO TWO EXTRA VIDEOS<BR />
			- XXXX PATRONS > 25 CAN WATCH ALL EXTRA VIDEOS
		</div>
		<% end %>
		
		<% second = arr[1] %>
		<% bit1, bit2, bit3, bit4 = second.split("\r\n", 4) unless second.nil? %>
		
		<div class="patrons-extra-bit">
			<h3><%= bit2 %></h3>
			
			<p class="margin-bottom-0 font-main-small font-italic"><%= bit3 %></p>
			
			<div class="video-wrapper">
				<% if current_user.nil? %>
					<%= content_tag(:iframe, nil, frameborder: 0, src: "https://player.vimeo.com/video/#{bit1}?quality=720p&controls=false") %>
				<% elsif @status == 3 && @can_read_date > Time.now || @status == 2 && @level >= 10 || @status == 1 %>
					<%= content_tag(:iframe, nil, frameborder: 0, src: "https://player.vimeo.com/video/#{bit1}?quality=720p&controls=true", allowfullscreen: true) %>
				<% else %>
					<%= content_tag(:iframe, nil, frameborder: 0, src: "https://player.vimeo.com/video/#{bit1}?quality=720p&controls=false") %>
				<% end %>
			</div>
			
			<p><%= bit4 %></p>
		</div>
	<% end %>
	
	<% if arr.length > 2 %>
		<% if @status == 2 && @level.between?(10, 24) %>
			<div class="alert-notice padding-10">
				- XXXX PATRONS > 25 CAN WATCH ALL EXTRA VIDEOS
			</div>
		<% end %>
		
		<% arr[2..-1].each do |chunk| %>
			<% bit1, bit2, bit3, bit4 = chunk.split("\r\n", 4) %>
				
			<div class="patrons-extra-bit">
				<h3><%= bit2 %></h3>
				
				<p class="margin-bottom-0 font-main-small font-italic"><%= bit3 %></p>
				
				<div class="video-wrapper">
					<% if current_user.nil? %>
						<%= content_tag(:iframe, nil, frameborder: 0, src: "https://player.vimeo.com/video/#{bit1}?quality=720p&controls=false") %>
					<% elsif @status == 3 && @can_read_date > Time.now || @status == 2 && @level >= 25 || @status == 1 %>
						<%= content_tag(:iframe, nil, frameborder: 0, src: "https://player.vimeo.com/video/#{bit1}?quality=720p&controls=true", allowfullscreen: true) %>
					<% else %>
						<%= content_tag(:iframe, nil, frameborder: 0, src: "https://player.vimeo.com/video/#{bit1}?quality=720p&controls=false") %>
					<% end %>
				</div>
				
				<p><%= bit4 %></p>
			</div>
		<% end %>
	<% end %>
		
<% else end %>