<div>
	<% if current_user.nil? %>
		<ul class="margin-top-20 margin-bottom-20">
			<% if @article.extras_notes.present? %>
				<li class="font-main font-main-small">
					<strong>
						<% case @language when 1 %>More:
						<% when 2 %>Más:
						<% end %>
					</strong>
					<%= link_to @article.extras_notes_teaser, @subscribe %>
				</li>
			<% end %>
			<% if @article.extras_audio_file.present? %>
				<li class="font-main font-main-small">
					<strong>
						<% case @language when 1 %>Listen:
						<% when 2 %>Escuche:
						<% end %>
					</strong>
					<%= link_to @article.extras_audio_teaser, @subscribe %>
				</li>
			<% end %>
		</ul>
	<% elsif [3, 4, 5].include?(current_user.status) %>
		<ul class="margin-top-20 margin-bottom-20">
			<% if @article.extras_notes.present? %>
				<li class="font-main font-main-small">
					<strong>
						<% case @language when 1 %>More:
						<% when 2 %>Más:
						<% end %>
					</strong>
					<% case current_user.status when 3 %><%= link_to @article.extras_notes_teaser, @subscribe %>
					<% when 4, 5 %><%= link_to @article.extras_notes_teaser, @restart %>
					<% end %>
				</li>
			<% else end %>
			
			<% if @article.extras_audio_file.present? %>
				<li class="font-main font-main-small">
					<strong>
						<% case @language when 1 %>Listen:
						<% when 2 %>Escuche:
						<% end %>
					</strong>
					<% case current_user.status when 3 %><%= link_to @article.extras_audio_teaser, @subscribe %>
					<% when 4, 5 %><%= link_to @article.extras_audio_teaser, @restart %>
					<% end %>
				</li>
			<% else end %>
		</ul>
	<% elsif [1, 2].include?(current_user.status) %>
		<% if @article.extras_notes.present? %>
			<div class="margin-top-30">
				<%= markdown(@article.extras_notes).html_safe %>
			</div>
		<% end %>
		
		<% if @article.extras_audio_file.present? %>
			<% if current_user.level_amount.between?(1, 9) %>
				<ul class="margin-top-20 margin-bottom-20">
					<li class="font-main font-main-small">
						<strong>
							<% case @language when 1 %>Listen:
							<% when 2 %>Escuche:
							<% end %>
						</strong>
						<%= link_to @article.extras_audio_teaser, @increase %>
					</li>
				</ul>
			<% elsif current_user.level_amount >= 10 %>
				<div class="margin-left-20 margin-top-30 margin-bottom-20" >
					<div class="padding-left-5 font-main font-main-small font-italic" >
						<strong>
							<% case @language when 1 %>Listen:
							<% when 2 %>Escuche:
							<% end %>
						</strong>
						 <%= @article.extras_audio_teaser %>
					</div>
					<audio controls>
					 	<source src="<%= 'https://audio.thespainreport.es/' + @article.audio_file_aac %>" type="audio/aac">
					 	<source src="<%= 'https://audio.thespainreport.es/' + @article.extras_audio_file %>" type="audio/mpeg">
						Your browser does not support the audio element.
					</audio>
				</div>
			<% else end %>
		<% else end %>
	<% else end %>
		
	<div class="clear"></div>
	
</div>