<% if @article.extras_audios.present? %>
	<% arr = @article.extras_audios.rstrip.split("\r\n\r\n") %>

	<% first = arr[0] %>
	<% bit1, bit2, bit3, bit4, bit5 = first.split("\r\n", 5) %>
	
	
	<div class="patrons-extra-bit">
		<h3><%= bit3 %></h3>
				
		<p class="margin-bottom-0 font-main-small font-italic"><%= bit4 %></p>
		
		<div class="margin-left-20 margin-top-10 margin-bottom-20">
			<audio controls>
			 	<% if current_user.nil? %>
					<source src="<%= 'https://audio.thespainreport.es/' %>" type="audio/aac">
			  		<source src="<%= 'https://audio.thespainreport.es/' %>" type="audio/mpeg">
					Your browser does not support the audio element.
				<% elsif @can_read_level_5 %>
					<source src="<%= 'https://audio.thespainreport.es/' + bit1 unless bit1.nil? %>" type="audio/aac">
			  		<source src="<%= 'https://audio.thespainreport.es/' + bit2 unless bit2.nil? %>" type="audio/mpeg">
					Your browser does not support the audio element.
				<% else %>
					<source src="<%= 'https://audio.thespainreport.es/' %>" type="audio/aac">
			  		<source src="<%= 'https://audio.thespainreport.es/' %>" type="audio/mpeg">
					Your browser does not support the audio element.
				<% end %>
			</audio>
		</div>
		
		<p><%= bit5 %></p>
	</div>
	
	
	
	<% if arr.length > 1 %>
		
		
		<% second = arr[1] %>
		<% bit1, bit2, bit3, bit4, bit5 = second.split("\r\n", 5) unless second.nil? %>
		
		<div class="patrons-extra-bit">
			<h3><%= bit3 %></h3>
					
			<p class="margin-bottom-0 font-main-small font-italic"><%= bit4 %></p>
			
			<div class="margin-left-20 margin-top-10 margin-bottom-20">
				<audio controls>
				 	<% if current_user.nil? %>
						<source src="<%= 'https://audio.thespainreport.es/' %>" type="audio/aac">
				  		<source src="<%= 'https://audio.thespainreport.es/' %>" type="audio/mpeg">
						Your browser does not support the audio element.
					<% elsif @can_read_level_10 %>
						<source src="<%= 'https://audio.thespainreport.es/' + bit1 unless bit1.nil? %>" type="audio/aac">
				  		<source src="<%= 'https://audio.thespainreport.es/' + bit2 unless bit2.nil? %>" type="audio/mpeg">
						Your browser does not support the audio element.
					<% else %>
						<source src="<%= 'https://audio.thespainreport.es/' %>" type="audio/aac">
				  		<source src="<%= 'https://audio.thespainreport.es/' %>" type="audio/mpeg">
						Your browser does not support the audio element.
					<% end %>
				</audio>
			</div>
			
			<p><%= bit5 %></p>
		</div>
	<% end %>
	
	
	
	<% if arr.length > 2 %>
		
		
		<% arr[2..-1].each do |chunk| %>
			<% bit1, bit2, bit3, bit4, bit5 = chunk.split("\r\n", 5) %>
				
			<div class="patrons-extra-bit">
				<h3><%= bit3 %></h3>
						
				<p class="margin-bottom-0 font-main-small font-italic"><%= bit4 %></p>
				
				<div class="margin-left-20 margin-top-10 margin-bottom-20">
					<audio controls>
					 	<% if current_user.nil? %>
							<source src="<%= 'https://audio.thespainreport.es/' %>" type="audio/aac">
					  		<source src="<%= 'https://audio.thespainreport.es/' %>" type="audio/mpeg">
							Your browser does not support the audio element.
						<% elsif @can_read_level_25 %>
							<source src="<%= 'https://audio.thespainreport.es/' + bit1 unless bit1.nil? %>" type="audio/aac">
					  		<source src="<%= 'https://audio.thespainreport.es/' + bit2 unless bit2.nil? %>" type="audio/mpeg">
							Your browser does not support the audio element.
						<% else %>
							<source src="<%= 'https://audio.thespainreport.es/' %>" type="audio/aac">
					  		<source src="<%= 'https://audio.thespainreport.es/' %>" type="audio/mpeg">
							Your browser does not support the audio element.
						<% end %>
					</audio>
				</div>
				
				<p><%= bit5 %></p>
			</div>
		<% end %>
	<% end %>
	
	
	<% if @cannot_read_1 || @patron_5 || @patron_10 %>
		<div class="buy-border-top padding-top-20">
			<p class="font-main-small">
				<% case @language when 1 %>Patrons contributing...
				<% when 2 %>Los mecenas que contribuyen...
				<% end %>
			</p>
			
			<ul class="margin-left-0 font-main-small">
	
				<% if @cannot_read_1 %>
					<li>
						<% case @language when 1 %>...€5/month can listen to <strong>one</strong> extra audio/report
						<% when 2 %>...5 euros/mes pueden escuchar <strong>un</strong> audio adicional/reportaje
						<% end %>
					</li>
					<li>
						<% case @language when 1 %>...€10/month can listen to <strong>two</strong> extra audios/report
						<% when 2 %>...10 euros/mes pueden escuchar <strong>dos</strong> audios adicionales/reportaje
						<% end %>
					</li>
					<li>
						<% case @language when 1 %>...€25/month can listen to <strong>all</strong> extra audios/report
						<% when 2 %>...25 euros/mes pueden escuchar <strong>todos</strong> los audios adicionales/reportaje
						<% end %>
					</li>
				<% end %>
				
				<% if @patron_5 %>
					<li>
						<% case @language when 1 %>...€10/month can listen to <strong>two</strong> extra audios/report
						<% when 2 %>...10 euros/mes pueden escuchar <strong>dos</strong> audios adicionales/reportaje
						<% end %>
					</li>
					<li>
						<% case @language when 1 %>...€25/month can listen to <strong>all</strong> extra audios/report
						<% when 2 %>...25 euros/mes pueden escuchar <strong>todos</strong> los audios adicionales/reportaje
						<% end %>
					</li>
				<% end %>
				
				<% if @patron_10 %>
					<li>
						<% case @language when 1 %>...€25/month can listen to <strong>all</strong> extra audios/report
						<% when 2 %>...25 euros/mes pueden escuchar <strong>todos</strong> los audios adicionales/reportaje
						<% end %>
					</li>
				<% end %>
				
			</ul>
		
		</div>
	<% end %>
	
<% else end %>