<div class="content-admin">
<p id="notice"><%= notice %></p>

<h1>Articles</h1>

<table>
	<thead>
		<tr>
			<th>Status</th>
			<th>Type</th>
			<th>Translations</th>
			<th>Stories</th>
			<th>Headline</th>
			<th colspan="2"></th>
		</tr>
	</thead>

	<tbody>
		<% @articles.each do |article| %>
			<tr>
				<td><%= link_to article.status.try(:name), edit_article_path(article) %></td>
				<td><%= article.type.try(:name) %></td>
				<td>
					<% article.translations.each do |tr| %>
					 <%= link_to tr.language.name, tr %>
					<% end %>
				</td>
				<td>
					<% article.stories.each do |s| %>
					 <%= link_to s.title, s %>
					<% end %>
				</td>
				<td><%= link_to article.headline, article %></td>
				<td><%= link_to 'D?', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<br>

<%= link_to 'New Article', new_article_path %>
</div>