<%= render "articles/admintop" %>
	
	<h3>Sell Truth & Journalism</h3>
	<table width="100%">
	<% @truth.each do |article| %>
		<%= render "articles/admin_articles_table", {article: article} %>
	<% end %>
	</table>

	<hr />

	<h3>Notes</h3>
	<table width="100%">
	<% @notes.each do |article| %>
		<%= render "articles/admin_articles_table", {article: article} %>
	<% end %>
	</table>

	<h3>Patrons Columns</h3>
	<table width="100%">
	<% @patrons.each do |article| %>
		<%= render "articles/admin_articles_table", {article: article} %>
	<% end %>
	</table>
	
	<h3>Video Blogs</h3>
	<table>
	<% @videoblogs.each do |article| %>
		<%= render "articles/admin_articles_table", {article: article} %>
	<% end %>
	</table>
	
	<h3>Podcast Conversations</h3>
	<table width="100%">
	<% @podcast.each do |article| %>
		<%= render "articles/admin_articles_table", {article: article} %>
	<% end %>
	</table>
	
	<hr />
	
	<h3>Video Reports</h3>
	<table>
	<% @videos.each do |article| %>
		<%= render "articles/admin_articles_table", {article: article} %>
	<% end %>
	</table>
	
	<h3>Photos</h3>
	<table width="100%">
	<% @photos.each do |article| %>
		<%= render "articles/admin_articles_table", {article: article} %>
	<% end %>
	</table>

	
	<hr />
	
	<h3>All</h3>
	<table>
	<% @all.each do |article| %>
		<%= render "articles/admin_articles_table", {article: article} %>
	<% end %>
	</table>
	
</div>