<%= render "articles/admintop" %>
	
	<h3>Blog</h3>
	<table>
	<% @blog.each do |article| %>
		<%= render "articles/admin_articles_table", {article: article} %>
	<% end %>
	</table>

	<hr />

	<h3>Newsletter, notes, podcast, video blog</h3>
	<table width="100%">
	<% @daily.each do |article| %>
		<%= render "articles/admin_articles_table", {article: article} %>
	<% end %>
	</table>
	
	<hr />
	
	<h3>In-depth & NFTs</h3>
	<table>
	<% @depth.each do |article| %>
		<%= render "articles/admin_articles_table", {article: article} %>
	<% end %>
	</table>
	
	<hr />
	
	<h3>All</h3>
	<table>
	<% @all.each do |article| %>
		<%= render "articles/admin_articles_table", {article: article} %>
	<% end %>
	</table>
	
</div>