<%= render "articles/admintop" %>
	
	<h3>Sales, Truth & Journalism</h3>
	<table width="100%">
	<% @truth.each do |article| %>
		<%= render "articles/admin_articles_table", {article: article} %>
	<% end %>
	</table>

	<hr />

	<h3>Daily Reports & Analysis</h3>
	<table width="100%">
	<% @daily.each do |article| %>
		<%= render "articles/admin_articles_table", {article: article} %>
	<% end %>
	</table>
	
	<h3>Audio conversations</h3>
	<table width="100%">
	<% @podcast.each do |article| %>
		<%= render "articles/admin_articles_table", {article: article} %>
	<% end %>
	</table>
	
	<hr />
	
	<h3>Video Reports & Photos</h3>
	<table>
	<% @depth.each do |article| %>
		<%= render "articles/admin_articles_table", {article: article} %>
	<% end %>
	</table>
	
	<hr />
	
	<h3>All</h3>
	<table>
	<% @all.each do |article| %>
		<%= render "articles/admin_articles_table", {article: article} %>
	<% end %>
	</table>
	
</div>