<%= render "articles/admintop" %>

<table width="100%">
	<tr><td colspan="3"><strong>Podcast</strong></td></tr>
	<% @podcast.each do |article| %>
		<%= render "articles/admin_articles_table", {article: article} %>
	<% end %>
	<tr><td colspan="3"><strong>Patrons Only</strong></td></tr>
	<% @patrons.each do |article| %>
		<%= render "articles/admin_articles_table", {article: article} %>
	<% end %>
	<tr><td colspan="3"><strong>Free</strong></td></tr>
	<% @free.each do |article| %>
		<%= render "articles/admin_articles_table", {article: article} %>
	<% end %>
	<tr><td colspan="3"><strong>Updates</strong></td></tr>
	<% @updates.each do |article| %>
		<%= render "articles/admin_articles_table", {article: article} %>
	<% end %>
	<tr><td colspan="3"><strong>Truth</strong></td></tr>
	<% @truth.each do |article| %>
		<%= render "articles/admin_articles_table", {article: article} %>
	<% end %>
	<tr><td colspan="3"><strong>Stories</strong></td></tr>
	<% @stories.each do |article| %>
		<%= render "articles/admin_articles_table", {article: article} %>
	<% end %>
</div>