<%= render "articles/admintop" %>
	
	<h3>Sales Conversation</h3>
	<table>
	<% @blog.each do |article| %>
		<%= render "articles/admin_articles_table", {article: article} %>
	<% end %>
	</table>

	<hr />

	<h3>National Analysis</h3>
	<table width="100%">
	<% @analysis.each do |article| %>
		<%= render "articles/admin_articles_table", {article: article} %>
	<% end %>
	</table>
	
	<hr />
	
	<h3>Spain Dispatches</h3>
	<table width="100%">
	<% @dispatch.each do |article| %>
		<%= render "articles/admin_articles_table", {article: article} %>
	<% end %>
	</table>
	
	<hr />
	
	<h3>Photos & NFTs</h3>
	<table>
	<% @photo.each do |article| %>
		<%= render "articles/admin_articles_table", {article: article} %>
	<% end %>
	</table>
	
	<hr />
	
	<h3>Long-form</h3>
	<table>
	<% @long.each do |article| %>
		<%= render "articles/admin_articles_table", {article: article} %>
	<% end %>
	</table>
	
	<hr />
	
	<h3>All</h3>
	<table>
	<% @all.each do |article| %>
		<%= render "articles/admin_articles_table", {article: article} %>
	<% end %>
	</table>
	
</div>