<% title @article.headline %>
<% content_for :meta do %>
	<meta name="description" content="<%= @article.lede %>" />
	<link rel="canonical" href="<%= article_url(@article) %>" />
	<meta name="author" content="Matthew Bennett">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:site" content="@thespainreport" />
	<meta name="twitter:creator" content="@matthewbennett" />
	<meta name="twitter:title" content="<%= @article.headline %>" />
	<meta name="twitter:description" content="<%= @article.lede %>" />
	<meta name="twitter:image" content="<%= @article.image %>" />
	<meta property="og:site_name" content="The Spain Report"/>
	<meta property="og:url" content="<%= request.original_url %>"/>
	<meta property="og:type" content="article" />
	<meta property="og:title" content="<%= @article.headline %>"/>
  	<meta property="og:description" content="<%= @article.lede %>"/>
  	<meta property="og:image" content="<%= @article.image %>"/>
 	<meta property="og:article:published_time" content="<%= @article.updated_at %>"/>
 	<meta property="og:article:modified_time" content="<%= @article.updated_at %>"/>
 	<meta property="og:article:author" content="Matthew Bennett"/>
 	<meta property="og:article:section" content="<%= @article.story.headline unless @article.story.nil? %>"/>
<% end %>

<% if ["Photos", "Fotos"].include?(@article.type.name) %>
	<div class="content-wide">
<% else %>
	<div class="content">
<% end %>
	
<%= render "articles/logo_account" %>

<div class="margin-top-30">
	<h1 class="font-header font-header-normal line-120 font-upper">
		<% if current_user.nil? %>
			<%= @article.headline %>
		<% elsif current_user.role == 1 %>
			<%= link_to @article.headline, edit_article_path, class: "editor-link" %>
		<% else %>
			<%= @article.headline %>
		<% end %>
	</h1>

	<div class="meta font-main font-main-tiny">
	    
	    <div class="margin-right-5 float-left mobile-bottom-10">
	    	<% if @article.language_id == 1 %>
				<%= @article.created_at.strftime("%b %d, %Y, %l:%M %P") %>
			<% elsif @article.language_id == 2 %>
				<%= @article.created_at.strftime("%d/%m/%Y, %H:%M") %>
			<% else %>
			<% end %>
	    </div>
	    
	    <% if @article.is_free == true %>
	    	<div class="margin-right-5 float-left mobile-bottom-10">
	    		<span class="label background-color-red font-color-white">
	    			<% if @article.language_id == 1 %>
	    				Breaking News
	    			<% elsif @article.language_id == 2 %>
	    				Última Hora
	    			<% else %>
	    			<% end %>
	    		</span>
	    	</div>
	    <% end %>
	
	    <% if @articleupdates.present? || @article.status.try(:name) == 'Updated' %>
	    	<div class="margin-right-5 float-left mobile-bottom-10">
	    		<span class="label background-color-black font-color-white">
	    			<% if @article.language_id == 1 %>
	    				Updated
	    			<% elsif @article.language_id == 2 %>
	    				Actualizado
	    			<% else %>
	    			<% end %>
	    		</span>
	    	</div>
	    <% end %>
	    
	    <% if @article.audio.present? %>
	    	<div class="margin-right-5 float-left mobile-bottom-10">
	    		<span class="label background-color-black font-color-white">
	    			Audio
	    		</span>
	    	</div>
	    <% end %>
	    
		<% if @article.original.blank? %>
			<% @article.translations.where.not(id: @article).each do |tr| %>
				<div class="margin-right-5 float-left mobile-bottom-10">
					<%= link_to tr.language.prompt, tr, class: "label" %>
				</div>
			<% end %>
		<% else %>
			<div class="margin-right-5 float-left mobile-bottom-10">
				<%= link_to @article.original.language.prompt, @article.original, class: "label" %>
			</div>
			<% @article.original.translations.where.not(id: @article).each do |tr| %>
				<div class="margin-right-5 float-left mobile-bottom-10">
					<%= link_to tr.language.prompt, tr, class: "label" %>
				</div>
			<% end %>
		<% end %>
		
		<% if !current_user.nil? %>
			<div class="margin-right-5 float-left mobile-bottom-10">
				<% if current_user.sitelanguage == 1 %>
					<%= link_to 'Email article', articles_touser_path(article_id: @article.id), class: 'label' %>
				<% elsif current_user.sitelanguage == 2 %>
					<%= link_to 'Envíame artículo', articles_touser_path(article_id: @article.id), class: 'label' %>
				<% else end %>
			</div>
		<% else end %>
	    
	    <div class="margin-right-5 float-left mobile-bottom-10">
	    	<%= link_to @article.story.headline, @article.story, class: "label" unless @article.story.nil? %>
	    </div>
	    
		<div class="clear"></div>
	</div>

	<div class="margin-top-5 font-main font-main-normal font-italic">
		<span class="font-bold"><%= @article.type.try(:name) %>:</span> <%= @article.lede %>
		<% if @articleupdates.present? %>
			<ul class="margin-top-5 margin-bottom-0 margin-left-20 margin-right-0">
		      <% @articleupdates.each do |u| %>
		        <li><%= link_to u.headline, article_path(@article, anchor: u.id) %></li>
		      <% end %>
		    </ul>
	    <% else %>
	    <% end %>
	</div>
</div>

<% if @article.image.present? %>
	<% if ['.png','.jpg'].include?File.extname(@article.image) %> 
		<%= image_tag ('https://image.thespainreport.es/' + @article.image) %>
	<% else %>
	<% end %>
<% else %>
<% end %>

<% if @article.video.present? %>
	<div class="video-wrapper">
		<%= content_tag(:iframe, nil, frameborder: 0, src: "//www.youtube.com/embed/#{@article.video}?rel=0&amp;showinfo=0") %>
	</div>
<% else %>
<% end %>

<% if @article.audio.present? %>
	<div class="margin-left-20 margin-top-10" >
		<div class="padding-left-5 font-main font-main-small font-italic" >
			<span class="font-bold">
				<% if @article.language_id == 1 %>
    				Listen now:
    			<% elsif @article.language_id == 2 %>
    				Escuche ahora:
    			<% else %>
    			<% end %>
			</span> <%= @article.audioteaser %>
		</div>
		<audio controls>
		  <source src="<%= 'https://audio.thespainreport.es/' + @article.audio %>" type="audio/mpeg">
		Your browser does not support the audio element.
		</audio>
	</div>
<% else %>
<% end %>
	
	<div class="margin-top-20">
	
	
	<% if ["Patrons only", "Sólo patronos"].include?@article.type.name %>
		<% if current_user.nil? %>
			<%= markdown(truncate(@article.body, length: 400)) %>
			<div class="alert-success padding-10 margin-top-10"><em>Please log in to read this article…</em></div>
		<% elsif ![1, 2].include?current_user.role %>
			<%= markdown(truncate(@article.body, length: 400)) %>
			<div class="alert-success padding-10 margin-top-10"><em>Please log in to read this article…</em></div>
		<% elsif [1, 2].include?current_user.role %>
			<%= markdown(@article.body).html_safe %>
		<% end %>
	<% else %>
		<%= markdown(@article.body).html_safe %>
	<% end %>
	
	<% if @article.image.present? %>
		<% if ['.pdf'].include?File.extname(@article.image) %>
			<iframe src="<%= 'https://docs.google.com/viewer?url=https://pdf.thespainreport.es/' + @article.image + '&embedded=true' %>" class="margin-top-10" style="width:100%; height:950px;" frameborder="0"></iframe>
		<% else %>
		<% end %>
	<% else %>
	<% end %>
	
	<% if @articletweets.present? %>
		<% @articletweets.each do |t| %>
			<p>
				<%= t.message %>
				<% if t.image.present? %>
					<%= image_tag ('https://image.thespainreport.es/' + t.image) %>
				<% end %>
				<br />
				<span class="font-main font-main-tiny">
					<% if @article.language_id == 1 %>
							<strong>Published:</strong> <%= t.created_at.strftime("%b %d, %Y, %l:%M %P") %> | <%= link_to "On Twitter", "https://twitter.com/matthewbennett/status/" + t.twitter_tweet_id.to_s %>
					<% elsif @article.language_id == 2 %>
						<strong>Publicado:</strong> <%= t.created_at.strftime("%d/%m/%Y, %H:%M") %> | <%= link_to "En Twitter", "https://twitter.com/matthewbennett/status/" + t.twitter_tweet_id.to_s %>
						
					<% else %>
					<% end %>
				</span>
			</p>
		<% end %>
	<% end %>
	
	<% if @article.extras_audio.present? || @article.extras_body.present? %>
		<h5>
			<% if @article.language_id == 1 %>
				More for patrons
			<% elsif @article.language_id == 2 %>
				Más para los mecenas
			<% else %>
			<% end %>
		</h5>
	<% else %>
	<% end %>
	
	<% if @article.extras_audio.present? %>
		<% if current_user.nil? || current_user.role == 3 %>
			<div class="alert-success padding-10 margin-top-10 margin-bottom-10"><em>Please log in to listen to the extra audio…</em></div>
		<% elsif [1, 2].include?(current_user.role) %>
			<div class="margin-left-20 margin-top-20 margin-bottom-20" >
			<div class="padding-left-5 font-main font-main-small font-italic" >
				<span class="font-bold">
					<% if @article.language_id == 1 %>
	    				Listen now:
	    			<% elsif @article.language_id == 2 %>
	    				Escuche ahora:
	    			<% else %>
	    			<% end %>
				</span> <%= @article.extras_audioteaser %>
			</div>
			<audio controls>
			  <source src="<%= 'https://audio.thespainreport.es/' + @article.extras_audio %>" type="audio/mpeg">
			Your browser does not support the audio element.
			</audio>
		</div>
		<% else end %>
	<% else %>
	<% end %>
	
	<% if @article.extras_body.present? %>
		<%= markdown(@article.extras_body).html_safe %>
	<% end %>
	
	<% if @articleupdates.present? %>
	<% @articleupdates.each do |u| %>
		<h3 id="<%= u.id %>">
			<% if current_user.nil? %>
				<%= u.headline %>
			<% elsif current_user.role == 1 %>
				<%= link_to u.headline, edit_article_path(u), class: "editor-link" %>
			<% else %>
				<%= u.headline %>
			<% end %>
		</h3>
		<div class="meta font-main font-main-tiny">
			<div class="margin-right-5 float-left">
				<% if u.language_id == 1 %>
					<%= u.created_at.strftime("%b %d, %Y, %l:%M %P") %>
				<% elsif u.language_id == 2 %>
					<%= u.created_at.strftime("%d/%m/%Y, %H:%M") %>
				<% else %>
				<% end %>
			</div>
			<div class="margin-right-5 float-left">
	    		<span class="label background-color-black font-color-white">
	    			<% if u.language_id == 1 %>
	    				Update
	    			<% elsif u.language_id == 2 %>
	    				Actualización
	    			<% else %>
	    			<% end %>
	    		</span>
	    	</div>
    	</div>
    	<div class="clear"></div>
    	<div class="margin-top-10">
	    	<% if u.image.present? %>
				<%= image_tag ('https://image.thespainreport.es/' + u.image) %>
			<% else %>
			<% end %>
			<%= markdown(u.body) %>
		</div>
	<% end %>
	</div>
	<% end %>
	
	<% if @article.components.present? %>
		<h3>
			<% if @article.language_id == 1 %>
				In this story…
			<% elsif @article.language_id == 2 %>
				En este tema…
			<% else %>
			<% end %>
		</h3>
		 <ul class="no-points">
		<% @article.components.published.order('created_at DESC').each do |c| %>
		 	<li class="margin-bottom-5 font-main font-main-small">
		 		<%= c.type.name %>: <%= link_to c.headline, c %>
			</li>
		 
		<% end %>
		</ul>
	<% end %>

<% if current_user.nil? %>
	<% if @article.language_id == 1 %>
		<div class="margin-bottom-20 background-color-yellow padding-20">
			<span class="font-header font-header-small font-upper">Join The Spain Report</span>
			<p class="margin-top-10">
				Get original, detailed, independent reporting and analysis of the stories changing Spain. 
				Full-text articles delivered right to your inbox, in English.
				You can also choose to get them in Spanish.
				No ads, no spam. Just readers.
			</p>
			<%= form_tag '/new_reader' do |f| %>
				<div class="width-100">
				<div class="width-100">
					<input type="email" name="email" id="email" class="width-90 padding-10" placeholder="Enter your email…" />
				</div>
				
				<div class="width-48 margin-top-5 margin-centre">
					<button type="submit" class="width-100 padding-10 font-main-normal">Join Now</button>
				</div>
				<div class="clear"></div>
				</div>
				<%= hidden_field_tag 'set_language', '1' %>
			<% end %>
		</div>
	<% elsif @article.language_id == 2 %>
		<h5><%= @article.campaign.name %></h5>
		<p style="text-align: center;">
 			<a href="https://www.patreon.com/join/matthewbennett" class="button"><%= @article.campaign.buttontext %></a>
 		</p>
		<div class="margin-bottom-20 background-color-yellow padding-20">
			<span class="font-header font-header-small font-upper">Apúntese Al Spain Report</span>
			<p class="margin-top-10">
				Recibirá información original y detallada y análsis independiente. 
				Los artículos le llegarán directamente al buzón de correo.
				Puede elegir recibirlos en inglés también.
				Sin anuncios, sin subvenciones. Sólo lectores.
			</p>
			<%= form_tag '/new_reader' do |f| %>
				<div class="width-100">
					<div class="width-100">
						<input type="email" name="email" id="email" class="width-90 padding-10" placeholder="Introduzca su correo electrónico…" />
					</div>
					
					<div class="width-48 margin-top-5 margin-centre">
						<button type="submit" class="width-100 padding-10 font-main-normal">Enviar</button>
					</div>
					<div class="clear"></div>
				</div>
				<%= hidden_field_tag 'set_language', '2' %>
			<% end %>
		</div>
	<% else end %>
<% else end %>

<% if !@article.campaign.nil? %>
	<h5><%= @article.campaign.name %></h5>
	<p class="float-right">
		<%= image_tag ('https://image.thespainreport.es/' + @article.campaign.image), :class => "campaignimage" unless @article.campaign.image.nil? %>
	</p>
	<p><%= markdown(@article.campaign.teaser) %></p>
	<p><%= markdown(@article.campaign.deal) %></p>
	<p><%= markdown(@article.campaign.social) %></p>
	
	<div class="width-98">
		<% Plan.all.where(language_id: @article.language_id).each do |p| %>
			<div class="width-33 float-left margin-right-5 border-bottom-1 mobile-width">
				<h5 class="margin-bottom-0"><%= p.title %></h5>
				<div class="no-hover-bg">
					<a href="<%= p.link %>">
						<%= image_tag ('https://image.thespainreport.es/' + p.image) %>
					</a>
					<p class="margin-top-10 margin-bottom-0 align-centre">$<%= p.price %>/<% if p.language_id == 1 %>month<% else %>mes<% end %></p>
					<div class="plan-benefits"><%= markdown(p.description) %></div>
					<p class="align-centre line-100">
						<a href="<%= p.link %>" class="topbutton">
							<%= p.buttontext %>
						</a>
					</p>
				</div>
			</div>
		<% end %>
		<div class="clear"></div>
	</div>
	
	<p><%= markdown(@article.campaign.riskreversal) %></p>
<% end %>

<p>--</p>

<%= render "layouts/footer" %>

</div>
<div class="clear"></div>