<% case @language when 1
	images_high_res = "High resolution image for patrons"
	images_request = "Request a print"
	
	pay_link = "https://www.thespainreport.es/value/guarantee"
when 2
	images_high_res = ""
	images_request = ""
	
	pay_link = "https://www.thespainreport.es/valor/garantizar"
end	%>


<% title @article.headline %>

<% content_for :meta do %>
	<meta name="description" content="<%= @article.lede %>" />
	<link rel="canonical" href="<%= article_url(@article) %>" />
	<meta name="author" content="Matthew Bennett">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:site" content="@thespainreport" />
	<meta name="twitter:creator" content="@matthewbennett" />
	<meta name="twitter:title" content="<%= @article.headline %>" />
	<meta name="twitter:description" content="<%= @article.lede %>" />
	<meta name="twitter:image" content="<%= @article.image %>" />
	<meta property="og:site_name" content="The Spain Report"/>
	<meta property="og:url" content="<%= request.original_url %>"/>
	<meta property="og:type" content="article" />
	<meta property="og:title" content="<%= @article.headline %>"/>
  	<meta property="og:description" content="<%= @article.lede %>"/>
  	<meta property="og:image" content="<%= @article.image %>"/>
 	<meta property="og:article:published_time" content="<%= @article.updated_at %>"/>
 	<meta property="og:article:modified_time" content="<%= @article.updated_at %>"/>
 	<meta property="og:article:author" content="Matthew Bennett"/>
 	<meta property="og:article:section" content="<%= @article.story.headline unless @article.story.nil? %>"/>
<% end %>
	
<%= render "layouts/logo_account" %>

	<%# HEADLINE %>
	<h1 class="font-header font-header-normal line-120 font-upper">
		<% if current_user.nil? %>
			<%= @article.headline %>
		<% elsif current_user.status == 1 %>
			<%= link_to @article.headline, edit_article_path, class: "editor-link" %>
		<% else %>
			<%= @article.headline %>
		<% end %>
	</h1>
	
	<%# Intro block... %>
	<div class="margin-bottom-10">
		<%# Lede... %>
		<div class="margin-top-5 font-main font-main-normal font-italic">
			<span class="font-bold"><%= @article.type.try(:name) %>:</span> <%= @article.lede %>
		</div>
	
		<%# Byline... %>
		<div class="float-left">
			<img src="<%= asset_path('matthew.jpg') %>" style="border-radius: 50%; max-width: 70px;" />
		</div>
		<div class="float-left font-main-small margin-top-10 margin-left-10">
			By Matthew Bennett<br />
			
			<%# Date... %>
			<% case @language when 1 %><%= @article.created_at.strftime("%b %d, %Y, %l:%M %P") %>
		    <% when 2 %><%= @article.created_at.strftime("%d/%m/%Y, %H:%M") %>
			<% end %>
			
			<%# Labels... %>
			<div class="meta font-main font-main-tiny margin-top-5">
			    <% if ["Columna Mecenas", "Patrons Column"].include?@article.type.name %>
			    	<div class="margin-right-5 float-left mobile-bottom-10">
			    		<span class="label super-patrons-label">
			    			<% case @language when 1 %>PATRONS <span class="font-color-yellow">COLUMN</span>
					    	<% when 2 %><span class="font-color-yellow">COLUMNA</span> MECENAS
							<% end %>
			    		</span>
			    	</div>
			    <% end %>
			    
			    <% if @article.extras_audio_title.present? || @article.extras_video_title.present? || ["Photos", "Fotos"].include?(@article.type.name) %>
			    	<div class="margin-right-5 float-left mobile-bottom-10">
			    		<span class="label super-patrons-label">
			    			<% case @language when 1 %><span class="font-color-yellow">MORE FOR</span> patrons
					    	<% when 2 %><span class="font-color-yellow">MÁS PARA</span> mecenas
							<% end %>
			    		</span>
			    	</div>
			    <% end %>
			    
			    <% if @article.status.try(:name) == 'Updated' %>
			    	<div class="margin-right-5 float-left mobile-bottom-10">
			    		<span class="label background-color-black font-color-white">
			    			<% case @language when 1 %>Updated
					    	<% when 2 %>Actualizado
							<% end %>
			    		</span>
			    	</div>
			    <% end %>
			    
			    <% if @article.audio_aac_id.present? %>
			    	<div class="margin-right-5 float-left mobile-bottom-10">
			    		<span class="label background-color-black font-color-white">
			    			Audio
			    		</span>
			    	</div>
			    <% end %>
			    
			    <%# TRANSLATION LINKS %>
				<% if @article.original.blank? %>
					<% @article.translations.where.not(id: @article).each do |tr| %>
						<div class="margin-right-5 float-left mobile-bottom-10">
							<%= link_to tr.language.prompt, tr, class: "label" %>
						</div>
					<% end %>
				<% else %>
					<div class="margin-right-5 float-left mobile-bottom-10">
						<%= link_to @article.original.language.prompt, @article.original, class: "label" %>
					</div>
					<% @article.original.translations.where.not(id: @article).each do |tr| %>
						<div class="margin-right-5 float-left mobile-bottom-10">
							<%= link_to tr.language.prompt, tr, class: "label" %>
						</div>
					<% end %>
				<% end %>
				
				<%# E-MAIL ME ARTICLE %>
				<% if !current_user.nil? %>
					<div class="margin-right-5 float-left mobile-bottom-10">
						<% case @language when 1 %><%= link_to 'Email article', articles_touser_path(article_id: @article.id), class: 'label' %>
				    	<% when 2 %><%= link_to 'Envíame artículo', articles_touser_path(article_id: @article.id), class: 'label' %>
						<% end %>
					</div>
				<% else end %>
			   
				<div class="clear"></div>
			</div>
			
			
			<%# TEASER LINKS %>
			<div class="font-main font-main-normal font-italic margin-top-5">
				
				<% if @article.extras_audio_title.present? || @article.extras_video_title.present? || @articlepieces.present? || @article.main.present? %>
					<ul class="font-main-small">
						<% if @article.extras_audio_title.present? %>
							<li><strong>
								<% case @article.language_id when 1 %>More audio:
								<% when 2 %>Más audio:
								<% end %>
								</strong> <%= link_to @article.extras_audio_title, article_path(@article, anchor: 'patrons') %>
							</li>
						<% else end %>
		
						<% if @article.extras_video_title.present? %>
							<li><strong>
								<% case @article.language_id when 1 %>More video:
								<% when 2 %>Más vídeo:
								<% end %>
								</strong> <%= link_to @article.extras_video_title, article_path(@article, anchor: 'patrons') %>
							</li>
						<% else end %>
						
						<% if @articlepieces.present? %>
							<li>
								<strong><%= @article.type.name %></strong>: <%= @article.short_headline %>
							</li>
							<% @articlepieces.each do |p| %>
								<li>
									<strong><%= p.type.name %>:</strong> <%= link_to p.short_headline, p %>
								</li>
							<% end %>				
						<% else end %>
					
						<% if @article.main.present? %>
							<li>
								<strong><%= @article.main.type.name %></strong>: <%= link_to @article.main.short_headline, @article.main %>
							</li>
							<% @article.main.pieces.each do |p| %>
								<li>
									<% if p == @article %>
										<strong><%= p.type.name %>:</strong> <%= p.short_headline %>
									<% else %>
										<strong><%= p.type.name %>:</strong> <%= link_to p.short_headline, p %>
									<% end %>
								</li>
							<% end %>				
						<% else end %>
					
					</ul>
				<% else end %>
			</div>
			
		</div>
		<div class="clear"></div>
	</div>
	
	
	
</div>


<%# MAIN VIDEO, AUDIO OR IMAGE %>
<% if @article.video.present? %>
	<div class="video-wrapper">
		<% if @article.video.match(/^[0-9]+$/) %>
			<%= content_tag(:iframe, nil, frameborder: 0, src: "https://player.vimeo.com/video/#{@article.video}?quality=720p", allowfullscreen: true) %>
		<% else %> 
			<%= content_tag(:iframe, nil, frameborder: 0, src: "//www.youtube.com/embed/#{@article.video}?rel=0&amp;showinfo=0", allowfullscreen: true) %>
		<% end %>
	</div>
<% elsif @article.upload %>
	<%= image_tag ('https://image.thespainreport.es/' + File.basename(@article.upload.data)) %>
	
	<%# Display details, link to Twitter, high res image link for patrons %>
	<div class="border-top-quiet margin-top-5">
		<span class="font-main font-main-tiny">
			<% case @language when 1 %><strong>Published:</strong> <%= @article.upload.created_at.strftime("%b %d, %Y, %l:%M %P") %>
			<% when 2 %><strong>Publicado:</strong> <%= @article.upload.created_at.strftime("%d/%m/%Y, %H:%M") %> 
			<% end %>
			
			<% if !@article.upload.nil? && @article.upload.versions.exists? %>
				<% @article.upload.versions.each do |v| %>
					<% if current_user.nil? %> | <%= link_to images_high_res, pay_link %>
					<% elsif @get_high_res %> | <%= link_to images_high_res, 'https://image.thespainreport.es/' + File.basename(v.data) %>
					<% else %> | <%= link_to images_high_res, pay_link %>
					<% end %>
				<% end %>
			
				<% if current_user.nil? %> | <%= link_to images_request, pay_link %>
				<% elsif @get_prints %>	| <%= link_to images_request, get_print_upload_url(@article.upload) %>
				<% else %> | <%= link_to images_request, pay_link %>
				<% end %>
			<% end %>
		</span>
	</div>
<% else %>
	<% if @article.image.present? %>
		<% if ['.png','.jpg', '.jpeg', '.gif'].include?File.extname(@article.image) %> 
			<%= image_tag ('https://image.thespainreport.es/' + @article.image) %>
		<% else %>
		<% end %>
	<% else %>
	<% end %>
<% end %>


<% if @article.audio_aac_id.present? %>
	<div class="margin-left-20 margin-top-20" >
		<audio controls>
		  	<source src="<%= 'https://audio.thespainreport.es/' + File.basename(Upload.find(@article.audio_aac_id).data) unless @article.audio_aac_id.nil? %>" type="audio/aac">
		  	<source src="<%= 'https://audio.thespainreport.es/' + File.basename(Upload.find(@article.audio_mp3_id).data) unless @article.audio_mp3_id.nil? %>" type="audio/mpeg">
			Your browser does not support the audio element.
		</audio>
	</div>
<% end %>

<div class="margin-top-10">
	<%# PODCAST REPORT/INTERVIEW EPISODE NOTES %>
	<% if ["Podcast"].include?(@article.type.name) %>
		<hr />
		<%= markdown(@article.audio_episode_notes) %>
		<hr />	
	<% else end %>
	
	
	<%# ARTICLE TEXT %>
	<% if ["Patrons Column", "Columna Mecenas"].include?(@article.type.name) %>
		<% if current_user.nil? %>
			<%= markdown(truncate(@article.body, length: 350)) %>
		<% elsif @can_read_level_1 %>
			<%= markdown(@article.body).html_safe %>
		<% else %>
			<%= markdown(truncate(@article.body, length: 350)) %>
		<% end %>
	<% else %>
		<%= markdown(@article.body).html_safe %>
	<% end %>

	
	<%# PODCAST LINKS %>
	<% if @article.type.name == "Podcast" && @article.audio_aac_id.present? && @article.language_id == 2 %>
		<h3>Escuche el podcast Bennett en España aquí:</h3>
		<a href="https://www.thespainreport.es/es/rss/podcast" title="Bennett en España RSS">RSS</a>, 
		<a href="https://podcasts.apple.com/podcast/id1495596384" title="Bennett en España en Apple Podcasts">Apple Podcasts</a>, 
		<a href="https://open.spotify.com/show/7euXMABMb6onzw50VxKK0W" title="Bennett en España en Spotify">Spotify</a>, 
		<a href="https://www.ivoox.com/podcast-bennett-espana_sq_f1842998_1.html" title="Bennett en España en iVoox">iVoox</a>,
		<a href="https://www.stitcher.com/podcast/bennett-en-espana" title="Bennett en España en Stitcher">Stitcher</a>,
		<a href="https://tunein.com/podcasts/News--Politics-Podcasts/Bennett-en-Espana-p1286596/" title="Bennett en España en TuneIn">TuneIn</a>,
		<a href="https://soundcloud.com/user-842077287/sets/bennett-en-espana" title="Bennett en España en SoundCloud">SoundCloud</a>,
		<a href="https://www.youtube.com/playlist?list=PL3DymtXaX19TyCGLrkycaKaCAzha0HwAw" title="Bennett en España en YouTube">YouTube</a>,
		<a href="https://www.facebook.com/BennettInSpain/playlist/206012307112155" title="Bennett en España en Facebook">Facebook</a>
	<% elsif @article.type.name == "Podcast" && @article.audio_aac_id.present? && @article.language_id == 1 %>
		<h3>Listen to the Bennett in Spain podcast here:</h3>
		<a href="https://www.thespainreport.es/rss/podcast" title="Bennett in Spain RSS">RSS</a>, 
		<a href="https://podcasts.apple.com/podcast/id1495596532" title="Bennett in Spain on Apple Podcasts">Apple Podcasts</a>, 
		<a href="https://open.spotify.com/show/4A8CdKc4bYPYsapzyxdvWo" title="Bennett in Spain on Spotify">Spotify</a>, 
		<a href="https://www.ivoox.com/podcast-bennett-in-spain_sq_f1842992_1.html" title="Bennett in Spain on iVoox">iVoox</a>,
		<a href="https://www.stitcher.com/podcast/the-spain-report" title="Bennett in Spain on Stitcher">Stitcher</a>,
		<a href="https://tunein.com/podcasts/News--Politics-Podcasts/Bennett-in-Spain-p1290614/" title="Bennett in Spain on TuneIn">TuneIn</a>,
		<a href="https://soundcloud.com/user-842077287/sets/bennett-in-spain" title="Bennett in Spain on SoundCloud">SoundCloud</a>,
		<a href="https://www.youtube.com/playlist?list=PL3DymtXaX19QyOs-R0bu1eiX6j4c8L-Ey" title="Bennett in Spain on YouTube">YouTube</a>,
		<a href="https://www.facebook.com/BennettInSpain/playlist/606829756765780" title="Bennett in Spain on Facebook">Facebook</a>
	<% else %>
	<% end %>
	
	<%# PATRONS EXTRAS HERE...  %>
	<% if ["Photos", "fotos"].include?(@article.type.name) %>
		<%= render "articles/patrons_only_block" %>
	<% else end %>
	
	
	<%# INDIVIDUAL TWEETS OR PHOTO ESSAY IMAGES FOR THE ARTICLE %>
	<% if @articletweets.present? %>
		<% if !["Notes", "Apuntes", "Photos", "Fotos"].include?(@article.type.name) %>
			<h3>
				<% case @article.language_id when 1 %>Notes
				<% when 2 %>Apuntes
				<% end %>
			</h3>
		<% end %>
	
		<% @articletweets.each do |t| %>
			<div class="font-main font-main-normal margin-bottom-20">
				<%# Display the tweet and any link %>
				<%= t.message %>
				<% if t.tweet_url.present? %>
					<% case t.article.language_id when 1 %><%= link_to "Link", t.tweet_url unless !t.tweet_url %>
					<% when 2 %><%= link_to "Enlace", t.tweet_url unless !t.tweet_url %>
					<% end %>
				<% else end %>
				
				<%# Display YouTube video if there is one %>
				<% if t.tweet_url.nil? %>
				
				<% elsif t.tweet_url.match(/www.youtube.com\/watch/) %>
					<div class="video-wrapper">
						<%= content_tag(:iframe, nil, frameborder: 0, src: "//www.youtube.com/embed/#{t.tweet_url.split('/watch?v=')[-1]}?rel=0&amp;showinfo=0") %>
					</div>
				<% else end %>
				
				<%# Display tweet image %>
				<% if t.upload == @article.upload && t == @article.tweets.first %>
				
				<% elsif t.upload %>
					<br />
					<%= image_tag ('https://image.thespainreport.es/' + File.basename(t.upload.data)) %>
				<% elsif !t.image.nil? %>
					<br />
					<%= image_tag ('https://image.thespainreport.es/' + t.image) %>
				<% else end %>
				
				<%# Display details, link to Twitter, high res image link for patrons %>
				<div class="border-top-quiet margin-top-5">
				<span class="font-main font-main-tiny">
					<% case @language when 1 %><strong>Published:</strong> <%= t.created_at.strftime("%b %d, %Y, %l:%M %P") %>
					<% when 2 %><strong>Publicado:</strong> <%= t.created_at.strftime("%d/%m/%Y, %H:%M") %>
					<% end %>
						
					<% if t.twitter_tweet_id %>
						<% case @language when 1 %> | <%= link_to "On Twitter", "https://twitter.com/matthewbennett/status/" + t.twitter_tweet_id.to_s %>
						<% when 2 %> | <%= link_to "En Twitter", "https://twitter.com/matthewbennett/status/" + t.twitter_tweet_id.to_s %>
						<% end %>
					<% end %>
					
					<% if !t.upload.nil? && t.upload.versions.exists? %>
						<% t.upload.versions.each do |v| %>
							<% if current_user.nil? %> | <%= link_to images_high_res, pay_link %>
							<% elsif @get_high_res %> | <%= link_to images_high_res, 'https://image.thespainreport.es/' + File.basename(v.data) %>
							<% else %> | <%= link_to images_high_res, pay_link %>
							<% end %>
						<% end %>
					
						<% if current_user.nil? %> | <%= link_to images_request, pay_link %>
						<% elsif @get_prints %>	| <%= link_to images_request, get_print_upload_url(t.upload) %>
						<% else %> | <%= link_to images_request, pay_link %>
						<% end %>
					<% end %>
				</span>
				</div>
			</div>
		<% end %>
	<% end %>
	
	<%= render "articles/patrons_only_block" %>

	<%# PLEASE BECOME A PATRON...  %>
	<% if current_user.nil? %>
		<%= render "payments/pay" %>
	<% end %>
	
	<%# PLEASE JOIN NEWSLETTER...  %>
	<% if current_user.nil? %>
		<%= render "users/new_reader_form" %>
	<% else end %>

	<%# FOOTER...  %>
	<%= render "layouts/footer" %>