<% title @article.headline %>
<% content_for :meta do %>
	<meta name="description" content="<%= @article.lede %>" />
	<link rel="canonical" href="<%= article_url(@article) %>" />
	<meta name="author" content="Matthew Bennett">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:site" content="@thespainreport" />
	<meta name="twitter:creator" content="@matthewbennett" />
	<meta name="twitter:title" content="<%= @article.headline %>" />
	<meta name="twitter:description" content="<%= @article.lede %>" />
	<meta name="twitter:image" content="<%= @article.image %>" />
	<meta property="og:site_name" content="The Spain Report"/>
	<meta property="og:url" content="<%= request.original_url %>"/>
	<meta property="og:type" content="article" />
	<meta property="og:title" content="<%= @article.headline %>"/>
  	<meta property="og:description" content="<%= @article.lede %>"/>
  	<meta property="og:image" content="<%= @article.image %>"/>
 	<meta property="og:article:published_time" content="<%= @article.updated_at %>"/>
 	<meta property="og:article:modified_time" content="<%= @article.updated_at %>"/>
 	<meta property="og:article:author" content="Matthew Bennett"/>
 	<meta property="og:article:section" content="<%= @article.story.headline unless @article.story.nil? %>"/>
<% end %>

<% if ["Photos", "Fotos"].include?(@article.type.name) %>
	<div class="content-wide">
<% else %>
	<div class="content">
<% end %>
	
<%= render "layouts/logo_account" %>

<div class="margin-top-30">
	<h1 class="font-header font-header-normal line-120 font-upper">
		<% if current_user.nil? %>
			<%= @article.headline %>
		<% elsif current_user.status == 1 %>
			<%= link_to @article.headline, edit_article_path, class: "editor-link" %>
		<% else %>
			<%= @article.headline %>
		<% end %>
	</h1>

	<div class="meta font-main font-main-tiny">
	    
	    <div class="margin-right-5 float-left mobile-bottom-10">
	    	<% if @article.language_id == 1 %>
				<%= @article.created_at.strftime("%b %d, %Y, %l:%M %P") %>
			<% elsif @article.language_id == 2 %>
				<%= @article.created_at.strftime("%d/%m/%Y, %H:%M") %>
			<% else %>
			<% end %>
	    </div>
	    
	    <% if ["Sólo mecenas", "Patrons only"].include?@article.type.name %>
	    	<div class="margin-right-5 float-left mobile-bottom-10">
	    		<span class="label background-color-patrons font-color-white">
	    				<%= @article.type.name %>
	    		</span>
	    	</div>
	    <% end %>
	    
	    <% if @article.extras_notes.present? || @article.extras_audio_file.present? %>
	    	<div class="margin-right-5 float-left mobile-bottom-10">
	    		<span class="label background-color-patrons font-color-white">
	    			<% if @article.language_id == 1 %>
						More for patrons
					<% elsif @article.language_id == 2 %>
						Más para mecenas
					<% else %>
					<% end %>
	    		</span>
	    	</div>
	    <% end %>
	    
	    <% if @article.is_breaking == true %>
	    	<div class="margin-right-5 float-left mobile-bottom-10">
	    		<span class="label background-color-red font-color-white">
	    			<% if @article.language_id == 1 %>
	    				Breaking News
	    			<% elsif @article.language_id == 2 %>
	    				Última Hora
	    			<% else %>
	    			<% end %>
	    		</span>
	    	</div>
	    <% end %>
	
	    <% if @articleupdates.present? || @article.status.try(:name) == 'Updated' %>
	    	<div class="margin-right-5 float-left mobile-bottom-10">
	    		<span class="label background-color-black font-color-white">
	    			<% if @article.language_id == 1 %>
	    				Updated
	    			<% elsif @article.language_id == 2 %>
	    				Actualizado
	    			<% else %>
	    			<% end %>
	    		</span>
	    	</div>
	    <% end %>
	    
	    <% if @article.audio_file.present? %>
	    	<div class="margin-right-5 float-left mobile-bottom-10">
	    		<span class="label background-color-black font-color-white">
	    			Audio
	    		</span>
	    	</div>
	    <% end %>
	    
		<% if @article.original.blank? %>
			<% @article.translations.where.not(id: @article).each do |tr| %>
				<div class="margin-right-5 float-left mobile-bottom-10">
					<%= link_to tr.language.prompt, tr, class: "label" %>
				</div>
			<% end %>
		<% else %>
			<div class="margin-right-5 float-left mobile-bottom-10">
				<%= link_to @article.original.language.prompt, @article.original, class: "label" %>
			</div>
			<% @article.original.translations.where.not(id: @article).each do |tr| %>
				<div class="margin-right-5 float-left mobile-bottom-10">
					<%= link_to tr.language.prompt, tr, class: "label" %>
				</div>
			<% end %>
		<% end %>
		
		<% if !current_user.nil? %>
			<div class="margin-right-5 float-left mobile-bottom-10">
				<% if current_user.sitelanguage == 1 %>
					<%= link_to 'Email article', articles_touser_path(article_id: @article.id), class: 'label' %>
				<% elsif current_user.sitelanguage == 2 %>
					<%= link_to 'Envíame artículo', articles_touser_path(article_id: @article.id), class: 'label' %>
				<% else end %>
			</div>
		<% else end %>
	    
	    <% if false %>
	    <div class="margin-right-5 float-left mobile-bottom-10">
	    	<%= link_to @article.story.headline, @article.story, class: "label" unless @article.story.nil? %>
	    </div>
	    <% end %>
	    
		<div class="clear"></div>
	</div>
	
	<div class="margin-top-5 font-main font-main-normal font-italic">
		<span class="font-bold"><%= @article.type.try(:name) %>:</span> <%= @article.lede %>
		
		<% if @articleupdates.present? || @article.extras_notes.present? || @article.extras_audio_file.present? %>
			<ul class="margin-top-5 margin-bottom-0 margin-left-20 margin-right-0">
				<% if @article.extras_audio_file.present? %>
					<li><strong>
						<% if @article.language_id == 1 %>
							Audio:
						<% elsif @article.language_id == 2 %>
							Audio:
						<% else end %>
						</strong> <%= link_to @article.extras_audio_teaser, article_path(@article, anchor: 'patrons') %>
					</li>
				<% else end %>
				
				<% if @article.extras_transcription_file.present? %>
					<li><strong>
						<% if @article.language_id == 1 %>
							Transcript:
						<% elsif @article.language_id == 2 %>
							Transcripción:
						<% else end %>
						</strong> <%= link_to @article.extras_transcription_teaser, article_path(@article, anchor: 'patrons') %>
					</li>
				<% else end %>
				
				<% if @article.extras_notes.present? %>
					<li><strong>
						<% if @article.language_id == 1 %>
							Notes:
						<% elsif @article.language_id == 2 %>
							Apuntes:
						<% else end %>
						</strong> <%= link_to @article.extras_notes_teaser, article_path(@article, anchor: 'patrons') %>
					</li>
				<% else end %>
				
				<% if @articleupdates.present? %>
					<% @articleupdates.each do |u| %>
						<li><%= link_to u.headline, article_path(@article, anchor: u.id) %></li>
					<% end %>
				<% else end %>
			</ul>
		<% else end %>
	</div>
</div>

<% if @article.image.present? %>
	<% if ['.png','.jpg'].include?File.extname(@article.image) %> 
		<%= image_tag ('https://image.thespainreport.es/' + @article.image) %>
	<% else %>
	<% end %>
<% else %>
<% end %>

<% if @article.video.present? %>
	<div class="video-wrapper">
		<%= content_tag(:iframe, nil, frameborder: 0, src: "//www.youtube.com/embed/#{@article.video}?rel=0&amp;showinfo=0") %>
	</div>
<% else %>
<% end %>

<% if @article.audio_file.present? %>
	<div class="margin-left-20 margin-top-10" >
		<div class="padding-left-5 font-main font-main-small font-italic" >
			<span class="font-bold">
				<% if @article.language_id == 1 %>
    				Listen now:
    			<% elsif @article.language_id == 2 %>
    				Escuche ahora:
    			<% else end %>
			</span> <%= @article.audio_intro %>
		</div>
		<audio controls>
		  <source src="<%= 'https://audio.thespainreport.es/' + @article.audio_file %>" type="audio/mpeg">
		Your browser does not support the audio element.
		</audio>
	</div>
<% else %>
<% end %>
	
	<div class="margin-top-20">
	
	<% if ["Patrons only", "Sólo mecenas"].include?@article.type.name %>
		<% if current_user.nil? %>
			<%= markdown(truncate(@article.body, length: 550)) %>
		<% elsif current_user.level_amount == 0 %>
			<%= markdown(truncate(@article.body, length: 550)) %>
		<% elsif current_user.level_amount >= 1 %>
			<%= markdown(@article.body).html_safe %>
		<% end %>
	<% else %>
		<%= markdown(@article.body).html_safe %>
	<% end %>
	
	<% if @article.image.present? %>
		<% if ['.pdf'].include?File.extname(@article.image) %>
			<iframe src="<%= 'https://docs.google.com/viewer?url=https://pdf.thespainreport.es/' + @article.image + '&embedded=true' %>" class="margin-top-10" style="width:100%; height:950px;" frameborder="0"></iframe>
		<% else %>
		<% end %>
	<% else %>
	<% end %>
	
	<% if @articletweets.present? %>
		<% @articletweets.each do |t| %>
			<p>
				<%= t.message %>
				<% if t.image.present? %>
					<%= image_tag ('https://image.thespainreport.es/' + t.image) %>
				<% end %>
				<br />
				<span class="font-main font-main-tiny">
					<% if @article.language_id == 1 %>
							<strong>Published:</strong> <%= t.created_at.strftime("%b %d, %Y, %l:%M %P") %> | <%= link_to "On Twitter", "https://twitter.com/matthewbennett/status/" + t.twitter_tweet_id.to_s %>
					<% elsif @article.language_id == 2 %>
						<strong>Publicado:</strong> <%= t.created_at.strftime("%d/%m/%Y, %H:%M") %> | <%= link_to "En Twitter", "https://twitter.com/matthewbennett/status/" + t.twitter_tweet_id.to_s %>
						
					<% else %>
					<% end %>
				</span>
			</p>
		<% end %>
	<% end %>

	
	
	<% if @articleupdates.present? %>
	<% @articleupdates.each do |u| %>
		<h3 id="<%= u.id %>">
			<% if current_user.nil? %>
				<%= u.headline %>
			<% elsif current_user.status == 1 %>
				<%= link_to u.headline, edit_article_path(u), class: "editor-link" %>
			<% else %>
				<%= u.headline %>
			<% end %>
		</h3>
		<div class="meta font-main font-main-tiny">
			<div class="margin-right-5 float-left">
				<% if u.language_id == 1 %>
					<%= u.created_at.strftime("%b %d, %Y, %l:%M %P") %>
				<% elsif u.language_id == 2 %>
					<%= u.created_at.strftime("%d/%m/%Y, %H:%M") %>
				<% else %>
				<% end %>
			</div>
			<div class="margin-right-5 float-left">
	    		<span class="label background-color-black font-color-white">
	    			<% if u.language_id == 1 %>
	    				Update
	    			<% elsif u.language_id == 2 %>
	    				Actualización
	    			<% else %>
	    			<% end %>
	    		</span>
	    	</div>
    	</div>
    	<div class="clear"></div>
    	<div class="margin-top-10">
	    	<% if u.image.present? %>
				<%= image_tag ('https://image.thespainreport.es/' + u.image) %>
			<% else %>
			<% end %>
			<%= markdown(u.body) %>
		</div>
	<% end %>
	</div>
	<% end %>
	
	<% if ["Patrons only", "Sólo mecenas"].include?@article.type.name %>
		<%= render "articles/patrons_logic" %>
	<% elsif @article.extras_notes.present? || @article.extras_audio_file.present? %>
		<%= render "articles/patrons_logic" %>
	<% else end %>

<% if false %>
	<div id="patrons" class="padding-20 border-patrons margin-top-20">
		<%= render "payments/pay" %>
	</div>
<% end %>

<% if current_user.nil? %>
	<%= render "users/new_reader_form" %>
<% else end %>

<div class="padding-20 border-patrons margin-top-20">
	<%= render "layouts/footer" %>
</div>

</div>
<div class="clear"></div>