<% title @article.headline %>
<% content_for :meta do %>
	<meta name="description" content="<%= @article.lede %>" />
	<link rel="canonical" href="<%= article_url(@article) %>" />
	<meta name="author" content="Matthew Bennett">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:site" content="@thespainreport" />
	<meta name="twitter:creator" content="@matthewbennett" />
	<meta name="twitter:title" content="<%= @article.headline %>" />
	<meta name="twitter:description" content="<%= @article.lede %>" />
	<meta name="twitter:image" content="<%= @article.image %>" />
	<meta property="og:site_name" content="The Spain Report"/>
	<meta property="og:url" content="<%= request.original_url %>"/>
	<meta property="og:type" content="article" />
	<meta property="og:title" content="<%= @article.headline %>"/>
  	<meta property="og:description" content="<%= @article.lede %>"/>
  	<meta property="og:image" content="<%= @article.image %>"/>
 	<meta property="og:article:published_time" content="<%= @article.updated_at %>"/>
 	<meta property="og:article:modified_time" content="<%= @article.updated_at %>"/>
 	<meta property="og:article:author" content="Matthew Bennett"/>
 	<meta property="og:article:section" content="<%= @article.story.headline unless @article.story.nil? %>"/>
<% end %>

<div class="content">
	
	<div class="content-top">
		<div class="topbutton float-left mobile-100">
			<a href="https://www.patreon.com/join/matthewbennett" class="topbutton">
				<% if @article.language_id == 1 %>
					Support now on Patreon
				<% elsif @article.language_id == 2 %>
					Apoye ahora en el Patreon
				<% else %>
				<% end %>
				
			</a>
		</div>
	
		<div class="padding-top-5 float-right font-header font-header-tiny mobile-100">
		<% if @article.story.nil? %>
			<% if @article.language_id == 1 %>
				<%= link_to "The Spain Report", '/' %>
			<% elsif @article.language_id == 2 %>
				<%= link_to "The Spain Report en español", '/' + 'es' %>
			<% else %>
			<% end %>
		<% else %>
			<%= link_to @article.story.headline, @article.story %>
		<% end %>
		</div>
		<div class="clear"></div>
	</div>

<h1 class="font-header font-header-normal line-120 font-upper">
	<% if current_user.nil? %>
		<%= @article.headline %>
	<% else %>
		<%= link_to @article.headline, edit_article_path, class: "editor-link" %>
	<% end %>
</h1>

<div class="meta font-main font-main-tiny">
    <div class="margin-right-5 float-left mobile-bottom-10">
    	<% if @article.language_id == 1 %>
			<%= @article.created_at.strftime("%b %d, %Y, %l:%M %P") %>
		<% elsif @article.language_id == 2 %>
			<%= @article.created_at.strftime("%d/%m/%Y, %H:%M") %>
		<% else %>
		<% end %>
    </div>
    
    <div class="margin-right-5 float-left mobile-bottom-10">
    	<span class="label background-color-red">
    		<span class="font-color-yellow">The</span> <span class="font-color-orange">Spain</span> <span class="font-color-yellow">Report</span>
    	</span>
    </div>
    
    <% if @article.is_free == true %>
    	<div class="margin-right-5 float-left mobile-bottom-10">
    		<span class="label background-color-red font-color-white">
    			<% if @article.language_id == 1 %>
    				Breaking News
    			<% elsif @article.language_id == 2 %>
    				Última Hora
    			<% else %>
    			<% end %>
    		</span>
    	</div>
    <% end %>

    <% if @article.updates.published.present? || @article.status.try(:name) == 'Updated' %>
    	<div class="margin-right-5 float-left mobile-bottom-10">
    		<span class="label background-color-black font-color-white">
    			<% if @article.language_id == 1 %>
    				Updated
    			<% elsif @article.language_id == 2 %>
    				Actualizado
    			<% else %>
    			<% end %>
    		</span>
    	</div>
    <% end %>
    
    <% if @article.audio.present? %>
    	<div class="margin-right-5 float-left mobile-bottom-10">
    		<span class="label background-color-black font-color-white">
    			Audio
    		</span>
    	</div>
    <% end %>
    
	<% if @article.original.blank? %>
		<% @article.translations.where.not(id: @article).each do |tr| %>
			<div class="margin-right-5 float-left mobile-bottom-10">
				<%= link_to tr.language.prompt, tr, class: "label" %>
			</div>
		<% end %>
	<% else %>
		<div class="margin-right-5 float-left mobile-bottom-10">
			<%= link_to @article.original.language.prompt, @article.original, class: "label" %>
		</div>
		<% @article.original.translations.where.not(id: @article).each do |tr| %>
			<div class="margin-right-5 float-left mobile-bottom-10">
				<%= link_to tr.language.prompt, tr, class: "label" %>
			</div>
		<% end %>
	<% end %>
	<div class="clear"></div>
</div>

<div class="margin-top-5 font-main font-main-normal font-italic">
	<span class="font-bold"><%= @article.type.try(:name) %>:</span> <%= @article.lede %>
	<% if @article.updates.published.present? %>
		<ul class="margin-top-5 margin-bottom-0 margin-left-20 margin-right-0">
	      <% @article.updates.each do |u| %>
	        <li><%= link_to u.headline, article_path(@article, anchor: u.id) %></li>
	      <% end %>
	    </ul>
    <% else %>
    <% end %>
</div>

<% if @article.id == 32 %>
<div class="margin-top-10" style="width:100%;padding-top:64%;position:relative;border-bottom:1px solid #aaa;display:inline-block;background:#eee;background:rgba(255,255,255,0.9);" >
	<iframe frameborder="0" src="https://secure-embed.rtve.es/drmn/embed/video/3658839?autoplay=true" name="Señal Institucional" scrolling="no" style="width:100%;height:90%;position:absolute;left:0;top:0;overflow:hidden;" allowfullscreen></iframe>
</div>
<% end %>

<% if @article.image.present? %>
	<%= image_tag ('http://image.thespainreport.es/' + @article.image) %>
<% else %>
<% end %>

<% if @article.video.present? %>
	<div class="video-wrapper">
		<%= content_tag(:iframe, nil, frameborder: 0, src: "//www.youtube.com/embed/#{@article.video}?rel=0&amp;showinfo=0") %>
	</div>
<% else %>
<% end %>

<% if @article.audio.present? %>
	<div class="margin-left-20 margin-top-10" >
		<div class="padding-left-5 font-main font-main-small font-italic" >
			<span class="font-bold">
				<% if @article.language_id == 1 %>
    				Listen now:
    			<% elsif @article.language_id == 2 %>
    				Escuche ahora:
    			<% else %>
    			<% end %>
			</span> <%= @article.audioteaser %>
		</div>
		<audio controls>
		  <source src="<%= 'http://audio.thespainreport.es/' + @article.audio %>" type="audio/mpeg">
		Your browser does not support the audio element.
		</audio>
	</div>
<% else %>
<% end %>
	
	<div class="margin-top-10">
	<%= markdown(@article.body).html_safe %>
	
	<% if @article.tweets.present? %>
		<% @article.tweets.order('created_at ASC').each do |t| %>
			<p>
				<%= t.message %>
				<% if t.image.present? %>
					<%= image_tag ('http://image.thespainreport.es/' + t.image) %>
				<% end %>
			</p>
		<% end %>
	<% end %>
	
	
	<% if @article.extras_audio.present? || @article.extras_body.present? %>
		<h5>
			<% if @article.language_id == 1 %>
				Extra stuff for subscribers
			<% elsif @article.language_id == 2 %>
				Más cosas para los suscriptores
			<% else %>
			<% end %>
		</h5>
	<% else %>
	<% end %>
	
	<% if @article.extras_audio.present? %>
		<div class="margin-left-20 margin-top-20 margin-bottom-20" >
			<div class="padding-left-5 font-main font-main-small font-italic" >
				<span class="font-bold">
					<% if @article.language_id == 1 %>
	    				Listen now:
	    			<% elsif @article.language_id == 2 %>
	    				Escuche ahora:
	    			<% else %>
	    			<% end %>
				</span> <%= @article.extras_audioteaser %>
			</div>
			<audio controls>
			  <source src="<%= 'http://audio.thespainreport.es/' + @article.extras_audio %>" type="audio/mpeg">
			Your browser does not support the audio element.
			</audio>
		</div>
	<% else %>
	<% end %>
	
	<% if @article.extras_body.present? %>
		<%= markdown(@article.extras_body).html_safe %>
	<% end %>
	
	<% @article.updates.published.each do |u| %>
		<h3 id="<%= u.id %>">
			<% if current_user.nil? %>
				<%= u.headline %>
			<% else %>
				<%= link_to u.headline, edit_article_path(u), class: "editor-link" %>
			<% end %>
		</h3>
		<div class="meta font-main font-main-tiny">
			<div class="margin-right-5 float-left">
				<% if u.language_id == 1 %>
					<%= u.created_at.strftime("%b %d, %Y, %l:%M %P") %>
				<% elsif u.language_id == 2 %>
					<%= u.created_at.strftime("%d/%m/%Y, %H:%M") %>
				<% else %>
				<% end %>
			</div>
			<div class="margin-right-5 float-left">
	    		<span class="label background-color-black font-color-white">
	    			<% if u.language_id == 1 %>
	    				Update
	    			<% elsif u.language_id == 2 %>
	    				Actualización
	    			<% else %>
	    			<% end %>
	    		</span>
	    	</div>
    	</div>
    	<div class="clear"></div>
    	<div class="margin-top-10">
	    	<% if u.image.present? %>
				<%= image_tag ('http://image.thespainreport.es/' + u.image) %>
			<% else %>
			<% end %>
			<%= markdown(u.body) %>
		</div>
	<% end %>
	</div>

	<% if @article.components.present? %>
		<h3>
			<% if @article.language_id == 1 %>
				In this section…
			<% elsif @article.language_id == 2 %>
				En esta sección…
			<% else %>
			<% end %>
		</h3>
		 <ul class="">
		<% @article.components.published.order('created_at DESC').each do |c| %>
		 	<li class="margin-bottom-10 font-main font-main-small"><%= link_to c.headline, c %>
				<br /><span class="font-bold font-italic"><%= c.type.name %>:</span> <span class="font-italic"><%= c.lede %></span>
			</li>
		 
		<% end %>
		</ul>
	<% end %>

<% if !@article.campaign.nil? %>
	<p style="text-align: center;">
		<a href="https://www.patreon.com/join/matthewbennett" class="button"><%= @article.campaign.buttontext %></a>
	</p>
	<p class="float-right">
		<%= image_tag ('http://image.thespainreport.es/' + @article.campaign.image), :class => "campaignimage" unless @article.campaign.image.nil? %>
	</p>
	<p><%= markdown(@article.campaign.teaser) %></p>
	<p><%= markdown(@article.campaign.deal) %></p>
	<p><%= markdown(@article.campaign.social) %></p>
	
	<div class="width-98">
		<% Plan.all.where(language_id: @article.language_id).each do |p| %>
			<div class="width-33 float-left margin-right-5 border-bottom-1 mobile-width">
				<h5 class="margin-bottom-0"><%= p.title %></h5>
				<div class="no-hover-bg">
					<a href="<%= p.link %>">
						<%= image_tag ('http://image.thespainreport.es/' + p.image) %>
					</a>
					<p class="margin-top-10 margin-bottom-0 align-centre">$<%= p.price %>/<% if p.language_id == 1 %>month<% else %>mes<% end %></p>
					<div class="plan-benefits"><%= markdown(p.description) %></div>
					<p class="align-centre line-100">
						<a href="<%= p.link %>" class="topbutton">
							<%= p.buttontext %>
						</a>
					</p>
				</div>
			</div>
		<% end %>
		<div class="clear"></div>
	</div>
	
	<p><%= markdown(@article.campaign.riskreversal) %></p>
<% end %>

<p>--</p>

<%= render "layouts/footer" %>

</div>
<div class="clear"></div>