<div class="content">

		<div class="story-link">
		<% if @article.story.nil? %>
			<%= link_to "The Spain Report", '/' %>
		<% else %>
			<%= link_to @article.story.headline, @article.story %>
		<% end %>
		</div>


<h1><%= link_to @article.headline, edit_article_path, class: "editor-link" %></h1>

<div class="meta">
    <div class="meta-tag">
    	<% if @article.language_id == 1 %>
			<%= @article.created_at.strftime("%b %d, %Y, %l:%M %P") %>
		<% elsif @article.language_id == 2 %>
			<%= @article.created_at.strftime("%d/%m/%Y, %H:%M") %>
		<% else %>
		<% end %>
    </div>
    
    <div class="meta-tag">
    	<span class="red-label-mini">
    		<span class="site-title-surround">The</span> <span class="site-title-spain">Spain</span> <span class="site-title-surround">Report</span>
    	</span>
    </div>
    
    <% if @article.topstory == true %>
    	<div class="meta-tag">
    		<span class="red-label-mini">
    			<% if @article.language_id == 1 %>
    				Latest News
    			<% elsif @article.language_id == 2 %>
    				Última Hora
    			<% else %>
    			<% end %>
    		</span>
    	</div>
    <% end %>
    <% if @article.is_free == true %>
    	<div class="meta-tag">
    		<span class="black-label-mini">
    			<% if @article.language_id == 1 %>
    				Free access
    			<% elsif @article.language_id == 2 %>
    				Acceso libre
    			<% else %>
    			<% end %>
    		</span>
    	</div>
    <% end %>
    <% if @article.updates.present? || @article.status.try(:name) == 'Updated' %>
    	<div class="meta-tag">
    		<span class="black-label-mini">
    			<% if @article.language_id == 1 %>
    				Updated
    			<% elsif @article.language_id == 2 %>
    				Actualizado
    			<% else %>
    			<% end %>
    		</span>
    	</div>
    <% end %>
	<% if @article.original.blank? %>
		<% @article.translations.where.not(id: @article).each do |tr| %>
			<div class="meta-tag"><span class="blue-label-mini"><%= link_to tr.language.prompt, tr %></span></div>
		<% end %>
	<% else %>
		<div class="meta-tag"><span class="blue-label-mini"><%= link_to @article.original.language.prompt, @article.original %></span></div>
		<% @article.original.translations.where.not(id: @article).each do |tr| %>
			<div class="meta-tag"><span class="blue-label-mini"><%= link_to tr.language.prompt, tr %></span></div>
		<% end %>
	<% end %>
	<div class="clear"></div>
</div>

<div class="lede">
	<span class="lede-slug"><%= @article.type.try(:name) %>:</span> <%= @article.lede %>
	
	<ul style="margin-top: 10px; margin-bottom: 0px; margin-left: 20px; margin-right: 0;">
      <% @article.updates.each do |u| %>
        <li style="margin: 0 auto; text-align:left; font-style: normal;"><%= link_to u.headline, article_path(@article, anchor: u.id) %></li>
      <% end %>
    </ul>
</div>

<audio controls>
  <source src="https://s3-eu-west-1.amazonaws.com/audio.thespainreport.com/podcast-conversation-3-chris-dottie.mp3" type="audio/mpeg">
Your browser does not support the audio element.
</audio>

	<%= markdown(@article.body).html_safe %>
	
	<div class="updates">
	<% @article.updates.each do |u| %>
		<h3 id="<%= u.id %>"><%= u.headline %></h3>
		<div class="meta">
			<div class="meta-tag">
				<% if u.language_id == 1 %>
					<%= u.created_at.strftime("%b %d, %Y, %l:%M %P") %>
				<% elsif u.language_id == 2 %>
					<%= u.created_at.strftime("%d/%m/%Y, %H:%M") %>
				<% else %>
				<% end %>
			</div>
			<div class="meta-tag">
	    		<span class="black-label-mini">
	    			<% if u.language_id == 1 %>
	    				Update
	    			<% elsif u.language_id == 2 %>
	    				Actualización
	    			<% else %>
	    			<% end %>
	    		</span>
	    	</div>
    	</div>
    	<div class="clear"></div>
		<%= markdown(u.body) %>
	<% end %>
	</div>


<% if !@article.campaign.nil? %>
<p style="text-align: center;">
	<a href="https://www.patreon.com/join/matthewbennett" class="button"><%= @article.campaign.buttontext %></a>
</p>

<p>
	<%= markdown(@article.campaign.teaser) %>
</p>
<% end %>
</div>
<div class="clear"></div>