<%= render "articles/admintop" %>
	
	<% @articles.each do |a, k| %>
		<% @art = Article.find_by_id(a) %>
		<% if a == 1000000 %>
			<li>
				<%= link_to 'Home', '/' %>: <%= k %>
			</li>
		<% elsif a == 1000001 %>
			<li>
				<%= link_to 'Inicio', '/es' %>: <%= k %>
			</li>
		<% else %>
		<li>
			<%= link_to @art.headline, article_url(a) unless @art.nil? %>: <%= k %>
		</li>
		<% end %>
	<% end %>
	
	<% @referers.each do |a, k| %>
		<li><%= a %>: <%= k %></li>
	<% end %>

<table>
	<tbody>
		<% @visits.each do |visit| %>
			<tr>
				<td><%= link_to visit.article_id, article_path(visit.article_id) %></td>
				<td><%= visit.campaign_id %></td>
				<td><%= visit.referer %></td>
				<td><%= visit.plan_ids %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<br>

<%= link_to 'New Visit', new_visit_path %>
