<%= render "articles/admintop" %>

<h1 class="font-header font-header-small font-upper line-115">Visits</h1>

<table>

  <tbody>
    <% @visits.each do |visit| %>
      <tr>
        <td><%= visit.article_id %></td>
        <td><%= visit.campaign_id %></td>
        <td><%= visit.referer %></td>
        <td><%= visit.plan_ids %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Visit', new_visit_path %>
