<%= form_with(model: tweet, local: true) do |f| %>
	<% if tweet.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(tweet.errors.count, "error") %> prohibited this tweet from being saved:</h2>

			<ul>
			<% tweet.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
			</ul>
		</div>
	<% end %>
	
	
	
	<div class="margin-bottom-10">
		<strong>Previous tweet:</strong> <%= f.collection_select :previous_id, @previoustweets, :id, proc {|st| st.message.truncate(70)}, {include_blank: true, :selected => @tweet.previous_id}, {:style => "width: 380px;"} %>
		<% if false %><%= f.select :email_to, options_for_select([["Do not send", "none"], ["Test to M", "test"], ["Send email", "alert"]]) %><% end %>
		<%= f.select :send_tweet, options_for_select([["Do not send", "none"], ["Send tweet", "send"]]) %>
		<%= f.submit %>
	</div>
	
	<div class="background-color-yellow padding-10 margin-bottom-10">
		<div class="margin-bottom-5">
				Main (existing): <%= f.collection_select :upload_id, @uploads, :id, :data_short_name, {include_blank: true, :selected => @tweet.upload_id}, {:style => "width: 190px;"} %>
			</div>
		<div class="margin-bottom-5">
			Main: <%= f.file_field :image  %> <%= f.check_box :set_article_image %> Use as article main image?
		</div>
		<div class="">
			High: <%= f.file_field :image_high  %>
		</div>
	</div>
	
	<div class="background-color-yellow padding-10 margin-bottom-10">
		<div class="margin-bottom-10">
			<%= f.text_area :message, :class => "width-70 padding-10 font-main font-main-normal", :style => "min-height: 60px;", placeholder: "Tweet text / photo notes…", maxlength: 280 %>
		</div>
		<div class="">
			Link: HERE <%= f.check_box :tweet_this_url %> OR <%= f.text_field :tweet_url, :class => "width-70 padding-5", placeholder: "article URL / YouTube for thread videos..." %>
		</div>	
	</div>

	<div class="margin-bottom-10">
		<% if action_name == "edit" %>
			<div class="margin-bottom-5">
				<strong>Twitter id:</strong> <%= f.text_field :twitter_tweet_id %>
			</div>
		<% end %>
		
		<strong>Article:</strong> <%= f.collection_select :article_id, @articles, :id, :headline, {include_blank: true, :selected => @tweet.article_id}, {:style => "width: 400px;"} %>
		<% if @tweet.article.present? %>
			| <%= link_to @tweet.article.short_headline, @tweet.article %>
		<% end %>
	</div>
	
	<hr class="margin-top-20 margin-bottom-20" />
	
	<% if action_name == "new" && !params[:article_id].present? %>
		<div class="margin-bottom-10">
			<strong>Language:</strong><%= f.collection_select :language_id, @languages, :id, :name %>
			<strong>Type:</strong> <%= f.collection_select :type_id, @types, :id, :name %>
			<strong>Translation of:</strong> <%= f.collection_select :original_id, @translationof, :id, :headline, {include_blank: true}, {:style => "width: 200px;"} %>
		</div>

		<div class="margin-bottom-10">
			<%= f.text_field :new_article_headline, :class => "width-98 padding-5 font-header font-header-small line-100", placeholder: "New headline…" %>
		</div>
		
		<div class="margin-bottom-10">
			<%= f.text_field :new_article_short_headline, :class => "width-40 padding-5 font-header font-header-small line-100", placeholder: "New short headline…" %>
		</div>
		
		<div class="margin-bottom-10">
			<%= f.text_field :new_article_lede, :class => "width-98 padding-5 font-main font-main-normal font-italic", placeholder: "New article lede…" %>
		</div>
		
		<div class="margin-bottom-10">
			<%= f.text_area :new_article_text, :class => "width-98 padding-10 font-main font-main-normal", :style => "min-height: 100px;", placeholder: "New article text…" %>
		</div>
		
		
	<% end %>

<% end %>