<%= render "articles/admintop" %>
<% @tweets.each do |tweet| %>
	<div class="margin-bottom-20">
		<div>
			<%= tweet.message %>
		</div>
		<div>
			<%= link_to "New in thread", new_tweet_path(previous_id: tweet, article_id: tweet.article_id) %>
			| <%= link_to 'Edit', edit_tweet_path(tweet) %>
			| <strong>Previous:</strong> <%= tweet.previous_id %>
			| <strong>Article:</strong> <%= link_to tweet.article.id, tweet.article unless tweet.article.nil? %>
			| <%= link_to "On Twitter", 'https://twitter.com/matthewbennett/status/' + tweet.twitter_tweet_id.to_s %>
			| <%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' } %>
		</div>
	</div>
<% end %>