<div class="margin-bottom-10">

<%= form_with(model: type, local: true) do |f| %>
	<% if type.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(type.errors.count, "error") %> prohibited this type from being saved:</h2>
			<ul>
			<% type.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
			</ul>
		</div>
	<% end %>

	<div class="field">
		Name: <%= f.text_field :name %>
		<%= f.collection_select :language_id, @languages, :id, :name, {:selected => @type.language_id ? @type.language_id : 1} %>
		<%= f.submit %>
	</div>

<% end %>