<% title @type.name %>
<% content_for :meta do %>
	<meta name="description" content="<%= @type.name %> | The Spain Report" />
	<link rel="canonical" href="<%= type_url %>" />
	<meta name="author" content="Matthew Bennett">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:site" content="@thespainreport" />
	<meta name="twitter:creator" content="@matthewbennett" />
	<meta name="twitter:title" content="<%= @type.name %> | The Spain Report" />
	<meta name="twitter:description" content="<%= @type.name %> | The Spain Report" />
	<meta property="og:site_name" content="The Spain Report"/>
	<meta property="og:url" content="<%= type_url %>"/>
	<meta property="og:type" content="article" />
	<meta property="og:title" content="<%= @type.name %> |  The Spain Report"/>
  	<meta property="og:description" content="<%= @type.name %> | The Spain Report"/>
 	<meta property="og:article:author" content="Matthew Bennett"/>
 	<meta property="og:article:section" content="Spain"/>
<% end %>

<div class="content">

	<div class="content-top">
		<div class="topbutton float-right mobile-100">
			<a href="https://www.patreon.com/join/matthewbennett" class="topbutton">
				<% if @type.language_id == 1 %>
					Support now on Patreon
				<% elsif @type.language_id == 2 %>
					Apoye ahora en el Patreon
				<% else %>
				<% end %>
				
			</a>
		</div>
	
		<div class="padding-top-5 font-header font-header-tiny mobile-100">
			<% if @type.language_id == 1 %>
				<%= link_to "The Spain Report", '/' %>
			<% elsif @type.language_id == 2 %>
				<%= link_to "The Spain Report en español", '/' + 'es' %>
			<% else %>
			<% end %>
		</div>
		<div class="clear"></div>
	</div>

<h1 class="font-header font-header-normal line-120 font-upper">
	<% if current_user.nil? %>
		<%= @type.headline %>
	<% else %>
		<%= link_to @type.name, edit_type_path, class: "editor-link" %>
	<% end %>
</h1>



 <ul class="">
 <% @type.articles.order('created_at DESC').each do |article| %>
 	<li class="margin-bottom-10 font-main font-main-small"><%= link_to article.headline, article %>
		<br /><span class="font-bold font-italic"><%= article.type.name %>:</span> <span class="font-italic"><%= article.lede %></span>
	</li>
 <% end %>
 </ul>

</div>