<% title @type.name %>
<% content_for :meta do %>
	<meta name="description" content="<%= @type.name %> | The Spain Report" />
	<link rel="canonical" href="<%= type_url %>" />
	<meta name="author" content="Matthew Bennett">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:site" content="@thespainreport" />
	<meta name="twitter:creator" content="@matthewbennett" />
	<meta name="twitter:title" content="<%= @type.name %> | The Spain Report" />
	<meta name="twitter:description" content="<%= @type.name %> | The Spain Report" />
	<meta property="og:site_name" content="The Spain Report"/>
	<meta property="og:url" content="<%= type_url %>"/>
	<meta property="og:type" content="article" />
	<meta property="og:title" content="<%= @type.name %> |  The Spain Report"/>
  	<meta property="og:description" content="<%= @type.name %> | The Spain Report"/>
 	<meta property="og:article:author" content="Matthew Bennett"/>
 	<meta property="og:article:section" content="Spain"/>
<% end %>

<div class="content">
	
<%= render "layouts/logo_account" %>

<h1 class="font-header font-header-normal line-120 font-upper">
	<% if current_user.nil? %>
		<%= @type.name_plural %>
	<% else %>
		<%= link_to @type.name_plural, edit_type_path, class: "editor-link" %>
	<% end %>
</h1>



 <ul class="no-points">
 <% @type.articles.published.notupdate.order('created_at DESC').each do |article| %>
 	<li class="margin-bottom-10 font-main font-main-small">
 		<%= article.type.name %>: <%= link_to article.headline, article %>
		<% if article.updates.published.present? %>
			<ul class="margin-top-5 margin-bottom-0 margin-left-20 margin-right-0">
		      <% article.updates.each do |u| %>
		        <li class="margin-bottom-0 font-main font-main-small"><%= link_to u.headline, article_path(article, anchor: u.id) %></li>
		      <% end %>
		    </ul>
	   <% else %>
	   <% end %>
	</li>
 <% end %>
 </ul>

</div>