<%= form_tag(users_path, :method => "get", id: "search-form") do %>
	<div style="float:left;">
		<%= text_field_tag :search, params[:search], :size => 50, placeholder: "Search users..." %>
	</div>
	<div style="float:left; margin-left: 10px;">
		<%= submit_tag "Search" %>
	</div>
	<div class="clear"></div>
<% end %>

<% if controller_name == "users" %>
	<% if @search_results.present? %> 
	  <h3>Here you go...</h3>
		<table class="admin-table ">
			<tbody>
				<%= render "user_row_header" %>
				
				<% @search_results.each do |user| %>
					<%= render "user_row", user: user %>
				<% end %>
			</tbody>
		</table>
	<% else %>
		<h3>Nope...</h3>
		<table><tr><td>Nobody with that email here...</td></tr></table>
	<% end %>
<% end %>

<hr>				

<%= form_with(url: 'editor_modifies_accounts', local: true) do |f| %>
	<div class="margin-bottom-10">
		<%= f.text_area :email, :class => "width-48 padding-10 font-main font-main-normal", :style => "min-height: 60px;", placeholder: "Add or modify users and accounts here…" %>
	</div>
	<div class="margin-bottom-10">
		Account Status: <%= f.select :account_status, options_for_select([["Free Reader", "4"], ["Patron - up-to-date", "1"], ["Patron - payment declined", "2"], ["Patron - cancelled", "3"]]), {include_blank: true} %>
	</div>
	<div class="margin-bottom-10">
		Conversation status: <%= f.select :conversation_status, options_for_select([["Everybody happy", "1"], ["Decline message sent", "2"], ["Cancel follow-up sent", "3"], ["In conversation", "3"], ["Stop - not interested", "5"]]), {include_blank: true} %>
	</div>
	
	<hr />
	
	<div class="margin-bottom-10">
		Emails: <%= f.select :emails, options_for_select([["Articles & Latest News", "1"], ["Articles only", "2"], ["Announcements only", "3"], ["No email at all", "3"]]), {include_blank: true} %>
	</div>
	<div class="margin-bottom-10">
		Email language: <%= f.select :emaillanguage, options_for_select([["English", "1"], ["Spanish", "2"], ["English & Spanish", "3"]]), {include_blank: true} %>
	</div>
	<div class="margin-bottom-10">
		Site language: <%= f.select :sitelanguage, options_for_select([["English", "1"], ["Spanish", "2"]]), {include_blank: true} %>
	</div>
	<div class="margin-bottom-10">
		User status: <%= f.select :user_status, options_for_select([["Patron - Account Owner", "2"], ["Patron - Account Reader", "4"], ["Reader", "3"]]), {include_blank: true} %> | <%= f.submit %>
	</div>
<% end %>

<hr />