<% case @language when 1
		save_button = "Save"
		increase_level_link_text = "Increase it"
		
		problems_prompt = "Problems?"
		problems_message = "We'll fix it together."
		
		site_language_title = "Language"
		site_language_options = [["English", "1"], ["Spanish", "2"]]
		
		user_title = "My details"
		your_current_email = "Your current email"
		your_current_email_status_good = "Confirmed"
		your_current_email_status_bad = "Not confirmed"
		your_new_email = "Your new email..."
		your_new_email_explanation = "The system will send you a confirmation email"
		your_password = "New password..."
		your_password_confirm = "Confirm new password..."
		
		email_amount_title = "Email amount"
		email_amount_options = [["I want all articles & latest news", "1"], ["I only want full articles", "2"], ["I only want announcements", "3"], ["I don't want any emails at all", "4"]]
		
		email_language_title = "Email language"
		email_language_options = [["I only want emails in English", "1"], ["I only want emails in Spanish", "2"], ["I want emails in English & Spanish", "3"]]
		
		can_read_title = "You can read until"
		can_read_date = @can_read_date.strftime("%b %d, %Y")
		
		access_level_title = "Your access level"
		access_level = number_to_currency((@level.to_f/100.to_f), unit: "€") + " / month"
		
		prints_title = "My Photo prints"
		prints_teaser = "The address you would like me to send your physical prints to."
		prints_level_bad = "Your guarantee must be above €25 / month."
		prints_level_good = "Your guarantee level is above €25 / month."
		prints_name = "Your name..."
		prints_street = "You address..."
		prints_postcode = "Your postcode..."
		prints_country = "Your country..."
		prints_latest = "Latest physical print requested"
		
		account_title = "My Account"
		account_number = "Account ID"
		account_role_title = "Your role"
		account_role_boss = "Boss"
		account_role_member = "Member"
		account_total_title = "Total contributions"
		account_total_amount = (number_to_currency((@user.account.total_support/100.to_f), unit: "€") unless @user.account.total_support.nil?).to_s + " / month"
		account_subscriptions_title = "Number of subscriptions"
		account_status_title = "Account status"
		account_status_up = "Up-to-date"
		account_status_problem = "Problem with a payment"
		account_status_paused = "Paused"
		account_status_beginner = "Free trial"
		account_invoice_title = "My invoice details"
		account_invoice_name = "Name for invoices..."
		account_invoice_id = "Tax ID for invoices..."
		account_invoice_address = "Address for invoices..."
		account_boss_is = "Your account boss is"
		
		subscriptions_title = "My subscriptions"
		subscriptions_active = "Active"
		subscriptions_paused = "Paused"
		subscriptions_activate_button = "Activate"
		subscriptions_pause_button = "Pause"
		subscriptions_number_title = "ID"
		subscriptions_amount_title = "Base"
		subscriptions_vat_title = "VAT"
		subscriptions_total_title = "Total"
		subscriptions_created_title = "Date created"
		subscriptions_last_title = "Last payment"
		subscriptions_period_title = "Frequency"
		subscriptions_next_title = "Next payment"
		subscriptions_status_title = "Status"
		subscriptions_members_title = "Miembros"
		subscriptions_activate_fix_first = "To reactivate your subscription, please fix the problem"
		subscriptions_activate_fix_first_link = "with your last payment"
		
		invoices_title = "My invoices"
		invoices_apply_question = "Apply invoice details to existing empty invoices?"
		invoices_apply_button = "Apply now"
		invoices_all_filled = "All your invoices contain your details."
		
		payments_title = "My payments"
		payments_status_paid = "Paid"
		payments_status_problem = "Problem"
		payments_status_refund = "Refunded"
		payments_refund_label = "Refund"
	when 2
		save_button = "Guardar"
		increase_level_link_text = "Auméntelo"
		
		problems_prompt = "¿Problemas?"
		problems_message = "Lo solucionaremos juntos."
		
		site_language_title = "Idioma"
		site_language_options = [["Inglés", "1"], ["Español", "2"]]
		
		user_title = "Mis Datos"
		
		your_current_email = "Su correo electrónico actual"
		your_current_email_status_good = "Confirmado"
		your_current_email_status_bad = "No confirmado"
		your_new_email = "Su nuevo correo electrónico..."
		your_new_email_explanation = "El sistema le enviará un correo de confirmación"
		your_password = "Contraseña nueva..."
		your_password_confirm = "Confirme la contraseña nueva..."
		
		email_amount_title = "Cantidad de correos"
		email_amount_options = [["Quiero artículos y la última hora", "1"], ["Sólo quiero artículos completos", "2"], ["Sólo quiero avisos", "3"], ["No quiero ningún correo", "4"]]
		
		email_language_title = "Idioma de los correos"
		email_language_options = [["Sólo quiero los correos en inglés", "1"], ["Sólo quiero los correos en español", "2"], ["Quiero los correos en inglés y en español", "3"]]
		
		can_read_title = "Puede leer hasta el"
		can_read_date = @can_read_date.strftime("%d/%m/%Y")
		
		access_level_title = "Su nivel de acceso"
		access_level = number_to_currency((@level.to_f/100.to_f), unit: "") + " euros al mes"
		
		prints_title = "Mis Fotos impresas"
		prints_teaser = "La dirección a la que quiere que le envíe sus fotos impresas."
		prints_level_bad = "Su garantía debe ser superior a 25 euros al mes."
		prints_level_good = "Su garantía es superior a 25 euros al mes."
		prints_name = "Su nombre..."
		prints_street = "Su dirección..."
		prints_postcode = "Su código postal..."
		prints_country = "Su país..."
		prints_latest = "Última imagen impresa solicitada"
		
		account_title = "Mi Cuenta"
		account_number = "Nº de cuenta"
		account_role_title = "Su posición"
		account_role_boss = "Jefe"
		account_role_member = "Miembro"
		account_total_title = "Contribuciones totales"
		account_total_amount = (number_to_currency((@user.account.total_support/100.to_f), unit: "") unless @user.account.total_support.nil?).to_s + " euros al mes"
		account_subscriptions_title = "Cantidad de suscripciones"
		account_status_title = "Estado de la cuenta"
		account_status_up = "Al corriente"
		account_status_problem = "Problema con un pago"
		account_status_paused = "En pause"
		account_status_beginner = "Prueba gratuita"
		account_invoice_title = "Mis datos de facturación"
		account_invoice_name = "Su nombre"
		account_invoice_id = "Su NIF/CIF..."
		account_invoice_address = "Su dirección..."
		account_boss_is = "El jefe de su cuenta es"
		
		subscriptions_title = "Mis suscripciones"
		subscriptions_active = "Activa"
		subscriptions_paused = "En pause"
		subscriptions_activate_button = "Activar"
		subscriptions_pause_button = "Pausar"
		subscriptions_number_title = "Nº"
		subscriptions_amount_title = "Base"
		subscriptions_vat_title = "IVA"
		subscriptions_total_title = "Total"
		subscriptions_created_title = "Fecha creación"
		subscriptions_last_title = "Último pago"
		subscriptions_period_title = "Frecuencia"
		subscriptions_next_title = "Siguiente pago"
		subscriptions_status_title = "Estado"
		subscriptions_members_title = "Miembros"
		subscriptions_activate_fix_first = "Para reactiavar su suscripción, arregle primero el problema"
		subscriptions_activate_fix_first_link = "con su último pago"
		
		invoices_title = "Mis facturas"
		invoices_apply_question = "¿Aplicar sus datos de facturación a las facturas vacías?"
		invoices_apply_button = "Aplicar ahora"
		invoices_all_filled = "Todas sus facturas contienen sus datos."
		
		payments_title = "Mis Pagos"
		payments_status_paid = "Pagado"
		payments_status_problem = "Problema"
		payments_status_refund = "Abonado"
		payments_refund_label = "Devolución"
	end
%>

<%# PROBLEMS %>
<div class="patrons-background padding-20 margin-bottom-20">
	<div class="float-left margin-right-5 mobile-width">
		<strong><%= problems_prompt %></strong>	
	</div>
	<div class="float-left mobile-width margin-right-5">
	 	matthew@thespainreport.es / (0034) 647 81 81 43. 
	</div>
	<div class="float-left mobile-width">
	 	<%= problems_message %>
	</div>
	<div class="clear"></div>

	<% flash.each do |key, value| %>
		<div class="margin-top-10 mobile-width">
			<span class="alert alert-<%= key %> padding-2"><%= value.html_safe %></span>
		</div>
	<% end %>
</div>


<% if current_user.status == 1 %>
<%= form_with(model: @user, local: true) do |form| %>
	<div class="patrons-background padding-20 margin-bottom-20">
		<div class="margin-bottom-10">
			<div class="float-left">
				<h3>Admin</h3>
			</div>
			
			<div class="float-left margin-top-15 margin-left-5">
				<%= form.submit save_button %>
			</div>
	
			<div class="clear"></div>
		</div>
		
		<div class="margin-bottom-10 admin-border-split padding-top-10">
			
			Frame: <%= form.number_field :frame_id %><br />
			Email conf? <%= form.check_box :email_confirmed %><br />
			<hr />
			Status: <%= form.select :status, options_for_select([["Author", "1"], ["Reader", "3"], ["Patron", "2"], ["Super Patron", "4"]], :selected => @user.status) %><br />
			Level amount: <%= form.number_field :level_amount %><br />
			Account role: <%= form.select :account_role, options_for_select([["Boss", "1"], ["Member", "2"]], :selected => @user.account_role) %>
			
		</div>
	</div>
<% end %>
<% else end %>


<%# LANGUAGE %>
<div class="patrons-background padding-left-20 padding-right-20 padding-bottom-10 margin-bottom-20">
	<%= form_with(model: @user, local: true) do |form| %>
		
		<div class="float-left">
			<h3><%= site_language_title %></h3>
		</div>
		
		<div class="float-left margin-top-15 margin-left-5">
			<%= form.select :sitelanguage, options_for_select(site_language_options, :selected => @user.sitelanguage), {}, {class: "padding-5"} %>
		</div>
		
		<div class="float-left margin-top-15 margin-left-5">
			<%= form.submit save_button %>
		</div>

		<div class="clear"></div>

	<% end %>
</div>


<%# EMAILS, PASSWORD, READ DATE, LEVEL %>
<div class="patrons-background padding-20 margin-bottom-20">
	<%= form_with(model: @user, local: true) do |form| %>
		
		<div class="margin-bottom-10">
			<div class="float-left">
				<h3><%= user_title %></h3>
			</div>
			
			<div class="float-left margin-top-15 margin-left-5">
				<%= form.submit save_button %>
			</div>
	
			<div class="clear"></div>
		</div>
		
		<div class="margin-bottom-10">
			<div class="margin-bottom-10">
				<div class="float-left padding-top-5 margin-right-5 mobile-width">
					<strong><%= your_current_email %>:</strong>
				</div>
				<div class="float-left padding-top-5 margin-right-5 mobile-width">
				 	<%= @user.email %>
				</div>
				<div class="float-left padding-top-5 mobile-width">
					<% case @user.email_confirmed when true %><span class="green-background-text padding-2"><%= your_current_email_status_good %></span>
					<% when false %><span class="red-background-text padding-2"><%= your_current_email_status_bad %></span>
					<% end %>
				</div>
				
				
				
				<div class="clear"></div>
			</div>
			
			<%= form.text_field :changing_email_to, :class => "mobile-width width-70 padding-5 font-header font-header-tiny", placeholder: your_new_email %>
			
			<div class="margin-top-5 font-italic font-main-small">
				(<%= your_new_email_explanation %>)
			</div>
		</div>
		
		<div class="margin-bottom-5 admin-border-split padding-top-10">
			<%= form.password_field :password, :class => "mobile-width width-70 padding-5 font-header font-header-tiny", placeholder: your_password %>
		</div>
		
		<div class="margin-bottom-10">
			<%= form.password_field :password_confirmation, :class => "mobile-width width-70 padding-5 font-header font-header-tiny", placeholder: your_password_confirm %>
		</div>
		
		<div class="margin-bottom-10 admin-border-split padding-top-10">
			<div class="float-left padding-top-5 margin-right-5 mobile-width">
				<strong><%= email_amount_title %>:</strong>	
			</div>
			<div class="float-left mobile-width">
			 	<%= form.select :emails, options_for_select(email_amount_options, :selected => @user.emails), {}, {class: "padding-5"} %>
			</div>
			<div class="clear"></div>
		</div>
		
		<div class="margin-bottom-10">
			<div class="float-left padding-top-5 margin-right-5 mobile-width">
				<strong><%= email_language_title %>:</strong>
			</div>
			<div class="float-left mobile-width">
				<%= form.select :emaillanguage, options_for_select(email_language_options, :selected => @user.emaillanguage), {}, {class: "padding-5"} %>
			</div>
			<div class="clear"></div>
		</div>
		
		
		<div class="padding-top-10 margin-bottom-10 admin-border-split">
			<div class="float-left padding-top-5 margin-right-5 mobile-width">
				<strong><%= can_read_title %>:</strong>	
			</div>
			<div class="float-left mobile-width">
				<% if current_user.status == 1 %>
			 		<%= form.datetime_field :can_read_date, :size => '35' %>
			 	<% else %>
			 		<%= form.datetime_field :can_read_date, :size => '35', disabled: true %>
			 	<% end %>
			</div>
			<div class="clear"></div>
		</div>
		
		<% if false %>	
			<div class="">
				<div class="float-left padding-top-5 margin-right-5 mobile-width">
					<strong><%= access_level_title %>:</strong>	
				</div>
				<div class="float-left margin-left-5 padding-top-5 mobile-width">
				 	<%= access_level %>
				</div>
				<div class="clear"></div
			</div>
		<% end %>
	</div>
	<% end %>
</div>

<% if false %>
<div class="patrons-background padding-20 margin-bottom-20">
	<%= form_with(model: user, local: true) do |form| %>
		<div class="margin-bottom-10">
			<div class="float-left">
				<h3><%= prints_title %></h3>
			</div>
			
			<% if @get_prints %>
				<div class="float-left margin-top-15 margin-left-5">
					<%= form.submit save_button %>
				</div>
			<% end %>
			
			<div class="clear"></div>
		</div>
		
		<div class="margin-bottom-10 font-main-small">
			<span class="padding-2"><%= prints_teaser %></span>
			<div class="margin-top-5">
				<% if @get_prints %><span class="green-background-text padding-2"><%= prints_level_good %></span>
				<% else %><span class="red-background-text padding-2"><%= prints_level_bad %></span>
				<% end %>
			</div>
		</div>
		
		<%= form.text_field :address_name, :class => "margin-bottom-5 width-50 padding-5 font-header font-header-tiny mobile-width", placeholder: prints_name, disabled: !@get_prints %><br />
		<%= form.text_field :address_street, :class => "margin-bottom-5 width-90 padding-5 font-header font-header-tiny mobile-width", placeholder: prints_street, disabled: !@get_prints %><br />
		<%= form.text_field :address_postcode, :class => "margin-bottom-5 width-50 padding-5 font-header font-header-tiny mobile-width", placeholder: prints_postcode, disabled: !@get_prints %><br />
		<%= form.text_field :address_country, :class => "margin-bottom-5 width-50 padding-5 font-header font-header-tiny mobile-width", placeholder: prints_country, disabled: !@get_prints %>
	<% end %>
	
	<% if @user.prints.any? %>
		<div class="margin-bottom-20">
			<h3><%= prints_latest %></h3>
			<%= image_tag ('https://image.thespainreport.es/' + File.basename(@user.prints.last.upload.data)) %>
		</div>
	<% else end %>
</div>
<% end %>

<div class="patrons-background padding-20 margin-bottom-20">
	<%= form_with model: @account, local: true do |form| %>
		<div class="margin-bottom-10">
			<div class="float-left">
				<h3><%= account_title %></h3>
			</div>
			
			<% if @boss %>
				<div class="float-left margin-top-15 margin-left-5">
					<%= form.submit save_button %>
				</div>
			<% end %>
			
			<div class="clear"></div>
		</div>	
		
	<div class="margin-bottom-5">
		<strong><%= account_number %>:</strong> <%= current_user.account_id %>
	</div>
	<div class="margin-bottom-5">
		<strong><%= account_role_title %>: </strong>
		
		<% case @role when 1 %> <%= account_role_boss %>
		<% when 2 %> <%= account_role_member %>
		<% end %>
	</div>
	
	<% if @admin || @boss %>
		<div class="margin-bottom-5">
			<strong><%= account_subscriptions_title %>:</strong> <%= @account.subscriptions.count %>
		</div>
		<div class="margin-bottom-5">
			<strong><%= account_status_title %>:</strong>

			<% case @account_status when 1 %><%= account_status_up %>
			<% when 2 %><%= account_status_problem %>
			<% when 3 %><%= account_status_paused %>
			<% when 4 %><%= account_status_beginner %>
			<% else end %>
		</div>
		<h3><%= account_invoice_title %></h3>

		<%= form.text_field :invoice_account_name, :class => "margin-bottom-5 width-50 padding-5 font-header font-header-tiny mobile-width", placeholder: account_invoice_name, disabled: !@accountpaying %><br />
		<%= form.text_field :invoice_account_tax_id, :class => "margin-bottom-5 width-30 padding-5 font-header font-header-tiny mobile-width", placeholder: account_invoice_id, disabled: !@accountpaying %><br />
		<%= form.text_field :invoice_account_address, :class => "margin-bottom-5 width-90 padding-5 font-header font-header-tiny mobile-width", placeholder: account_invoice_address, disabled: !@accountpaying %>
	<% else end %>
	<% end %>
	
	<% if @member %>
		<% if @user.account.users.where(account_role: 1).any? %>
			<%= account_boss_is %>: <strong><%= @user.account.users.where(account_role: 1).last.email %></strong>
		<% else end %>
	<% end %>
	
	<% if @admin || @boss %>
	<div class="margin-top-10">
		<% if !@user.account.invoices.any? %>
		
		<% elsif @empty_invoices.any? %>
			<div class="">
				<%= invoices_apply_question %>
			</div>
			<div class="padding-5">
				<%= form_with model: @invoice, url: apply_invoice_details_invoice_path, local: true do |form| %>
					<%= form.submit invoices_apply_button %>
				<% end %>
			</div>
			<div class="clear"></div>
		<% else !@empty_invoices.any? %>
			<span class="green-background-text padding-2"><%= invoices_all_filled %></span>
		<% end %>
	</div>
	<% end %>
</div>

<% if @admin || @boss %>
	<% if @accountpaying && @unassigned_members.any? %>
		<div class="patrons-background padding-20 margin-bottom-20">
			<% @unassigned_members.each do |m| %>
				<%= m.email %>, 
			<% end %>
		</div>
	<% else end %>
	


<div class="patrons-background margin-bottom-20 padding-20">
	<div class="">
		<% if @user.status == 2 && @user.account.subscriptions.empty? %>
			<% case @user.sitelanguage when 1 %> Subscription: Patreon.
			<% when 2 %> Suscripción: Patreon.
			<% end %>
			
		<% else %> 
			<h3><%= subscriptions_title %></h3>
				
			<% @user.account.subscriptions.each do |s| %>
				<div class="margin-bottom-5">
					<strong><%= subscriptions_number_title %>:</strong> <%= s.id %>
				</div>
				<div class="margin-bottom-5">
					<strong><%= subscriptions_amount_title %>:</strong> <%= number_to_currency((s.plan_amount.to_f/100.to_f), unit: "€") %>
				</div>
				<div class="margin-bottom-5">
					<strong><%= subscriptions_vat_title %>:</strong> <%= number_to_currency((s.vat_amount.to_f/100.to_f), unit: "€") %>
				</div>
				<div class="margin-bottom-5">
					<strong><%= subscriptions_total_title %>:</strong> <%= number_to_currency((s.total_amount.to_f/100.to_f), unit: "€") %>
				</div>
				<div class="margin-bottom-5">
					<strong><%= subscriptions_created_title %>:</strong> <%= s.created_at.strftime("%d/%m/%Y") %>
				</div>
				<div class="margin-bottom-5">
					<strong><%= subscriptions_last_title %>:</strong> <%= s.last_payment_date.strftime("%d/%m/%Y") unless s.last_payment_date.nil? %>
				</div>
				<div class="margin-bottom-5">
					<strong><%= subscriptions_period_title %>:</strong> 
						<% case s.payment_period when "month" %>
							<% case @user.sitelanguage when 1 %> Each month
							<% when 2 %> Cada mes
							<% end %>
						<% when "year" %>
							<% case @user.sitelanguage when 1 %> Each year
							<% when 2 %> Cada año
							<% end %>
						<% when "one_time" %>
							<% case @user.sitelanguage when 1 %> One-time payment
							<% when 2 %> Pago único
							<% end %>
						<% end %>
				</div>
				<div class="margin-bottom-5">
					<strong><%= subscriptions_next_title %>:</strong> <%= s.next_payment_date.strftime("%d/%m/%Y") unless s.next_payment_date.nil? %>
				</div>
				<div class="">
					<strong><%= subscriptions_status_title %>:</strong>
					<% if s.is_active == true %>
						<span class="green-background-text padding-3"><%= subscriptions_active %></span>
						<%= form_with model: s, url: pause_subscription_path(s), local: true, :class => "display-inline" do |form| %>
							<%= form.submit subscriptions_pause_button, :class => "padding-5" %>
						<% end %>
					<% elsif s.is_active == false && s.payments.last.status == "problem" %>
						<span class="red-background-text padding-3"><%= subscriptions_paused %></span>
						<%= form_with model: s, url: reactivate_subscription_payment_path(s.reactivate_token), local: true, :class => "display-inline" do |form| %>
							<%= form.submit subscriptions_activate_button, :class => "greyedout", :disabled => true %>
						<% end %>
						<div class="margin-top-5">
							<span class="red-background-text padding-3"><%= subscriptions_activate_fix_first %> <%= link_to subscriptions_activate_fix_first_link, reactivate_subscription_payment_path(s.reactivate_token) %></span>
						</div>
					<% else %>
						<span class="red-background-text padding-3"><%= subscriptions_paused %></span>
						<%= form_with model: s, url: reactivate_subscription_payment_path(s.reactivate_token), local: true, :class => "display-inline" do |form| %>
							<%= form.submit subscriptions_activate_button, :class => "padding-5" %>
						<% end %>
					<% end %>
				</div>

			<% if false %>
				<div class="margin-bottom-5">
					<h3><%= subscriptions_members_title %></h3>
				</div>


					
					<% if @user.account.subscriptions.empty? %>
						<tr><td colspan="6">
							--/--
						</td></tr>
					<% end %>
					
						
						<div class="margin-left-30">
							<div class="margin-top-5">
								<% case @language when 1 %>Used: <strong><%= number_to_currency((@subscription_spent.to_f/100.to_f), unit: "€") %></strong> | Remaining: <strong><%= number_to_currency((@subscription_remaining.to_f/100.to_f), unit: "€") %></strong>
								<% when 2 %>Empleado: <strong><%= number_to_currency((@subscription_spent.to_f/100.to_f), unit: "") %> euros</strong> | Restante: <strong><%= number_to_currency((@subscription_remaining.to_f/100.to_f), unit: "") %> euros</strong>
								<% end %>
							</div>
							<hr />
							
							<% if @members.any? %>
								<% @members.each do |m| %>
									<div class="margin-top-5">
										<%= number_to_currency((m.level_amount.to_f/100.to_f), unit: "€") %> 
										
	   									| <%= form_with model: m, url: update_level_amount_user_path(m), :class => "display-inline", local: true do |f| %>
											<%= f.select :level_amount, [["0", 0], ["5", 500], ["10", 1000], ["25", 2500]], {}, {selected: m.level_amount, onchange: "this.form.submit()", :class => "padding-2", disabled: (!@patron || s.is_active == false)} %>
										<% end %>
										
										| <%= m.email %>
										
										<% case m.account_role when 1 %>
										<% when 2 %>
											| 
											<%= link_to unlink_subscription_member_user_url(m), data: { confirm: 'Are you sure?' } do %>
												<% case @language when 1 %>Unlink
												<% when 2 %>Quitar
												<% end %>
											<% end %>
										<% end %>
									</div>
								<% end %>
							<% end %>
							<hr />
							<div class="margin-top-5">
								<div class="margin-bottom-5 font-bold">
									<% case @language when 1 %>Add more friends to this subscription:
									<% when 2 %>Añada a más amigos a esta suscripción:
									<% end %>
								</div>
								<% if @subscription_remaining > 0 %>
									
									<%= form_with model: @user, url: account_boss_adds_user_user_path(@user), local: true do |f| %>
									
										
										<div class="float-left width-50 mobile-width">
											<input type="email" name="email_for_server" id="email" placeholder="Enter new e-mail…" class="padding-5 font-header font-header-tiny width-90 mobile-width">	
										</div>
										<div class="float-left padding-top-3 mobile-width">
										 	<select id="level_amount" name="level_amount" class="padding-5">
												<option value="0">0</option>
												<% if @subscription_remaining >= 500 %>
													<option value="500">5</option>
												<% end %>
												<% if @subscription_remaining >= 1000 %>
													<option value="1000">10</option>
												<% end %>
												<% if @subscription_remaining >= 2500 %>
													<option value="2500">25</option>
												<% else end %>
											</select>
											<input type="hidden" name="account_id" id="account_id" value="<%= @user.account.id %>">
											<input type="hidden" name="subscription_id" id="subscription_id" value="<%= @user.account.subscriptions.last.id %>">
											<input type="hidden" name="frame_for_server" id="frame_for_server" value="<%= @user.frame.id %>">
											<input type="hidden" name="article_for_server" id="article_for_server" value="Added by <%= @user.email %>">
											<input type="hidden" name="language_for_server" id="language_for_server" value="<%= @user.sitelanguage %>">
											<button type="submit" class="linkbutton padding-5">Add User</button>
										</div>
										<div class="clear"></div>
									<% end %>
				
								
								<% else %> 
									<%= form_tag '/account_boss_adds_user',  :style => 'margin-bottom: 5px;', :id => 'account_boss_adds_user' do %>
										<input type="email" name="email_for_server" id="email" placeholder="Enter new e-mail…" class="padding-5">
										<select id="level_amount" name="level_amount" class="padding-5" disabled>
												<option value="0">0</option>
												<option value="500">5</option>
												<option value="1000">10</option>
												<option value="2500">25</option>
										</select>

										<button type="submit" class="greyedout padding-5" disabled>
											<% case @language when 1 %>Add Friend
											<% when 2 %>Añadir Amigo
											<% end %>
										</button>
									<% end %>
									
									<% case @language when 1 %>Increase your subscription amount to add more friends....
									<% when 2 %>Aumente la cantidad de su suscripción para añadir a más amigos...
									<% end %>
									
								<% end %>
							</div>
						</div>
			<% end %>
			
			
					
			<% end %>
		<% end %>
	</div>
</div>


	<div class="patrons-background padding-20 margin-bottom-20">	
		<h3><%= invoices_title %></h3>
		
		<table class="admin-table">
			<tr style="font-weight: bold;">
				
				<td class="right">
					<% case @user.sitelanguage when 1 %>Date
					<% when 2 %>Fecha
					<% end %>
				</td>
				<td>Nº</td>
				<td>Type</td>
				<td>Operation</td>
				<td class="right">
					Total
				</td>
				
				<td class="right">
					<% case @user.sitelanguage when 1 %>Status
					<% when 2 %>Estado
					<% end %>
				</td>
				<td class="right">
					<% case @user.sitelanguage when 1 %>Print
					<% when 2 %>Imprimir
					<% end %>
				</td>
			</tr>
			
			<% if @user.account.invoices.empty? %>
				<tr><td colspan="8">
					--/--
				</td></tr>
			<% end %>
			
			<% @user.account.invoices.order('created_at DESC').each do |i| %>
				<tr class="<%= cycle("odd", "even") -%>">
					<td class="left">
						<% if current_user.status == 1 %>
							<%= link_to i.created_at.strftime("%d/%m/%Y"), edit_invoice_path(i) %>
						<% else %>
							<%= i.created_at.strftime("%d/%m/%Y") %>
						<% end %>
					</td>
					<td class="left">
						<%= i.invoice_number %>
					</td>
					<td class="left">
						<span class="label font-main-tiny invoice-<%= i.invoice_type %>">
							<% case i.invoice_type when "full" %>
								<% case @language when 1 %>Full
								<% when 2 %>Completa
								<% end %>
							<% when "simple" %>
								<% case @language when 1 %>Simple
								<% when 2 %>Simplificada
								<% end %>
							<% when "correction" %>
								<% case @language when 1 %>Correction
								<% when 2 %>Rectificación
								<% end %>
							<% end %>
						</span>
					</td>
					<td class="left">
						<span class="label font-main-tiny invoice-<%= i.invoice_operation %>">
							<% case i.invoice_operation when "payment" %>
								<% case @language when 1 %>Payment
								<% when 2 %>Pago
								<% end %>
							<% when "refund" %>
								<% case @language when 1 %>Refund
								<% when 2 %>Abono
								<% end %>
							<% when "exchange" %>
								<% case @language when 1 %>Exchange
								<% when 2 %>Canje
								<% end %>
							<% when "error" %>
								<% case @language when 1 %>Error
								<% when 2 %>Error
								<% end %>
							<% end %>
						</span>
					</td>
					
					<td class="right"><%= number_to_currency((i.total_amount.to_f/100.to_f), unit: "€") %></td>
					<td class="right">
						<% case i.invoice_status when true %><span class="invoice-payment label font-main-tiny">Paid</span>
						<% when false %><span class="red-background-text padding-2">Unpaid</span>
						<% else %>Nil
						<% end %>
					</td>
					<td class="right">
						<%= link_to i do %>
							<% case @language when 1 %>Print
							<% when 2 %>Imprimir
							<% end %>
						<% end %>
					</td>
					
					<td class="left">
						<% if i.original.present? %>
							<%= link_to i.original.id, i.original %>
						<% else %>
						<% end %>
						
						<% if ["exchange", "refund"].include?(i.invoice_operation) || i.operations.where(invoice_operation: "exchange").count > 0 %>
						<% else %>
							<%= link_to exchange_payment_path(i) do %>
								<% case @language when 1 %>Exchange
								<% when 2 %>Canje
								<% end %>
							<% end %>
						<% end %>
					</td>
				</tr>
			<% end %>
		</table>
	</div>
	
	
	<div class="patrons-background padding-20">	
		<h3>
			<h3><%= payments_title %></h3>
		</h3>
		
		<table class="admin-table">
		
		<tr class="font-bold">
			<td>Nº</td>
			<td>Date</td>
			<td>Amount</td>
			<td>Type</td>
			<td>Status</td>
		</tr>
		
		<% @payments.each do |p| %>
			<tr>
				<td class="left">
					<% if p.external_payment_id.nil? %>
						<%= p.id %>
					<% else %>
						<%= link_to p.id, fix_problem_payment_path(p.external_payment_id) %>
					<% end %>
				</td>
				<td class="left"><%= p.created_at.strftime("%d/%m/%Y") %></td>
				<td class="right"><%= number_to_currency((p.total_amount.to_f/100.to_f), unit: "€") %></td>
				<td class="align-left"><%= p.payment_type %></td>
				<td class="left">
					<% case p.status when "paid" %><span class="label font-main-tiny invoice-payment"><%= payments_status_paid %></span>
					<% when "refunded" %><span class="label font-main-tiny invoice-refund"><%= payments_status_refund %></span>
					<% when "problem" %><span class="label font-main-tiny invoice-refund"><%= payments_status_problem %></span>
					<% end %>
				</td>
				<% if p.status == "paid" %>
				
					<% if p.created_at < 15.days.ago %>
					
					<% else %>
						<td>
							<%= link_to payments_refund_label, refund_payment_path(p.external_payment_id) %>
						</td>	
					<% end %>
				<% end %>
			</tr>
		<% end %>
		
		</table>
	</div>
<% end %>