<%= form_with(model: user, local: true) do |form| %>
	<% if user.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

			<ul>
			<% user.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
			</ul>
		</div>
	<% end %>

<div class="patrons-background padding-20 margin-bottom-20">
	<div class="margin-bottom-10">
		<div class="float-left">
			<% case @language when 1 %><%= form.submit "Save" %>
			<% when 2 %><%= form.submit "Guardar" %>
			<% end %>
		</div>
		
		<div class="float-left margin-top-5 margin-left-5">
			<% flash.each do |key, value| %>
				<span class="alert alert-<%= key %> padding-5"><%= value.html_safe %></span>
			<% end %>
		</div>
		<div class="clear"></div>
	</div>
	
	<div class="margin-bottom-10">
		<%= form.text_field :email, :class => "width-70 padding-5 font-header font-header-tiny", placeholder: "Your email…" %>
		<div class="margin-top-10">
			<%= render "users/user_messages" %>
		</div>	
	</div>
	
	<div class="margin-bottom-10 admin-border-split padding-top-10">
		<% case @language when 1 %><%= form.password_field :password, :class => "width-70 padding-5 font-header font-header-tiny", placeholder: "New password…" %>
		<% when 2 %><%= form.password_field :password, :class => "width-70 padding-5 font-header font-header-tiny", placeholder: "Contraseña nueva…" %>
		<% end %>
		
	</div>
	
	<div class="margin-bottom-10">
		<% case @language when 1 %><%= form.password_field :password_confirmation, :class => "width-70 padding-5 font-header font-header-tiny", placeholder: "Confirm new password…" %>
		<% when 2 %><%= form.password_field :password_confirmation, :class => "width-70 padding-5 font-header font-header-tiny", placeholder: "Confirme la contraseña nueva…" %>
		<% end %>
		
		
	</div>
	
	<div class="margin-bottom-10 admin-border-split padding-top-10">
		<% if current_user.nil? %>
		<% elsif current_user.sitelanguage == 1 %>Email amount:
			<%= form.select :emails, options_for_select([["I want all articles & latest news", "1"], ["I only want full articles", "2"], ["I only want announcements", "3"], ["I don't want any emails at all", "4"]], :selected => @user.emails) %>
		<% elsif current_user.sitelanguage == 2 %>Cantidad de correos:
			<%= form.select :emails, options_for_select([["Quiero artículos y la última hora", "1"], ["Sólo quiero artículos completos", "2"], ["Sólo quiero avisos", "3"], ["No quiero ningún correo", "4"]], :selected => @user.emails) %>
		<% else end %> 
	</div>
	
	<div class="margin-bottom-10">
		<% if current_user.nil? %>
		<% elsif current_user.sitelanguage == 1 %>Email language: 
			<%= form.select :emaillanguage, options_for_select([["I only want emails in English", "1"], ["I only want emails in Spanish", "2"], ["I want emails in English & Spanish", "3"]], :selected => @user.emaillanguage) %>
		<% elsif current_user.sitelanguage == 2 %>Idioma de los correos:
			<%= form.select :emaillanguage, options_for_select([["Sólo quiero los correos en inglés", "1"], ["Sólo quiero los correos en español", "2"], ["Quiero los correos en inglés y en español", "3"]], :selected => @user.emaillanguage) %>
		<% else end %> 
	</div>
	
	<div class="margin-bottom-10">
		<% if current_user.nil? %>
		<% elsif current_user.sitelanguage == 1 %>Site language: 
			<%= form.select :sitelanguage, options_for_select([["English", "1"], ["Spanish", "2"]], :selected => @user.sitelanguage) %>
		<% elsif current_user.sitelanguage == 2 %>Idioma para la página web:
			<%= form.select :sitelanguage, options_for_select([["Inglés", "1"], ["Español", "2"]], :selected => @user.sitelanguage) %>
		<% else end %>  
	</div>
	
	<div class="margin-bottom-10 admin-border-split padding-top-10">
		<% if current_user.nil? %>
		
		<% elsif current_user.status == 1 %>
			Frame: <%= form.number_field :frame_id %><br />
			Email conf? <%= form.check_box :email_confirmed %><br />
			<hr />
			Status: <%= form.select :status, options_for_select([["Author", "1"], ["Reader", "3"], ["Patron", "2"], ["Super Patron", "4"]], :selected => @user.status) %><br />
			Level amount: <%= form.number_field :level_amount %><br />
			<hr />
			Can read? <%= form.check_box :can_read %><br />
			Can read date: <%= form.datetime_field :can_read_date, :size => '35' %>
			<hr />
		<% else %>
		<% end %>
	</div>
	
	<%# ACCOUNT INFORMATION %>
	<div class="margin-bottom-10">
		<strong>
			<% case @user.sitelanguage when 1 %> Account ID:
			<% when 2 %> Nº de Cuenta:
			<% end %>
		</strong>
		
		<% if current_user.nil? %>
		<% elsif current_user.status == 1 %>
			<%= form.number_field :account_id %>
		<% else %>
			<%= current_user.account_id %> 
		<% end %>
		
		<br />
		
		<strong>
			<% case @user.sitelanguage when 1 %> Role:
			<% when 2 %> Papel:
			<% end %>
		</strong>
		
		<% if current_user.nil? %>
		<% elsif current_user.status == 1 %>
			<%= form.select :account_role, options_for_select([["Group Owner", "1"], ["Group Member", "2"]], :selected => @user.account_role) %> 
		<% else %>
			<% unless current_user.account.nil?; case current_user.account_role when 1 %>
				<% case @user.sitelanguage when 1 %> Group owner
				<% when 2 %> Líder del grupo
				<% end %>
			<% when 2 %>
				<% case @user.sitelanguage when 1 %> Group member
				<% when 2 %> Miembro del grupo
				<% end %>
			<% else end end %>
		<% end %>
		
		<% if current_user.account_role == 1 %>
			<br />
			
			<strong>
				<% case @user.sitelanguage when 1 %> Total support:
				<% when 2 %> Apoyo total:
				<% end %>
			</strong>
			
			<%= number_to_currency((@user.account.total_support/100.to_f), unit: "€") %><br />
			<strong>Invoice name:</strong> <%= @user.account.invoice_account_name %><br />
			<strong>Invoice tax ID:</strong> <%= @user.account.invoice_account_tax_id %><br />
			<strong>Invoice address:</strong> <%= @user.account.invoice_account_address %><br />
		<% else end %>
		
		<hr />
		
		<strong>
			<% case @user.sitelanguage when 1 %> Status:
			<% when 2 %> Estado:
			<% end %>
		</strong>
		
		<% unless current_user.account.nil?; case current_user.account.account_status when 1 %>
			Up-to-date
		<% when 2 %>
			Declined
		<% when 3 %>
			Cancelled
		<% when 4 %>
			<% case @user.sitelanguage when 1 %> Free Beginner
			<% when 2 %> Principiante gratuito
			<% end %>
		<% else end end %>
		
		<br />
		
		<strong>
			<% case @user.sitelanguage when 1 %> Can read until:
			<% when 2 %> Puede leer hasta:
			<% end %>
		</strong>
		<% case @user.sitelanguage when 1 %><%= @can_read_date.strftime("%b %d, %Y") %>
		<% when 2 %><%= @can_read_date.strftime("%d/%m/%Y") %>
		<% end %>
	</div>


	
	
	<div class="margin-bottom-10 admin-border-split padding-top-10">
		<strong>Problems?</strong> matthew@thespainreport.es / (0034) 647 81 81 43. We'll fix it together.
	</div>
</div>


<div class="patrons-background padding-20">
	<div class="margin-bottom-10">
		<% if @user.status == 2 && @user.account.subscriptions.empty? %>
			<% case @user.sitelanguage when 1 %> Subscription: Patreon.
			<% when 2 %> Suscripción: Patreon.
			<% end %>
			
		<% else %> 
			<% unless @user.account.nil? %>
				<h3>
					<% case @user.sitelanguage when 1 %> Subscriptions
					<% when 2 %> Suscripciones
					<% end %>
				</h3>
				
				<table class="admin-table">
					<tr style="font-weight: bold;" >
						<td>Nº</td>
						<td class="right">
							<% case @user.sitelanguage when 1 %>Amount
							<% when 2 %>Cantidad
							<% end %>
						</td>
						<td class="right">
							<% case @user.sitelanguage when 1 %>VAT
							<% when 2 %>IVA
							<% end %>
						</td>
						<td class="right">
							Total
						</td>
						<td class="right">
							<% case @user.sitelanguage when 1 %>Created
							<% when 2 %>Creado
							<% end %>
						</td>
						<td class="right">
							<% case @user.sitelanguage when 1 %>Next payment
							<% when 2 %>Siguiente pago
							<% end %>
						</td>
					</tr>
					
					<% if @user.account.subscriptions.empty? %>
						<tr><td colspan="6">
							--/--
						</td></tr>
					<% end %>
					
					<% @user.account.subscriptions.each do |s| %>
						<tr class="<%= cycle("odd", "even") -%>">
							<td class="right"><%= s.id %></td>
							<td class="right"><%= number_to_currency((s.plan_amount.to_f/100.to_f), unit: "€") %></td>
							<td class="right"><%= number_to_currency((s.vat_amount.to_f/100.to_f), unit: "€") %></td>
							<td class="right"><%= number_to_currency((s.total_amount.to_f/100.to_f), unit: "€") %></td>
							<td class="right"><%= s.created_at.strftime("%d/%m/%Y") %></td>
							<td class="right"><%= s.next_payment_date.strftime("%d/%m/%Y") %></td>
						</tr>
					<% end %>
				</table>
				
				<h3>
					<% case @user.sitelanguage when 1 %> Invoices
					<% when 2 %> Facturas
					<% end %>
				</h3>
				<table class="admin-table">
					<tr style="font-weight: bold;" >
						
						<td class="right">
							<% case @user.sitelanguage when 1 %>Date
							<% when 2 %>Fecha
							<% end %>
						</td>
						<td>Nº</td>
						<td class="right">
							<% case @user.sitelanguage when 1 %>Subscr.
							<% when 2 %>Suscr.
							<% end %>
						</td>
						<td class="right">
							<% case @user.sitelanguage when 1 %>Amount
							<% when 2 %>Cantidad
							<% end %>
						</td>
						<td class="right">
							<% case @user.sitelanguage when 1 %>VAT
							<% when 2 %>IVA
							<% end %>
						</td>
						<td class="right">
							Total
						</td>
						
						<td class="right">
							<% case @user.sitelanguage when 1 %>Status
							<% when 2 %>Estado
							<% end %>
						</td>
						<td class="right">
							<% case @user.sitelanguage when 1 %>Print
							<% when 2 %>Imprimir
							<% end %>
						</td>
					</tr>
					
					<% if @user.account.invoices.empty? %>
						<tr><td colspan="8">
							--/--
						</td></tr>
					<% end %>
					
					<% @user.account.invoices.each do |i| %>
						<tr class="<%= cycle("odd", "even") -%>">
							<td class="right"><%= i.created_at.strftime("%d/%m/%Y") %></td>
							<td class="left"><%= i.invoice_number %></td>
							<td class="right"><%= i.subscription_id %></td>
							<td class="right"><%= number_to_currency((i.plan_amount.to_f/100.to_f), unit: "€") %></td>
							<td class="right"><%= number_to_currency((i.tax_amount.to_f/100.to_f), unit: "€") %></td>
							<td class="right"><%= number_to_currency((i.total_amount.to_f/100.to_f), unit: "€") %></td>
							
							<td class="right"><%= i.invoice_status %></td>
							<td class="right"><%= link_to "print", i %></td>
						</tr>
					<% end %>
				</table>
				
			<% end %>
		<% end %>
	</div>
</div>
<% end %>