<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="margin-bottom-10">
    Email: <%= form.text_field :email %>
  </div>
  
  <div class="margin-bottom-10">
    Emails: <%= form.select :emails, options_for_select([["Articles & Headlines", "1"], ["Articles only", "2"], ["Announcements only", "3"], ["No email at all", "4"]], :selected => @user.emails) %>
  </div>
  
  <div class="margin-bottom-10">
    Email language: <%= form.select :emaillanguage, options_for_select([["English", "1"], ["Spanish", "2"], ["English & Spanish", "3"]], :selected => @user.emaillanguage) %>
  </div>
  
  <div class="margin-bottom-10">
    Site language: <%= form.select :sitelanguage, options_for_select([["English", "1"], ["Spanish", "2"]], :selected => @user.sitelanguage) %>
  </div>

  <div class="margin-bottom-10">
    <hr />
    Role: <%= form.select :role, options_for_select([["Editor", "1"], ["Patron", "2"], ["Reader", "3"]], :selected => @user.role) %> | Email confirmed? <%= form.check_box :email_confirmed %>
    <hr />
  </div>

  <div class="margin-bottom-10">
    <%= form.submit %>
  </div>
<% end %>