<div class="padding-bottom-20 margin-bottom-10 log-in-border">
	<% if current_user.nil? %>
		<p class="font-main-small"><em>
			<% if controller_name == "home" %>
				<%= @frame.patrons_extra_home %>
			<% elsif controller_name == "articles" && action_name == "show" %>
				<% if @article.extras_video_title.present? %>
					<%= @frame.patrons_extra_videos %>
				<% elsif @article.extras_audio_title.present? %>
					<%= @frame.patrons_extra_videos %>
				<% elsif ["Photos", "Fotos"].include?(@article.type.name) %>
					<%= @frame.patrons_extra_photos %>
				<% elsif ["Patrons Column", "Columna Mecenas"].include?(@article.type.name) %>
					<%= @frame.patrons_extra_column %>
				<% else end %>
			<% else end %>
		</em></p>
		
		<%= form_tag '/login' do %>
			<% if controller_name == "users" && action_name == "login" || controller_name == "home" && action_name == "index" || controller_name == "articles" && action_name == "show" && @article.language_id == 1 %>
				<div class="float-left margin-right-10 width-100 margin-top-5">
					<%= text_field_tag 'email', nil, class: 'padding-10 width-90', placeholder: 'Your e-mail…' %>
				</div>
				<div class="float-left margin-right-10 width-100 margin-top-5">
					<%= password_field_tag 'password', nil, class: 'padding-10 width-90', placeholder: 'Your password…' %>
				</div>
				<div class="float-left margin-top-5 margin-right-5">
					<button type="submit" class="padding-7 font-main-small">Log in</button>
				</div>
				<div class="float-left margin-top-10 margin-right-5">
					| <a href="/password">New password?</a>
				</div>
				<div class="float-left margin-top-10">
					| <a href="/value">Become a patron now</a>
				</div>
			<% elsif controller_name == "users" && action_name == "entrar" || controller_name == "home" && action_name == "es" || controller_name == "articles" && action_name == "show" && @article.language_id == 2 %>
				<div class="float-left margin-right-10 width-100 margin-top-5">
					<%= text_field_tag 'email', nil, class: 'padding-10 width-90', placeholder: 'Su correo…' %>
				</div>
				<div class="float-left margin-right-10 width-100 margin-top-5">
					<%= password_field_tag 'password', nil, class: 'padding-10 width-90', placeholder: 'Su contraseña…' %>
				</div>
				<div class="float-left margin-top-5 margin-right-5">
					<button type="submit" class="padding-7 font-main-small">Entrar</button>
				</div>
				<div class="float-left margin-top-10 margin-right-5">
					| <a href="/clave">¿Contraseña nueva?</a>
				</div>
				<div class="float-left margin-top-10">
					| <a href="/valor">Apúntese como mecenas ahora</a>
				</div>
			<% else end %>
			<div class="clear"></div>
		<% end %>
		
	<% elsif !current_user.nil? %>
		<div class="margin-top-20 log-in-border-top font-main-small">
			
			<div class="font-main-small margin-top-10 padding-top-10">
				<em>
					<%= render "users/user_messages" %>
				</em>
			</div>
		
			
			<div class="admin-border-split margin-top-10 padding-top-10">
				
				<%= render "users/user_labels" %>
				
				<div class="float-left">
					<% case @status when 1 %>
						<%= link_to 'Send', new_tweet_path %> |
					<% end %>
					<%= current_user.email %>
					| 
					<% case @language when 1 %> <%= link_to 'I am a patron', edit_user_path(current_user) %>
					<% when 2 %> <%= link_to 'Yo soy mecenas', edit_user_path(current_user) %>
					<% end %>
					| 
					<% case @language when 1 %> <%= link_to 'Logout', users_logout_path %>
					<% when 2 %> <%= link_to 'Salir', users_logout_path %>
					<% end %>
				</div>
				<div class="clear"></div>
			</div>
			
			
			<div class="admin-border-split margin-top-10 padding-top-10">
				Problems? matthew@thespainreport.com / (0034) 647 81 81 43 / @matthewbennett
			</div>
		</div>
	<% else end %>
</div>
<div class="clear"></div>