<div class="buy-border-top margin-top-30 padding-top-20">
	<span class="font-bold font-main-normal"><%= @frame.email_reader_header %></span>
	
	<p class="margin-top-10">
		<%= @frame.email_reader_text %>
	</p>
	
	<%= form_tag '/new_reader' do |f| %>
		<div class="width-100">
			<div class="float-left margin-right-10 width-100 margin-top">
				<input type="email" name="email" id="email" class="padding-10 width-90" placeholder="<%= @frame.email_reader_placeholder %>" />
			</div>
			<div class="float-left margin-top-5">
				<button type="submit" class="padding-7 font-main-small"><%= @frame.email_reader_button %></button>
			</div>
			<div class="clear"></div>
		</div>
		<input type="hidden" id="set_language" name="set_language" value="<%= @language %>" />
		<input type="hidden" id="article_id" name="article_id" value="<%= @article_id %>" />
		<input type="hidden" id="frame_id" name="frame_id" value="<%= @frame_id %>" />
	<% end %>
	
	<% flash.each do |key, value| %>
		<div class="alert alert-<%= key %>"><p><%= value.html_safe %></p></div>
	<% end %>
</div>