<div class="buy-border margin-top-30 padding-20">
	<span class="font-bold font-main-normal"><%= @frame.email_reader_header %></span>
	
	<p class="margin-top-10">
		<%= @frame.email_reader_text %>
	</p>
	
	<%= form_tag '/new_reader' do |f| %>
		<div class="width-100">
			<div class="float-left margin-right-10 width-100 margin-top">
				<input type="email_for_server" name="email_for_server" id="email_for_server" class="padding-10 width-90" placeholder="<%= @frame.email_reader_placeholder %>" />
			</div>
			<div class="float-left align-centre margin-top-5 width-100">
				<button type="submit" class="width-50 padding-7 font-main-small"><%= @frame.email_reader_button %></button>
			</div>
			<div class="clear"></div>
		</div>
		<input type="hidden" id="language_for_server" name="language_for_server" value="<%= @language %>" />
		<input type="hidden" id="article_for_server" name="article_for_server" value="<%= yield(:title) %>" />
		<input type="hidden" id="frame_for_server" name="frame_for_server" value="<%= @frame_id %>" />
	<% end %>
	
	<% flash.each do |key, value| %>
		<div class="alert alert-<%= key %>"><p><%= value.html_safe unless value.nil? %></p></div>
	<% end %>
</div>