<% 
case @language when 1
	subscriptions_title = "Your contributions"
	subscriptions_manage_here = "manage here"
	
	subscriptions_period_month = "Each month"
	subscriptions_period_year = "Each year"
	subscriptions_period_one_time = "One-time payment"
	
	subscriptions_active = "Active"
	subscriptions_paused = "Paused"
	subscriptions_problem = "PROBLEM"
	
	subscriptions_last = "Last"
	subscriptions_next = "Next"
	
	subscriptions_reactivate = "Reactivate"
	subscriptions_increase = "Increase"
	subscriptions_give_more = "Give more"
	subscriptions_link = "https://www.thespainreport.es/value/guarantee"
when 2
	subscriptions_title = "Sus contribuciones"
	subscriptions_manage_here = "gestionar aquí"
	
	subscriptions_period_month = "Cada mes"
	subscriptions_period_year = "Cada año"
	subscriptions_period_one_time = "Pago único"
	
	subscriptions_active = "Activa"
	subscriptions_paused = "En pause"
	subscriptions_problem = "Problema"
	
	subscriptions_last = "Último"
	subscriptions_next = "Siguiente"
	
	subscriptions_reactivate = "Reactivar"
	subscriptions_increase = "Aumentar"
	subscriptions_give_more = "Dar más"
	subscriptions_link = "https://www.thespainreport.es/valor/garantizar"
end
%>

<strong><%= subscriptions_title %>:</strong> <a href="https://www.thespainreport.es/login"><%= subscriptions_manage_here %></a>

<% if !@user.account.subscriptions.blank? %>

	<ul>
	<% @user.account.subscriptions.each do |s| %>
		<li>
			<%= (number_to_currency((s.total_amount/100.to_f), unit: "€")).to_s %> | 
			<% case s.payment_period when "month" %><%= subscriptions_period_month %>
			<% when "year" %><%= subscriptions_period_year %>
			<% when "one_time" %><%= subscriptions_period_one_time %>
			<% end %>
			| 
			<% if s.is_active == true %><span style="background-color: #ccffcc; color: green;"><%= subscriptions_active %></span>
			<% elsif s.is_active == false %><span style="background-color: #ffe6e6; color: #ff0000;"><%= subscriptions_paused %></span>
			<% else end %>
			 | 
			<%= subscriptions_last %>: <%= s.last_payment_date.strftime("%d/%m/%Y") %> | 
			<%= subscriptions_next %>: <%= s.next_payment_date.strftime("%d/%m/%Y") %> | 
			
			<% if s.is_active == false %>
				 <%= link_to subscriptions_reactivate, reactivate_subscription_payment_url(s.reactivate_token) %>
			<% elsif ["month", "year"].include?(s.payment_period) %>
				<%= link_to subscriptions_increase, subscriptions_link %>
			<% elsif ["one_time"].include?(s.payment_period) %>
				<%= link_to subscriptions_give_more, subscriptions_link %>
			<% else end %>
		</li>
	<% end %>
	</ul>

<% else end %>

<% if @patron && @user.account.subscriptions.blank? %>
	<ul>
		<li>
			<%= @frame.patron_5_9_message %>: <%= link_to @frame.button_cta_trial_over, subscriptions_link %>
		</li>
	</ul>
<% elsif @patron && @user.account.payments.last.status == "problem" %>
	<ul>
		<li>
			<span style="background-color: #ffe6e6; color: red;"><%= subscriptions_problem %></span>: <%= @frame.patron_payment_problem_message %>: <%= link_to @frame.patron_super_message, fix_problem_payment_url(@user.account.payments.last.external_payment_id) %>
		</li>
	</ul>
<% elsif @reader %>
	<ul>
		<li>
			<%= @frame.reader_45_trial_message %>: <%= link_to @frame.button_cta, subscriptions_link %>
		</li>
	</ul>
<% else end %>