<tr class="<%= cycle("odd", "even") -%>">
	<td><%= link_to truncate(user.email), edit_user_path(user) %></td>
	<td class="right">
		<% case user.status when 1 %>
			Editor
		<% when 2 %>
			Patron
		<% when 4 %>
			Super Patron
		<% when 3 %>
			Reader
		<% else end %>
	</td>
	<td class="right"><%= user.level_amount %></td>
	<td class="right"><%= link_to user.account.id, user.account unless user.account.nil? %></td>
	<td class="right">
		<% unless user.account_role.nil?; case user.account_role when 1 %>
			Owner
		<% when 2 %>
			Member
		<% else end end %>
	</td>
	<td class="right">
		<% unless user.account.nil?; case user.account.account_status when 1 %>
			Up-to-date
		<% when 2 %>
			Declined
		<% when 3 %>
			Cancelled
		<% when 4 %>
			Starter
		<% else end end %>
	</td>
	<td class="right">
		<% if user.emails == 1 %>
			Everything
		<% elsif user.emails == 2 %>
			Articles
		<% elsif user.emails == 3 %>
			Announcements
		<% elsif user.emails == 4 %>
			No emails
		<% else end %>
	</td>
	<td class="right">
		<% if user.emaillanguage == 1 %>
			English
		<% elsif user.emaillanguage == 2 %>
			Spanish
		<% elsif user.emaillanguage == 3 %>
			Both
		<% else end %>
	</td>
	<td class="right">
		<% if user.sitelanguage == 1 %>
			English
		<% elsif user.sitelanguage == 2 %>
			Spanish
		<% else end %>
	</td>
	<td class="right"><%= user.frame_id %></td>
	<td class="right"><%= user.email_confirmed %></td>
	<td class="right"><%= user.updated_at.strftime("%d/%m/%Y, %H:%M") %></td>
	<td class="right"><%= user.created_at.strftime("%d/%m/%Y") %></td>
	<td class="right"><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>