<div class="content">
	
	<%= render "articles/logo_account" %>

  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><p><%= value.html_safe %></p></div>
  <% end %>
	
	<%= form_tag '/new_reader' do |f| %>
		<div class="width-100">
		<div class="float-left width-50 margin-right-10">
			<input type="email" name="email" id="email" class="width-100 padding-10" placeholder="Introduzca su correo…" />
		</div>
		
		<div class="float-left width-33 margin-left-20 ">
			<button type="submit" class="width-70 padding-5 font-main-normal margin-top-2">Enviar</button>
		</div>
		
		<div class="clear"></div>
		</div>
		
		<%= hidden_field_tag 'set_language', '2' %>
	<% end %>

</div>