<div class="content">
  
<%= render "layouts/logo_account" %>
  
<h1 class="font-header font-header-normal line-120 font-upper">Elija su clave nueva</h1>

<p style="margin-bottom: 10px;">Introduzca aquí su clave nueva, dos veces:</p>

<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><p><%= value.html_safe %></p></div>
<% end %>

<%= form_tag '/cambiar_clave' do %>
  <div class="float-left margin-right-10 width-37">
    <%= password_field_tag 'password', nil, class: 'padding-10 width-90', placeholder: 'Introduzca su nueva clave…' %>
  </div>
  <div class="float-left margin-right-10 width-37">
    <%= password_field_tag 'password_confirmation', nil, class: 'padding-10 width-90', placeholder: 'Introdúzcala de nuevo…' %>
  </div>
  <div class="float-left padding-5">
    <button type="submit" class="blueformbutton">Guarda Clave Nueva</button>
  </div>
  <div class="clear"></div>
  <%= hidden_field_tag 'confirm_token', params[:id] %>
<% end %>

<%= render 'passwords_explanation' %>

</div>