<% title @user.email %>

<div class="content">
    <%= render "layouts/logo_account" %>
    <div class="margin-top-30">
        <h1 class="font-header font-header-normal line-120"><%= @user.email %></h1>
    </div>
    
    <% flash.each do |key, value| %>
		<div class="alert alert-<%= key %>"><p><%= value.html_safe %></p></div>
	<% end %>
    
    <%= render 'form', user: @user %>
</div>
</div>