<%= render "layouts/logo_account" %>

<h3>Choose Your New Password</h3>

<% flash.each do |key, value| %>
	<div class="alert alert-<%= key %>"><p><%= value.html_safe %></p></div>
<% end %>

<%= render "users/passwords_form" %>
<%= render 'users/passwords_explanation' %>