<%= render "articles/admintop" %>

<table class="admin-table">
	<tr>
		<td><strong>Authors:</strong></td>
		<td><%= @authors.count %></td>
	</tr>
	<tr>
		<td class="width-50"><strong>Patrons total:</strong></td>
		<td><%= @patronscount %></td>
	</tr>
	<tr>
		<td><strong>Patrons subscription:</strong></td>
		<td><%= @patrons_subscription.count %></td>
	</tr>
	<tr>
		<td><strong>Patrons no subscription:</strong></td>
		<td><%= @patrons_no_subscription.count %></td>
	</tr>
	<tr>
		<td><strong>Patrons up-to-date:</strong></td>
		<td><%= @patrons_uptodate.count %></td>
	</tr>
	<tr>
		<td><strong>Patrons declined:</strong></td>
		<td><%= @patrons_declined.count %></td>
	</tr>
	<tr>
		<td><strong>Patrons cancelled:</strong></td>
		<td><%= @patrons_cancelled.count %></td>
	</tr>
	<tr>
		<td><strong>Patrons > 25:</strong></td>
		<td><%= @patrons_above_25.count %></td>
	</tr>
	<tr>
		<td><strong>Patrons 25:</strong></td>
		<td><%= @patrons_25.count %></td>
	</tr>
	<tr>
		<td><strong>Patrons 10-25:</strong></td>
		<td><%= @patrons_10_25.count %></td>
	</tr>
	<tr>
		<td><strong>Patrons 10:</strong></td>
		<td><%= @patrons_10.count %></td>
	</tr>
	<tr>
		<td><strong>Patrons 5-10:</strong></td>
		<td><%= @patrons_5_10.count %></td>
	</tr>
	<tr>
		<td><strong>Patrons 5:</strong></td>
		<td><%= @patrons_5.count %></td>
	</tr>
	<tr>
		<td><strong>Patrons < 5:</strong></td>
		<td><%= @patrons_below_5.count %></td>
	</tr>
	<tr>
		<td><strong>Patrons 0:</strong></td>
		<td><%= @patrons_0.count %></td>
	</tr>
	<tr>
		<td><strong>Readers:</strong>
		<td><%= @readerscount %></td>
		</td>
	</tr>
	<tr>
		<td><strong>Nil level amount:</strong>
		<td><%= @nil_level.count %></td>
		</td>
	</tr>
	<tr>
		<td><strong>Nil read date:</strong>
		<td><%= @nil_read_date.count %></td>
		</td>
	</tr>
	<tr>
		<td><strong>Nil frame:</strong>
		<td><%= @nil_frame.count %></td>
		</td>
	</tr>
	<tr>
		<td><strong>Nil status:</strong>
		<td><%= @nil_status.count %></td>
		</td>
	</tr>
</table>



<h3>Authors</h3>
<table class="admin-table">
	<tbody>
		<%= render "user_row_header" %>
		
		<% if !@authors.empty? %> 
			<% @authors.each do |user| %>
				<%= render "user_row", user: user %>
			<% end %>
		<% else %>
			<tr><td>There are no users like this.</td></tr>
		<% end %>
	</tbody>
</table>

<h3>Super Patrons</h3>
<table class="admin-table">
	<tbody>
		<%= render "user_row_header" %>
		
		<% if !@superpatrons.empty? %> 
			<% @superpatrons.each do |user| %>
				<%= render "user_row", user: user %>
			<% end %>
		<% else %>
			<tr><td>There are no users like this.</td></tr>
		<% end %>
	</tbody>
</table>

<h3>Problems</h3>
<table class="admin-table">
	<tbody>
		<%= render "user_row_header" %>
		
		<% if !@problems.empty? %> 
			<% @problems.each do |user| %>
				<%= render "user_row", user: user %>
			<% end %>
		<% else %>
			<tr><td>There are no users like this.</td></tr>
		<% end %>
	</tbody>
</table>


<h3>Declined</h3>
<table class="admin-table">
	<tbody>
		<%= render "user_row_header" %>
		
		<% if !@patrons_declined.empty? %> 
			<% @patrons_declined.each do |user| %>
				<%= render "user_row", user: user %>
			<% end %>
		<% else %>
			<tr><td>There are no users like this.</td></tr>
		<% end %>
	</tbody>
</table>

<h3>Patrons</h3>
<table class="admin-table">
	<tbody>
		<%= render "user_row_header" %>
		
		<% if !@patrons.empty? %> 
			<% @patrons.each do |user| %>
				<%= render "user_row", user: user %>
			<% end %>
		<% else %>
			<tr><td>There are no users like this.</td></tr>
		<% end %>
	</tbody>
</table>

<h3>Cancelled</h3>
<table class="admin-table">
	<tbody>
		<%= render "user_row_header" %>
		
		<% if !@patrons_cancelled.empty? %> 
			<% @patrons_cancelled.each do |user| %>
				<%= render "user_row", user: user %>
			<% end %>
		<% else %>
			<tr><td>There are no users like this.</td></tr>
		<% end %>
	</tbody>
</table>


<h3>Readers</h3>
<table class="admin-table">
	<tbody>
		<%= render "user_row_header" %>
		
		<% if !@readers.empty? %> 
			<% @readers.each do |user| %>
				<%= render "user_row", user: user %>
			<% end %>
		<% else %>
			<tr><td>There are no users like this.</td></tr>
		<% end %>
	</tbody>
</table>

</div>