<%= render "articles/admintop" %>

Nil account: <%= User.where(account_id: nil).count %>
<br />
Nil can_read: <%= User.where(can_read: nil).count %>
<br />
Patrons nil can_read: <%= User.where(status: 2).where(can_read: nil).count %>
<br />
Nil status: <%= User.where(status: nil).count %>

<h3>Authors</h3>
<table class="admin-table">
	<tbody>
		<%= render "user_row_header" %>
		
		<% if !@latest_authors.empty? %> 
			<% @latest_authors.each do |user| %>
				<%= render "user_row", user: user %>
			<% end %>
		<% else %>
			<tr><td>There are no users like this.</td></tr>
		<% end %>
	</tbody>
</table>

<h3>Super Patrons</h3>
<table class="admin-table">
	<tbody>
		<%= render "user_row_header" %>
		
		<% if !@latest_super_patrons.empty? %> 
			<% @latest_super_patrons.each do |user| %>
				<%= render "user_row", user: user %>
			<% end %>
		<% else %>
			<tr><td>There are no users like this.</td></tr>
		<% end %>
	</tbody>
</table>

<h3>Patrons</h3>
<table class="admin-table">
	<tbody>
		<%= render "user_row_header" %>
		
		<% if !@latest_patrons.empty? %> 
			<% @latest_patrons.each do |user| %>
				<%= render "user_row", user: user %>
			<% end %>
		<% else %>
			<tr><td>There are no users like this.</td></tr>
		<% end %>
	</tbody>
</table>

<h3>Readers</h3>
<table class="admin-table">
	<tbody>
		<%= render "user_row_header" %>
		
		<% if !@latest_readers.empty? %> 
			<% @latest_readers.each do |user| %>
				<%= render "user_row", user: user %>
			<% end %>
		<% else %>
			<tr><td>There are no users like this.</td></tr>
		<% end %>
	</tbody>
</table>



</div>