<%= render "articles/admintop" %>

Total (users): <%= User.all.count %><br />
-- authors: <%= User.authors.count %><br />
-- super patrons: <%= User.super_patrons.count %><br />
-- patrons: <%= User.patrons.count %><br />
------ up-to-date: <%= User.patrons.uptodate.count %><br />
------ declined: <%= User.patrons.declined.count %><br />
------ cancelled: <%= User.patrons.cancelled.count %><br />
-- readers: <%= User.readers.count %><br />
-- nil status: <%= User.nil_status.count %><br />
<br />
Total (accounts): <%= Account.all.count %><br />
-- users: <%= User.where.not(account_id: nil).count %><br />
-- super patrons: <%= User.where(status: 4).where.not(account_id: nil).count %><br />
-- patrons: <%= User.where(status: 2).where.not(account_id: nil).count %><br />
-- readers: <%= User.where(status: 3).where.not(account_id: nil).count %><br />
-- nil account: <%= User.where(account_id: nil).count %><br />
<br />

Total (can/not read): <%= User.where(can_read: true).count %><br />
-- super patrons: <%= User.where(status: 4).where(can_read: true).count %> / <%= User.where(status: 4).where(can_read: false).count %><br />
-- patrons: <%= User.where(status: 2).where(can_read: true).count %> / <%= User.where(status: 2).where(can_read: false).count %><br />
-- readers: <%= User.where(status: 3).where(can_read: true).count %> / <%= User.where(status: 3).where(can_read: false).count %><br />
-- nil can_read: <%= User.where(can_read: nil).count %><br />
<br />

<h3>UPDATING USER AMOUNTS</h3>
-- big: <%= @usersbig.count %><br />
-- 25: <%= @users25.count %><br />
-- 15: <%= @users15.count %><br />
-- 14: <%= @users14.count %><br />
-- 13: <%= @users13.count %><br />
-- 12: <%= @users12.count %><br />
-- 11: <%= @users11.count %><br />
-- 10: <%= @users10.count %><br />
-- 9: <%= @users9.count %><br />
-- 8: <%= @users8.count %><br />
-- 7: <%= @users7.count %><br />
-- 6: <%= @users6.count %><br />
-- 5: <%= @users5.count %><br />
-- 4: <%= @users4.count %><br />
-- 3: <%= @users3.count %><br />
-- 2: <%= @users2.count %><br />
-- 1: <%= @users1.count %><br />
-- 0: <%= @users0.count %><br />
-- patrons nil: <%= @patronsnil.count %><br />
-- patrons zerol: <%= @patronszero.count %><br />
-- patrons not nil: <%= @patronsnotnil.count %><br />
-- readers nil: <%= @readersnil.count %><br />
-- readers zero: <%= @readerszero.count %><br />
-- readers not nil: <%= @readersnotnil.count %><br />

<h3>Problems Nil</h3>
<table class="admin-table">
	<tbody>
		<%= render "user_row_header" %>
		
		<% if !@problemsnil.empty? %> 
			<% @problemsnil.each do |user| %>
				<%= render "user_row", user: user %>
			<% end %>
		<% else %>
			<tr><td>There are no users like this.</td></tr>
		<% end %>
	</tbody>
</table>

<h3>Big</h3>
<table class="admin-table">
	<tbody>
		<%= render "user_row_header" %>
		
		<% if !@usersbig.empty? %> 
			<% @usersbig.each do |user| %>
				<%= render "user_row", user: user %>
			<% end %>
		<% else %>
			<tr><td>There are no users like this.</td></tr>
		<% end %>
	</tbody>
</table>

<h3>Authors</h3>
<table class="admin-table">
	<tbody>
		<%= render "user_row_header" %>
		
		<% if !@latest_authors.empty? %> 
			<% @latest_authors.each do |user| %>
				<%= render "user_row", user: user %>
			<% end %>
		<% else %>
			<tr><td>There are no users like this.</td></tr>
		<% end %>
	</tbody>
</table>

<h3>Super Patrons</h3>
<table class="admin-table">
	<tbody>
		<%= render "user_row_header" %>
		
		<% if !@latest_super_patrons.empty? %> 
			<% @latest_super_patrons.each do |user| %>
				<%= render "user_row", user: user %>
			<% end %>
		<% else %>
			<tr><td>There are no users like this.</td></tr>
		<% end %>
	</tbody>
</table>

<h3>Patrons</h3>
<table class="admin-table">
	<tbody>
		<%= render "user_row_header" %>
		
		<% if !@latest_patrons.empty? %> 
			<% @latest_patrons.each do |user| %>
				<%= render "user_row", user: user %>
			<% end %>
		<% else %>
			<tr><td>There are no users like this.</td></tr>
		<% end %>
	</tbody>
</table>

<h3>Readers</h3>
<table class="admin-table">
	<tbody>
		<%= render "user_row_header" %>
		
		<% if !@latest_readers.empty? %> 
			<% @latest_readers.each do |user| %>
				<%= render "user_row", user: user %>
			<% end %>
		<% else %>
			<tr><td>There are no users like this.</td></tr>
		<% end %>
	</tbody>
</table>

<h3>Users can_read nil</h3>
<table class="admin-table">
	<tbody>
		<%= render "user_row_header" %>
		
		<% if !@patrons_nil_account.empty? %> 
			<% @patrons_nil_account.each do |user| %>
				<%= render "user_row", user: user %>
			<% end %>
		<% else %>
			<tr><td>There are no users like this.</td></tr>
		<% end %>
	</tbody>
</table>



</div>