<div class="content">
	<%= render "layouts/logo_account" %>
		
	<h3>Elija su clave nueva</h3>
	
	<% flash.each do |key, value| %>
		<div class="alert alert-<%= key %>"><p><%= value.html_safe %></p></div>
	<% end %>
	
	<%= render "users/passwords_form" %>
	<%= render 'users/passwords_explanation' %>
</div>