<div class="content">
	
	<%= render "layouts/logo_account" %>
	
	<% flash.each do |key, value| %>
    	<div class="alert alert-<%= key %>"><p><%= value %></p></div>
    <% end %>
    
	<%= form_tag '/password_link' do %>
		<%= text_field_tag 'email', nil, class: 'padding-10 width-48', placeholder: 'Your e-mail...' %>
		<% if flash[:password] %>
			<br />
			<div class="web-width">
				<a href="<%= new_password_reset_path %>" style="font-size: 11px; color: #F1BF00 !important; padding: 2px 0px 0px 10px; text-decoration:underline !important;">Want a new password?</a>
			</div>
			<div class="mobile-width">
				<a href="<%= new_password_reset_path %>" style="font-size: 11px; color: #AA151B !important; margin: 0px; padding: 0px 0px 0px 10px; text-decoration:underline !important;">New password?</a>
			</div>
		<% end %>
		<button type="submit" class="">Send password link</button>
	<% end %>
</div>