<% case @language when 1
    hello = "Hi"
    
    payment_one = "Your bank wants you to confirm this payment:"
    payment_fix_problem_now = "Click on this link now to confirm the payment"
    payment_three = "It just takes a few seconds and your bank does it to give your more security with online payments."
    
    payment_amount_label = "Amount"
    payment_amount = (number_to_currency((@amount/100.to_f), unit: "€")).to_s unless @amount.nil?
    payment_date_label = "Date"
    payment_date = @date.strftime("%d/%m/%Y, at %I:%M %P")
    payment_reference_label = "Reference"
    payment_status_label = "Status"
    payment_status = "⚠️ " + "Problem"
    
    bye = "Kindest regards"
when 2
    hello = "Hola"
    
    payment_one = "Su banco quiere que confirme el siguiente pago:"
    payment_fix_problem_now = "Haga clic en este enlace para confirmar este pago"
    payment_three = "Sólo se tarda unos segundos y su banco lo hace para ofrecerle más seguridad con los pagos online."
    
    payment_amount_label = "Cantidad"
    payment_amount = (number_to_currency((@amount/100.to_f), unit: "", separator: ",", delimiter: ".")) + " euros" unless @amount.nil?
    payment_date_label = "Fecha"
    payment_date = @date.strftime("%d/%m/%Y, a las %H:%M horas")
    payment_reference_label = "Referencia"
    payment_status_label = "Estado"
    payment_status = "⚠️ " + "Problema"
    
    bye = "Saludos"
end %>

<%= hello %>,

<p><%= payment_one %></p>
<p><%= link_to payment_fix_problem_now, fix_problem_payment_url(@reference) %></p>
<p><%= payment_three %></p>
<ul>
    <li><strong><%= payment_amount_label %>:</strong> <%= payment_amount %></li>
    <li><strong><%= payment_date_label %>:</strong> <%= payment_date %></li>
    <li><strong><%= payment_reference_label %>:</strong> <%= @reference %></li>
    <li><strong><%= payment_status_label %>:</strong> <%= payment_status %></li>
</ul>
<p><%= bye %>,</p>
<p>
    Matthew Bennett<br />
    The Spain Report<br />
    matthew@thespainreport.es<br />
    (0034) 647 81 81 43
</p>