<% case @language when 1
    hello = "Hi"
    
    payment_thanks = "Thank you very much."
    payment_two = "You really do make this independent journalism possible."
    payment_three = "You are a hero of truth and democracy."
    
    payment_amount_label = "Amount"
    payment_amount = (number_to_currency((@amount/100.to_f), unit: "€")).to_s
    payment_date_label = "Date"
    payment_date = @date.strftime("%d/%m/%Y, at %I:%M %P")
    payment_reference_label = "Reference"
    payment_status_label = "Status"
    payment_status = "Paid"
    payment_type_label = "Type"
    payment_frequency_label = "Frequency"
    
    bye = "Kindest regards"
when 2
    hello = "Hola"
    
    payment_thanks = "Muchas gracias."
    payment_two = "Así, hace que este periodismo independiente sea posible."
    payment_three = "Es Ud. un héroe de la verdad y de la democracia."
    
    payment_amount_label = "Cantidad"
    payment_amount = number_to_currency((@amount/100.to_f), unit: "", separator: ",", delimiter: ".") + " euros"
    payment_date_label = "Fecha"
    payment_date = @date.strftime("%d/%m/%Y, a las %H:%M horas")
    payment_reference_label = "Referencia"
    payment_status_label = "Estado"
    payment_status = "Pagado"
    payment_type_label = "Tipo"
    payment_frequency_label = "Frecuencia"
    
    bye = "Saludos"
end %>

<%= hello %>,

<p><%= @message %> <%= payment_thanks %></p>
<p><%= payment_two %></p>
<p><%= payment_three %></p>
<ul>
    <li><strong><%= payment_amount_label %>:</strong> <%= payment_amount %></li>
    <li><strong><%= payment_date_label %>:</strong> <%= payment_date %></li>
    <li><strong><%= payment_reference_label %>:</strong> <%= @reference %></li>
    <li><strong><%= payment_status_label %>:</strong> <%= payment_status %></li>
    <li><strong><%= payment_type_label %>:</strong> <%= @type %></li>
    <li><strong><%= payment_frequency_label %>:</strong> <%= @frequency %></li>
</ul>
<p><%= bye %>,</p>
<p>
    Matthew Bennett<br />
    The Spain Report<br />
    matthew@thespainreport.es<br />
    (0034) 647 81 81 43
</p>