<% title "The Spain Report en español" %>
<% content_for :meta do %>
	<meta name="description" content="The Spain Report en español" />
	<link rel="canonical" href="<%= root_url + 'es' %>" />
	<meta name="author" content="Matthew Bennett">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:site" content="@thespainreport" />
	<meta name="twitter:creator" content="@matthewbennett" />
	<meta name="twitter:title" content="The Spain Report en español" />
	<meta name="twitter:description" content="The Spain Report en español" />
	<meta property="og:site_name" content="The Spain Report en español"/>
	<meta property="og:url" content="<%= root_url + 'es' %>"/>
	<meta property="og:type" content="article" />
	<meta property="og:title" content="The Spain Report en español"/>
  	<meta property="og:description" content="The Spain Report en español"/>
 	<meta property="og:article:author" content="Matthew Bennett"/>
 	<meta property="og:article:section" content="España"/>
 	<link type="application/rss+xml" rel="alternate" title="Bennett en España" href="https://www.thespainreport.es/es/rss/podcast"/>
<% end %>

<div class="content">
	
<%= render "layouts/logo_account" %>

<% @latesttop.each do |article| %>
	 <% if article.image? %>
		<div class="">
		  <%= link_to(article, class: "no-hover-bg") do %>
			 <%= image_tag ('https://image.thespainreport.es/' + article.image) unless article.image.nil? %>
		  <% end %>
		</div>
	 <% else %>
	 <% end %>
	 
	 <% if article.video.present? %>
		<div class="video-wrapper">
			<% if article.video.match(/^[0-9]*$/) %>
				<%= content_tag(:iframe, nil, frameborder: 0, src: "https://player.vimeo.com/video/#{article.video}") %>
			<% else %> 
				<%= content_tag(:iframe, nil, frameborder: 0, src: "//www.youtube.com/embed/#{article.video}?rel=0&amp;showinfo=0") %>
			<% end %>
		</div>
	<% else %>
	<% end %>

	 <h1 class="font-header font-header-normal font-upper line-115 margin-top-0 margin-bottom-5">
		  <%= link_to article.headline, article %>
	 </h1>
	 
	 <div class="font-main font-main-normal font-italic"><span class="font-bold"><%= article.type.name %>:</span> <%= article.lede %></div>

	<% if article.updates.published.present? %>
		<ul class="margin-top-5 margin-bottom-0 margin-left-20 margin-right-0">
	      <% article.updates.each do |u| %>
	        <li><%= link_to u.headline, article_path(article, anchor: u.id) %></li>
	      <% end %>
	    </ul>
   <% else %>
   <% end %>

<% end %>

<div class="alert-warning padding-10 margin-top-20">
	<span class="label background-color-patrons font-main-tiny font-color-white">SÓLO MECENAS</span>
	<% if @latest_patrons_only %>
		<ul class="font-main-small">
			<% @latest_patrons_only.each do |l| %>
				<li><%= link_to l.short_headline, l %></li>
			<% end %>
		</ul>
	<% end %>
	<%= render 'layouts/log_in_logic' %>
</div>

<div id="patrons" class="padding-20 border-patrons margin-top-20">
	<%= render "payments/pay" %>
</div>

<h3>Artículos sobre España</h3>
<ul class="no-points">
	<% @latest.each do |article| %>
		<li class="margin-bottom-5 font-main font-main-small">
			<%= article.type.name %>: 
			<% if article.short_headline.present? %>
	    		<%= link_to article.short_headline, article %>
	    	<% else %>
	    		<%= link_to article.headline, article %>
	    	<% end %>
			<% if article.updates.published.present? %>
			<ul class="margin-top-5 margin-bottom-0 margin-left-20 margin-right-0">
		      <% article.updates.each do |u| %>
		        <li class="margin-bottom-0 font-main font-main-small"><%= link_to u.headline, article_path(article, anchor: u.id) %></li>
		      <% end %>
		    </ul>
	   <% else %>
	   <% end %>
		</li>
 <% end %>
 </ul>

<% if @latesttruth.present? %>
	<h3 class="margin-top-50">Verdad y Periodismo</h3>
	<ul class="no-points">
		<% @latesttruth.each do |article| %>
	 		<li class="margin-bottom-5 font-main font-main-small">
	 			<%= article.type.name %>: 
	 			<% if article.short_headline.present? %>
		    		<%= link_to article.short_headline, article %>
		    	<% else %>
		    		<%= link_to article.headline, article %>
		    	<% end %>
			</li>
	 	<% end %>
	</ul>
<% else %>
<% end %>

<div class="padding-20 border-patrons margin-top-20">
 <%= render "layouts/footer" %>
</div>

</div>