<% title "The Spain Report en español" %>
<% content_for :meta do %>
	<meta name="description" content="The Spain Report en español" />
	<link rel="canonical" href="<%= root_url + 'es' %>" />
	<meta name="author" content="Matthew Bennett">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:site" content="@thespainreport" />
	<meta name="twitter:creator" content="@matthewbennett" />
	<meta name="twitter:title" content="The Spain Report en español" />
	<meta name="twitter:description" content="The Spain Report en español" />
	<meta property="og:site_name" content="The Spain Report en español"/>
	<meta property="og:url" content="<%= root_url + 'es' %>"/>
	<meta property="og:type" content="article" />
	<meta property="og:title" content="The Spain Report en español"/>
  	<meta property="og:description" content="The Spain Report en español"/>
 	<meta property="og:article:author" content="Matthew Bennett"/>
 	<meta property="og:article:section" content="España"/>
 	<link type="application/rss+xml" rel="alternate" title="Bennett en España" href="https://www.thespainreport.es/es/rss/podcast"/>
<% end %>

<%= render "layouts/logo_account" %>

<div class="margin-top-20">
	<h3>Análisis Nacional</h3>
		<% if @analysis.any? %>
			<% @analysis.each do |article| %>
				<%= render "articles/index_articles_list_link", {article: article} %>
			<% end %>
		<% else %>
			Próximamente....
		<% end %>
	
	<div class="margin-top-20">
		<%= render "payments/pay" %>
	</div>
	
	<h3>Crónicas</h3>
		<% if @dispatch.any? %>
			<% @dispatch.each do |article| %>
				<%= render "articles/index_articles_list_link", {article: article} %>
			<% end %>
		<% else %>
			Próximamente....
		<% end %>
	
	<div class="margin-top-30">
		<h3>Fotos y NFTs</h3>
		<% if @photo.any? %>
			<% @photo.each do |article| %>
				<%= render "articles/index_articles_list_link", {article: article} %>
			<% end %>
		<% else %>
			Próximamente....
		<% end %>
	</div>
	
	<div class="margin-top-30">
		<h3>Reportajes</h3>
		<% if @long.any? %>
			<% @long.each do |article| %>
				<%= render "articles/index_articles_list_link", {article: article} %>
			<% end %>
		<% else %>
			Próximamente....
		<% end %>
	</div>
	
	<div class="margin-top-30">
		<h3>Blog</h3>
		<% if @blog.any?; @blog.each do |article| %>
			<%= render "articles/index_articles_list_link", {article: article} %>
		<% end end %>
	</div>
	
</div>

<%= render "layouts/footer" %>