<% title "The Spain Report" %>
<% content_for :meta do %>
	<meta name="description" content="The Spain Report" />
	<link rel="canonical" href="<%= root_url %>" />
	<meta name="author" content="Matthew Bennett">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:site" content="@thespainreport" />
	<meta name="twitter:creator" content="@matthewbennett" />
	<meta name="twitter:title" content="The Spain Report" />
	<meta name="twitter:description" content="The Spain Report" />
	<meta property="og:site_name" content="The Spain Report"/>
	<meta property="og:url" content="<%= root_url %>"/>
	<meta property="og:type" content="article" />
	<meta property="og:title" content="The Spain Report"/>
  	<meta property="og:description" content="The Spain Report"/>
 	<meta property="og:article:author" content="Matthew Bennett"/>
 	<meta property="og:article:section" content="Spain"/>
<% end %>

<div class="content">

	<div class="content-top">
		<div class="topbutton float-right">
			<a href="https://www.patreon.com/join/matthewbennett" class="topbutton">
				Support now on Patreon
			</a>
		</div>
	
		<div class="padding-top-5">
			<span class="label font-main background-color-red" style="text-transform: uppercase;">
    		<span class="font-color-yellow">The</span> <span class="font-color-orange">Spain</span> <span class="font-color-yellow">Report</span>
    	</span>
		</div>
		<div class="clear"></div>
	</div>

<% @lasttopstory.each do |article| %>
	 <% if article.image? %>
		<div class="no-hover-bg">
		  <%= link_to(article) do %>
			 <%= image_tag article.image unless article.image.nil? %>
		  <% end %>
		</div>
	 <% else %>
	 <% end %>

	 <h1 class="font-header font-header-normal line-115 margin-top-0 margin-bottom-5">
		 <%= link_to article do %>
		  <%= link_to article.headline, article %>
		<% end %>
	 </h1>
	 
	 <div class="font-main font-main-normal font-italic"><span class="font-bold"><%= article.type.name %>:</span> <%= article.lede %></div>
 <% end %>
 
 <h3>Latest Stories</h3>
 <ul class="font-main font-main-normal font-italic">
 <% @lastten.english.not_latest_top_story.each do |article| %>
 	<li class="margin-bottom-10"><%= link_to article.headline, article %>
		<br /><span class="font-bold font-italic"><%= article.type.name %>:</span> <span class="font-italic"><%= article.lede %></span>
	</li>
 <% end %>
 </ul>
 
<h3>Últimos Artículos</h3>
<ul class="font-main font-main-normal">
	<% @lastten.spanish.each do |article| %>
		<li class="margin-bottom-10"><%= link_to article.headline, article %>
			<br /><span class="font-bold font-italic"><%= article.type.name %>:</span> <span class="font-italic"><%= article.lede %></span>
		</li>
 <% end %>
 </ul>

<%= render "layouts/footer" %>

</div>