<% title "The Spain Report" %>
<% content_for :meta do %>
	<meta name="description" content="The Spain Report" />
	<link rel="canonical" href="<%= root_url %>" />
	<meta name="author" content="Matthew Bennett">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:site" content="@thespainreport" />
	<meta name="twitter:creator" content="@matthewbennett" />
	<meta name="twitter:title" content="The Spain Report" />
	<meta name="twitter:description" content="The Spain Report" />
	<meta property="og:site_name" content="The Spain Report"/>
	<meta property="og:url" content="<%= root_url %>"/>
	<meta property="og:type" content="article" />
	<meta property="og:title" content="The Spain Report"/>
  	<meta property="og:description" content="The Spain Report"/>
 	<meta property="og:article:author" content="Matthew Bennett"/>
 	<meta property="og:article:section" content="Spain"/>
 	
 	<link type="application/rss+xml" rel="alternate" title="Bennett in Spain" href="https://www.thespainreport.es/rss/podcast"/>
<% end %>


<%= render "layouts/logo_account" %>

<div class="margin-top-20">
	<h3>Newsletter, threads, podcast, video blog</h3>
		<% if @daily.any? %>
			<% @daily.each do |article| %>
				<%= render "articles/index_articles_list_link", {article: article} %>
			<% end %>
		<% else %>
			Coming soon....
		<% end %>
	
	<div class="margin-top-20">
		<%= render "payments/pay" %>
	</div>
	
	<div class="margin-top-30">
		<h3>-- Podcast Conversation --</h3>
		<% if @podcast.any?; @podcast.each do |article| %>
			<%= render "articles/index_articles_list_link", {article: article} %>
		<% end end %>
	</div>
	
	<div class="margin-top-30">
		<h3>-- Video Reports & Photos --</h3>
		<% if @depth.any? %>
			<% @depth.each do |article| %>
				<%= render "articles/index_articles_list_link", {article: article} %>
			<% end %>
		<% else %>
			Coming soon....
		<% end %>
	</div>
	
	<div class="margin-top-30">
		<h3>--Blog--</h3>
		<% if @truth.any?; @truth.each do |article| %>
			<%= render "articles/index_articles_list_link", {article: article} %>
		<% end end %>
	</div>
	
	<div class="margin-top-30">
		<h3>--Blog--</h3>
		<% if @notices.any?; @notices.each do |article| %>
			<%= render "articles/index_articles_list_link", {article: article} %>
		<% end end %>
	</div>
</div>

<% if current_user.nil? %>
	<%= render "users/new_reader_form" %>
<% else end %>

<%= render "layouts/footer" %>