<% title "The Spain Report" %>
<% content_for :meta do %>
	<meta name="description" content="The Spain Report" />
	<link rel="canonical" href="<%= root_url %>" />
	<meta name="author" content="Matthew Bennett">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:site" content="@thespainreport" />
	<meta name="twitter:creator" content="@matthewbennett" />
	<meta name="twitter:title" content="The Spain Report" />
	<meta name="twitter:description" content="The Spain Report" />
	<meta property="og:site_name" content="The Spain Report"/>
	<meta property="og:url" content="<%= root_url %>"/>
	<meta property="og:type" content="article" />
	<meta property="og:title" content="The Spain Report"/>
  	<meta property="og:description" content="The Spain Report"/>
 	<meta property="og:article:author" content="Matthew Bennett"/>
 	<meta property="og:article:section" content="Spain"/>
 	
 	<link type="application/rss+xml" rel="alternate" title="Bennett in Spain" href="https://www.thespainreport.es/rss/podcast"/>
<% end %>

<%= render "layouts/logo_account" %>

<% @latestmain.each do |article| %>
	 <% if article.video.present? %>
		<div class="video-wrapper">
			<% if article.video.match(/^[0-9]*$/) %>
				<%= content_tag(:iframe, nil, frameborder: 0, src: "https://player.vimeo.com/video/#{article.video}", allowfullscreen: true) %>
			<% else %> 
				<%= content_tag(:iframe, nil, frameborder: 0, src: "//www.youtube.com/embed/#{article.video}?rel=0&amp;showinfo=0", allowfullscreen: true) %>
			<% end %>
		</div>
	<% else %>
	<% end %>
	 
	 <h1 class="font-header font-header-normal line-120 font-upper margin-top-0 margin-bottom-5">
		 <%= link_to article do %>
		  <%= link_to article.headline, article %>
		<% end %>
	 </h1>
	 
	 <div class="font-main font-main-normal font-italic"><span class="font-bold"><%= article.type.name %>:</span> <%= article.lede %></div>
   
	<% if article.pieces.present? %>
		<ul class="margin-top-5 margin-bottom-0 margin-left-20 margin-right-0 font-main-small">
			<% article.pieces.each do |p| %>
				<li>
					<strong><%= p.type.name %>:</strong> <%= link_to p.short_headline, p %>
				</li>
			<% end %>
		</ul>
	<% else end %>
 <% end %>

<%= render "articles/patrons_only_block" %>
<%= render "payments/pay" %>

<div class="buy-border-top margin-top-20">
	<h3>Video Reports</h3>
	<ul class="no-points">
		<% if @videos.any? %>
			<% @videos.each do |article| %>
				<%= render "articles/index_articles_list_link", {article: article} %>
			<% end %>
		<% else %>
			Coming soon....
		<% end %>
	</ul>
	
	<h3>Video Blog</h3>
	<ul class="no-points">
		<% if @videoblogs.any? %>
			<% @videoblogs.each do |article| %>
				<%= render "articles/index_articles_list_link", {article: article} %>
			<% end %>
		<% else %>
			Coming soon....
		<% end %>
	</ul>
	
	<h3>Podcast</h3>
	<ul class="no-points">
		<% if @podcast.any?; @podcast.each do |article| %>
			<%= render "articles/index_articles_list_link", {article: article} %>
		<% end end %>
	</ul>
	
	<h3>Photos</h3>
	<ul class="no-points">
		<% if @photos.any? %>
			<% @photos.each do |article| %>
				<%= render "articles/index_articles_list_link", {article: article} %>
			<% end %>
		<% else %>
			Coming soon....
		<% end %>
	</ul>
	
	<h3>Notes</h3>
	<ul class="no-points">
		<% if @free.any?; @free.each do |article| %>
			<%= render "articles/index_articles_list_link", {article: article} %>
		<% end end %>
	</ul>
	
	<h3>Truth & Journalism</h3>
	<ul class="no-points">
		<% if @truth.any?; @truth.each do |article| %>
			<%= render "articles/index_articles_list_link", {article: article} %>
		<% end end %>
	</ul>

</div>

<% if current_user.nil? %>
	<%= render "users/new_reader_form" %>
<% else end %>

<%= render "layouts/footer" %>