<%= form_with(model: story, local: true) do |f| %>
<p id="notice"><%= notice %></p>
  <% if story.errors.any? %>
    <div id="error_explanation">
      
      <h2><%= pluralize(story.errors.count, "error") %> prohibited this story from being saved:</h2>

      <ul>
      <% story.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :lede %>
    <%= f.text_field :lede %>
    <%= f.collection_select :original_id, @stories, :id, :title, {include_blank: true, :selected => @story.original_id}%>
    <%= f.collection_select :status_id, @statuses, :id, :name, {:selected => @story.status_id ? @story.status_id : 1} %>
    <%= f.collection_select :language_id, @languages, :id, :name, {:selected => @story.language_id ? @story.language_id : 1} %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>