<%= form_with(model: subscription, local: true) do |form| %>
  <% if subscription.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(subscription.errors.count, "error") %> prohibited this subscription from being saved:</h2>

      <ul>
      <% subscription.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :account_id %>
    <%= form.number_field :account_id %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.number_field :amount %>
  </div>

  <div class="field">
    <%= form.label :card_country %>
    <%= form.text_field :card_country %>
  </div>

  <div class="field">
    <%= form.label :latest_paid_date %>
    <%= form.datetime_select :latest_paid_date %>
  </div>

  <div class="field">
    <%= form.label :ip_country %>
    <%= form.text_field :ip_country %>
  </div>

  <div class="field">
    <%= form.label :ip_address %>
    <%= form.text_field :ip_address %>
  </div>

  <div class="field">
    <%= form.label :residence_country %>
    <%= form.text_field :residence_country %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
