<%= form_with(model: subscription, local: true) do |form| %>
	<% if subscription.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(subscription.errors.count, "error") %> prohibited this subscription from being saved:</h2>

			<ul>
			<% subscription.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
			</ul>
		</div>
	<% end %>
	
	<div class="field margin-bottom-20">
		<div class="margin-bottom-5">
			<div class="float-left width-15">Subscription</div>
			<div class="float-left"><%= @subscription.id %></div>
			<div class="clear"></div>
		</div>
		
		<div class="margin-bottom-5">
			<div class="float-left width-15">Frequency</div>
			<div class="float-left">
				<%= form.select :payment_period, options_for_select([["Month", "month"], ["Year", "Year"], ["One-time", "one_time"]], selected: @subscription.payment_period), include_blank: true %>
			</div>
			<div class="clear"></div>
		</div>
		
		<div class="margin-bottom-5">
			<div class="float-left width-15">Reactivate token</div>
			<div class="float-left"><%= @subscription.reactivate_token %></div>
			<div class="clear"></div>
		</div>
	</div>
	
	<div class="field margin-bottom-20">
		<div class="margin-bottom-5">
			<div class="float-left width-15">Account:</div>
			<div class="float-left"><%= form.number_field :account_id %></div>
			<div class="clear"></div>
		</div>
		
		<div class="margin-bottom-5">
			<div class="float-left width-15">Account owner:</div>
			<div class="float-left"><%= @subscription.account.user.email %></div>
			<div class="clear"></div>
		</div>
	</div>
	
	<div class="field margin-bottom-20">
		<div class="margin-bottom-5">
			<div class="float-left width-15">Created:</div>
			<div class="float-left"><%= form.datetime_select :created_at %></div>
			<div class="clear"></div>
		</div>
		
		<div class="margin-bottom-5">
			<div class="float-left width-15">Last Payment:</div>
			<div class="float-left"><%= form.datetime_select :last_payment_date %></div>
			<div class="clear"></div>
		</div>
		
		<div class="margin-bottom-5">
			<div class="float-left width-15">Next Payment:</div>
			<div class="float-left"><%= form.datetime_select :next_payment_date %></div>
			<div class="clear"></div>
		</div>
	</div>
	
	<div class="field margin-bottom-20">
		<div class="margin-bottom-5">
			<div class="float-left width-15">Plan amount</div>
			<div class="float-left"><%= form.number_field :plan_amount, :class => "width-fixed-amounts" %></div>
			<div class="clear"></div>
		</div>
		
		<div class="margin-bottom-5">
			<div class="float-left width-15">VAT</div>
			<div class="float-left"><%= form.number_field :vat_rate, step: "any" %></div>
			<div class="clear"></div>
		</div>
		
		<div class="margin-bottom-5">
			<div class="float-left width-15">VAT amount</div>
			<div class="float-left"><%= form.number_field :vat_amount, :class => "width-fixed-amounts" %></div>
			<div class="clear"></div>
		</div>
		
		<div class="margin-bottom-5">
			<div class="float-left width-15">Total amount</div>
			<div class="float-left"><%= form.number_field :total_amount, :class => "width-fixed-amounts" %></div>
			<div class="clear"></div>
		</div>
	</div>

	<div class="field margin-bottom-20">
		<div class="margin-bottom-5">
			<div class="float-left width-15">Card country</div>
			<div class="float-left"><%= form.text_field :card_country %></div>
			<div class="clear"></div>
		</div>
		
		<div class="margin-bottom-5">
			<div class="float-left width-15">IP address</div>
			<div class="float-left"><%= form.text_field :ip_address %></div>
			<div class="clear"></div>
		</div>
		
		<div class="margin-bottom-5">
			<div class="float-left width-15">IP country</div>
			<div class="float-left"><%= form.text_field :ip_country %></div>
			<div class="clear"></div>
		</div>
		
		<div class="margin-bottom-5">
			<div class="float-left width-15">Residence country</div>
			<div class="float-left"><%= form.text_field :residence_country %></div>
			<div class="clear"></div>
		</div>
		
		<div class="margin-bottom-5">
			<div class="float-left width-15">VAT country</div>
			<div class="float-left"><%= form.text_field :vat_country %></div>
			<div class="clear"></div>
		</div>
	</div>
	
	<div class="field margin-bottom-20">
		<div class="margin-bottom-5">
			<div class="float-left width-15">Active?</div>
			<div class="float-left"><%= form.check_box :is_active %></div>
			<div class="clear"></div>
		</div>
		
		<div class="margin-bottom-5">
			<div class="float-left width-15">&nbsp;</div>
			<div class="float-left">&nbsp;</div>
			<div class="clear"></div>
		</div>
		
		<div class="margin-bottom-5">
			<div class="float-left width-15">&nbsp;</div>
			<div class="float-left"><%= form.submit %></div>
			<div class="clear"></div>
		</div>
	</div>
	
<% end %>
