<%= render "articles/admintop" %>

<table class="font-main-small">
	<thead>
		<tr>
			<th>ID</th>
			<th></th>
			<th class="align-left" colspan="2">Account</th>
			<th class="align-right">Created</th>
			<th class="align-right">Last</th>
			<th class="align-right">Next</th>
			<th class="align-right">Plan</th>
			<th class="align-right">Tax</th>
			<th class="align-right">Tax</th>
			<th class="align-right">Total</th>
			<th class="align-right">Frame</th>
			<th class="align-right">Reactivate</th>
		</tr>
	</thead>

	<tbody>
		<% @subscriptions.each do |subscription| %>
			<tr class="<%= cycle("odd", "even") -%>">
				<td><%= link_to subscription.id, edit_subscription_path(subscription) %></td>
				<td class="align-left">
					<% case subscription.is_active when true %>
						🟢
					<% when false %>
						🔴
					<% else end %>
				</td>
				<td><%= link_to subscription.account.id, edit_account_path(subscription.account.id) %></td>
				<td class="align-left"><%= subscription.account.user.email unless subscription.account.user.nil? %></td>
				
				<td><%= subscription.created_at.strftime("%d/%m/%Y") %></td>
				<td><%= subscription.last_payment_date.strftime("%d/%m/%Y") unless subscription.last_payment_date.nil? %></td>
				<td><%= subscription.next_payment_date.strftime("%d/%m/%Y") unless subscription.next_payment_date.nil? %></td>
								
				<td class="align-right"><%= number_to_currency((subscription.plan_amount.to_f/100.to_f), unit: "€") %></td>
				<td class="align-right"><%= number_to_percentage((subscription.vat_rate.to_f*100), precision: 1) %></td>
				<td class="align-right"><%= number_to_currency((subscription.vat_amount.to_f/100.to_f), unit: "€") %></td>
				<td class="align-right"><%= number_to_currency((subscription.total_amount.to_f/100.to_f), unit: "€") %></td>
				<td><%= link_to subscription.frame.link_slug, subscription.frame %></td>
				<td><%= subscription.reactivate_token %></td>
			</tr>
		<% end %>
	</tbody>
</table>

</div>