<%= form_with(model: payment, local: true) do |form| %>
  <div class="field margin-bottom-20">
		<div class="margin-bottom-5">
			<div class="float-left width-15">Payment</div>
			<div class="float-left"><%= @payment.id %></div>
			<div class="clear"></div>
		</div>
		
		<div class="margin-bottom-5">
			<div class="float-left width-15">Created:</div>
			<div class="float-left"><%= form.datetime_select :created_at %></div>
			<div class="clear"></div>
		</div>
		
		<div class="margin-bottom-5">
			<div class="float-left width-15">Account:</div>
			<div class="float-left"><%= form.number_field :account_id %></div>
			<div class="clear"></div>
		</div>
		
		<div class="margin-bottom-5">
			<div class="float-left width-15">Subscription:</div>
			<div class="float-left"><%= form.number_field :subscription_id %></div>
			<div class="clear"></div>
		</div>
		
		<div class="margin-bottom-5">
			<div class="float-left width-15">Invoice:</div>
			<div class="float-left"><%= form.number_field :invoice_id %></div>
			<div class="clear"></div>
		</div>
		
		<div class="margin-bottom-5">
			<div class="float-left width-15">Account owner:</div>
			<div class="float-left"><%= @payment.account.user.email %></div>
			<div class="clear"></div>
		</div>
		
		<div class="margin-bottom-5">
			<div class="float-left width-15">Total amount</div>
			<div class="float-left"><%= form.number_field :total_amount, :class => "width-fixed-amounts" %></div>
			<div class="clear"></div>
		</div>
		
		<div class="margin-bottom-5">
			<div class="float-left width-15">External ID:</div>
			<div class="float-left"><%= form.text_field :external_payment_id %></div>
			<div class="clear"></div>
		</div>
		
		<div class="margin-bottom-5">
			<div class="float-left width-15">External status:</div>
			<div class="float-left"><%= form.text_field :external_payment_status %></div>
			<div class="clear"></div>
		</div>
		
		<div class="margin-bottom-5">
			<div class="float-left width-15">External error:</div>
			<div class="float-left"><%= form.text_field :external_payment_error %></div>
			<div class="clear"></div>
		</div>
		
		<div class="margin-bottom-5">
			<div class="float-left width-15">Type</div>
			<div class="float-left"><%= form.collection_select(:status, Payment::STATUSES, :to_s, lambda{|i| i.to_s.titleize}, :class => "PADDING-5", include_blank: true) %></div>
			<div class="clear"></div>
		</div>
		
		<div class="margin-bottom-5">
			<div class="float-left width-15">&nbsp;</div>
			<div class="float-left">&nbsp;</div>
			<div class="clear"></div>
		</div>
		
		<div class="margin-bottom-5">
			<div class="float-left width-15">&nbsp;</div>
			<div class="float-left"><%= form.submit %></div>
			<div class="clear"></div>
		</div>
		
	</div>
<% end %>