<% case @language when 1
    your_email_label = "Your email"
	amount_label = "Amount"
	vat_rate_label = "VAT rate"
	vat_amount_label = "VAT amount"
	total_label = "Total"
	frequency_label = "Frequency"
	confirm_label = "Confirm"
	reconfirm_label = "Re-confirm"
	
	monthly_label = "each month"
	yearly_label = "each year"
	one_time_label = "one-time payment"
when 2
    your_email_label = "Su correo"
	amount_label = "Cantidad"
	vat_rate_label = "IVA tipo"
	vat_amount_label = "IVA cantidad"
	total_label = "Total"
	frequency_label = "Frecuencia"
	confirm_label = "Confirmar"
	reconfirm_label = "Reconfirmar"
	
	monthly_label = "al mes"
	yearly_label = "al año"
	one_time_label = "en pago único"
end %>


<%# OPEN PAGE DIV, DISPLAY HEADLINE... %>
<div id="payments" class="">
	
	<% if controller_name == "payments" %>
			<h1 class="font-header font-header-normal line-120 font-upper">
				<%= @frame.emotional_quest_action %>
			</h1>
	<% else end %>
	
	<%# DISPLAY PAYMENT FORM... %>
	<div class="margin-top-10 margin-bottom-20 padding-20 buy-background buy-border font-payment" onmouseover="checkAmount()">
		
		<%# DISPLAY TITLE... %>
		<% if controller_name == "articles" || controller_name == "home" %>
				<h3 class="margin-top-0">
					<%= @frame.emotional_quest_action %>
				</h3>
		<% else end %>
	
		<%# DISPLAY INTRO... %>
		<div class="font-main font-main-normal">
			<p>
				<%= @frame.short_story %>
			</p>
		</div>
		
		
		<%# DISPLAY OPTION BUTTONS... %>
		<div class="width-98 margin-bottom-10">
			<div class="width-15 float-left margin-right-5 mobile-width">
				<div class="">
					<p class="align-centre line-100">
						<button type="submit" class="choosebutton width-100 font-main-normal" id="price" value="10" onclick="setAmount(this.value); checkAmount();"><%= number_to_currency((10), unit: "€") %></button>
					</p>
				</div>
			</div>
			<div class="width-15 float-left margin-right-5 mobile-width">
				<div class="">
					<p class="align-centre line-100">
						<button type="submit" class="choosebutton width-100 font-main-normal" id="price" value="25" onclick="setAmount(this.value); checkAmount();"><%= number_to_currency((25), unit: "€") %></button>
					</p>
				</div>
			</div>
			<div class="width-15 float-left margin-right-5 mobile-width">
				<div class="">
					<p class="align-centre line-100">
						<button type="submit" class="choosebutton width-100 font-main-normal" id="price" value="50" onclick="setAmount(this.value); checkAmount();"><%= number_to_currency((50), unit: "€") %></button>
					</p>
				</div>
			</div>
			<div class="width-15 float-left margin-right-5 mobile-width">
				<div class="">
					<p class="align-centre line-100">
						<button type="submit" class="choosebutton width-100 font-main-normal" id="price" value="100" onclick="setAmount(this.value); checkAmount();"><%= number_to_currency((100), unit: "€") %></button>
					</p>
				</div>
			</div>
			<div class="width-15 float-left margin-right-5 mobile-width">
				<div class="">
					<p class="align-centre line-100">
						<button type="submit" class="choosebutton width-100 font-main-normal" id="price" value="500" onclick="setAmount(this.value); checkAmount();"><%= number_to_currency((500), unit: "€") %></button>
					</p>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		
		<%# DISPLAY FORM INPUTS... %>
		<div id="ajax_form_one">
			<div class="margin-bottom-10">
			
			<%# IS USER ALREADY LOGGED IN? DO THEY HAVE A SUBSCRIPTION ON TSR? %>
			<% if current_user.nil? %>
			
			<% else %>
				<div id="customer_email" name="customer_email" type="text" data-email="<%= current_user.email %>" class="font-main-small float-left margin-right-5">
					<% case @language when 1 %>Hi, 
					<% when 2 %>Hola,  
					<% end %>
					<strong><%= current_user.email %></strong>
				</div>
				<%= render "users/user_labels" %>

				<div class="clear"></div>
				
				<% if !@subscription.nil? %>
					<div class="margin-top-5">
						<ul class="font-main-small" style="margin-inline-end: 0;">
							<li>
								<% case @language when 1 %>Your current <%= @frame.money_word_singular %> is
								<% when 2 %>Su <%= @frame.money_word_singular %> actual es 
								<% end %>
			
								<strong>
									<% if current_user.account.total_support.nil? %>
										<% case @language when 1 %>€0.00
										<% when 2 %>0,00
										<% end %>
									<% else %>
										<% case @language when 1 %><%= number_to_currency((current_user.account.total_support/100.to_f), unit: "€") %>
										<% when 2 %><%= number_to_currency((current_user.account.total_support/100.to_f), unit: "", separator: ",", delimiter: ".") %> euros
										<% end %>
									<% end %>
								</strong>
			
								<% case @subscription.payment_period when "month" %>
									<%= monthly_label %>
								<% when "year" %>
									<%= yearly_label %>
								<% when "one_time" %>
									<%= one_time_label %>
								<% end %>
							</li>
						</ul>
					</div>
				<% else end %>
			<% end %>
			
			
			<%# THE CONTRIBUTION AMOUNT AND PERIOD... %>
			<div class="">
				<input type="number" id="plan_amount" min="5" step="5" max="2000" value="25" onclick="checkEmail()" onselect="checkEmail()" class="StripeElement stripe_email width-15 mobile-width-half">
				
				euros
				
				<select name="select_payment_period" id="select_payment_period" onfocus="getSetup()" onchange="changePeriod()" onclick="changePeriod()" class="StripeElement width-20 mobile-width-half">
					<% case @language when 1 %>
						<option value="month">a month</option>
						<option value="year">a year</option>
						<option value="one_time">one-time</option>
					<% when 2 %>
						<option value="month">al mes</option>
						<option value="year">al año</option>
						<option value="one_time">pago único</option>
					<% end %>
				</select>
				
				<span id="payment_form_errors" class="color-red background-light-red hide">
					<% case @language when 1 %>...must be between €1 and €5,000 
					<% when 2 %>...debe estar entre 1 y 5.000 euros
					<% end %>
				</span>
			</div>
			
			
			<%# THE TAX COUNTRY... %>
			<div class="margin-top-10">
				<select name="select_residence_country" id="select_residence_country" onfocus="getSetup()" onchange="changeCountry()" onclick="changeCountry()" class="StripeElement width-30">
					<% case @language when 1 %><option id="" value="" disabled>--EU Countries--</option>
					<% when 2 %><option id="" value="" disabled>--Países UE--</option>
					<% end %>
					
					<% @countries.each do |c| %>
						<% case @language when 1 %><option id="<%= c.country_code %>" value="<%= c.country_code %>"><%= c.name_en %></option>
						<% when 2 %><option id="<%= c.country_code %>" value="<%= c.country_code %>"><%= c.name_es %></option>
						<% end %>
					<% end %>
					
					<% case @language when 1 %><option id="" value="" disabled>--Rest of World--</option>
					<% when 2 %><option id="" value="" disabled>--Resto del Mundo--</option>
					<% end %>
					
					<% @row.each do |c| %>
						<% case @language when 1 %><option id="<%= c.country_code %>" value="<%= c.country_code %>"><%= c.name_en %></option>
						<% when 2 %><option id="<%= c.country_code %>" value="<%= c.country_code %>"><%= c.name_es %></option>
						<% end %>
					<% end %>
				</select>
			</div>
			
		</div>
			
			
			<%# If new user, or not logged in, display box for new email... %>	
			<% if current_user.nil? %>
				<div class="margin-top-10">
					<input id="customer_email" name="customer_email" type="text" class="StripeElement stripe_email width-100" placeholder="<%= @place_email %>" data-email="" value="" onmouseover="getSetup(); checkEmail(this.value);" onkeyup="checkEmail(this.value); setEmail();" onfocusout="checkEmail(this.value); setEmail();" />
				</div>
			<% else end %>
			
			<%# Invoice address form if needed... %>
			<div id="invoice_details" style="display: none;">
				<h3>Invoice details</h3>
				<input id="invoice_name" name="invoice_name" type="text" class="StripeElement stripe_email width-100" placeholder="<%= @place_invoice_name %>" data-address="" onfocusout="checkVatDetails()" onkeyup="setTaxName()" onclick="setTaxName()" />
				<input id="invoice_tax_id" name="invoice_tax_id" type="text" class="StripeElement stripe_email width-100 margin-top-10" placeholder="<%= @place_invoice_tax_id %>" data-address="" onfocusout="checkVatDetails()" onkeyup="setTaxId()" onchange="setTaxId()" onclick="setTaxId()" />
				<input id="invoice_address" name="invoice_address" type="text" class="StripeElement stripe_email width-100 margin-top-10" placeholder="<%= @place_invoice_address %>" data-address="" onfocusout="checkVatDetails()" onkeyup="setTaxAddress()" onchange="setTaxAddress()" onclick="setTaxAddress()" />
				<h3>Card details</h3>
			</div>
			
			
				<%# If Stripe payment method, display that; otherwise, display Stripe new credit card form... %>
			<div id="stripe_container" class="margin-top-10">
					<div id="card-element" onmouseover="getSetup()">
					<!-- A Stripe Element will be inserted here. -->
					</div>
					<div id="card-errors" role="alert"></div>
			</div>
			
			
			<%# PAYMENT BUTTON %>
			<div class="font-payment margin-top-10 margin-bottom-30 align-centre">
					<button id="card-button" class="buybutton font-main-normal" data-secret=""><%= @frame.button_cta %></button>
			</div>
			
			
		</div>
			
			
			<%# CONFIRM WITH TAXES OR RE-CONFIRM PAYMENT... %>
			<div id="ajax_form_confirm" class="margin-top-10 padding-10 buy-border" style="display: none;">
				<div class="width-50 align-left margin-centre">
					<%= your_email_label %>: <span id="confirm_email"></span><br />
					<%= amount_label %>: <span id="confirm_plan_amount"></span><br />
					<%= vat_rate_label %>: <span id="confirm_vat_rate"></span><br />
					<%= vat_amount_label %>: <span id="confirm_vat_amount"></span><br />
					<%= total_label %>: <span id="confirm_total_amount"></span><br />
					<%= frequency_label %>: <span id="confirm_payment_period"></span><br />
					<button id="confirm_first_payment" class="margin-top-10 padding-5 buybutton font-main-normal" onclick="confirmPayment()"><%= confirm_label %> <%= @frame.money_word_singular %></button>
					<button id="confirm_sca_payment" onclick="ConfirmScaPayment()" style="display:none;" data-secret=""><%= reconfirm_label %></button>
				</div>
			</div>
		
			<%# IF EXISTING USER, LOG IN FIRST... %>
			<div id="ajax_form_login" class="" style="display:none;">
				<p class="font-main-small margin-bottom-0 color-red">
					<% case @language when 1 %>Please log in first…
					<% when 2 %>Inicie sesión primero...
					<% end %>
				</p>
				<%= render "users/log_in_logic" %>
			</div>
		
			
			<%# UI messages from Rails... %>
			<% flash.each do |key, value| %>
		    	<div class="alert alert-<%= key %>"><p><%= value.html_safe unless value.nil? %></p></div>
		  	<% end %>
			
			<%# UI messages from Ajax responses... %>
			<div id="ajax_form_message" class="margin-top-10 padding-10 buy-border" style="display:none;">
					Confirming now...
					<img src="<%= asset_path('ajax-loader.gif') %>" class="ajax_form_message_image" id="ajax_form_message_image" />
			</div>
			
			
			<%# CARD AND STRIPE LOGOS %>
			<div class="width-100 align-centre margin-top-20" style="border-top: 1px dashed #666666; border-bottom: 1px dashed #666666;"">
			<div class="width-fixed-cards margin-centre">
				<div class="float-right margin-left-7">
					<img src="<%= asset_path('stripe-logo.png') %>" style="max-width: 150px;" />
				</div>
				<div class="float-right padding-top-2">
					<img src="<%= asset_path('credit-cards.jpg') %>" style="max-width: 150px;" />
				</div>
				<div class="clear"></div>
			</div>
			</div>
			
		
	<% if @frame.video.present? %>
		<div class="video-wrapper" style="margin-top: 20px;">
			<% if @frame.video.match(/^[0-9]+$/) %>
				<%= content_tag(:iframe, nil, frameborder: 0, src: "https://player.vimeo.com/video/#{@frame.video}?quality=720p", allowfullscreen: true) %>
			<% else %> 
				<%= content_tag(:iframe, nil, frameborder: 0, src: "//www.youtube.com/embed/#{@frame.video}?rel=0&amp;showinfo=0", allowfullscreen: true) %>
			<% end %>
		</div>
	<% end %>
	
	<%# SALES STUFF AND INSTRUCTIONS... %>
	
	<div class="margin-top-20">
		<h3 class="">
			<% case @language when 1 %>Do this:
			<% when 2 %>Haga esto:
			<% end %>
		</h3>
		<ol class="instructions margin-top-5">
			<% case @language when 1 %>
				<li>Enter <%= @frame.money_word_with_article %> you wish to <%= @frame.money_word_verb %></li>
				<li>Choose the right tax country</li>
				<li>Enter your email and credit card</li>
				<li>Click "<%= @frame.button_cta %>"</li>
				<li>The machine will check your card and do some sums…</li>
				<li>Click "confirm"</li>
				<li>That's it, finished, welcome aboard. You will get a confirmation email</li>
				<li>Changes, receipts, invoices: log in and go to "My Account"</li>
				<li>Problems: matthew@thespainreport.es</li>
				<li>Alternatives: <a href="https://www.gofundme.com/f/thespainreport">GoFundMe</a> -- <a href="https://www.amazon.es/hz/wishlist/ls/37ITLR6W8OS7E">Amazon Wishlist</a> -- <a href="https://www.paypal.com/paypalme/thespainreport">PayPal</a></li>
			<% when 2 %>
				<li>Introduzca <%= @frame.money_word_with_article %> que quiere <%= @frame.money_word_verb %></li>
				<li>Elija el país correcto para los impuestos</li>
				<li>Introduzca su correo electrónico y tarjeta de crédito</li>
				<li>Haga clic en "<%= @frame.button_cta %>"</li>
				<li>La máquina comprobará su tarjeta y hará algunas sumas…</li>
				<li>Haga clic en "Confirmar"</li>
				<li>Ya está, hecho, bienvenido a bordo. Recibirá un correo de confirmación</li>
				<li>Cambios, recibos, facturas: en "Mi Cuenta"</li>
				<li>Problemas: matthew@thespainreport.es</li>
				<li>Alternativas: <a href="https://www.gofundme.com/f/thespainreport">GoFundMe</a> -- <a href="https://www.amazon.es/hz/wishlist/ls/37ITLR6W8OS7E">Amazon Wishlist</a> -- <a href="https://www.paypal.com/paypalme/thespainreport">PayPal</a></li>
			<% end %>
		</ol>
	</div>
		
		<h3 class="">
			<% case @language when 1 %>Crypto & NFTs
			<% when 2 %>Criptomonedas y NFTs
			<% end %>
		</h3>
		
		<p class="margin-top-10 margin-bottom-10 font-main-small">
			<%= render 'layouts/links_crypto' %>
		</p>
		
		<div class="margin-top-0 font-main-small">
			<div class="float-left margin-right-20">
				<img src="<%= asset_path('bitcoin_qr_3HfKnLAb1nWfh6e8BCjst6cwyWX6fTciz9.jpg') %>" style="max-width: 200px; margin-top: 0px;" />
			</div>
			
			<div class="float-left">
				<iframe id="nftvideo" type="text/html" width="200" height="200" src="https://player.vimeo.com/video/640163356?quality=4k&autoplay=1&controls=false&loop=1&muted=1&playsinline=1" frameborder="0"></iframe>
			</div>
			
			
			<div class="clear"></div>
		</div>
		
		<p>
			
		</p>
	
	</div>
	
	<%# STORE VALUES FOR SERVER IN FORM FIELDS... %>	
	<%= render "payments/server_stuff" %>
	
</div>