<% case @language when 1
    your_email_label = "Your email"
	amount_label = "Amount"
	vat_rate_label = "VAT rate"
	vat_amount_label = "VAT amount"
	total_label = "Total"
	frequency_label = "Frequency"
	confirm_label = "Confirm"
	reconfirm_label = "Re-confirm"
	
	monthly_label = "/month"
	yearly_label = "/year"
	one_time_label = "/one-time"
when 2
    your_email_label = "Su correo"
	amount_label = "Cantidad"
	vat_rate_label = "IVA tipo"
	vat_amount_label = "IVA cantidad"
	total_label = "Total"
	frequency_label = "Frecuencia"
	confirm_label = "Confirmar"
	reconfirm_label = "Reconfirmar"
	
	monthly_label = "/mes"
	yearly_label = "/año"
	one_time_label = "/único"
end %>


<%# OPEN PAGE DIV, DISPLAY HEADLINE... %>
<div id="payments" class="">
	
	<% if controller_name == "payments" %>
			<h1 class="font-header font-header-normal line-120 font-upper">
				<%= @frame.emotional_quest_action %>
			</h1>
	<% else end %>
	
	<%# DISPLAY PAYMENT FORM... %>
	<div class="margin-top-10 margin-bottom-20 padding-20 buy-background buy-border font-payment" onmouseover="checkAmount()">
		
		<%# DISPLAY TITLE... %>
		<% if controller_name == "articles" || controller_name == "home" %>
				<h3 class="margin-top-0">
					<%= @frame.emotional_quest_action %>
				</h3>
		<% else end %>
	
		<%# DISPLAY INTRO... %>
		<div class="font-main font-main-normal">
			<p class="margin-bottom-10">
				<%= @frame.short_story %>
			</p>
		</div>
		
		<%# IS USER ALREADY LOGGED IN? DO THEY HAVE A SUBSCRIPTION ON TSR? %>
			<% if current_user.nil? %>
			
			<% else %>
				<div class="">
					<div id="customer_email" name="customer_email" type="text" data-email="<%= current_user.email %>" class="font-main-small">
						<% case @language when 1 %>- Your email: 
						<% when 2 %>- Su correo:  
						<% end %>
						<strong><%= current_user.email %></strong>
					</div>
					
					<div class="margin-top-5 margin-right-5 float-left font-main-small">
						<% case @language when 1 %>- Your status: 
						<% when 2 %>- Su correo:  
						<% end %>
						
					</div>
					<div class="margin-top-8">
						<%= render "users/user_labels" %>
					</div>
	
					<div class="clear"></div>
					
					<div class="margin-top-5 font-main-small">
						<% case @language when 1 %>- Your current subscription(s):
						<% when 2 %>- Su(s) suscripción(es) actual(es): 
						<% end %>
						
						<% if !@subscription.nil? %>
							<% if current_user.account.total_support.nil? %>
								<% case @language when 1 %>€0.00/month
								<% when 2 %>0,00 euros al mes
								<% end %>
							<% else %>
							<% end %>
							
							
							<%= current_user.account.subscriptions.map { |s| 
							
							case @language 
								when 1 then subscription_amount = number_to_currency((s.plan_amount/100.to_f), unit: "€")
								when 2 then subscription_amount = number_to_currency((s.plan_amount/100.to_f), unit: "€", separator: ",", delimiter: ".")
							end
							
							case s.payment_period
								when "month" then period_label = "#{monthly_label}"
								when "year" then period_label = "#{yearly_label}"
								when "one_time" then period_label = "#{one_time_label}"
							end
								
							subscription_amount + period_label
								
							}.join(', ') %>
							
							
						<% else %>
							<% case @language when 1 %>€0.00 / month
							<% when 2 %>0,00 euros / mes
							<% end %>
						<% end %>	
					
					<div class="margin-top-5 font-main-small">
						<% case @language when 1 %>- You can read until: 
						<% when 2 %>- Puede leer hasta el:  
						<% end %>
						<%= current_user.can_read_date.strftime("%d/%m/%Y") %>
					</div>
					
					<div class="margin-top-10 font-main-small">
						<strong>
							<% if @language == 1 %>
								<% if [3].include?(@user.status) %>Subscribe now to read this column:
								<% elsif [1, 2].include?(@user.status) %>Increase your subscription or make an additional contribution:
								<% else end %>
							<% elsif @language == 2 %>
								<% if [3].include?(@user.status) %>Suscríbase ahora para leer esta columna...
								<% elsif [1, 2].include?(@user.status) %>Aumente su suscripción o haga una contribución adicional:
								<% else end %>
							<% else end %>
						</strong>
					</p>
					
					</div>					
				</div>
				
				
			<% end %>
		
		
		<%# DISPLAY OPTION BUTTONS... %>
		<div class="width-98 margin-top-20">
			<div class="width-15 float-left margin-right-5 mobile-width">
				<div class="">
					<p class="align-centre line-100">
						<button type="submit" class="choosebutton width-100 font-main-normal" id="price" value="10" onclick="setAmount(this.value); checkAmount();"><%= number_to_currency((10), precision: 0, unit: "€") %></button>
					</p>
				</div>
			</div>
			<div class="width-15 float-left margin-right-5 mobile-width">
				<div class="">
					<p class="align-centre line-100">
						<button type="submit" class="choosebutton width-100 font-main-normal" id="price" value="25" onclick="setAmount(this.value); checkAmount();"><%= number_to_currency((25), precision: 0, unit: "€") %></button>
					</p>
				</div>
			</div>
			<div class="width-15 float-left margin-right-5 mobile-width">
				<div class="">
					<p class="align-centre line-100">
						<button type="submit" class="choosebutton width-100 font-main-normal" id="price" value="50" onclick="setAmount(this.value); checkAmount();"><%= number_to_currency((50), precision: 0, unit: "€") %></button>
					</p>
				</div>
			</div>
			<div class="width-15 float-left margin-right-5 mobile-width">
				<div class="">
					<p class="align-centre line-100">
						<button type="submit" class="choosebutton width-100 font-main-normal" id="price" value="100" onclick="setAmount(this.value); checkAmount();"><%= number_to_currency((100), precision: 0, unit: "€") %></button>
					</p>
				</div>
			</div>

			<div class="clear"></div>
		</div>
		
		<%# DISPLAY FORM INPUTS... %>
		<div id="ajax_form_one">
			<div class="margin-bottom-10">
			
			<%# THE CONTRIBUTION AMOUNT AND PERIOD... %>
			<div class="">
				<input type="number" id="plan_amount" min="10" step="5" max="2000" value="10" onclick="checkEmail()" onselect="checkEmail()" class="StripeElement stripe_email width-15 mobile-width-half">
				
				euros
				
				<select name="select_payment_period" id="select_payment_period" onfocus="getSetup()" onchange="changePeriod()" onclick="changePeriod()" class="StripeElement width-20 mobile-width-half">
					<% case @language when 1 %>
						<option value="month">a month</option>
						<!-- <option value="year">a year</option> -->
						<!-- <option value="one_time">one-time</option> -->
					<% when 2 %>
						<option value="month">al mes</option>
						<!-- <option value="year">al año</option> -->
						<!-- <option value="one_time">pago único</option> -->
					<% end %>
				</select>
				
				<span id="payment_form_errors" class="color-red background-light-red hide">
					<% case @language when 1 %>Min: €10/month, €10/one-time or €120/year
					<% when 2 %>Min 10 euros/mes o pago único, 120 euros/año
					<% end %>
				</span>
			</div>
			
			
			<%# THE TAX COUNTRY... %>
			<div class="margin-top-10">
				<select name="select_residence_country" id="select_residence_country" onfocus="getSetup()" onchange="changeCountry()" onclick="changeCountry()" class="StripeElement width-30">
					<% case @language when 1 %><option id="" value="" disabled>--EU Countries--</option>
					<% when 2 %><option id="" value="" disabled>--Países UE--</option>
					<% end %>
					
					<% @countries.each do |c| %>
						<% case @language when 1 %><option id="<%= c.country_code %>" value="<%= c.country_code %>"><%= c.name_en %></option>
						<% when 2 %><option id="<%= c.country_code %>" value="<%= c.country_code %>"><%= c.name_es %></option>
						<% end %>
					<% end %>
					
					<% case @language when 1 %><option id="" value="" disabled>--Rest of World--</option>
					<% when 2 %><option id="" value="" disabled>--Resto del Mundo--</option>
					<% end %>
					
					<% @row.each do |c| %>
						<% case @language when 1 %><option id="<%= c.country_code %>" value="<%= c.country_code %>"><%= c.name_en %></option>
						<% when 2 %><option id="<%= c.country_code %>" value="<%= c.country_code %>"><%= c.name_es %></option>
						<% end %>
					<% end %>
				</select>
			</div>
			
		</div>
			
			
			<%# If new user, or not logged in, display box for new email... %>	
			<% if current_user.nil? %>
				<div class="margin-top-10">
					<input id="customer_email" name="customer_email" type="text" class="StripeElement stripe_email width-100" placeholder="<%= @place_email %>" data-email="" value="" onmouseover="getSetup(); checkEmail(this.value);" onkeyup="checkEmail(this.value); setEmail();" onfocusout="checkEmail(this.value); setEmail();" />
				</div>
			<% else end %>
			
			<%# Invoice address form if needed... %>
			<div id="invoice_details" style="display: none;">
				<h3>Invoice details</h3>
				<input id="invoice_name" name="invoice_name" type="text" class="StripeElement stripe_email width-100" placeholder="<%= @place_invoice_name %>" data-address="" onfocusout="checkVatDetails()" onkeyup="setTaxName()" onclick="setTaxName()" />
				<input id="invoice_tax_id" name="invoice_tax_id" type="text" class="StripeElement stripe_email width-100 margin-top-10" placeholder="<%= @place_invoice_tax_id %>" data-address="" onfocusout="checkVatDetails()" onkeyup="setTaxId()" onchange="setTaxId()" onclick="setTaxId()" />
				<input id="invoice_address" name="invoice_address" type="text" class="StripeElement stripe_email width-100 margin-top-10" placeholder="<%= @place_invoice_address %>" data-address="" onfocusout="checkVatDetails()" onkeyup="setTaxAddress()" onchange="setTaxAddress()" onclick="setTaxAddress()" />
				<h3>Card details</h3>
			</div>
			
			
				<%# If Stripe payment method, display that; otherwise, display Stripe new credit card form... %>
			<div id="stripe_container" class="margin-top-10">
					<div id="card-element" onmouseover="getSetup()">
					<!-- A Stripe Element will be inserted here. -->
					</div>
					<div id="card-errors" role="alert"></div>
			</div>
			
			
			<%# PAYMENT BUTTON %>
			<div class="font-payment margin-top-10 margin-bottom-30 align-centre">
					<button id="card-button" class="buybutton font-main-normal" data-secret=""><%= @frame.button_cta %></button>
			</div>
			
			
		</div>
			
			
			<%# CONFIRM WITH TAXES OR RE-CONFIRM PAYMENT... %>
			<div id="ajax_form_confirm" class="margin-top-10 padding-10 buy-border" style="display: none;">
				<div class="width-50 align-left margin-centre">
					<%= your_email_label %>: <span id="confirm_email"></span><br />
					<%= amount_label %>: <span id="confirm_plan_amount"></span><br />
					<%= vat_rate_label %>: <span id="confirm_vat_rate"></span><br />
					<%= vat_amount_label %>: <span id="confirm_vat_amount"></span><br />
					<%= total_label %>: <span id="confirm_total_amount"></span><br />
					<%= frequency_label %>: <span id="confirm_payment_period"></span><br />
					<button id="confirm_first_payment" class="margin-top-10 padding-5 buybutton font-main-normal" onclick="confirmPayment()"><%= confirm_label %> <%= @frame.money_word_singular %></button>
					<button id="confirm_sca_payment" onclick="ConfirmScaPayment()" style="display:none;" data-secret=""><%= reconfirm_label %></button>
				</div>
			</div>
		
			<%# IF EXISTING USER, LOG IN FIRST... %>
			<div id="ajax_form_login" class="red-background-text padding-10" style="display:none;">
				<p class="font-main-small margin-bottom-0">
					<% case @language when 1 %>Please log in first…
					<% when 2 %>Inicie sesión primero...
					<% end %>
				</p>
				<%= render "users/log_in_logic" %>
			</div>
		
			
			<%# UI messages from Rails... %>
			<% if false %>
			<% flash.each do |key, value| %>
		    	<div class="alert alert-<%= key %>"><p><%= value.html_safe unless value.nil? %></p></div>
		  	<% end %>
			<% end %>
			
			<%# UI messages from Ajax responses... %>
			<div id="ajax_form_message" class="margin-top-10 padding-10 buy-border" style="display:none;">
					Confirming now...
					<img src="<%= asset_path('ajax-loader.gif') %>" class="ajax_form_message_image" id="ajax_form_message_image" />
			</div>
			
			
			<%# CARD AND STRIPE LOGOS %>
			<div class="width-100 align-centre margin-top-20" style="border-top: 1px dashed #666666; border-bottom: 1px dashed #666666;"">
			<div class="width-fixed-cards margin-centre">
				<div class="float-right margin-left-7">
					<img src="<%= asset_path('stripe-logo.png') %>" style="max-width: 150px;" />
				</div>
				<div class="float-right padding-top-2">
					<img src="<%= asset_path('credit-cards.jpg') %>" style="max-width: 150px;" />
				</div>
				<div class="clear"></div>
			</div>
			</div>
			
		
	<% if @frame.video.present? %>
		<div class="video-wrapper" style="margin-top: 20px;">
			<% if @frame.video.match(/^[0-9]+$/) %>
				<%= content_tag(:iframe, nil, frameborder: 0, src: "https://player.vimeo.com/video/#{@frame.video}?quality=720p", allowfullscreen: true) %>
			<% else %> 
				<%= content_tag(:iframe, nil, frameborder: 0, src: "//www.youtube.com/embed/#{@frame.video}?rel=0&amp;showinfo=0", allowfullscreen: true) %>
			<% end %>
		</div>
	<% end %>
	
	<%# SALES STUFF AND INSTRUCTIONS... %>
	
	<div class="margin-top-20">
		<h3 class="">
			<% case @language when 1 %>Do this:
			<% when 2 %>Haga esto:
			<% end %>
		</h3>
		<ol class="instructions margin-top-5">
			<% case @language when 1 %>
				<li>Enter <%= @frame.money_word_with_article %> you wish to <%= @frame.money_word_verb %></li>
				<li>Choose the right tax country</li>
				<li>Enter your email and credit card</li>
				<li>Click "<%= @frame.button_cta %>"</li>
				<li>The machine will check your card and do some sums…</li>
				<li>Click "confirm"</li>
				<li>That's it, finished, welcome aboard. You will get a confirmation email</li>
				<li>Changes, receipts, invoices: log in and go to "My Account"</li>
				<li>Problems: matthew@thespainreport.es</li>
			<% when 2 %>
				<li>Introduzca <%= @frame.money_word_with_article %> que quiere <%= @frame.money_word_verb %></li>
				<li>Elija el país correcto para los impuestos</li>
				<li>Introduzca su correo electrónico y tarjeta de crédito</li>
				<li>Haga clic en "<%= @frame.button_cta %>"</li>
				<li>La máquina comprobará su tarjeta y hará algunas sumas…</li>
				<li>Haga clic en "Confirmar"</li>
				<li>Ya está, hecho, bienvenido a bordo. Recibirá un correo de confirmación</li>
				<li>Cambios, recibos, facturas: en "Mi Cuenta"</li>
				<li>Problemas: matthew@thespainreport.es</li>
			<% end %>
		</ol>
	</div>
		
		<h3 class="">
			<% case @language when 1 %>Crypto
			<% when 2 %>Criptomonedas
			<% end %>
		</h3>
		
		<p class="margin-bottom-10 font-main-small">
			<%= render 'layouts/links_crypto' %>
			<% if false %>
			<br /><iframe id="nftvideo" type="text/html" width="200" height="200" src="https://player.vimeo.com/video/640163356?quality=4k&autoplay=1&controls=false&loop=1&muted=1&playsinline=1" frameborder="0"></iframe>
			<% end %>
		</p>
	
	</div>
	
	<%# STORE VALUES FOR SERVER IN FORM FIELDS... %>	
	<%= render "payments/server_stuff" %>
	
</div>