<%# OPEN PAGE DIV, DISPLAY HEADLINE... %>
<% if controller_name == "payments" %>
	<div id="payments" class="">
		<h1 class="font-header font-header-normal line-120 font-upper">
			<%= @frame.emotional_quest_action %>
		</h1>
<% elsif controller_name == "articles" || controller_name == "home" %>
	<div id="payments" class="padding-top-20 buy-border-top margin-top-30">
		<h3 class="margin-top-0">
			<%= @frame.emotional_quest_action %>
		</h3>
<% else end %>
	
	
	<%# DISPLAY INTRO... %>
	<div class="font-main font-main-normal">
		<p>
			<%= @frame.short_story %>
		</p>
	</div>
	
	<% if current_user.nil? || @reader || @user.account.subscriptions.blank? %>
	
	
	<%# DISPLAY PLANS... %>
	
	<%# DISPLAY PAYMENT FORM... %>
	<div class="margin-top-10 margin-bottom-10 padding-20 buy-background buy-border font-payment" onmouseover="checkAmount()">
		<div id="ajax_form_one">
			
			<%# If user already exists and is logged in, say hello... %>
			<% if current_user.nil? %>
			<% else %>
				<div id ="customer_email" name="customer_email" type="text" data-email="<%= current_user.email %>">
					<% case @language when 1 %>Hi, 
					<% when 2 %>Hola,  
					<% end %>
					<strong><%= current_user.email %></strong>
				</div>
				<div id ="customer_support" name="customer_support" class="margin-top-10">
					<% case @language when 1 %>Your current <%= @frame.money_word_singular %> is
					<% when 2 %>Su <%= @frame.money_word_singular %> actual es 
					<% end %>

					<strong>
						<% if current_user.account.total_support.nil? %>
							<% case @language when 1 %>€0.00
							<% when 2 %>0,00
							<% end %>
						<% else %>
							<% case @language when 1 %><%= number_to_currency((current_user.account.total_support/100.to_f), unit: "€") %>
							<% when 2 %><%= number_to_currency((current_user.account.total_support/100.to_f), unit: "", separator: ",", delimiter: ".") %>
							<% end %>
						<% end %>
					</strong>

					<% case @language when 1 %> / month
					<% when 2 %> euros al mes
					<% end %>
				</div>
				
			<% end %>
			
			<%# Select a contribution amount and tax country... %>
			<div class="margin-top-10">
				
				<ul class="font-main-small">
					<li>
						<% case @language when 1 %>New <%= @frame.money_word_singular %>: € 
						<% when 2 %>Nueva <%= @frame.money_word_singular %>: 
						<% end %>
						
						<input type="number" id="plan_amount" min="5" step="5" max="2000" value="25" onclick="checkEmail()" onselect="checkEmail()">
						
						<% case @language when 1 %> / month
						<% when 2 %> euros al mes
						<% end %>
						
						<span id="payment_form_errors" class="color-red background-light-red hide">
							<% case @language when 1 %>...multiple of 5 between 5 and 2,000 
							<% when 2 %>...múltiplo de 5 entre 5 y 2.000
							<% end %>
						</span>
					</li>
					<li>
						<% case @language when 1 %>Which country do you pay taxes in?
						<% when 2 %>¿En qué país paga impuestos?
						<% end %>
						
						<select name="select_residence_country" id="select_residence_country" onfocus="getSetup()" onchange="changeCountry()" onclick="changeCountry()" >
							<% case @language when 1 %><option id="" value="" disabled>--EU Countries--</option>
							<% when 2 %><option id="" value="" disabled>--Países UE--</option>
							<% end %>
							
							<% @countries.each do |c| %>
								<% case @language when 1 %><option id="<%= c.country_code %>" value="<%= c.country_code %>"><%= c.name_en %></option>
								<% when 2 %><option id="<%= c.country_code %>" value="<%= c.country_code %>"><%= c.name_es %></option>
								<% end %>
							<% end %>
							
							<% case @language when 1 %><option id="" value="" disabled>--Rest of World--</option>
							<% when 2 %><option id="" value="" disabled>--Resto del Mundo--</option>
							<% end %>
							
							<% @row.each do |c| %>
								<% case @language when 1 %><option id="<%= c.country_code %>" value="<%= c.country_code %>"><%= c.name_en %></option>
								<% when 2 %><option id="<%= c.country_code %>" value="<%= c.country_code %>"><%= c.name_es %></option>
								<% end %>
							<% end %>
						</select>
					</li>
				</ul>
			</div>
			
			
			<%# If new user, or not logged in, display box for new email... %>	
			<% if current_user.nil? %>
				<div class="margin-top-10">
					<input id="customer_email" name="customer_email" type="text" class="StripeElement stripe_email width-100" placeholder="<%= @place_email %>" data-email="" value="" onmouseover="getSetup(); checkEmail(this.value);" onkeyup="checkEmail(this.value); setEmail();" onfocusout="checkEmail(this.value); setEmail();" />
				</div>
			<% else end %>
			
			<%# Invoice address form if needed... %>
			<div id="invoice_details" style="display: none;">
				<h3>Invoice details</h3>
				<input id="invoice_name" name="invoice_name" type="text" class="StripeElement stripe_email width-100" placeholder="<%= @place_invoice_name %>" data-address="" onfocusout="checkVatDetails()" onkeyup="setTaxName()" onclick="setTaxName()" />
				<input id="invoice_tax_id" name="invoice_tax_id" type="text" class="StripeElement stripe_email width-100 margin-top-10" placeholder="<%= @place_invoice_tax_id %>" data-address="" onfocusout="checkVatDetails()" onkeyup="setTaxId()" onchange="setTaxId()" onclick="setTaxId()" />
				<input id="invoice_address" name="invoice_address" type="text" class="StripeElement stripe_email width-100 margin-top-10" placeholder="<%= @place_invoice_address %>" data-address="" onfocusout="checkVatDetails()" onkeyup="setTaxAddress()" onchange="setTaxAddress()" onclick="setTaxAddress()" />
				<h3>Card details</h3>
			</div>
			
			
				<%# If Stripe payment method, display that; otherwise, display Stripe new credit card form... %>
			<div id="stripe_container" class="margin-top-10">
					<div id="card-element" onmouseover="getSetup()">
					<!-- A Stripe Element will be inserted here. -->
					</div>
					<div id="card-errors" role="alert"></div>
			</div>
			
			
			<%# PAYMENT BUTTON %>
			<div class="font-payment margin-top-10 align-centre">
					<button id="card-button" class="buybutton font-main-normal" data-secret=""><%= @frame.button_cta %></button>
			</div>
			
			

			
			
			<%# CONFIRM WITH TAXES OR RE-CONFIRM PAYMENT... %>
			<div id="ajax_form_confirm" class="margin-top-10 padding-10 buy-border" style="display: none;">
				<div class="width-50 align-left margin-centre">
					Your email: <span id="confirm_email"></span><br />
					Plan amount: <span id="confirm_plan_amount"></span><br />
					VAT rate: <span id="confirm_vat_rate"></span><br />
					VAT amount: <span id="confirm_vat_amount"></span><br />
					Total amount: <span id="confirm_total_amount"></span><br />
					<button id="confirm_first_payment" class="margin-top-10 padding-5 buybutton font-main-normal" onclick="confirmPayment()">Confirm <%= @frame.money_word_singular %></button>
					<button id="confirm_sca_payment" onclick="ConfirmScaPayment()" style="display:none;" data-secret="">Re-confirm SCA Payment</button>
				</div>
			</div>
		
			<%# IF EXISTING USER, LOG IN FIRST... %>
			<div id="ajax_form_login" class="margin-top-10 padding-10 alert-warning" style="display:none;">
				<p>Please log in first…</p>
				<%= form_tag '/login' do %>
					<div class="float-left"><%= text_field_tag 'email', nil, class: 'padding-5 font-main font-main-small', placeholder: 'Your e-mail...' %></div>
					<div class="float-left"><%= password_field_tag 'password', nil, class: 'padding-5 font-main font-main-small', placeholder: 'Your password...' %></div>
					<div class="float-left"><button type="submit" class="padding-5 font-main-small">Log In</button></div>
					<div class="float-left"><a href="/password">New password?</a></div>
					<div class="clear"></div>
				<% end %>
			</div>
		
			
			<%# UI messages from Rails... %>
			<% flash.each do |key, value| %>
		    	<div class="alert alert-<%= key %>"><p><%= value.html_safe unless value.nil? %></p></div>
		  	<% end %>
			
			<%# UI messages from Ajax responses... %>
			<div id="ajax_form_message" class="margin-top-10 padding-10 buy-border" style="display:none;">
			</div>
			
			
			<%# CARD AND STRIPE LOGOS %>
			<div class="width-100 align-centre margin-top-20" style="border-top: 1px dashed #666666;"">
			<div class="width-fixed-cards margin-centre">
				<div class="float-right margin-left-7">
					<img src="<%= asset_path('stripe-logo.png') %>" style="max-width: 150px;" />
				</div>
				<div class="float-right padding-top-2">
					<img src="<%= asset_path('credit-cards.jpg') %>" style="max-width: 150px;" />
				</div>
				<div class="clear"></div>
			</div>
			</div>
			
		</div>
	</div>
	
	
	<%# SALES STUFF AND INSTRUCTIONS... %>
	
	<div class="margin-top-20">
		<p class="font-bold margin-bottom-0 font-main-small">
			<% case @language when 1 %>How does it work?
			<% when 2 %>¿Cómo funciona?
			<% end %>
		</p>
		<ol class="instructions margin-top-5">
			<% case @language when 1 %>
				<li>Click on <%= @frame.money_word_with_article %> you wish to <%= @frame.money_word_verb %></li>
				<li>Make sure your tax country is correct</li>
				<li>Enter your email address and credit card details</li>
				<li>The server will check your card and do some sums…</li>
				<li>Click "<%= @frame.button_cta %>"</li>
				<li>That's it, done, welcome aboard, you will get a confirmation email</li>
			<% when 2 %>
				<li>Haga clic en <%= @frame.money_word_with_article %> que quiere <%= @frame.money_word_verb %></li>
				<li>Elija el país donde paga impuestos</li>
				<li>Introduzca su correo electrónico y los detalles de su tarjeta de crédito</li>
				<li>El servidor comprobará su tarjeta y hará algunas sumas…</li>
				<li>Haga clic en "<%= @frame.button_cta %>"</li>
				<li>Ya está, hecho, bienvenido a bordo, recibirá un correo de confirmación</li>
			<% end %>
		</ol>
	</div>
		
	<div style="margin-top-10">
		<p class="font-bold margin-bottom-0 font-main-small">
			<% case @language when 1 %>Notes:
			<% when 2 %>Apuntes:
			<% end %>
		</p>
		<ol class="instructions margin-top-5">
			<% case @language when 1 %>
				<li>You can print receipts or invoices for all your <%= @frame.money_word_plural %> in "My Account"</li>
				<li>Any problems or questions, email: matthew@thespainreport.es</li>
			<% when 2 %>
				<li>Puede imprimir facturas para sus <%= @frame.money_word_plural %> en "Yo soy mecenas"</li>
				<li>Cualquier problema o pregunta: matthew@thespainreport.es</li>
			<% end %>
		</ol>
	</div>
	
	<% if false %>
		<div class="margin-top-20">
			<p class="font-main-small">* <%= @frame.social_proof %></p>
			<p class="font-main-small">** <%= @frame.risk_reversal %></p>
		</div>
	<% end %>
	
	<%# STORE VALUES FOR SERVER IN FORM FIELDS... %>	
	<%= render "payments/server_stuff" %>
	
	
	<% else %>
		<% if @boss || @admin %>
			<div class="margin-top-20 padding-20 buy-background log-in-border-top font-main-small">
				<div class="topbutton mobile-100">
					<%= render "users/user_messages_web" %>
				</div>
			</div>
		<% end %>		
	<% end %>
	
</div>