<%# OPEN PAGE DIV, DISPLAY HEADLINE... %>
<% if controller_name == "payments" %>
	<div id="payments" class="">
		<h1 class="font-header font-header-normal line-120 font-upper">
			<%= @frame.emotional_quest_action %>
		</h1>
<% elsif controller_name == "articles" || controller_name == "home" %>
	<div id="payments" class="padding-top-20 buy-border-top margin-top-30">
		<h3 class="margin-top-0">
			<%= @frame.emotional_quest_action %>
		</h3>
<% else end %>
	
	
	<%# DISPLAY INTRO... %>
	<div class="font-main font-main-normal">
		<p>
			<%= @frame.short_story %>
		</p>
		<p class="margin-bottom-0">
			<em><%= @frame.emotional_quest_role %>.</em>
		</p>
	</div>
	
	
	<%# DISPLAY PLANS... %>
	<div class="width-98">
		<% @plans.each do |p| %>
			<div class="width-33 float-left margin-right-5 mobile-width">
				<h5 class="margin-bottom-0"><%= p.title %></h5>
				<div class="">
					<%= image_tag ('https://image.thespainreport.es/' + p.image) %>
					<div class="mobile-margins font-main-small margin-bottom-10" style="min-height: 150px;">
						<%= markdown(p.description) %>
					</div>
					<p class="align-centre line-100">
						<button type="submit" class="buybutton width-100 font-main-normal" id="price" value="<%= p.price %>" onclick="setAmount(this.value); checkAmount();"><%= number_to_currency((p.price.to_f), unit: "€") %></button>
					</p>
				</div>
			</div>
		<% end %>
		<div class="clear"></div>
	</div>
	
	<div class="margin-bottom-20">
		<div class="margin-right-5 margin-top-2 float-left font-main-tiny">
		<span class="label super-patrons-label">
			<% case @language when 1 %><span class="font-color-yellow">SUPER</span> PATRON
			<% when 2 %><span class="font-color-yellow">SUPER</span> MECENAS
			<% end %>
		</span>
		</div>
		
		<em>
			<% case @language when 1 %>
				Want to <%= @frame.money_word_verb %> journalism more? Type your own amount into the box below. You can create groups of friends with any combination of the three main levels.
			<% when 2 %>
				¿Quiere <%= @frame.money_word_verb %> el periodismo más? Introduzca su propia cantidad abajo. Puede crear grupos de amigos con cualquier combinación de los tres principales niveles.
			<% end %>
		
		
		
		</em>
	</div>
	
	<%# DISPLAY PAYMENT FORM... %>
	<div class="margin-top-10 margin-bottom-10 padding-20 buy-background buy-border font-payment">
		<div id="ajax_form_one">
			
			<%# If user already exists and is logged in, say hello... %>
			<% if current_user.nil? %>
			<% else %>
				<div id ="customer_email" name="customer_email" type="text" data-email="<%= current_user.email %>">Hi, <strong><%= current_user.email %></strong></div>
				<div id ="customer_support" name="customer_support" class="margin-top-10">
					Your current total <% @frame.money_word_singular %> is 
					<strong><%= number_to_currency((current_user.account.total_support/100.to_f), unit: "€") unless current_user.account.total_support.nil? %>/month</strong>.
					You can increase it here.</div>
				
			<% end %>
			
			<%# Select a contribution amount and tax country... %>
			<div class="margin-top-10">
				
				<ul class="font-main-small">
					<li>
						<% case @language when 1 %>New <%= @frame.money_word_singular %>: € 
						<% when 2 %>Nueva <%= @frame.money_word_singular %>: 
						<% end %>
						
						<input type="number" id="plan_amount" min="5" step="5" max="2000" value="25" onclick="checkEmail()" onselect="checkEmail()">
						
						<% case @language when 1 %> / month
						<% when 2 %> euros al mes
						<% end %>
						
						<span id="payment_form_errors" class="color-red background-light-red hide">
							<% case @language when 1 %>...multiple of 5 between 5 and 2,000 
							<% when 2 %>...múltiplo de 5 entre 5 y 2.000
							<% end %>
						</span>
					</li>
					<li>
						<% case @language when 1 %>Which country do you pay taxes in?
						<% when 2 %>¿En qué país paga impuestos?
						<% end %>
						
						<select name="select_residence_country" id="select_residence_country" onfocus="getSetup()" onchange="changeCountry()" onclick="changeCountry()" >
							<% case @language when 1 %><option id="" value="" disabled>--EU Countries--</option>
							<% when 2 %><option id="" value="" disabled>--Países UE--</option>
							<% end %>
							
							<% @countries.each do |c| %>
								<% case @language when 1 %><option id="<%= c.country_code %>" value="<%= c.country_code %>"><%= c.name_en %></option>
								<% when 2 %><option id="<%= c.country_code %>" value="<%= c.country_code %>"><%= c.name_es %></option>
								<% end %>
							<% end %>
							
							<% case @language when 1 %><option id="" value="" disabled>--Rest of World--</option>
							<% when 2 %><option id="" value="" disabled>--Resto del Mundo--</option>
							<% end %>
							
							<% @row.each do |c| %>
								<% case @language when 1 %><option id="<%= c.country_code %>" value="<%= c.country_code %>"><%= c.name_en %></option>
								<% when 2 %><option id="<%= c.country_code %>" value="<%= c.country_code %>"><%= c.name_es %></option>
								<% end %>
							<% end %>
						</select>
					</li>
				</ul>
			</div>
			
			
			<%# If new user, or not logged in, display box for new email... %>	
			<% if current_user.nil? %>
				<div class="margin-top-10">
					<input id="customer_email" name="customer_email" type="text" class="StripeElement stripe_email width-100" placeholder="<%= @place_email %>" data-email="" value="" onmouseover="getSetup(); checkEmail(this.value);" onkeyup="checkEmail(this.value); setEmail();" onfocusout="checkEmail(this.value); setEmail();" />
				</div>
			<% else end %>
			
			<%# Invoice address form if needed... %>
			<div id="invoice_details" style="display: none;">
				<h3>Invoice details</h3>
				<input id="invoice_name" name="invoice_name" type="text" class="StripeElement stripe_email width-100" placeholder="<%= @place_invoice_name %>" data-address="" onfocusout="checkVatDetails()" onkeyup="setTaxName()" onclick="setTaxName()" />
				<input id="invoice_tax_id" name="invoice_tax_id" type="text" class="StripeElement stripe_email width-100 margin-top-10" placeholder="<%= @place_invoice_tax_id %>" data-address="" onfocusout="checkVatDetails()" onkeyup="setTaxId()" onchange="setTaxId()" onclick="setTaxId()" />
				<input id="invoice_address" name="invoice_address" type="text" class="StripeElement stripe_email width-100 margin-top-10" placeholder="<%= @place_invoice_address %>" data-address="" onfocusout="checkVatDetails()" onkeyup="setTaxAddress()" onchange="setTaxAddress()" onclick="setTaxAddress()" />
				<h3>Card details</h3>
			</div>

			
			<%# If Stripe payment method, display that; otherwise, display Stripe new credit card form... %>
			<div id="stripe_container" class="margin-top-10">
				<% if current_user.nil? || !current_user.account.stripe_payment_method.present? %>
					<div id="card-element" onmouseover="getSetup()">
					<!-- A Stripe Element will be inserted here. -->
					</div>
					<div id="card-errors" role="alert"></div>
				<% else %>
					<div id="current_user_existing_payment_method" value="<%= current_user.account.stripe_payment_method %>" class="">
						—Use <%= @existing_pm_brand.capitalize %> **** <%= @existing_pm_last4 %> expiring in <%= @existing_pm_month %>/<%= @existing_pm_year %>? (<%= link_to "change card", edit_user_path(current_user) %>)
					</div>
				<% end %>
			</div>
			
			
			<%# PAYMENT BUTTON %>
			<div class="font-payment margin-top-10 align-centre">
				<% if current_user.nil? || !current_user.account.present? || !current_user.account.stripe_payment_method.present? %>
					<button id="card-button" class="buybutton font-main-normal" data-secret=""><%= @frame.button_cta %></button>
				<% elsif current_user.account.stripe_payment_method.present? %>
					<button id="button_existing_payment_method" class="buybutton padding-5 font-main-normal" onClick="setupExistingpayment()"><%= @frame.button_cta %></button>
				<% end %>
			</div>
			
			
			<%# CONFIRM WITH TAXES OR RE-CONFIRM PAYMENT... %>
			<div id="ajax_form_confirm" class="margin-top-10 padding-10 buy-border" style="display: none;">
				<div class="width-50 align-left margin-centre">
					Your email: <span id="confirm_email"></span><br />
					Plan amount: <span id="confirm_plan_amount"></span><br />
					VAT rate: <span id="confirm_vat_rate"></span><br />
					VAT amount: <span id="confirm_vat_amount"></span><br />
					Total amount: <span id="confirm_total_amount"></span><br />
					<button id="confirm_first_payment" class="margin-top-10 padding-5 buybutton font-main-normal" onclick="confirmPayment()">Confirm <%= @frame.money_word_singular %></button>
					<button id="confirm_sca_payment" onclick="ConfirmScaPayment()" style="display:none;" data-secret="">Re-confirm SCA Payment</button>
				</div>
			</div>
		
			<%# IF EXISTING USER, LOG IN FIRST... %>
			<div id="ajax_form_login" class="margin-top-10 padding-10 alert-warning" style="display:none;">
				<p>Please log in first…</p>
				<%= form_tag '/login' do %>
					<div class="float-left"><%= text_field_tag 'email', nil, class: 'padding-5 font-main font-main-small', placeholder: 'Your e-mail...' %></div>
					<div class="float-left"><%= password_field_tag 'password', nil, class: 'padding-5 font-main font-main-small', placeholder: 'Your password...' %></div>
					<div class="float-left"><button type="submit" class="padding-5 font-main-small">Log In</button></div>
					<div class="float-left"><a href="/password">New password?</a></div>
					<div class="clear"></div>
				<% end %>
			</div>
		
			
			<%# UI messages from Rails... %>
			<% flash.each do |key, value| %>
		    	<div class="alert alert-<%= key %>"><p><%= value.html_safe unless value.nil? %></p></div>
		  	<% end %>
			
			<%# UI messages from Ajax responses... %>
			<div id="ajax_form_message" class="margin-top-10 padding-10 buy-border" style="display:none;">
			</div>
			
		</div>
	</div>
	
	
	<%# SALES STUFF AND INSTRUCTIONS... %>
	
	<div class="margin-top-20">
		<p class="font-bold margin-bottom-0 font-main-small">
			<% case @language when 1 %>How does it work?
			<% when 2 %>¿Cómo funciona?
			<% end %>
		</p>
		<ol class="instructions margin-top-5">
			<% case @language when 1 %>
				<li>Click on the <%= @frame.money_word_singular %> you wish to <%= @frame.money_word_verb %></li>
				<li>Make sure your tax country is correct</li>
				<li>Enter your email address and credit card details</li>
				<li>The server will check your card and do some sums…</li>
				<li>Click "<%= @frame.button_cta %>"</li>
				<li>That's it, welcome aboard, you will get a couple of emails</li>
			<% when 2 %>
				Spanish instructions
			<% end %>
		</ol>
	</div>
		
	<div style="margin-top-10">
		<p class="font-bold margin-bottom-0 font-main-small">
			<% case @language when 1 %>Notes:
			<% when 2 %>Apuntes:
			<% end %>
		</p>
		<ol class="instructions margin-top-5">
			<% case @language when 1 %>
				<li>If you would like to <%= @frame.money_word_verb %> a larger <%= @frame.money_word_singular %>, please click here</li>
				<li>You can print receipts or invoices for all your <%= @frame.money_word_plural %> in "My Account"</li>
				<li>Any problems or questions, email: matthew@thespainreport.es</li>
			<% when 2 %>
				More Spanish instructions
			<% end %>
		</ol>
	</div>
	
	<% if false %>
		<div class="margin-top-20">
			<p class="font-main-small">* <%= @frame.social_proof %></p>
			<p class="font-main-small">** <%= @frame.risk_reversal %></p>
		</div>
	<% end %>
	
	<%# STORE VALUES FOR SERVER IN FORM FIELDS... %>	
	<%= render "payments/server_stuff" %>

</div>