<div class="content">
	<%= render "layouts/logo_account" %>

	<% flash.each do |key, value| %>
		<div class="alert alert-<%= key %>"><p><%= value.html_safe %></p></div>
	<% end %>
	
	Purchase IP address: <span id="ip_address"></span><br />
	Purchase country code: <span id="country_code"></span><br />
	<img src="" name="country_flag" id="country_flag" /><br />
	Plan amount: €<span id="plan_amount"></span><br />
	VAT rate: <span id="vat_rate"></span><br />
	VAT amount: €<span id="vat_amount"></span><br />
	Total: €<span id="total_amount"></span><br />
	
	<div class="form-row">
	 		<input id="customer_email" name="customer_email" type="text" class="StripeElement" onkeyup="readyServer()" onchange="readyServer()" onclick="readyServer()"/>
 	</div>
	
	<div class="form-row">
		<label for="card-element">
			Credit or debit card
		</label>
		<div id="card-element">
			<!-- A Stripe Element will be inserted here. -->
		</div>
		<div id="card-errors" role="alert"></div>
	</div>
	<button id="card-button" data-secret="<%= @setup_intent.client_secret %>">Contribute now</button>
</div>

<%= render "server_stuff" %>
<%= render "stripe_stuff" %>