<% case @language when 1
		refund_title = "Request a refund"
		
		refund_one = "Do you want to request the refund of this payment?"
		refund_two = "Your subscription and access will stop immediately"
		refund_three = "You can reactivate your subscription at any time at any level"

		log_in_email = "Your e-mail..."
		log_in_password = "Your password..."  
		log_in_button = "Log in"
		log_in_new_password_link = "/password"
		log_in_new_password_text = "New password?"
		
		payment_reference_label = "Reference"
		payment_amount_label = "Amount"
		payment_amount = (number_to_currency((@payment.total_amount/100.to_f), unit: "€")).to_s

		confirm_refund = "Confirm Refund"
	when 2
		refund_title = "Solicitar una devolución"
		
		refund_one = "¿Quiere solicitar la devolución de este pago?"
		refund_two = "Su suscripción y acceso se detendrán de inmediato"
		refund_three = "Puede reactivar su suscripción en cualquier momento y a cualquier nivel"
		
		log_in_email = "Su correo..."
		log_in_password = "Su clave..."  
		log_in_button = "Entrar"
		log_in_new_password_link = "/clave"
		log_in_new_password_text = "¿Clave nueva?"
		
		payment_reference_label = "Referencia"
		payment_amount_label = "Cantidad"
		payment_amount = number_to_currency((@payment.total_amount/100.to_f), unit: "", separator: ",", delimiter: ".") + " euros"
		
		confirm_refund = "Confirmar Devolución"
end %>

<%= render "layouts/logo_account" %>

<h1 class="font-header font-header-normal line-120 font-upper"><%= refund_title %></h1>

<% if current_user.nil? %>
	<%= form_tag '/login' do %>
		<div class="float-left width-100 margin-top-5">
			<%= text_field_tag 'email', nil, class: 'padding-10 width-98', placeholder: log_in_email %>
		</div>
		<div class="float-left width-100 margin-top-5">
			<%= password_field_tag 'password', nil, class: 'padding-10 width-98', placeholder: log_in_password %>
		</div>
		<div class="float-left margin-top-5 margin-right-5">
			<button type="submit" class="padding-7 font-main-small"><%= log_in_button %></button>
		</div>
		<div class="float-left margin-top-10 margin-right-5">
			| <a href="<%= log_in_new_password_link %>"><%= log_in_new_password_text %></a>
		</div>
		<div class="clear"></div>
	<% end %>
<% else %>
	<div class="margin-top-10 padding-20 buy-background buy-border font-payment">
		<p><%= refund_one %></p>
		<ul>
			<li><%= payment_reference_label %>: <%= @payment.external_payment_id %></li>
			<li><%= payment_amount_label %>: <%= payment_amount %></li>
			<li><%= refund_two %></li>
			<li><%= refund_three %></li>
		</ul>
	
		<div class="margin-top-20 margin-bottom-20">
			<%= form_with url: confirm_refund_payment_url(@payment.external_payment_id), local: true do |f| %>
				<div id="payment_to_fix" class="font-payment margin-top-10 align-centre">
					<%= f.submit confirm_refund, :class => "buybutton font-main-small width-fixed-cards mobile-width" %>
				</div>
			<% end %>
		</div>
		
		<%# CARD AND STRIPE LOGOS %>
			<div class="width-100 align-centre margin-top-5" style="border-top: 1px dashed #666666;"">
			<div class="width-fixed-cards margin-centre">
				<div class="float-right margin-left-7">
					<img src="<%= asset_path('stripe-logo.png') %>" style="max-width: 150px;" />
				</div>
				<div class="float-right padding-top-2">
					<img src="<%= asset_path('credit-cards.jpg') %>" style="max-width: 150px;" />
				</div>
				<div class="clear"></div>
			</div>
			</div>
	</div>
<% end %>

<%= render "layouts/footer" %>