<%= form_with(model: frame, local: true) do |f| %>
  <% if frame.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(frame.errors.count, "error") %> prohibited this frame from being saved:</h2>

      <ul>
      <% frame.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="margin-bottom-10 right">
    <strong>Language:</strong> <%= f.collection_select :language_id, @languages, :id, :name, {:selected => @frame.language_id ? @frame.language_id : 1} %>
    <strong>Translation of:</strong> <%= f.collection_select :original_id, @frames, :id, :emotional_quest_action, {include_blank: true, :selected => @frame.original_id} %>
    <%= f.submit %>
    <%= link_to 'Go', @frame %>
  </div>
  
  <div class="margin-bottom-10">
		<%= f.text_field :emotional_quest_action, :class => "width-33 padding-5 font-header font-header-small", placeholder: "Emotional quest goal…" %>
	</div>
	
	<div class="margin-bottom-10">
		<%= f.text_field :emotional_quest_role, :class => "width-33 padding-5 font-main font-main-small font-italic", placeholder: "because…explain reader role…" %>
	</div>

	
	<div class="margin-bottom-10">
    <%= f.text_area :short_story, :class => "width-98 padding-10 font-main font-main-normal", :style => "min-height: 35px;", placeholder: "Short story…surroundings, antagonists, threats, risk to treasure…" %>
  </div>
	
	<div class="margin-bottom-10">
		<%= f.text_field :link_slug, :class => "width-20 padding-5", placeholder: "Payment page link slug…" %> (pay, subscribe, guarantee, support, contribute, x)
	</div>
  
  <div class="margin-bottom-10">
    <%= f.text_field :money_word_singular, :class => "width-20 padding-5", placeholder: "Money word singular…" %> "There was a problem with your [payment, subscription, fund, contribution, x]…"
  </div>
  
  <div class="margin-bottom-10">
    <%= f.text_field :money_word_with_article, :class => "width-20 padding-5", placeholder: "Money word with article…" %> "Click on [THE payment, subscription, fund, contribution, x]…" / "Haga clic en [LA contribución, X...]
  </div>
  
  <div class="margin-bottom-10">
    <%= f.text_field :money_word_plural, :class => "width-20 padding-5", placeholder: "Money word plural…" %> "All of the regular X from hundreds of reader patrons…"
  </div>
  
  <div class="margin-bottom-10">
    <%= f.text_field :money_word_verb, :class => "width-20 padding-5", placeholder: "Money word verb…" %> "Click on the [money_word] you wish to X…"
  </div>
  
  <div class="margin-bottom-10">
    <%= f.text_field :money_word_verb_phrase, :class => "width-20 padding-5", placeholder: "Money word verb phrase…" %> "Want to XXXXX XXXX [support journalism more]?" / "¿Quiere XXXX XXXX [contribuir más al periodismo]?"
  </div>
  
  <div class="margin-bottom-10">
    <%= f.text_area :social_proof, :class => "width-98 padding-10 font-main font-main-normal", :style => "min-height: 35px;", placeholder: "Social proof & momentum…" %>
  </div>
  
  <div class="margin-bottom-10">
    <%= f.text_area :risk_reversal, :class => "width-98 padding-10 font-main font-main-normal", :style => "min-height: 35px;", placeholder: "Risk reversal, guarantee…" %>
  </div>
  
	<h3>CTAs</h3>
	
	<div class="margin-bottom-10">
    <%= f.text_field :button_cta, :class => "width-20 padding-5", placeholder: "Button CTA: pay/contribute/support Now…" %> (Pay now, contribute now, fund now, insure now, x)
  </div>
  
  <div class="margin-bottom-10">
    <%= f.text_field :button_cta_trial_over, :class => "width-20 padding-5", placeholder: "CTA trial over…" %>
  </div>
  
  <div class="margin-bottom-10">
    <%= f.text_field :button_cta_increase, :class => "width-20 padding-5", placeholder: "CTA increase…" %>
  </div>
  
  <div class="margin-bottom-10">
    <%= f.text_field :button_cta_reactivate, :class => "width-20 padding-5", placeholder: "CTA reactivate…" %>
  </div>
	
	<h3>Log-in Block</h3>
	
	<div class="margin-bottom-10">
    <%= f.text_field :access_patrons_only, :class => "width-33 padding-5 font-main font-main-small font-italic", :style => "min-height: 35px;", placeholder: "Access patrons only…" %>
  </div>
  
  <div class="margin-bottom-10">
    <%= f.text_field :access_more_for_patrons, :class => "width-33 padding-5 font-main font-main-small font-italic", :style => "min-height: 35px;", placeholder: "Access more for patrons…" %>
  </div>
  
  <div class="margin-bottom-10">
    <%= f.text_area :patrons_extra_home, :class => "width-98 padding-10 font-main font-main-normal", :style => "min-height: 35px;", placeholder: "Extras home sales message…" %>
  </div>

	<div class="margin-bottom-10">
    <%= f.text_area :patrons_extra_videos, :class => "width-98 padding-10 font-main font-main-normal", :style => "min-height: 35px;", placeholder: "Extra videos sales message…" %>
  </div>

<div class="margin-bottom-10">
    <%= f.text_area :patrons_extra_audios, :class => "width-98 padding-10 font-main font-main-normal", :style => "min-height: 35px;", placeholder: "Extra audios sales message…" %>
  </div>
  
  <div class="margin-bottom-10">
    <%= f.text_area :patrons_extra_photos, :class => "width-98 padding-10 font-main font-main-normal", :style => "min-height: 35px;", placeholder: "Extra photos sales message…" %>
  </div>
  
  <div class="margin-bottom-10">
    <%= f.text_area :patrons_extra_column, :class => "width-98 padding-10 font-main font-main-normal", :style => "min-height: 35px;", placeholder: "Extra column sales message…" %>
  </div>
  
  
  <h3>User messages logged-in/emails</h3>
  
	<div class="margin-bottom-10">
    <%= f.text_field :reader_45_trial_message, :class => "width-70 padding-5", placeholder: "Reader 45-day trial…" %>
  </div>
  
  <div class="margin-bottom-10">
    <%= f.text_field :reader_no_45_trial_message, :class => "width-70 padding-5", placeholder: "Reader 45-day trial over…" %>
  </div>
  
  <div class="margin-bottom-10">
    <%= f.text_field :patron_paused_message, :class => "width-70 padding-5", placeholder: "Patron paused message…" %>
  </div>

  <div class="margin-bottom-10">
    <%= f.text_field :patron_1_4_message, :class => "width-70 padding-5", placeholder: "Patron 1-4 message…" %>
  </div>
	
	<div class="margin-bottom-10">
    <%= f.text_field :patron_5_9_message, :class => "width-70 padding-5", placeholder: "Patron 5-9 message…" %>
  </div>
  
  <div class="margin-bottom-10">
    <%= f.text_field :patron_10_24_message, :class => "width-70 padding-5", placeholder: "Patron 10-24 message…" %>
  </div>
  
  <div class="margin-bottom-10">
    <%= f.text_field :patron_25_message, :class => "width-70 padding-5", placeholder: "Patron 25 message…" %>
  </div>
	
	<div class="margin-bottom-10">
    <%= f.text_field :patron_super_message, :class => "width-70 padding-5", placeholder: "Patron super message…" %>
  </div>
  
  <div class="margin-bottom-10">
    <%= f.text_field :patron_payment_paused_message, :class => "width-70 padding-5", placeholder: "Patron payment paused…" %>
  </div>
  
  <div class="margin-bottom-10">
    <%= f.text_field :patron_payment_problem_message, :class => "width-70 padding-5", placeholder: "Patron payment problem message…" %>
  </div>
	
	<div class="margin-bottom-10">
    <%= f.text_field :admin_message, :class => "width-70 padding-5", placeholder: "Admin message…" %>
  </div>
	
	<h3>Email block</h3>
	
	<div class="margin-bottom-10">
		<%= f.text_field :email_reader_header, :class => "width-33 padding-5 font-header font-header-small", placeholder: "Email header…" %>
	</div>
  
  <div class="margin-bottom-10">
    <%= f.text_area :email_reader_text, :class => "width-98 padding-10 font-main font-main-normal", :style => "min-height: 35px;", placeholder: "Email text…" %>
  </div>
  
  <div class="margin-bottom-10">
    <%= f.text_field :email_reader_placeholder, :class => "width-20 padding-5", placeholder: "Email placeholder…" %> (Enter your email here…)
  </div>
  
  <div class="margin-bottom-10">
    <%= f.text_field :email_reader_button, :class => "width-20 padding-5", placeholder: "Email button CTA…" %> (Join, send, x)
  </div>
	
  
  <% if false %>
    <div class="margin-bottom-10">
  		<%= f.text_field :image, :class => "width-98 padding-5", placeholder: "Frame image file…" %>
  	</div>
  	
    <div class="margin-bottom-10">
      <%= image_tag ('http://image.thespainreport.es/' + @frame.image) unless @frame.image.nil? %>
    </div>
  <% end %>
  
  
<% end %>