<%= form_with(model: campaign, local: true) do |f| %>
  <% if campaign.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(campaign.errors.count, "error") %> prohibited this campaign from being saved:</h2>

      <ul>
      <% campaign.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="margin-bottom-10 right">
    <strong>Language:</strong> <%= f.collection_select :language_id, @languages, :id, :name, {:selected => @campaign.language_id ? @campaign.language_id : 1} %>
    <strong>Translation of:</strong> <%= f.collection_select :original_id, @campaigns, :id, :name, {include_blank: true, :selected => @campaign.original_id} %>
    <%= f.submit %>
    <%= link_to 'Go', @campaign %>
  </div>
  
  <div class="margin-bottom-10">
		<%= f.text_field :name, :class => "width-98 padding-5 font-header font-header-small", placeholder: "Campaign name…" %>
	</div>

  <div class="margin-bottom-10">
		<%= f.text_field :image, :class => "width-98 padding-5", placeholder: "Campaign image file…" %>
	</div>
  
  <div class="margin-bottom-10">
    <%= f.text_area :teaser, :class => "width-98 padding-10 font-main font-main-normal", :style => "min-height: 135px;", placeholder: "Teaser…" %>
  </div>
  
  <div class="margin-bottom-10">
    <%= f.text_area :deal, :class => "width-98 padding-10 font-main font-main-normal", :style => "min-height: 35px;", placeholder: "Deal, what do I get…" %>
  </div>
  
  <div class="margin-bottom-10">
    <%= f.text_area :social, :class => "width-98 padding-10 font-main font-main-normal", :style => "min-height: 35px;", placeholder: "Social proof & momentum…" %>
  </div>
  
  <div class="margin-bottom-10">
    <%= f.text_area :riskreversal, :class => "width-98 padding-10 font-main font-main-normal", :style => "min-height: 35px;", placeholder: "Risk reversal, guarantee…" %>
  </div>
  
  <div class="margin-bottom-10">
    <%= f.text_field :buttontext, class: "content-admin-lede", placeholder: "Button text…" %>
  </div>
  
  <div class="margin-bottom-10">
    <%= image_tag ('http://image.thespainreport.es/' + @campaign.image) unless @campaign.image.nil? %>
  </div>
<% end %>