<%= render "articles/admintop" %>

<table>
	<tbody>
		<% @campaigns.each do |campaign| %>
			<tr>
				<td><%= link_to campaign.name, campaign %></td>
				<td>
					<% campaign.translations.each do |tr| %>
					 <%= link_to tr.language.name, tr %>
					<% end %>
				</td>
				<td><%= campaign.buttontext %></td>
				<td><%= link_to 'Edit', edit_campaign_path(campaign) %></td>
				<td><%= link_to 'Destroy', campaign, method: :delete, data: { confirm: 'Are you sure?' } %></td>
			</tr>
		<% end %>
	</tbody>
</table>

</div>