<%= render "articles/admintop" %>

	<h1 class="font-header font-header-normal line-115">Campaigns</h1>
	
	<div class="margin-bottom-20">
		<strong>Name:</strong> <%= link_to @campaign.name, edit_campaign_path(@campaign) %><br />
		<strong>Subtitle:</strong> <%= @campaign.subtitle %><br />
		<strong>Language:</strong> <%= @campaign.language.try(:name) %>
	</div>
	
	<div class="margin-bottom-20">
		<%= markdown(@campaign.teaser) %>
		<%= markdown(@campaign.deal) %>
		<%= markdown(@campaign.social) %>
		<%= markdown(@campaign.riskreversal) %>
		<a href="https://www.patreon.com/join/matthewbennett" class="button"><%= @campaign.buttontext %></a>
	</div>
	
	<div class="margin-bottom-20">
		<%= image_tag ('http://image.thespainreport.es/' + @campaign.image) unless @campaign.image.nil? %>
	</div>

</div>