<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @campaign.name %>
</p>

<p>
  <%= markdown(@campaign.teaser) %>
</p>

<p>
  <strong>Button Text:</strong>
  <%= @campaign.buttontext %>
</p>

<p>
  <strong>Language:</strong>
  <%= @campaign.language.try(:name) %>
</p>

<%= link_to 'Edit', edit_campaign_path(@campaign) %> |
<%= link_to 'Back', campaigns_path %>
