<!DOCTYPE html>
<html>
<head>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>

<p><strong><%= @article.headline %></strong></p>

<p>
	<% if @article.language_id == 1 %>
		<%= @article.created_at.strftime("%b %d, %Y, %l:%M %P") %>
	<% elsif @article.language_id == 2 %>
		<%= @article.created_at.strftime("%d/%m/%Y, %H:%M") %>
	<% else %>
	<% end %>
	| <%= link_to @article.story.headline, @article.story unless @article.story.nil? %>
</p>

<p>
	<em>
		<%= @article.lede %>
	</em>
</p>

<p>
	<% if @articleupdates.present? %>
		<ul class="margin-top-5 margin-bottom-0 margin-left-20 margin-right-0">
	      <% @articleupdates.each do |u| %>
	        <li><%= u.headline %></li>
	      <% end %>
	    </ul>
    <% else %>
    <% end %>
</p>

<% if @article.image.present? %>
	<% if ['.png','.jpg'].include?File.extname(@article.image) %> 
		<%= image_tag ('https://image.thespainreport.es/' + @article.image), style: 'max-width: 700px;' %>
	<% else %>
	<% end %>
<% else %>
<% end %>

<% if @article.audio_file_mp3.present? %>
	<ul>
	<li><%= link_to "Listen to " + @article.headline, @article %></li>
	</ul>
<% else %>
<% end %>

<%= markdown(@article.body) %>

	<% if @article.image.present? %>
		<% if ['.pdf'].include?File.extname(@article.image) %>
			<% if @article.language_id == 1 %>
				<strong>Original document:</strong>
			<% elsif @article.language_id == 2 %>
				<strong>Documento original:</strong>
			<% else %>
			<% end %>
			
			<%= link_to @article.image, 'https://pdf.thespainreport.es/' + @article.image %>
		<% else %>
		<% end %>
	<% else %>
	<% end %>

<% if @articletweets.present? %>
	<% @articletweets.each do |t| %>
		<p>
			<%= t.message %>
			<br /><br />
			<% if t.image.present? %>
				<%= image_tag ('https://image.thespainreport.es/' + t.image), style: 'max-width: 700px;' %>
			<% end %>
		</p>
	<% end %>
<% end %>

<% @articleupdates.each do |u| %>
		<p>
			<strong><%= u.headline %></strong>
		</p>
		
		<p>
			<% if u.language_id == 1 %>
				<em><%= u.created_at.strftime("%b %d, %Y, %l:%M %P") %></em>
			<% elsif u.language_id == 2 %>
				<em><%= u.created_at.strftime("%d/%m/%Y, %H:%M") %></em>
			<% else %>
			<% end %>
			<br />
			<em><%= u.lede %></em>
		</p>
		
		<% if u.image.present? %>
			<%= image_tag ('https://image.thespainreport.es/' + u.image), style: 'max-width: 700px;' %>
		<% else %>
		<% end %>
		
		<%= markdown(u.body) %>
<% end %>

<% if @article.language_id == 1 %>
	<strong>Listen to Bennett in Spain here:</strong>
	<a href="https://podcasts.apple.com/podcast/id1495596532" title="Bennett in Spain on Apple Podcasts">Apple Podcasts</a>, 
	<a href="https://open.spotify.com/show/4A8CdKc4bYPYsapzyxdvWo" title="Bennett in Spain on Spotify">Spotify</a>, 
	<a href="https://www.ivoox.com/podcast-bennett-in-spain_sq_f1842992_1.html" title="Bennett in Spain on iVoox">iVoox</a>,
	<a href="https://www.stitcher.com/podcast/the-spain-report" title="Bennett in Spain on Stitcher">Stitcher</a>,
	<a href="https://#" title="Bennett in Spain on Tunein">Tunein</a>,
	<a href="https://soundcloud.com/user-842077287/sets/bennett-in-spain" title="Bennett in Spain on SoundCloud">SoundCloud</a>,
	<a href="https://www.youtube.com/playlist?list=PL3DymtXaX19QyOs-R0bu1eiX6j4c8L-Ey" title="Bennett in Spain on YouTube">YouTube</a>,
	<a href="https://www.facebook.com/BennettInSpain/playlist/606829756765780" title="Bennett in Spain on Facebook">Facebook</a>
<% elsif @article.language_id == 2 %>
	<strong>Esucuche Bennett en España aquí:</strong>
	<a href="https://podcasts.apple.com/podcast/id1495596384" title="Bennett en España en Apple Podcasts">Apple Podcasts</a>, 
	<a href="https://open.spotify.com/show/7euXMABMb6onzw50VxKK0W" title="Bennett en España en Spotify">Spotify</a>, 
	<a href="https://www.ivoox.com/podcast-bennett-espana_sq_f1842998_1.html" title="Bennett en España en iVoox">iVoox</a>,
	<a href="https://www.stitcher.com/podcast/bennett-en-espana" title="Bennett en España en Stitcher">Stitcher</a>,
	<a href="https://tunein.com/podcasts/News--Politics-Podcasts/Bennett-en-Espana-p1286596/" title="Bennett en España en Tunein">Tunein</a>,
	<a href="https://soundcloud.com/user-842077287/sets/bennett-en-espana" title="Bennett en España en SoundCloud">SoundCloud</a>,
	<a href="https://www.youtube.com/playlist?list=PL3DymtXaX19TyCGLrkycaKaCAzha0HwAw" title="Bennett en España en YouTube">YouTube</a>,
	<a href="https://www.facebook.com/BennettInSpain/playlist/206012307112155" title="Bennett en España en Facebook">Facebook</a>
<% else %>
<% end %>

<p>
******************************************
<br />
	<% if [1, 2, 4].include?@user.status %>
		(<%= @article.frame.emails_link_thanks_patrons %>)
	<% else %>
		(<%= link_to @article.frame.emails_link_cta_readers, root_url + "value/" + @article.frame.link_slug %>)
	<% end %>
<br />
******************************************
</p>

<% if @article.language_id == 1 %>
	<ul>
		<% if ['.pdf'].include?File.extname(@article.image) %>
			<li>Document: <%= link_to @article.image, 'https://pdf.thespainreport.es/' + @article.image %></li>
		<% else %>
		<% end %>
	</ul>
	<p><strong>Email amount:</strong></p>
	<ul>
		<li><%= link_to "I want all articles & latest news", update_email_amount_user_url(@user.confirm_token, emails: 1) %></li>
		<li><%= link_to "I only want full articles", update_email_amount_user_url(@user.confirm_token, emails: 2) %></li>
		<li><%= link_to "I only want announcements from Matthew", update_email_amount_user_url(@user.confirm_token, emails: 3) %></li>
		<li><%= link_to "I don't want any emails at all", update_email_amount_user_url(@user.confirm_token, emails: 4) %></li>
	</ul>
	<p><strong>Email language:</strong></p>
	<ul>
		<li><%= link_to "I only want emails in English", update_email_language_user_url(@user.confirm_token, emaillanguage: 1) %></li>
		<li><%= link_to "I only want emails in Spanish", update_email_language_user_url(@user.confirm_token, emaillanguage: 2) %></li>
		<li><%= link_to "I want emails in English & Spanish", update_email_language_user_url(@user.confirm_token, emaillanguage: 3) %></li>
	</ul>
<% elsif @article.language_id == 2 %>
	<ul>
		<li><%= link_to "Lea esto en The Spain Report", article_url(@article) %></li>
		
		<% if ['.pdf'].include?File.extname(@article.image) %>
			<li>Documento: <%= link_to @article.image, 'https://pdf.thespainreport.es/' + @article.image %></li>
		<% else %>
		<% end %>
		
		<% if @article.audio_file_mp3.present? %>
			<li>Audio: <%= link_to @article.audio_file_mp3, ('https://audio.thespainreport.es/' + @article.audio_file_mp3) %></li>
		<% else %>
		<% end %>
		
		<% if @article.story.nil? %>
		<% else %>
			<li>Tema: <%= link_to @article.story.headline, @article.story %></li>
		<% end %>
	</ul>
	<p><strong>Cantidad de correo:</strong></p>
	<ul>
		<li><%= link_to "Quiero artículos y la última hora", update_email_amount_user_url(@user.confirm_token, emails: 1) %></li>
		<li><%= link_to "Sólo quiero artículos completos", update_email_amount_user_url(@user.confirm_token, emails: 2) %></li>
		<li><%= link_to "Sólo quiero avisos de Matthew", update_email_amount_user_url(@user.confirm_token, emails: 3) %></li>
		<li><%= link_to "No quiero ningún correo", update_email_amount_user_url(@user.confirm_token, emails: 4) %></li>
	</ul>
	<p><strong>Idioma de los correos:</strong></p>
	<ul>
		<li><%= link_to "Sólo quiero los correos en inglés", update_email_language_user_url(@user.confirm_token, emaillanguage: 1) %></li>
		<li><%= link_to "Sólo quiero los correos en español", update_email_language_user_url(@user.confirm_token, emaillanguage: 2) %></li>
		<li><%= link_to "Quiero los correos en inglés y en español", update_email_language_user_url(@user.confirm_token, emaillanguage: 3) %></li>
	</ul>
<% else %>
<% end %>

</body>
</html>