<!DOCTYPE html>
<html>
<head>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>

<p><strong><%= @article.headline %></strong></p>

<p>
	<% case @language when 1 %><%= @article.created_at.strftime("%b %d, %Y, %l:%M %P") %>
	<% when 2 %><%= @article.created_at.strftime("%d/%m/%Y, %H:%M") %>
	<% end %>
</p>

<p><em><%= @article.lede %></em></p>

<% if @article.image.present? %>
	<% if ['.png','.jpg'].include?File.extname(@article.image) %> 
		<%= image_tag ('https://image.thespainreport.es/' + @article.image), style: 'max-width: 700px;' %>
	<% else %>
	<% end %>
<% else %>
<% end %>

<% if @article.audio_file_mp3.present? %>
	<ul>
		<li>
			<strong>
				<% case @language when 1 %>Listen: 
				<% when 2 %>Escuche: 
				<% end %>
			</strong>
			<%= link_to @article.headline, @article %>
		</li>
	</ul>
<% else %>
<% end %>

<% if ["Patrons only", "Sólo mecenas"].include?@article.type.name %>
	<% case @status when 3, 4, 5 %>
		<%= markdown(truncate(@article.body, length: 500)) %>
		<ul>
			<li>
				<% case @status when 3 %><%= @frame.access_patrons_only %>. <%= link_to @frame.cta_reader_to_patron, @subscribe %>
				<% when 4 %><%= @frame.access_patrons_only %>. <%= link_to @frame.cta_patron_paused, @restart %>
				<% when 5 %><%= @frame.access_patrons_only %>. <%= link_to @frame.cta_patron_cancelled, @restart %>
				<% end %>
			</li>
		</ul>
	<% when 1, 2 %>
		<%= markdown(@article.body).html_safe %>
	<% end %>
<% else %
	<%= markdown(@article.body).html_safe %>
<% end %>
	
<% if @article.extras_notes.present? || @article.extras_audio_file.present? %>
	<strong>
		<% case @language when 1 %>More for patrons:
		<% when 2 %>Más para mecenas:
		<% end %>
	</strong>
	
	<% case @status when 3, 4, 5 %>
		<ul>
			<% if @article.extras_notes.present? %>
				<li>
					<% case @status when 3 %><%= link_to @article.extras_notes_teaser, @subscribe %>
					<% when 4, 5 %><%= link_to @article.extras_notes_teaser, @restart %>
					<% end %>
				</li>
			<% else end %>

			<% if @article.extras_audio_file.present? %>
				<li>
					<strong>
						<% case @language when 1 %>Listen:
						<% when 2 %>Escuche:
						<% end %>
					</strong>
					<% case @status when 3 %><%= link_to @article.extras_audio_teaser, @subscribe %>
					<% when 4, 5 %><%= link_to @article.extras_audio_teaser, @restart %>
					<% end %>
				</li>
			<% else end %>
		</ul>
	<% when 1, 2 %>
		<% if @article.extras_notes.present? %>
			<em><%= @article.extras_notes_teaser %></em>
			<p><%= markdown(@article.extras_notes).html_safe %></p>
		<% else end %>
		
		<% if @article.extras_audio_file.present? %>
			<ul>
				<li>
					<strong>
						<% case @language when 1 %>Listen:
						<% when 2 %>Escuche:
						<% end %>
					</strong>
					<% case @level when 1..9 %><%= link_to @article.extras_audio_teaser, @increase %>
					<% when 10..Float::INFINITY %><%= link_to @article.extras_audio_file, 'https://audio.thespainreport.es/' + @article.extras_audio_file %>
					<% end %>
				</li>
			</ul>
		<% else end %>
	<% end %>
<% else end %>
	
<% if @article.image.present? %>
	<% if ['.pdf'].include?File.extname(@article.image) %>
		<% case @language when 1 %>Original document:
		<% when 2 %>Documento original:
		<% end %>
		<%= link_to @article.image, 'https://pdf.thespainreport.es/' + @article.image %>
	<% else %>
	<% end %>
<% else %>
<% end %>

<% if @articletweets.present? %>
	<% @articletweets.each do |t| %>
		<p>
			<%= t.message %>
			<br /><br />
			<% if t.image.present? %>
				<%= image_tag ('https://image.thespainreport.es/' + t.image), style: 'max-width: 700px;' %>
			<% end %>
		</p>
	<% end %>
<% end %>

<% if @language == 1 %>
	<strong>Listen to Bennett in Spain here:</strong>
	<a href="https://podcasts.apple.com/podcast/id1495596532" title="Bennett in Spain on Apple Podcasts">Apple Podcasts</a>, 
	<a href="https://open.spotify.com/show/4A8CdKc4bYPYsapzyxdvWo" title="Bennett in Spain on Spotify">Spotify</a>, 
	<a href="https://www.ivoox.com/podcast-bennett-in-spain_sq_f1842992_1.html" title="Bennett in Spain on iVoox">iVoox</a>,
	<a href="https://www.stitcher.com/podcast/the-spain-report" title="Bennett in Spain on Stitcher">Stitcher</a>,
	<a href="https://#" title="Bennett in Spain on Tunein">Tunein</a>,
	<a href="https://soundcloud.com/user-842077287/sets/bennett-in-spain" title="Bennett in Spain on SoundCloud">SoundCloud</a>,
	<a href="https://www.youtube.com/playlist?list=PL3DymtXaX19QyOs-R0bu1eiX6j4c8L-Ey" title="Bennett in Spain on YouTube">YouTube</a>,
	<a href="https://www.facebook.com/BennettInSpain/playlist/606829756765780" title="Bennett in Spain on Facebook">Facebook</a>
<% elsif @language == 2 %>
	<strong>Esucuche Bennett en España aquí:</strong>
	<a href="https://podcasts.apple.com/podcast/id1495596384" title="Bennett en España en Apple Podcasts">Apple Podcasts</a>, 
	<a href="https://open.spotify.com/show/7euXMABMb6onzw50VxKK0W" title="Bennett en España en Spotify">Spotify</a>, 
	<a href="https://www.ivoox.com/podcast-bennett-espana_sq_f1842998_1.html" title="Bennett en España en iVoox">iVoox</a>,
	<a href="https://www.stitcher.com/podcast/bennett-en-espana" title="Bennett en España en Stitcher">Stitcher</a>,
	<a href="https://tunein.com/podcasts/News--Politics-Podcasts/Bennett-en-Espana-p1286596/" title="Bennett en España en Tunein">Tunein</a>,
	<a href="https://soundcloud.com/user-842077287/sets/bennett-en-espana" title="Bennett en España en SoundCloud">SoundCloud</a>,
	<a href="https://www.youtube.com/playlist?list=PL3DymtXaX19TyCGLrkycaKaCAzha0HwAw" title="Bennett en España en YouTube">YouTube</a>,
	<a href="https://www.facebook.com/BennettInSpain/playlist/206012307112155" title="Bennett en España en Facebook">Facebook</a>
<% else %>
<% end %>

<p>
******************************************
<br />
	<% if @status == 1 %>
		(<%= @frame.cta_patron_active_top %>: <%= link_to @frame.cta_patron_active_top_link, @subscribe %>.)
	<% elsif @status == 2 && @level.between?(1, 9) %>
		(<%= @frame.cta_patron_active_bottom %>: <%= link_to @frame.cta_patron_active_bottom_link, @increase %>.)
	<% elsif @status == 2 && @level.between?(10, 24) %>
		(<%= @frame.cta_patron_active_middle %>: <%= link_to @frame.cta_patron_active_middle_link, @increase %>.)
	<% elsif @status == 2 && @level >= 25 %>
		(<%= @frame.cta_patron_active_top %>: <%= link_to @frame.cta_patron_active_top_link, @increase %>.)
	<% elsif @status == 3 %>
		(<%= @frame.cta_reader_to_patron %>: <%= link_to @frame.cta_reader_to_patron_link, @subscribe %>.)
	<% elsif @status == 4 %>
		(<%= @frame.cta_patron_paused %>: <%= link_to @frame.cta_patron_paused_link, @restart %>.)
	<% elsif @status == 5 %>
		(<%= @frame.cta_patron_cancelled %>: <%= link_to @frame.cta_patron_cancelled_link, @restart %>.)
	<% else %>
		(<%= @frame.cta_reader_to_patron %>: <%= link_to @frame.cta_reader_to_patron_link, @subscribe %>.)
	<% end %>
<br />
******************************************
</p>

<% if @language == 1 %>
	<ul>
		<% if ['.pdf'].include?File.extname(@article.image) %>
			<li>Document: <%= link_to @article.image, 'https://pdf.thespainreport.es/' + @article.image %></li>
		<% else %>
		<% end %>
	</ul>
	<p><strong>Email amount:</strong></p>
	<ul>
		<li><%= link_to "I want all articles & latest news", update_email_amount_user_url(@user.confirm_token, emails: 1) %></li>
		<li><%= link_to "I only want full articles", update_email_amount_user_url(@user.confirm_token, emails: 2) %></li>
		<li><%= link_to "I only want announcements from Matthew", update_email_amount_user_url(@user.confirm_token, emails: 3) %></li>
		<li><%= link_to "I don't want any emails at all", update_email_amount_user_url(@user.confirm_token, emails: 4) %></li>
	</ul>
	<p><strong>Email language:</strong></p>
	<ul>
		<li><%= link_to "I only want articles in English", update_email_language_user_url(@user.confirm_token, emaillanguage: 1) %></li>
		<li><%= link_to "I only want articles in Spanish", update_email_language_user_url(@user.confirm_token, emaillanguage: 2) %></li>
		<li><%= link_to "I want articles in English & Spanish", update_email_language_user_url(@user.confirm_token, emaillanguage: 3) %></li>
	</ul>
<% elsif @language == 2 %>
	<ul>
		<% if ['.pdf'].include?File.extname(@article.image) %>
			<li>Documento: <%= link_to @article.image, 'https://pdf.thespainreport.es/' + @article.image %></li>
		<% else %>
		<% end %>
	</ul>
	<p><strong>Cantidad de correo:</strong></p>
	<ul>
		<li><%= link_to "Quiero artículos y la última hora", update_email_amount_user_url(@user.confirm_token, emails: 1) %></li>
		<li><%= link_to "Sólo quiero artículos completos", update_email_amount_user_url(@user.confirm_token, emails: 2) %></li>
		<li><%= link_to "Sólo quiero avisos de Matthew", update_email_amount_user_url(@user.confirm_token, emails: 3) %></li>
		<li><%= link_to "No quiero ningún correo", update_email_amount_user_url(@user.confirm_token, emails: 4) %></li>
	</ul>
	<p><strong>Idioma de los correos:</strong></p>
	<ul>
		<li><%= link_to "Sólo quiero los artículos en inglés", update_email_language_user_url(@user.confirm_token, emaillanguage: 1) %></li>
		<li><%= link_to "Sólo quiero los artículos en español", update_email_language_user_url(@user.confirm_token, emaillanguage: 2) %></li>
		<li><%= link_to "Quiero los artículos en inglés y en español", update_email_language_user_url(@user.confirm_token, emaillanguage: 3) %></li>
	</ul>
<% else %>
<% end %>

</body>
</html>