<table border="0" cellspacing="0" width="100%">
<tr>
<td></td>
<td width="750">
	
<p><strong><%= @article.headline %></strong></p>

<p>
	<% if @article.language_id == 1 %>
		<%= @article.created_at.strftime("%b %d, %Y, %l:%M %P") %>
	<% elsif @article.language_id == 2 %>
		<%= @article.created_at.strftime("%d/%m/%Y, %H:%M") %>
	<% else %>
	<% end %>
	| <%= link_to @article.story.headline, @article.story unless @article.story.nil? %>
	<br />
	<em>
		<%= @article.lede %>
	</em>
</p>

<p>
	<% if @articleupdates.present? %>
		<ul class="margin-top-5 margin-bottom-0 margin-left-20 margin-right-0">
	      <% @articleupdates.each do |u| %>
	        <li><%= u.headline %></li>
	      <% end %>
	    </ul>
    <% else %>
    <% end %>
</p>

<% if @article.image.present? %>
	<% if ['.png','.jpg'].include?File.extname(@article.image) %> 
		<%= image_tag ('https://image.thespainreport.es/' + @article.image), style: 'max-width: 700px;' %>
	<% else %>
	<% end %>
<% else %>
<% end %>

<%= markdown(@article.body) %>

	<% if @article.image.present? %>
		<% if ['.pdf'].include?File.extname(@article.image) %>
			<% if @article.language_id == 1 %>
				<strong>Original document:</strong>
			<% elsif @article.language_id == 2 %>
				<strong>Documento original:</strong>
			<% else %>
			<% end %>
			
			<%= link_to @article.image, 'https://pdf.thespainreport.es/' + @article.image %>
		<% else %>
		<% end %>
	<% else %>
	<% end %>

<% if @articletweets.present? %>
	<% @articletweets.each do |t| %>
		<p>
			<%= t.message %>
			<br /><br />
			<% if t.image.present? %>
				<%= image_tag ('https://image.thespainreport.es/' + t.image), style: 'max-width: 700px;' %>
			<% end %>
		</p>
	<% end %>
<% end %>

<% @articleupdates.each do |u| %>
		<p>
			<strong><%= u.headline %></strong>
		</p>
		
		<p>
			<% if u.language_id == 1 %>
				<em><%= u.created_at.strftime("%b %d, %Y, %l:%M %P") %></em>
			<% elsif u.language_id == 2 %>
				<em><%= u.created_at.strftime("%d/%m/%Y, %H:%M") %></em>
			<% else %>
			<% end %>
			<br />
			<em><%= u.lede %></em>
		</p>
		
		<% if u.image.present? %>
			<%= image_tag ('https://image.thespainreport.es/' + u.image), style: 'max-width: 700px;' %>
		<% else %>
		<% end %>
		
		<%= markdown(u.body) %>
<% end %>

<% if @article.language_id == 1 %>
	<p><strong>This article:</strong></p>
	<ul>
		<li><%= link_to "Read this on The Spain Report", article_url(@article) %></li>
		
		<% if ['.pdf'].include?File.extname(@article.image) %>
			<li>Document: <%= link_to @article.image, 'https://pdf.thespainreport.es/' + @article.image %></li>
		<% else %>
		<% end %>
		
		<% if @article.audio.present? %>
			<li>Audio: <%= link_to @article.audio, ('https://audio.thespainreport.es/' + @article.audio) %></li>
		<% else %>
		<% end %>
		
		<% if @article.story.nil? %>
		<% else %>
			<li>Story: <%= link_to @article.story.headline, @article.story %></li>
		<% end %>
	</ul>
	<p><strong>Email amount:</strong></p>
	<ul>
		<li><%= link_to "I want all articles & latest news", update_email_amount_user_url(@user.confirm_token, emails: 1) %></li>
		<li><%= link_to "I only want full articles", update_email_amount_user_url(@user.confirm_token, emails: 2) %></li>
		<li><%= link_to "I only want announcements from Matthew", update_email_amount_user_url(@user.confirm_token, emails: 3) %></li>
		<li><%= link_to "I don't want any emails at all", update_email_amount_user_url(@user.confirm_token, emails: 4) %></li>
	</ul>
	<p><strong>Email language:</strong></p>
	<ul>
		<li><%= link_to "I only want emails in English", update_email_language_user_url(@user.confirm_token, emaillanguage: 1) %></li>
		<li><%= link_to "I only want emails in Spanish", update_email_language_user_url(@user.confirm_token, emaillanguage: 2) %></li>
		<li><%= link_to "I want emails in English & Spanish", update_email_language_user_url(@user.confirm_token, emaillanguage: 3) %></li>
	</ul>
<% elsif @article.language_id == 2 %>
	<p><strong>Este artículo:</strong></p>
	<ul>
		<li><%= link_to "Lea esto en The Spain Report", article_url(@article) %></li>
		
		<% if ['.pdf'].include?File.extname(@article.image) %>
			<li>Documento: <%= link_to @article.image, 'https://pdf.thespainreport.es/' + @article.image %></li>
		<% else %>
		<% end %>
		
		<% if @article.audio.present? %>
			<li>Audio: <%= link_to @article.audio, ('https://audio.thespainreport.es/' + @article.audio) %></li>
		<% else %>
		<% end %>
		
		<% if @article.story.nil? %>
		<% else %>
			<li>Tema: <%= link_to @article.story.headline, @article.story %></li>
		<% end %>
	</ul>
	<p><strong>Cantidad de correo:</strong></p>
	<ul>
		<li><%= link_to "Quiero artículos y la última hora", update_email_amount_user_url(@user.confirm_token, emails: 1) %></li>
		<li><%= link_to "Sólo quiero artículos completos", update_email_amount_user_url(@user.confirm_token, emails: 2) %></li>
		<li><%= link_to "Sólo quiero avisos de Matthew", update_email_amount_user_url(@user.confirm_token, emails: 3) %></li>
		<li><%= link_to "No quiero ningún correo", update_email_amount_user_url(@user.confirm_token, emails: 4) %></li>
	</ul>
	<p><strong>Idioma de los correos:</strong></p>
	<ul>
		<li><%= link_to "Sólo quiero los correos en inglés", update_email_language_user_url(@user.confirm_token, emaillanguage: 1) %></li>
		<li><%= link_to "Sólo quiero los correos en español", update_email_language_user_url(@user.confirm_token, emaillanguage: 2) %></li>
		<li><%= link_to "Quiero los correos en inglés y en español", update_email_language_user_url(@user.confirm_token, emaillanguage: 3) %></li>
	</ul>
<% else %>
<% end %>

</td>
<td></td>
</tr>
</table>