<!DOCTYPE html>
<html>
<head>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>

<div style="max-width: 750px;">

<p><strong><%= @article.headline %></strong></p>

<p>
	<% case @language when 1 %><%= @article.created_at.strftime("%b %d, %Y, %l:%M %P") %>
	<% when 2 %><%= @article.created_at.strftime("%d/%m/%Y, %H:%M") %>
	<% end %>
</p>

<strong><%= @article.type.name.upcase %></strong>

<p style="max-width: 700px;"><em><%= @article.lede %></em></p>

<% if @article.extras_audio_title.present? || @article.extras_video_title.present? || @articlepieces.present? || @article.main.present? %>
	<ul class="margin-top-5 margin-bottom-0 margin-left-5 margin-right-0 font-main-small">
		<% if @article.extras_audio_title.present? %>
			<li><strong>
				<% case @article.language_id when 1 %>More audio for patrons:
				<% when 2 %>Más audio para mecenas:
				<% end %>
				</strong> <%= link_to @article.extras_audio_title, article_url(@article, anchor: 'patrons') %>
			</li>
		<% else end %>

		<% if @article.extras_video_title.present? %>
			<li><strong>
				<% case @article.language_id when 1 %>More video for patrons:
				<% when 2 %>Más vídeo para mecenas:
				<% end %>
				</strong> <%= link_to @article.extras_video_title, article_url(@article, anchor: 'patrons') %>
			</li>
		<% else end %>
		
		<% if @articlepieces.present? %>
			<li>
				<strong><%= @article.type.name %></strong>: <%= @article.short_headline %>
			</li>
			<% @articlepieces.each do |p| %>
				<li>
					<strong><%= p.type.name %>:</strong> <%= link_to p.short_headline, p %>
				</li>
			<% end %>				
		<% else end %>
	
		<% if @article.main.present? %>
			<li>
				<strong><%= @article.main.type.name %></strong>: <%= link_to @article.main.short_headline, article_url(@article.main) %>
			</li>
			<% @article.main.pieces.each do |p| %>
				<li>
					<% if p == @article %>
						<strong><%= p.type.name %>:</strong> <%= p.short_headline %>
					<% else %>
						<strong><%= p.type.name %>:</strong> <%= link_to p.short_headline, p %>
					<% end %>
				</li>
			<% end %>				
		<% else end %>
	
	</ul>
<% else end %>

<%# MAIN VIDEO, AUDIO OR IMAGE %>
<% if @article.video.present? %>
	<% case @language when 1 %><%= link_to "Watch video here", article_url(@article) %>
	<% when 2 %><%= link_to "Mire el vídeo aquí", article_url(@article) %>
	<% end %>
<% elsif @article.audio_aac_id.present? %>
	<% case @language when 1 %><%= link_to "Listen to audio here", article_url(@article) %>
	<% when 2 %><%= link_to "Escuche el audio aquí", article_url(@article) %>
	<% end %>´
<% elsif @article.upload %>
	<%= image_tag ('https://image.thespainreport.es/' + File.basename(@article.upload.data)), style: 'max-width: 700px;' %>
	<br />
	<% case @language when 1 %><strong>Published:</strong> <%= @article.upload.created_at.strftime("%b %d, %Y, %l:%M %P") %>
	<% when 2 %><strong>Publicado:</strong> <%= @article.upload.created_at.strftime("%d/%m/%Y, %H:%M") %> 
	<% end %>
<% else %>
	<% if @article.image.present? %>
		<% if ['.png','.jpg', '.jpeg', '.gif'].include?File.extname(@article.image) %> 
			<%= image_tag ('https://image.thespainreport.es/' + @article.image), style: 'max-width: 700px;' %>
		<% else %>
		<% end %>
	<% else %>
	<% end %>
<% end %>

<%# PODCAST REPORT/INTERVIEW EPISODE NOTES %>
<% if ["Podcast"].include?(@article.type.name) %>
	<p style="max-width: 700px;">
		<%= markdown(@article.audio_episode_notes) %>
	</p>
<% else end %>


<%# ARTICLE TEXT %>
<%= markdown(@article.body).html_safe %>

<%# INDIVIDUAL TWEETS OR PHOTO ESSAY IMAGES FOR THE ARTICLE %>
<% if @articletweets.present? %>
	<% if !["Notes", "Apuntes", "Photos", "Fotos"].include?(@article.type.name) %>
		<p><strong>
			<% case @article.language_id when 1 %>Notes
			<% when 2 %>Apuntes
			<% end %>
		</strong></p>
	<% end %>

	<% @articletweets.each do |t| %>
		<p style="max-width: 700px;">
			<%# Display the tweet %>
			<%= t.message %>

			<%# Display the tweet link %>
			<% if t.tweet_url.nil? %>
			<% elsif t.tweet_url.match(/www.youtube.com\/watch/) %>
				<% case @article.language_id when 1 %>Video here:
				<% when 2 %>Vídeo aquí:
				<% end %>
				<%= link_to @article.short_headline, article_url(@article) %>
			<% elsif t.tweet_url.present? %>
				<% case t.article.language_id when 1 %><%= link_to "Link", t.tweet_url unless !t.tweet_url %>
				<% when 2 %><%= link_to "Enlace", t.tweet_url unless !t.tweet_url %>
				<% end %>
			<% else end %>
			
			<%# Display tweet image %>
			<% if t.upload == @article.upload && t == @article.tweets.first %>
			
			<% elsif t.upload %>
				<br /><br />
				<%= image_tag ('https://image.thespainreport.es/' + File.basename(t.upload.data)), style: 'max-width: 700px;' %>
			<% elsif !t.image.nil? %>
				<br /><br />
				<%= image_tag ('https://image.thespainreport.es/' + t.image), style: 'max-width: 700px;' %>
			<% else end %>

			<%# Display details, link to Twitter, high res image link for patrons %>
			<hr />
			<% case @language when 1 %><strong>Published:</strong> <%= t.created_at.strftime("%b %d, %Y, %l:%M %P") %>
			<% when 2 %><strong>Publicado:</strong> <%= t.created_at.strftime("%d/%m/%Y, %H:%M") %>
			<% end %>
				
			<% if t.twitter_tweet_id %>
				<% case @language when 1 %> | <%= link_to "On Twitter", "https://twitter.com/matthewbennett/status/" + t.twitter_tweet_id.to_s %>
				<% when 2 %> | <%= link_to "En Twitter", "https://twitter.com/matthewbennett/status/" + t.twitter_tweet_id.to_s %>
				<% end %>
			<% end %>
			
			<% if t.upload %>
				<% if ["Photos", "Fotos"].include?(@article.type.name) %>
					<% t.upload.versions.each do |v| %>
						<% case @language when 1 %> | <%= link_to "High resolution image for patrons", @article %>
						<% when 2 %> | <%= link_to "Imagen de alta resolución para mecenas", @article %>
						<% end %>
					<% end %>
				<% else end %>
			<% end %>
		</p>
		<br />
	<% end %>
<% end %>


<p>
********************************************************************************************
<br />
<%= render "users/user_messages" %>
<br />
********************************************************************************************
</p>


<% if @language == 1 %>
	Listen to the podcast, Bennett in Spain, here:
	<a href="https://podcasts.apple.com/podcast/id1495596532" title="Bennett in Spain on Apple Podcasts">Apple Podcasts</a>, 
	<a href="https://open.spotify.com/show/4A8CdKc4bYPYsapzyxdvWo" title="Bennett in Spain on Spotify">Spotify</a>, 
	<a href="https://www.ivoox.com/podcast-bennett-in-spain_sq_f1842992_1.html" title="Bennett in Spain on iVoox">iVoox</a>,
	<a href="https://www.stitcher.com/podcast/the-spain-report" title="Bennett in Spain on Stitcher">Stitcher</a>,
	<a href="https://tunein.com/podcasts/News--Politics-Podcasts/Bennett-en-Espana-p1286596/" title="Bennett en España en TuneIn">TuneIn</a>,
	<a href="https://soundcloud.com/user-842077287/sets/bennett-in-spain" title="Bennett in Spain on SoundCloud">SoundCloud</a>,
	<a href="https://www.youtube.com/playlist?list=PL3DymtXaX19QyOs-R0bu1eiX6j4c8L-Ey" title="Bennett in Spain on YouTube">YouTube</a>,
	<a href="https://www.facebook.com/BennettInSpain/playlist/606829756765780" title="Bennett in Spain on Facebook">Facebook</a>
<% elsif @language == 2 %>
	Escuche el podcast, Bennett en España, aquí:
	<a href="https://podcasts.apple.com/podcast/id1495596384" title="Bennett en España en Apple Podcasts">Apple Podcasts</a>, 
	<a href="https://open.spotify.com/show/7euXMABMb6onzw50VxKK0W" title="Bennett en España en Spotify">Spotify</a>, 
	<a href="https://www.ivoox.com/podcast-bennett-espana_sq_f1842998_1.html" title="Bennett en España en iVoox">iVoox</a>,
	<a href="https://www.stitcher.com/podcast/bennett-en-espana" title="Bennett en España en Stitcher">Stitcher</a>,
	<a href="https://tunein.com/podcasts/News--Politics-Podcasts/Bennett-en-Espana-p1286596/" title="Bennett en España en Tunein">Tunein</a>,
	<a href="https://soundcloud.com/user-842077287/sets/bennett-en-espana" title="Bennett en España en SoundCloud">SoundCloud</a>,
	<a href="https://www.youtube.com/playlist?list=PL3DymtXaX19TyCGLrkycaKaCAzha0HwAw" title="Bennett en España en YouTube">YouTube</a>,
	<a href="https://www.facebook.com/BennettInSpain/playlist/206012307112155" title="Bennett en España en Facebook">Facebook</a>
<% else %>
<% end %>

<% if @language == 1 %>
	<p><strong>Set your email amount:</strong></p>
	<ul>
		<li><%= link_to "All articles & updates", update_email_amount_user_url(@user.confirm_token, emails: 1) %></li>
		<li><%= link_to "Only full articles", update_email_amount_user_url(@user.confirm_token, emails: 2) %></li>
		<li><%= link_to "Only important announcements", update_email_amount_user_url(@user.confirm_token, emails: 3) %></li>
		<li><%= link_to "Stop all emails", update_email_amount_user_url(@user.confirm_token, emails: 4) %></li>
	</ul>
	<p><strong>Set your email language:</strong></p>
	<ul>
		<li><%= link_to "I want emails in English", update_email_language_user_url(@user.confirm_token, emaillanguage: 1) %></li>
		<li><%= link_to "I want emails in Spanish", update_email_language_user_url(@user.confirm_token, emaillanguage: 2) %></li>
		<li><%= link_to "I want emails in both languages", update_email_language_user_url(@user.confirm_token, emaillanguage: 3) %></li>
	</ul>
<% elsif @language == 2 %>
	<p><strong>Elija la cantidad de correo que quiere:</strong></p>
	<ul>
		<li><%= link_to "Todo: artículos y actualizaciones", update_email_amount_user_url(@user.confirm_token, emails: 1) %></li>
		<li><%= link_to "Sólo artículos completos", update_email_amount_user_url(@user.confirm_token, emails: 2) %></li>
		<li><%= link_to "Sólo anuncios importantes", update_email_amount_user_url(@user.confirm_token, emails: 3) %></li>
		<li><%= link_to "No quiero ningún correo", update_email_amount_user_url(@user.confirm_token, emails: 4) %></li>
	</ul>
	<p><strong>Elija el idioma de los correos:</strong></p>
	<ul>
		<li><%= link_to "Quiero los artículos en inglés", update_email_language_user_url(@user.confirm_token, emaillanguage: 1) %></li>
		<li><%= link_to "Quiero los artículos en español", update_email_language_user_url(@user.confirm_token, emaillanguage: 2) %></li>
		<li><%= link_to "Quiero los artículos en ambos idiomas", update_email_language_user_url(@user.confirm_token, emaillanguage: 3) %></li>
	</ul>
<% else %>
<% end %>

</div>
</body>
</html>