<!DOCTYPE html>
<html>
<head>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>

<div style="max-width: 750px;">

<p><strong><%= @article.headline %></strong></p>

<p>
	<% case @language when 1 %><%= @article.created_at.strftime("%b %d, %Y, %l:%M %P") %>
	<% when 2 %><%= @article.created_at.strftime("%d/%m/%Y, %H:%M") %>
	<% end %>
</p>


<% if @status == 3 && @can_read == true %>
	<strong>
		<%= @article.type.name.upcase %>— 
		<% case @article.language_id when 1 %>45 DAYS FREE
		<% when 2 %>45 DÍAS GRATIS
		<% end %>
	</strong>
<% else %>
	<strong><%= @article.type.name.upcase %></strong>
<% end %>

<p style="max-width: 700px;"><em><%= @article.lede %></em></p>

<%# MAIN IMAGE OR VIDEO %>
<% if @article.video.present? %>
	<%= link_to "Video here", article_url(@article) %>
<% elsif @article.audio_aac_id.present? %>
	<%= link_to "Listen here", article_url(@article) %>
<% elsif @article.upload %>
	<%= image_tag ('https://image.thespainreport.es/' + File.basename(@article.upload.data)), style: 'max-width: 700px;' %>
	<hr />
	<% if @article.language_id == 1 %>
		<strong>Published:</strong> <%= @article.upload.created_at.strftime("%b %d, %Y, %l:%M %P") %> 
		<% if @status == 3 && @can_read_date > Time.now || @status == 2 && @level >= 10 || @status == 1 %>
			| <%= link_to "High resolution image for patrons", 'https://image.thespainreport.es/' + File.basename(@article.upload.data) %>
		<% else %>
			| <%= link_to "High resolution image for patrons", "https://www.thespainreport.es/value/guarantee" %>
		<% end %>
	<% elsif @article.language_id == 2 %>
		<strong>Publicado:</strong> <%= @article.upload.created_at.strftime("%d/%m/%Y, %H:%M") %> 
		<% if @status == 3 && @can_read_date > Time.now || @status == 2 && @level >= 10 || @status == 1 %>
			| <%= link_to "Imagen de alta resolución para mecenas", 'https://image.thespainreport.es/' + File.basename(@article.upload.data) %>
		<% else %>
			| <%= link_to "Imagen de alta resolución para mecenas", "https://www.thespainreport.es/valor/garantizar" %>
		<% end %>
	<% else %>
	<% end %>
<% elsif @article.image.present? %>
		<% if ['.png','.jpg', '.jpeg', '.gif'].include?File.extname(@article.image) %> 
			<%= image_tag ('https://image.thespainreport.es/' + @article.image), style: 'max-width: 700px;' %>
		<% else %>
		<% end %>
<% else end %>


<%# PODCAST REPORT/INTERVIEW EPISODE NOTES %>
<% if @article.audio_aac_id.present? %>
	<p style="max-width: 700px;">
	<%= markdown(@article.audio_episode_notes) %>
	</p>
<% else end %>


<% if ["Patrons only", "Sólo mecenas"].include?@article.type.name %>
	<% if @status == 3 && @can_read_date > Time.now || @status == 2 && @level >= 5 || @status == 1 %>
		<%= markdown(@article.body).html_safe %>
	<% else %>
		<%= markdown(truncate(@article.body, length: 550)) %>
	<% end %>
<% else %>
	<%= markdown(@article.body).html_safe %>
<% end %>

<%# PATRONS EXTRAS HERE...  %>
<% if ["Patrons only", "Sólo mecenas"].include?@article.type.name %>
	<%= render "articles/patrons_only_block_email" %>
<% elsif @article.extras_notes.present? || @article.extra_audio_aac_id.present? || @article.extras_video.present? %>
	<%= render "articles/patrons_only_block_email" %>
<% else end %>


<%# INDIVIDUAL TWEETS OR PHOTO ESSAY IMAGES FOR THE ARTICLE %>
<% if @articletweets.present? %>
	<% if !["Thread", "Hilo", "Photos", "Fotos"].include?(@article.type.name) %>
		<p><strong>
			<% case @article.language_id when 1 %>Notes/Tweets
			<% when 2 %>Apuntes/Tuits
			<% end %>
		</strong></p>
	<% end %>

	<% @articletweets.each do |t| %>
		<p style="max-width: 700px;">
			<%# Display the tweet %>
			<%= t.message %>

			<%# Display the tweet link %>
			<% if t.tweet_url.nil? %>
			<% elsif t.tweet_url.match(/www.youtube.com\/watch/) %>
				<% case @article.language_id when 1 %>Video here:
				<% when 2 %>Vídeo aquí:
				<% end %>
				<%= link_to @article.short_headline, article_url(@article) %>
			<% elsif t.tweet_url.present? %>
				<% case t.article.language_id when 1 %><%= link_to "Link", t.tweet_url unless !t.tweet_url %>
				<% when 2 %><%= link_to "Enlace", t.tweet_url unless !t.tweet_url %>
				<% end %>
			<% else end %>
			
			<%# Display tweet image %>
			<% if t.upload == @article.upload && t == @article.tweets.first %>
			
			<% elsif t.upload %>
				<br /><br />
				<%= image_tag ('https://image.thespainreport.es/' + File.basename(t.upload.data)), style: 'max-width: 700px;' %>
			<% elsif !t.image.nil? %>
				<br /><br />
				<%= image_tag ('https://image.thespainreport.es/' + t.image), style: 'max-width: 700px;' %>
			<% else end %>

			<%# Display details, link to Twitter, high res image link for patrons %>
			<hr />
			<% if @article.language_id == 1 %>
				<strong>Published:</strong> <%= t.created_at.strftime("%b %d, %Y, %l:%M %P") %> 
				<% if t.twitter_tweet_id %>
					| <%= link_to "On Twitter", "https://twitter.com/matthewbennett/status/" + t.twitter_tweet_id.to_s %>
				<% end %>
				<% if t.upload %>
					<% t.upload.versions.each do |v| %>
						<% if @status == 3 && @can_read_date > Time.now || @status == 2 && @level >= 10 || @status == 1 %>
							| <%= link_to "High resolution image for patrons", 'https://image.thespainreport.es/' + File.basename(v.data) %>
						<% else %>
							| <%= link_to "High resolution image for patrons", "https://www.thespainreport.es/value/guarantee" %>
						<% end %>
					<% end %>
				<% end %>
			<% elsif @article.language_id == 2 %>
				<strong>Publicado:</strong> <%= t.created_at.strftime("%d/%m/%Y, %H:%M") %> 
				| <%= link_to "En Twitter", "https://twitter.com/matthewbennett/status/" + t.twitter_tweet_id.to_s %>
				<% if t.upload %>
					<% t.upload.versions.each do |v| %>
						<% if @status == 3 && @can_read_date > Time.now || @status == 2 && @level >= 10 || @status == 1 %>
							| <%= link_to "Imagen de alta resolución para mecenas", 'https://image.thespainreport.es/' + File.basename(v.data) %>
						<% else %>
							| <%= link_to "Imagen de alta resolución para mecenas", "https://www.thespainreport.es/valor/garantizar" %>
						<% end %>
					<% end %>
				<% end %>
			<% else end %>
		</p>
		<br />
	<% end %>
<% end %>


<p>
********************************************************************************************
<br />
<%= render "users/user_messages" %>
<br />
********************************************************************************************
</p>


<% if @language == 1 %>
	Listen to the podcast, Bennett in Spain, here:
	<a href="https://podcasts.apple.com/podcast/id1495596532" title="Bennett in Spain on Apple Podcasts">Apple Podcasts</a>, 
	<a href="https://open.spotify.com/show/4A8CdKc4bYPYsapzyxdvWo" title="Bennett in Spain on Spotify">Spotify</a>, 
	<a href="https://www.ivoox.com/podcast-bennett-in-spain_sq_f1842992_1.html" title="Bennett in Spain on iVoox">iVoox</a>,
	<a href="https://www.stitcher.com/podcast/the-spain-report" title="Bennett in Spain on Stitcher">Stitcher</a>,
	<a href="https://tunein.com/podcasts/News--Politics-Podcasts/Bennett-en-Espana-p1286596/" title="Bennett en España en TuneIn">TuneIn</a>,
	<a href="https://soundcloud.com/user-842077287/sets/bennett-in-spain" title="Bennett in Spain on SoundCloud">SoundCloud</a>,
	<a href="https://www.youtube.com/playlist?list=PL3DymtXaX19QyOs-R0bu1eiX6j4c8L-Ey" title="Bennett in Spain on YouTube">YouTube</a>,
	<a href="https://www.facebook.com/BennettInSpain/playlist/606829756765780" title="Bennett in Spain on Facebook">Facebook</a>
<% elsif @language == 2 %>
	Escuche el podcast, Bennett en España, aquí:
	<a href="https://podcasts.apple.com/podcast/id1495596384" title="Bennett en España en Apple Podcasts">Apple Podcasts</a>, 
	<a href="https://open.spotify.com/show/7euXMABMb6onzw50VxKK0W" title="Bennett en España en Spotify">Spotify</a>, 
	<a href="https://www.ivoox.com/podcast-bennett-espana_sq_f1842998_1.html" title="Bennett en España en iVoox">iVoox</a>,
	<a href="https://www.stitcher.com/podcast/bennett-en-espana" title="Bennett en España en Stitcher">Stitcher</a>,
	<a href="https://tunein.com/podcasts/News--Politics-Podcasts/Bennett-en-Espana-p1286596/" title="Bennett en España en Tunein">Tunein</a>,
	<a href="https://soundcloud.com/user-842077287/sets/bennett-en-espana" title="Bennett en España en SoundCloud">SoundCloud</a>,
	<a href="https://www.youtube.com/playlist?list=PL3DymtXaX19TyCGLrkycaKaCAzha0HwAw" title="Bennett en España en YouTube">YouTube</a>,
	<a href="https://www.facebook.com/BennettInSpain/playlist/206012307112155" title="Bennett en España en Facebook">Facebook</a>
<% else %>
<% end %>

<% if @language == 1 %>
	<p><strong>Set your email amount:</strong></p>
	<ul>
		<li><%= link_to "All articles & updates", update_email_amount_user_url(@user.confirm_token, emails: 1) %></li>
		<li><%= link_to "Only full articles", update_email_amount_user_url(@user.confirm_token, emails: 2) %></li>
		<li><%= link_to "Only important announcements", update_email_amount_user_url(@user.confirm_token, emails: 3) %></li>
		<li><%= link_to "Stop all emails", update_email_amount_user_url(@user.confirm_token, emails: 4) %></li>
	</ul>
	<p><strong>Set your email language:</strong></p>
	<ul>
		<li><%= link_to "I want emails in English", update_email_language_user_url(@user.confirm_token, emaillanguage: 1) %></li>
		<li><%= link_to "I want emails in Spanish", update_email_language_user_url(@user.confirm_token, emaillanguage: 2) %></li>
		<li><%= link_to "I want emails in both languages", update_email_language_user_url(@user.confirm_token, emaillanguage: 3) %></li>
	</ul>
<% elsif @language == 2 %>
	<p><strong>Elija la cantidad de correo que quiere:</strong></p>
	<ul>
		<li><%= link_to "Todo: artículos y actualizaciones", update_email_amount_user_url(@user.confirm_token, emails: 1) %></li>
		<li><%= link_to "Sólo artículos completos", update_email_amount_user_url(@user.confirm_token, emails: 2) %></li>
		<li><%= link_to "Sólo anuncios importantes", update_email_amount_user_url(@user.confirm_token, emails: 3) %></li>
		<li><%= link_to "No quiero ningún correo", update_email_amount_user_url(@user.confirm_token, emails: 4) %></li>
	</ul>
	<p><strong>Elija el idioma de los correos:</strong></p>
	<ul>
		<li><%= link_to "Quiero los artículos en inglés", update_email_language_user_url(@user.confirm_token, emaillanguage: 1) %></li>
		<li><%= link_to "Quiero los artículos en español", update_email_language_user_url(@user.confirm_token, emaillanguage: 2) %></li>
		<li><%= link_to "Quiero los artículos en ambos idiomas", update_email_language_user_url(@user.confirm_token, emaillanguage: 3) %></li>
	</ul>
<% else %>
<% end %>

</div>
</body>
</html>