<!DOCTYPE html>
<html>
<head>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>

<p><strong><%= @article.headline %></strong></p>

<p>
	<% case @language when 1 %><%= @article.created_at.strftime("%b %d, %Y, %l:%M %P") %>
	<% when 2 %><%= @article.created_at.strftime("%d/%m/%Y, %H:%M") %>
	<% end %>
</p>


<% if @status == 3 && @can_read == true %>
	<strong>
		<%= @article.type.name.upcase %>, 
			<% case @article.language_id when 1 %>45 DAYS FREE
			<% when 2 %>45 DÍAS GRATIS
			<% end %>
	</strong>
<% else %>
	<strong><%= @article.type.name.upcase %></strong>
<% end %>

<p><em><%= @article.lede %></em></p>

<% if @article.upload %>
	<%= image_tag ('https://image.thespainreport.es/' + File.basename(@article.upload.data)), style: 'max-width: 700px;' %>
<% else end %>

<% if @article.image.present? %>
	<% if ['.png','.jpg'].include?File.extname(@article.image) %> 
		<%= image_tag ('https://image.thespainreport.es/' + @article.image), style: 'max-width: 700px;' %>
	<% else %>
	<% end %>
<% else %>
<% end %>

<% if @article.audio_file_mp3.present? %>
	<ul>
		<li>
			<strong>
				<% case @language when 1 %>Listen: 
				<% when 2 %>Escuche: 
				<% end %>
			</strong>
			<%= link_to @article.headline, @article %>
		</li>
	</ul>
<% else %>
<% end %>

<% if ["Patrons only", "Sólo mecenas"].include?@article.type.name %>
	<% if @can_read == true %>
		<%= markdown(@article.body).html_safe %>
	<% else %>
		<%= markdown(truncate(@article.body, length: 500)) %>
		<ul>
			<li>
				...<%= @frame.access_patrons_only %> <%= link_to @frame.cta_reader_to_patron_link, @subscribe %>
			</li>
		</ul>
	<% end %>
<% else %>
	<%= markdown(@article.body).html_safe %>
<% end %>

<% if @article.extras_notes.present? || @article.extras_audio_file.present? %>
	<strong>
		<% case @language when 1 %>More for patrons:
		<% when 2 %>Más para mecenas:
		<% end %>
	</strong>
	
	<% case @status when 3, 4, 5 %>
		<ul>
			<% if @article.extras_notes.present? %>
				<li>
					<strong>
						<% case @language when 1 %>More:
						<% when 2 %>Más:
						<% end %>
					</strong>
					<% case @status when 3 %><%= link_to @article.extras_notes_teaser, @subscribe %>
					<% when 4, 5 %><%= link_to @article.extras_notes_teaser, @restart %>
					<% end %>
				</li>
			<% else end %>

			<% if @article.extras_audio_file.present? %>
				<li>
					<strong>
						<% case @language when 1 %>Listen:
						<% when 2 %>Escuche:
						<% end %>
					</strong>
					<% case @status when 3 %><%= link_to @article.extras_audio_teaser, @subscribe %>
					<% when 4, 5 %><%= link_to @article.extras_audio_teaser, @restart %>
					<% end %>
				</li>
			<% else end %>
			
			<li>
			<% case @status when 3 %><%= @frame.access_more_for_patrons %>. <%= link_to @frame.cta_reader_to_patron, @subscribe %>
			<% when 4 %><%= @frame.access_more_for_patrons %>. <%= link_to @frame.cta_patron_paused, @restart %>
			<% when 5 %><%= @frame.access_more_for_patrons %>. <%= link_to @frame.cta_patron_cancelled, @restart %>
			<% end %>
			</li>
		</ul>
	<% when 1, 2 %>
		<% if @article.extras_notes.present? %>
			<em><%= @article.extras_notes_teaser %></em>
			<p><%= markdown(@article.extras_notes).html_safe %></p>
		<% else end %>
		
		<% if @article.extras_audio_file.present? %>
			<ul>
				<li>
					<strong>
						<% case @language when 1 %>Listen:
						<% when 2 %>Escuche:
						<% end %>
					</strong>
					<% case @level when 1..9 %><%= link_to @article.extras_audio_teaser, @increase %>
					<% when 10..Float::INFINITY %><%= link_to @article.extras_audio_file, 'https://audio.thespainreport.es/' + @article.extras_audio_file %> (<%= @article.extras_audio_teaser %>)
					<% end %>
				</li>
			</ul>
		<% else end %>
	<% end %>
<% else end %>

<% if @articletweets.present? %>
	<% @articletweets.each do |t| %>
		<p>
			<%= t.message %>

			<%# Display tweet image %>
			<% if t.upload == @article.upload %>
			
			<% elsif t.upload %>
				<br />
				<%= image_tag ('https://image.thespainreport.es/' + File.basename(t.upload.data)), style: 'max-width: 700px;' %>
			<% elsif t.image %>
				<br />
				<%= image_tag ('https://image.thespainreport.es/' + t.image), style: 'max-width: 700px;' %>
			<% else end %>
			
			<%# Display tweet link %>
			<% if t.tweet_url.present? %>
				<% case t.article.language_id when 1 %>Link: 
				<% when 2 %>Enlace: 
				<% end %>
				<%= link_to t.tweet_url, t.tweet_url unless !t.tweet_url %>
			<% else end %>
			
			<br /><br />
			—<span style="font-size: 12px; font-style: italic;">
			<% if @article.language_id == 1 %>
				<strong>Published:</strong> <%= t.created_at.strftime("%b %d, %Y, %l:%M %P") %> 
				<% if t.twitter_tweet_id %>
					| <%= link_to "On Twitter", "https://twitter.com/matthewbennett/status/" + t.twitter_tweet_id.to_s %>
				<% end %>
			<% elsif @article.language_id == 2 %>
				Publicado:</strong> <%= t.created_at.strftime("%d/%m/%Y, %H:%M") %>
				<% if t.twitter_tweet_id %>
					| <%= link_to "En Twitter", "https://twitter.com/matthewbennett/status/" + t.twitter_tweet_id.to_s %>
				<% end %>
			<% else %>
			<% end %>
			</span>
		</p>
	<% end %>
<% end %>

<p>

<br />
<%= render "users/user_messages" %>
<br />
********************************************************************************************
</p>

<% if @language == 1 %>
	Listen to the podcast, Bennett in Spain, here:
	<a href="https://podcasts.apple.com/podcast/id1495596532" title="Bennett in Spain on Apple Podcasts">Apple Podcasts</a>, 
	<a href="https://open.spotify.com/show/4A8CdKc4bYPYsapzyxdvWo" title="Bennett in Spain on Spotify">Spotify</a>, 
	<a href="https://www.ivoox.com/podcast-bennett-in-spain_sq_f1842992_1.html" title="Bennett in Spain on iVoox">iVoox</a>,
	<a href="https://www.stitcher.com/podcast/the-spain-report" title="Bennett in Spain on Stitcher">Stitcher</a>,
	<a href="https://#" title="Bennett in Spain on Tunein">Tunein</a>,
	<a href="https://soundcloud.com/user-842077287/sets/bennett-in-spain" title="Bennett in Spain on SoundCloud">SoundCloud</a>,
	<a href="https://www.youtube.com/playlist?list=PL3DymtXaX19QyOs-R0bu1eiX6j4c8L-Ey" title="Bennett in Spain on YouTube">YouTube</a>,
	<a href="https://www.facebook.com/BennettInSpain/playlist/606829756765780" title="Bennett in Spain on Facebook">Facebook</a>
<% elsif @language == 2 %>
	Escuche el podcast, Bennett en España, aquí:
	<a href="https://podcasts.apple.com/podcast/id1495596384" title="Bennett en España en Apple Podcasts">Apple Podcasts</a>, 
	<a href="https://open.spotify.com/show/7euXMABMb6onzw50VxKK0W" title="Bennett en España en Spotify">Spotify</a>, 
	<a href="https://www.ivoox.com/podcast-bennett-espana_sq_f1842998_1.html" title="Bennett en España en iVoox">iVoox</a>,
	<a href="https://www.stitcher.com/podcast/bennett-en-espana" title="Bennett en España en Stitcher">Stitcher</a>,
	<a href="https://tunein.com/podcasts/News--Politics-Podcasts/Bennett-en-Espana-p1286596/" title="Bennett en España en Tunein">Tunein</a>,
	<a href="https://soundcloud.com/user-842077287/sets/bennett-en-espana" title="Bennett en España en SoundCloud">SoundCloud</a>,
	<a href="https://www.youtube.com/playlist?list=PL3DymtXaX19TyCGLrkycaKaCAzha0HwAw" title="Bennett en España en YouTube">YouTube</a>,
	<a href="https://www.facebook.com/BennettInSpain/playlist/206012307112155" title="Bennett en España en Facebook">Facebook</a>
<% else %>
<% end %>

<% if @language == 1 %>
	<p><strong>Set your email amount:</strong></p>
	<ul>
		<li><%= link_to "All articles & updates", update_email_amount_user_url(@user.confirm_token, emails: 1) %></li>
		<li><%= link_to "Only full articles", update_email_amount_user_url(@user.confirm_token, emails: 2) %></li>
		<li><%= link_to "Only important announcements", update_email_amount_user_url(@user.confirm_token, emails: 3) %></li>
		<li><%= link_to "Stop all emails", update_email_amount_user_url(@user.confirm_token, emails: 4) %></li>
	</ul>
	<p><strong>Set your email language:</strong></p>
	<ul>
		<li><%= link_to "I want emails in English", update_email_language_user_url(@user.confirm_token, emaillanguage: 1) %></li>
		<li><%= link_to "I want emails in Spanish", update_email_language_user_url(@user.confirm_token, emaillanguage: 2) %></li>
		<li><%= link_to "I want emails in both languages", update_email_language_user_url(@user.confirm_token, emaillanguage: 3) %></li>
	</ul>
<% elsif @language == 2 %>
	<p><strong>Elija la cantidad de correo que quiere:</strong></p>
	<ul>
		<li><%= link_to "Todo: artículos y actualizaciones", update_email_amount_user_url(@user.confirm_token, emails: 1) %></li>
		<li><%= link_to "Sólo artículos completos", update_email_amount_user_url(@user.confirm_token, emails: 2) %></li>
		<li><%= link_to "Sólo anuncios importantes", update_email_amount_user_url(@user.confirm_token, emails: 3) %></li>
		<li><%= link_to "No quiero ningún correo", update_email_amount_user_url(@user.confirm_token, emails: 4) %></li>
	</ul>
	<p><strong>Elija el idioma de los correos:</strong></p>
	<ul>
		<li><%= link_to "Quiero los artículos en inglés", update_email_language_user_url(@user.confirm_token, emaillanguage: 1) %></li>
		<li><%= link_to "Quiero los artículos en español", update_email_language_user_url(@user.confirm_token, emaillanguage: 2) %></li>
		<li><%= link_to "Quiero los artículos en ambos idiomas", update_email_language_user_url(@user.confirm_token, emaillanguage: 3) %></li>
	</ul>
<% else %>
<% end %>

</body>
</html>