<% case @language when 1
		get_print_title = "Request monthly print"
		get_print_one = "Request this image as your physical print for this month. You can change your choice up to the last day of the month."
		
		confirm_print = "Confirm print"
	when 2
        get_print_title = "Solicitar imagen impresa mensual"
		get_print_one = "Solicitar esta imagen como su imagen impresa para este mes. Puede cambiar su elección hasta el último día del mes."
		
		confirm_print = "Confirmar imagen"
end %>

<%= render "articles/admintop" %>

<h1 class="font-header font-header-normal line-120 font-upper"><%= get_print_title %></h1>

<% @photos.each do |p| %>
	<div class="margin-bottom-20">
		<%= image_tag ('https://image.thespainreport.es/' + File.basename(p.upload.data)), :style => "width: 100px;" %>
	</div>
	
	<div class="">
		<% photoprints = Print.where(upload_id: p.upload.id) %>
		
		<% photoprints.each do |p| %>
			<%= p.id %> | <%= p.order_date.strftime("%d/%m/%Y") %> | <%= p.order_date.strftime("%H:%M") %> | <%= p.user.email %> | <%= p.user.address_name %> | <%= p.user.address_street %> | <%= p.user.address_postcode %> | <%= p.user.address_country %><br />
		<% end %>
		
	</div>
<% end %>

<%= render "layouts/footer" %>