<% case @language when 1
		get_print_title = "Request monthly print"
		get_print_one = "Request this image as your physical print for this month. You can change your choice up to the last day of the month."
		
		confirm_print = "Confirm print"
	when 2
        get_print_title = "Solicitar imagen impresa mensual"
		get_print_one = "Solicitar esta imagen como su imagen impresa para este mes. Puede cambiar su elección hasta el último día del mes."
		
		confirm_print = "Confirmar imagen"
end %>

<%= render "articles/admintop" %>

<h1 class="font-header font-header-normal line-120 font-upper"><%= get_print_title %></h1>

<% @prints.each do |p, c| %>
	<div class="">
		<div class="float-left">
			<% imageis = Upload.find(p) %>
			<%= image_tag ('https://image.thespainreport.es/' + File.basename(imageis.data)), :style => "width: 100px; margin:0;" %>
		</div>
		
		<div class="float-left margin-left-20">
			<strong><%= pluralize(c, "person") %> </strong><br />
			
			<% wantsthisprint = Print.all.where(upload_id: p) %>
			<% wantsthisprint.each do |w| %>
				<%= w.order_date.strftime("%d/%m/%Y") %> | <%= w.order_date.strftime("%H:%M") %> | <%= w.user.email %> | <%= w.user.address_name %><br />
			<% end %>
		</div>
		<div class="clear"></div>
	</div>
<% end %>


<%= render "layouts/footer" %>