<% case @language when 1
		get_print_title = "Request monthly print"
		get_print_one = "Request this image as your physical print for this month. You can change your choice up to the last day of the month."
		
		confirm_print = "Confirm print"
	when 2
        get_print_title = "Solicitar imagen impresa mensual"
		get_print_one = "Solicitar esta imagen como su imagen impresa para este mes. Puede cambiar su elección hasta el último día del mes."
		
		confirm_print = "Confirmar imagen"
end %>

<%= render "layouts/logo_account" %>

<h1 class="font-header font-header-normal line-120 font-upper"><%= get_print_title %></h1>

<div class="margin-bottom-20">
    <%= image_tag ('https://image.thespainreport.es/' + File.basename(@upload.data)) %>
</div>

<div class="margin-bottom-20">
   <p><%= get_print_one %></p>
</div>


<div class="margin-bottom-20">
	<%= form_with url: confirm_print_upload_url(@upload.id), local: true do |f| %>
		<div id="payment_to_fix" class="font-payment margin-top-10 align-centre">
			<%= f.submit confirm_print, :class => "buybutton font-main-small width-fixed-cards mobile-width" %>
		</div>
	<% end %>
</div>

<%= render "layouts/footer" %>