<% case @language when 1
		get_print_title = "Request monthly print"
		get_print_one = "Request this image as your physical print for this month. You can change your choice up to the last day of the month."
		
		confirm_print = "Confirm print"
	when 2
        get_print_title = "Solicitar imagen impresa mensual"
		get_print_one = "Solicitar esta imagen como su imagen impresa para este mes. Puede cambiar su elección hasta el último día del mes."
		
		confirm_print = "Confirmar imagen"
end %>

<%= render "articles/admintop" %>

<h1 class="font-header font-header-normal line-120 font-upper"><%= get_print_title %></h1>

<table class="font-main-vsmall">
	<thead>
		<tr>
			<th>ID</th>
			<th>Order date</th>
			<th>Created</th>
			<th>Updated</th>
			<th class="align-right">User</th>
			<th class="align-left">Image</th>
		</tr>
	</thead>

	<tbody>
		<% @prints.each do |p| %>
			<tr class="<%= cycle("odd", "even") -%>">
				<td><%= p.id %></td>
				<td class="align-right"><%= p.order_date.strftime("%d/%m/%Y, %H:%M") %></td>
				<td class="align-right"><%= p.created_at.strftime("%d/%m/%Y, %H:%M") %></td>
				<td class="align-right"><%= p.updated_at.strftime("%d/%m/%Y, %H:%M") %></td>
				<td><%= p.user.email %></td>
				<td><%= File.basename(p.upload.data) %></td>
				<td>
					<%= image_tag ('https://image.thespainreport.es/' + File.basename(p.upload.data)), :style => "width: 100px;" %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>


<%= render "layouts/footer" %>