<%= render "articles/admintop" %>

<% flash.each do |key, value| %>
    	<div class="alert alert-<%= key %>"><p><%= value %></p></div>
    <% end %>

<div class="margin-bottom-20">
	<%= form_with(url: 'upload_files', local: true) do |f| %>
		<%= f.file_field :data, multiple: true  %>
		<%= f.submit 'Upload file' %>
	<% end %>
</div>

<div class="content-admin-block">
<table>
	<tbody>
		<% @mains.each do |upload| %>
			<tr>
				<td><%= upload.id %></td>
				<td>
					<% if ['.png','.jpg', '.jpeg', '.gif'].include?File.extname(upload.data) %> 
						![](<%= 'http://image.thespainreport.es/' + File.basename(upload.data) %>)
					<% elsif ['.aac', '.m4a', '.wav','.mp3'].include?File.extname(upload.data) %>
						<%= 'http://audio.thespainreport.es/' + File.basename(upload.data) %>
					<% elsif ['.pdf'].include?File.extname(upload.data) %>
						<%= 'http://pdf.thespainreport.es/' + File.basename(upload.data) %>
					<% end %>
				</td>
				<td><%= upload.file_size %></td>
				<td><%= upload.file_type %></td>
				<td>
					<%= form_for(upload) do |f| %>
						<%= f.collection_select :main_id, @mains, :id, :data, {include_blank: true, :selected => upload.main_id}, {:style => "width: 90px;"} %>
						<%= f.submit 'Save' %>
					<% end %>
				</td>
								
				<td><%= link_to 'Destroy', upload, method: :delete, data: { confirm: 'Are you sure?' } %></td>
			</tr>
			
			<tr>
				<td></td>
				<td colspan="4">
					<% upload.versions.each do |v| %>
						<%= v.id %> <%= File.basename(v.data) %> <%= v.main.id %> <br />
					<% end %>
				</td>
			</tr>
			
			<tr>
				<td>
				
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
</div>

</div>