<%= render "articles/admintop" %>

<table>
	<tbody>
		<% @plans.each do |plan| %>
			<tr>
				<td><%= link_to plan.title, plan %></td>
				<td>
					<% plan.translations.each do |p| %>
					 <%= link_to p.language.name, p %>
					<% end %>
				</td>
				<td><%= plan.price %></td>
				<td><%= plan.buttontext %></td>
				<td><%= link_to 'Edit', edit_plan_path(plan) %></td>
				<td><%= link_to 'Destroy', plan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
			</tr>
		<% end %>
	</tbody>
</table>

</div>