<%= render "articles/admintop" %>

	<h1 class="font-header font-header-normal line-115">Plans</h1>
	
	<div class="margin-bottom-20">
		<strong>Name:</strong> <%= link_to @plan.title, edit_plan_path(@plan) %><br />
		<strong>Language:</strong> <%= @plan.language.name %>
	</div>
	
	<div class="margin-bottom-20">
		<%= @plan.price %> / month
		<%= markdown(@plan.description) %>
		<span class="font-bold">Link:</span> <%= @plan.link %><br />
		<span class="font-bold">Image:</span> <%= @plan.image %><br />
	</div>
	<div class="margin-bottom-20">
		<a href="https://www.patreon.com/join/matthewbennett" class="button"><%= @plan.buttontext %></a>
	</div>
	
	<div class="margin-bottom-20">
		<%= image_tag ('http://image.thespainreport.es/' + @plan.image) unless @plan.image.nil? %>
	</div>

</div>