<div class="">
	
	<div class="float-left align-left mobile-100 margin-top-10">
		
				<% if current_user.nil? %>
					<% if controller_name == "payments" %>
		
					<% else %>
						<div class="padding-5">
							<div class="topbutton mobile-100"> 
								<a href="<%= @subscribe %>" class="buybutton"><%= @frame.emotional_quest_action %></a> 
							</div>
							<div class="margin-top-5 font-main font-italic font-main-tiny">
								<%= @frame.emotional_quest_role %>
							</div>
						</div>
					<% end %>
				
				<% else %>
					<div class="patrons-background padding-10">
						<div class="float-left meta font-main font-main-tiny margin-top-3" >
							<% if @reader_trial %>
								<div class="margin-right-5 float-left mobile-bottom-10">
					    		<span class="label background-color-green font-color-white">
					    			<% case @language when 1 %>45 DAYS FREE
					    			<% when 2 %>45 DÍAS GRATIS
					    			<% end %>
					    		</span>
					    	</div>
					    	<% elsif @reader_trial_over %>
							<div class="margin-right-5 float-left mobile-bottom-10">
					    		<span class="label background-color-brown font-color-white">
					    			<% case @language when 1 %>TRIAL OVER
					    			<% when 2 %>PRUEBA TERMINADA
					    			<% end %>
					    		</span>
					    	</div>
					    	<% elsif @patrons %>
							<div class="margin-right-5 float-left mobile-bottom-10">
					    		<span class="label background-color-brown font-color-white">
					    			<% case @language when 1 %>TRIAL OVER
					    			<% when 2 %>MECENAS
					    			<% end %>
					    		</span>
					    	</div>
					    	<% elsif @super_patron %>
							<div class="margin-right-5 float-left mobile-bottom-10">
					    		<span class="label background-color-brown font-color-white">
					    			<% case @language when 1 %>TRIAL OVER
					    			<% when 2 %>PRUEBA TERMINADA
					    			<% end %>
					    		</span>
					    	</div>
					    	<% else end %>
						</div>
						
						<div class="float-left">
						<% case @status when 1 %>
							<%= link_to 'Admin', new_tweet_path %> |
						<% end %>
						
						<% case @language when 1 %> <%= link_to 'I am a patron', edit_user_path(current_user) %>
						<% when 2 %> <%= link_to 'Yo soy mecenas', edit_user_path(current_user) %>
						<% end %>
						
						| 
						<% case @language when 1 %> <%= link_to 'Logout', users_logout_path %>
						<% when 2 %> <%= link_to 'Salir', users_logout_path %>
						<% end %>
						</div>
					
						

						<div class="clear"></div>
						
						
						<div class="margin-top-5 font-main font-italic font-main-tiny">
							<% case @language when 1 %>Patrons guarantee this journalism. 100%.
							<% when 2 %>Los mecenas garantizan este periodismo. 100%.
							<% end %>
						</div>
					</div>
					
					
					
					
				<% end %>
		
		
		
	</div>
	
	
	<div class="float-right align-right mobile-100 margin-top-20">
		<div class="width-fixed-logo">
			<% if controller_name == 'payments' && action_name == 'pay' || controller_name == 'payments' && action_name == 'pagar' %>
			
			<% elsif controller_name == 'home' && action_name == 'es' || controller_name == 'articles' && action_name == 'show' && @article.language_id == 2 %>
				<a href="/es" class="logo">
			<% else %>
				<a href="/" class="logo">
			<% end %>
				<span class="display-block label font-main font-main-big font-upper background-color-red">
					<span class="font-color-yellow">The</span> <span class="font-color-orange">Spain</span> <span class="font-color-yellow">Report</span>
				</span>
			</a>
		</div>
	</div>
	<div class="clear"></div>
</div>