<div class="margin-bottom-30">
	
	<div class="float-left align-left mobile-100">
		<div class="">
			<div class="topbutton mobile-100"> 
				<% if controller_name == 'articles' && action_name == 'show' && @article.language_id == 2 && @article.campaign.present? %>
					<a href="<%= '/' + @article.campaign.slug %>" class="topbutton"> 
						<%= @article.campaign.name %>
				<% elsif controller_name == 'articles' && action_name == 'show' && @article.language_id == 1 && @article.campaign.present? %>
					<a href="<%= '/' + @article.campaign.slug %>" class="topbutton"> 
						<%= @article.campaign.name %>
				<% elsif controller_name == 'home' && action_name == 'es' || controller_name == 'payments' && action_name == 'pagar' || controller_name == 'articles' && action_name == 'show' && @article.language_id == 2 %>
					<a href="/garantizar" class="topbutton"> 
					Garantice el periodismo indpendiente
				<% else %>
					<a href="/guarantee" class="topbutton"> 
					Guarantee independent journalism
				<% end %>
					</a> 
			</div>
		</div>
		<div class="margin-top-2 font-main font-italic font-main-small">
			<% if controller_name == 'articles' && action_name == 'show' && @article.campaign.present? %>
				<%= @article.campaign.subtitle %>
			<% elsif controller_name == 'home' && action_name == 'es' || controller_name == 'payments' && action_name == 'pagar' || controller_name == 'articles' && action_name == 'show' && @article.language_id == 2 %>
				Rigor frente a la propaganda interesada
			<% else %>
				The detailed truth about Spain, not spin and fake news
			<% end %>
		</div>
	</div>
	
	<div class="float-right align-right mobile-100">
		<div class="width-fixed-logo">
			<% if controller_name == 'payments' && action_name == 'pay' %>
				<a href="/guarantee" class="logo">
			<% elsif controller_name == 'payments' && action_name == 'pagar' %>
				<a href="/garantizar" class="logo">
			<% elsif controller_name == 'home' && action_name == 'es' || controller_name == 'articles' && action_name == 'show' && @article.language_id == 2 %>
				<a href="/es" class="logo">
			<% else %>
				<a href="/" class="logo">
			<% end %>
				<span class="display-block label font-main font-main-big font-upper background-color-red">
					<span class="font-color-yellow">The</span> <span class="font-color-orange">Spain</span> <span class="font-color-yellow">Report</span>
				</span>
			</a>
		</div>
	</div>
	<div class="clear"></div>

</div>