<% if controller_name == "articles" && action_name == "show" && ["Photos", "Fotos"].include?(@article.type.name) %>
	<div class="content-wide">
<% else %>
	<div class="content">
<% end %>

<div class="">
	
	<div class="float-left align-right margin-top-10 background-color-red padding-5">
		<div class="width-fixed-logo">
			<% if controller_name == 'payments' && action_name == 'pay' || controller_name == 'payments' && action_name == 'pagar' %>
			
			<% elsif controller_name == 'home' && action_name == 'es' || controller_name == 'articles' && ["show", "live", "directo"].include?(action_name) && @article.language_id == 2 %>
				<a href="/es" class="logo">
			<% else %>
				<a href="/" class="logo">
			<% end %>
				<span class="display-block label font-logo font-upper background-color-red">
					<span class="font-color-yellow">The</span> <span class="font-color-orange">Spain</span> <span class="font-color-yellow">Report</span>
				</span>
			</a>
		</div>
	</div>
	
	<div class="float-right align-right margin-top-15 no-print">
		
				<% if current_user.nil? %>
					<% if controller_name == "payments" %>
		
					<% else %>
						<div class="margin-top-10">
							<% case @language when 1 %><a href="/login">Log in</a>
							<% when 2 %><a href="/entrar">Iniciar sesión</a>
							<% end %>
						</div>
					<% end %>
				
				<% else %>
					<div class="patrons-background padding-10 no-print">
						<div class="margin-top-3 float-left">
							<%= render "users/user_labels" %>
						</div>
						
						<div class="float-left">
							<% case @status when 1 %>
								<%= link_to 'Notes', new_tweet_path %> | <%= link_to 'Article', new_article_path %> | <%= link_to "Articles", articles_path %>
							<% end %>
							
							|
							<% case @language when 1 %> <%= link_to 'My account', edit_user_path(current_user) %>
							<% when 2 %> <%= link_to 'Mi cuenta', edit_user_path(current_user) %>
							<% end %>
							
							| 
							<% case @language when 1 %> <%= link_to 'Logout', users_logout_path %>
							<% when 2 %> <%= link_to 'Salir', users_logout_path %>
							<% end %>
						</div>

						<div class="clear"></div>
					</div>
					
				<% end %>

	</div>
	
	
	
	<div class="clear"></div>
</div>

<div class="margin-top-30">