<!DOCTYPE html>
<html>
	<head>
		<title>
			<% if current_page?('/') %>The Spain Report | Matthew Bennett
			<% elsif current_page?('/es') %>The Spain Report en español | Matthew Bennett
			<% else %><%= yield(:title) %> | The Spain Report
			<% end %>
		</title>
		<%= yield(:meta) %>
		<%= favicon_link_tag %>
		<%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Anton:400", media: "all" %>
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>
		<%= stylesheet_link_tag    'application', media: 'all'%>
		<%= javascript_include_tag 'application' %>
		
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	</head>
	
	<body>
		<%= yield %>
		
		<% if controller_name == "home" || controller_name == "payments" || controller_name == "articles" && action_name == "show" %>
			<%= javascript_include_tag 's/s_amounts' %>
			<%= javascript_include_tag 's/s_country' %>
			<%= javascript_include_tag 's/s_email' %>
			
			<script src="https://js.stripe.com/v3"></script>
			<%= javascript_include_tag 's/s_stripe_intents' %>
			<%= javascript_include_tag 's/s_stripe_erb_bits' %>
			<%= javascript_include_tag 's/s_stripe_form_submit' %>
			<%= javascript_include_tag 's/s_stripe_confirm_payment' %>
			
			<script type="text/javascript">
				// Set up things on page load...
				window.addEventListener('load', function () {    
				   	startCountry();
				   	startAmount();
				   	setEmail();
				   	setExistingEmail();
				}, false);
			</script>
		<% else end %>
		
		
		<% if Rails.env.production? %>
			<!-- Global site tag (gtag.js) - Google Analytics -->
			<script async src="https://www.googletagmanager.com/gtag/js?id=G-CB6TBCMP88"></script>
			<script>
			  window.dataLayer = window.dataLayer || [];
			  function gtag(){dataLayer.push(arguments);}
			  gtag('js', new Date());
			
			  gtag('config', 'G-CB6TBCMP88');
			</script>
		<% else end %>
	</body>
</html>