<!DOCTYPE html>
<html>
	<head>
		<title><% if current_page?('/') %>The Spain Report | Understand Spain, In English<% else %><%= yield(:title) %> | The Spain Report<% end %></title>
		<%= yield(:meta) %>
		<%= favicon_link_tag %>
		<%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Anton:400", media: "all" %>
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
		
		<%= auto_discovery_link_tag :rss, home_index_url(:format => :rss) %>
	</head>

	<body>
		<%= yield %>
	</body>
</html>