<!DOCTYPE html>
<html>
	<head>
		<title><% if current_page?('/') %>The Spain Report | Understand Spain, In English<% else %><%= yield(:title) %> | The Spain Report<% end %></title>
		<%= yield(:meta) %>
		<%= favicon_link_tag %>
		<%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Anton:400", media: "all" %>
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
		
		<link rel="alternate" type="application/rss+xml" title="The Spain Report: English + Spanish" href="<%= root_url + 'rss' %>" />
		<link rel="alternate" type="application/rss+xml" title="The Spain Report: in English" href="<%= root_url + 'rss/eng' %>" />
		<link rel="alternate" type="application/rss+xml" title="The Spain Report: en español" href="<%= root_url + 'rss/es' %>" />
	</head>

	<body>
		<%= yield %>
	</body>
</html>