<%= render "articles/admintop" %>

<div class="margin-bottom-10">
    <% @accountowner.each do |u| %>
        <%= u.email %>
    <% end %>
</div>

<%= render 'form', account: @account %>

Stripe ID: <%= @account.stripe_customer_id %><br />
Stripe payment method: <%= @account.stripe_payment_method %>

</div>