<%= render "articles/admintop" %>


<h3>Up-to-date Accounts</h3>
<table class="admin-table">
	<tbody>
		<%= render "account_row_header" %>
		
		<% if !@uptodate_accounts.blank? %> 
			<% @uptodate_accounts.each do |account| %>
				<%= render "account_row", account: account %>
			<% end %>
		<% else %>
			<tr><td>There are no users like this.</td></tr>
		<% end %>
	</tbody>
</table>


<h3>Declined Accounts</h3>
<table class="admin-table">
	<tbody>
		<%= render "account_row_header" %>
		
		<% if !@declined_accounts.blank? %> 
			<% @declined_accounts.each do |account| %>
				<%= render "account_row", account: account %>
			<% end %>
		<% else %>
			<tr><td>There are no users like this.</td></tr>
		<% end %>
	</tbody>
</table>


<h3>Cancelled Accounts</h3>
<table class="admin-table">
	<tbody>
		<%= render "account_row_header" %>
		
		<% if !@cancelled_accounts.blank? %> 
			<% @cancelled_accounts.each do |account| %>
				<%= render "account_row", account: account %>
			<% end %>
		<% else %>
			<tr><td>There are no users like this.</td></tr>
		<% end %>
	</tbody>
</table>


<h3>Free Starter Accounts</h3>
<table class="admin-table">
	<tbody>
		<%= render "account_row_header" %>
		
		<% if !@free_accounts.blank? %> 
			<% @free_accounts.each do |account| %>
				<%= render "account_row", account: account %>
			<% end %>
		<% else %>
			<tr><td>There are no users like this.</td></tr>
		<% end %>
	</tbody>
</table>

</div>